<section data-ng-controller="PolicyOutputCtrl as vm">

  <p class="c-info-text c-info-text--narrow c-info-text--bottom-margin"><i
    class="c-icon c-info-text__icon icon-info1"></i><span class="c-info-text__text">{{"_POLICY_._OUTPUTS_INTRO_" | translate}}</span>
  </p>

  <div class="c-row c-msg c-msg--small c-msg--error" data-ng-if="vm.error && vm.formSubmmited" data-qa="error-msg">
    <i class="c-icon icon-circle-cross"></i>
    <span>{{"_ERROR_._POLICY_OUTPUTS_" | translate}}</span>
  </div>
  <form name="vm.form" class="c-form c-panel c-panel--framed" novalidate>
    <div class="c-col c-col--4" data-ng-repeat="output in vm.outputList">
      <div class="c-check-block" data-ng-click="vm.setOutput($index)"  data-qa="policy-output-item-{{output.id}}">
        <div class="c-form-control c-form-control--full-width">
          <div class="c-row">
            <label class="c-label c-check-block__title">{{output.name}}</label>
          </div>
          <div class="c-row">
            <input id="output-{{$index}}" class="c-checkbox" type="checkbox" data-ng-model="vm.policy.outputs[$index]"
                   data-ng-true-value="{{output}}"><label for="output-{{$index}}" class="c-label" data-qa="policy-output-checkbox-{{output.id}}"></label>
          </div>
        </div>

        <i class="c-icon icon-{{output.element.type | lowercase}}"></i>
      </div>
    </div>

    <footer class="c-row c-row--footer c-row--separated">
      <div class="c-col c-col--6 c-col--vertical-centered c-col--to-left">
        <c-icon-link icon-class="'icon-help1'" text="'_HELP_' | translate" text-class="" link-url="vm.helpLink"
                     link-class=""></c-icon-link>
      </div><div class="c-col c-col--6 c-col--vertical-centered c-col--to-right">
        <button class="c-button c-button--call-to-action-2" data-ng-click="vm.previousStep()"
                data-qa="policy-cube-previous-button">
          <i class="icon icon-arrow-left"></i>
          <span>{{"_PREVIOUS_" | translate}}</span>
        </button>
        <button class="c-button c-button--call-to-action-1" data-ng-click="vm.validateForm()"
                data-qa="policy-outputs-next-button">
          <i class="icon icon-arrow-right"></i>
          <span>{{"_CONTINUE_" | translate}}</span>
        </button>
      </div>
    </footer>
  </form>
</section>
