$cloudy-black: #cdd6df;

.title-header {
   background-color: white;
   border-bottom:1px solid $cloudy-black;
   padding:10px 0;
}

.main-title {
   display: inline-block;
   font-size: 28px;
   position: relative;
}

.tool-header{
    padding:12px 0;
    border-bottom:1px solid #ddd;
}

.position-tools{
    display:inline-block;
}

.show-options {
    margin-right: 40px;
}