@import '~@stratio/egeo/theme/constants';

.monitoring-header {
    padding: 30px 0px 8px;
}

.monitoring-title {
    display: inline-block;
}

.monitoring-link {
    float: right;
    .icon {
        font-size: 12px;
    }
}

.filters {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    flex: 0 1 calc(100% + 20px);
    margin-bottom: 20px;
}

.filter {
   background: white;
   margin: 0 10px;
   padding: 18px 35px;
   cursor: pointer;
   box-shadow: 0 0 20px 0 rgba(30, 30, 30, 0.05);
   flex: 1;
   border-radius: 5px;
   position: relative;
   height: 100px;
   overflow: hidden;

   &:hover {
     box-shadow: 0 0 20px 0 rgba(30, 30, 30, 0.12);
   }

   &__image {
    width: 42px;
    right: 28px;
    margin-top:5px;
    float: left;
   }
   &:last-child {
      margin-right: 0px;
   }
   &:first-child {
      margin-left: 0px;
   }
   .number {
      color: $action-primary-default;
      font-size: $egeo-font-size-xxxlarge;
      font-family: $egeo-nunito-sans-bold;
   }

   .filter-value{
     float:left;
         padding-left: 30px;


   }
   .label {
      color: $action-primary-default;;
      margin-left: 3px;
      font-size: $egeo-font-size-medium;
      font-family: $egeo-nunito-sans;
      display: block;
      line-height: 10px;
   }
   .icon {
      font-size: $egeo-line-height-giant;
      font-family: $egeo-nunito-sans-light;
      float: left;
      top: 25px;
      right: 40px;
   }
    .empty>span {
        color: $neutral-07;
    }
}
