/*doc
---
title: c-button
name: c-button
category: components
---

The button component creates a button that can be customized.

```html_example <hr class="c-line-separator" />

## Variables exposed to theming

Variable                                      | Default value
--------------------------------------------- | -----------------
$c-line-separator---border-color              | `get-color(red)`
$c-line-separator---border-style              | `solid`
$c-line-separator---border-width              | `1px`

*/

@import "vars";
@import "rules";
