<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<st-table [fields]="fields" 
   [sortable]="true"
   [currentOrder]="currentOrder" 
   qaTag="monitoring-table" 
   class="execution-table" 
   (changeOrder)="onChangeOrder.emit($event)">
   <tr st-table-row 
      [attr.id]="execution.id + '-row'" 
      *ngFor="let execution of executionList; let i = index;" 
      [selected]="selectedExecutionsIds.indexOf(execution.id) > -1"
      (click)="checkRow(!((selectedExecutionsIds.indexOf(execution.id)) > -1), execution)">
      <td st-table-cell st-table-row-content class="check-column">
         <st-checkbox [value]="execution" [checked]="selectedExecutionsIds.indexOf(execution.id) > -1"></st-checkbox>
      </td>
      <td st-table-cell st-table-row-content>
         <label [attr.id]="execution.id + '-link'">
             <div class="execution-link">
                <img src="assets/images/iconStreamingExecution.svg" class="icon-row" [attr.title]="execution.executionEngine" *ngIf="execution.executionEngine === 'Streaming'"/>
                <img src="assets/images/iconBatchExecution.svg" class="icon-row" [attr.title]="execution.executionEngine" *ngIf="execution.executionEngine === 'Batch'"/>
                {{execution.name}} - v{{execution.version}}
             </div>
             <div class="execution-group">
                {{execution.group}}
             </div>
         </label>
      </td>
      <td st-table-cell st-table-row-content>
         <label class="context-field" [ngClass]="execution.context">{{execution.context || '-'}}</label>
      </td>
      <td st-table-cell st-table-row-content>
         <label>{{execution.startDateFormatted}}</label>
      </td>
      <td st-table-cell st-table-row-content>
         <label>{{execution.endDateFormatted}}</label>
      </td>
      <td st-table-cell st-table-row-content>
         <label class="status-field"><span class="oval" [ngClass]="execution.status"></span> {{execution.status}}</label>
      </td>
      <td st-table-cell st-table-row-content class="spark-link">
         <i class="icon-globe" (click)="showSparkUI(execution.sparkURI)" *ngIf="execution.sparkURI && execution.sparkURI.length && execution.status === 'Started'"></i>
      </td>
   </tr>
</st-table>
<div class="pagination">
    <st-pagination [total]="executionList.length"
        [perPage]="perPage"
        [currentPage]="pageNumber"
        [id]="'execution-pagination'"
        (change)="onChangePage.emit($event)">
    </st-pagination>
</div>