<st-fullscreen-layout [title]="'Custom Run'">
  <div class="st-fullscreen-layout-buttons">
    <button class="button button-secondary-line" (click)="closeCustomExecution.emit()">{{'DASHBOARD.CANCEL' | translate}}</button>
    <button class="button button-primary" [disabled]="executionForm.invalid" id="run-button" (click)="execute()">{{'DASHBOARD.RUN_NOW_BUTTON' | translate}}</button>
  </div>
  <div class="st-fullscreen-layout-content">
    <div class="content">
      <p class="info-text" *ngIf="environmentContext || customGroups.length">{{'DASHBOARD.CONTEXT_CONFIG' | translate}}</p>
      <form #executionForm="ngForm">
        <div class="form-container st-form-field">
          <sp-select class="st-form-field" 
            [forceValidations]="forceValidations" 
            [(ngModel)]="form.environment" 
            name="environment"
            (change)="changeContext($event, 'Environment')"
            *ngIf="environmentContext" 
            placeholder="Select a context" 
            [options]="environmentContext" 
            [label]="'DASHBOARD.ENVIRONMENT_CONTEXT' | translate"></sp-select>

          <div *ngFor="let group of customGroups; let i = index;">
            <sp-select class="st-form-field" 
              [forceValidations]="forceValidations" 
              (change)="changeContext($event, group.name)"
              [(ngModel)]="form.customGroups[group.name]" 
              name="customGroups" 
              placeholder="Select a context" 
              [label]="group.name" 
              [options]="group.context"></sp-select>
          </div>
          <div *ngIf="executionContexts.extraParams && executionContexts.extraParams.length">
          <p class="info-text">{{'DASHBOARD.NO_DEFINITION_PARAMS' | translate}}</p>
          <st-input class="st-form-field extra-param" 
            [forceValidations]="forceValidations" 
            [required]="true" 
            placeholder="Type the value here" 
            *ngFor="let param of executionContexts.extraParams" 
            name="extraParams" 
            [(ngModel)]="form.extraParams[param]" 
            [label]="param + ' value'"></st-input>
          </div>
        </div>
      </form>
      <sparta-sidebar *ngIf="sidebarPosition"
        [style.right.px]="sidebarPosition" 
        class="sidebar" 
        [isVisible]="true" 
        [showCloseButton]="false" 
        (onCloseSidebar)="showWorkflowInfo()">
          {{workflowName}}
          <p class="egeo-title-giant">Parameter values</p>
          <div class="categories">
            <div class="category" *ngIf="executionContexts.globalParameters.variables">
              <span class="toggle-category" (click)="toggleCategory('global')">
                <span [className]="categoriesToggle.global ? 'icon icon-arrow2_down' : 'icon icon-arrow2_right'"></span>
                <span>Global</span>
              </span>
              <div class="params" *ngIf="categoriesToggle.global">
                <div class="param" *ngFor="let param of executionContexts.globalParameters.variables">
                  <div>{{param.name}}: {{param.value}}</div>
                </div>
              </div>
            </div>

            <div class="category" *ngFor="let key of objectKeys(selectedContexts)">
              <span class="toggle-category" (click)="toggleCategory(key)">
                <span [className]="categoriesToggle[key] ? 'icon icon-arrow2_down' : 'icon icon-arrow2_right'"></span>
                <span>Environment</span>
              </span>
              <div class="params" *ngIf="categoriesToggle[key]">
                <div class="param" *ngFor="let param of selectedContexts[key]">
                  <div>{{param.name}}: {{param.value}}</div>
                </div>
              </div>
            </div>

            <div class="category" *ngIf="objectKeys(form.extraParams).length">
              <span class="toggle-category" (click)="toggleCategory('undefined')">
                <span [className]="categoriesToggle.undefined ? 'icon icon-arrow2_down' : 'icon icon-arrow2_right'"></span>
                <span>Undefined parameters</span>
              </span>
              <div class="params" *ngIf="categoriesToggle.undefined">
                <div class="param" *ngFor="let key of objectKeys(form.extraParams)">
                  <div>{{key}}: {{form.extraParams[key]}}</div>
                </div>
              </div>
            </div>
          </div>
      </sparta-sidebar>
    </div>
  </div>

</st-fullscreen-layout>