@import '~@stratio/egeo/theme/constants';

.content {
  position: relative;
  width: calc(100vw - 415px - (100vw - 100%) / 2);
}

.info-text{
  margin: 1.5em 0;
  color: $neutral-13;
  font-size: 15px
}

st-input, sp-select {
    max-width: 300px;
    display: block;
}

.sidebar {
  display: block;
  top: 71px;
  position: fixed;
  right: 0;
  bottom: 0;
}

.tab-options {
  display: block;
  padding-bottom: 20px;
}

.extra-param{
  margin-bottom: 10px;
  display: block;
}

.toggle-category{
  cursor: pointer;
  font-family: $egeo-nunito-sans-bold;
  color: $neutral-11;
  font-size: $egeo-font-size-small;
}

.categories{
    overflow-y: auto;
    width: calc(100% + 10px);
    overflow-x: hidden;
    padding-right: 20px;
    max-height: 100%;
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
  .bold {
     font-weight: bold;
     display: block;
     font-size: $egeo-font-size-xxsmall;
  }

  .val {
    font-size: $egeo-font-size-xxsmall;
    font-family: $egeo-nunito-sans;
  }
}

.params {
  padding-left: 18px;
}

.category {
    font-size: $egeo-font-size-xxsmall;
  padding-bottom: 1em;

  .icon {
    font-size: $egeo-font-size-xxxsmall;
    margin-right: 2px;
  }
}

.param {
  margin: 8px 0;
}

.param-value {
    font-size: $egeo-font-size-xsmall;
    margin-bottom: 15px;
    display: block;
}

.cancel-button{
  margin-right: 1em;
}