<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<section>
   <div #inputsModal qaTag="input-modal"></div>
   <tool-bar>
      <div breadcrumb>
         <st-breadcrumbs [options]="breadcrumbOptions" (select)="breadcrumbMenuService.setRoute($event)" qaTag="templates-breadcrumb"></st-breadcrumbs>
      </div>

      <div class="general-tools" general-tools>
         <div class="selected-tools" *ngIf="selectedTemplates.selected && selectedTemplates.selected.length">
            <button class="button button-toolbar" spTitle="Edit template" (click)="editTemplate(selectedTemplates.selected[0])" *ngIf="selectedTemplates.selected && selectedTemplates.selected.length == 1">
                <i class="icon-edit"></i>
            </button>
            <button class="button button-toolbar" spTitle="Duplicate template" (click)="duplicateTemplates()">
                <i class="icon-paper-stack"></i>
            </button>
            <button class="button button-toolbar" (click)="deleteTemplateConfirmModal()">
                <i class="icon-trash"></i>
            </button>
         </div>
         <button class="button button-toolbar" (click)="createTemplate()">
            <i class="icon-plus"></i>
        </button>
      </div>
   </tool-bar>
   <st-progress-bar class="loading-bar" *ngIf="!(loaded$ | async)"></st-progress-bar>
   <router-outlet></router-outlet>
   <div class="container top-separation">
      <div class="row">
         <div class="col-xs-12">
            <st-table [fields]="fields" [sortable]="true" qaTag="templates-list" (changeOrder)="changeOrder($event)" class="templates-table">
               <tr st-table-row *ngFor="let template of templateList | paginate: { perPage: perPage, currentPage: currentPage }; trackBy: trackByTemplateFn; let i=index; let i = index;"
                  [selected]="selectedTemplates.selectedIds && selectedTemplates.selectedIds.indexOf(template.id) > -1" (click)="checkRow(!(selectedTemplates.selectedIds.indexOf(template.id) > -1), template)">
                  <td st-table-cell st-table-row-content class="check-column">
                     <st-checkbox [value]="template" (change)="onCheckedTemplate($event)" [checked]="selectedTemplates.selectedIds && selectedTemplates.selectedIds.indexOf(template.id) > -1"></st-checkbox>
                  </td>
                  <td st-table-cell st-table-row-content>
                     <label (click)="editTemplate(template)" class="template-link">
                    <!-- <span class="template-icon">{{icons[template.classPrettyName]}}</span> -->
                    {{template.name}}</label>
                  </td>
                  <td st-table-cell st-table-row-content class="type-column">
                     <label>{{template.classPrettyName}}</label>
                  </td>
                  <td st-table-cell st-table-row-content>
                     <label>{{template.executionEngine}}</label>
                  </td>
                  <td st-table-cell st-table-row-content>
                     <label>{{template.description}}</label>
                  </td>
               </tr>
            </st-table>
            <table-notification *ngIf="!templateList.length && (loaded$ | async)" (onClickLink)="createTemplate()" [text]="noItemsMessage"
               [link]="'TEMPLATES.NO_ITEMS_LINK' | translate"></table-notification>
            <div *ngIf="templateList.length && templateList.length > 10">
               <hr>
               <st-pagination [id]="generatedId" [total]="templateList.length" [perPage]="perPage" [currentPage]="currentPage" [perPageOptions]="perPageOptions"
                  (change)="changePage($event)">
               </st-pagination>
            </div>
         </div>
      </div>
   </div>
   <br />
</section>