<section>
   <div class="edition-header">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="menu">
                  <div class="breadcrumb">
                     <div class="egeo-title-large title" *ngIf="entityFormModel.stepType">
                        {{entityFormModel.stepType}} - {{currentName}}
                     </div>
                     <div class="egeo-title-large title" *ngIf="!entityFormModel.stepType">
                        {{'WIZARD.SETTINGS' | translate}}
                     </div>
                  </div>
                  <div class="action-buttons">
                     <button class="button button-secondary-gray cancel-button" (click)="cancelEdition()">
                    <span>{{'WIZARD.CANCEL' | translate}}</span>
                 </button>
                     <button class="button button-primary" (click)="saveForm()">
                    <span>{{'WIZARD.SAVE' | translate}}</span>
                </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="content">
      <div class="container">
         <form #entityForm="ngForm" class="form-group row" novalidate autocomplete="off" (ngSubmit)="saveForm()">
            <div *ngIf="!advancedSettings.length" class="col-sm-12">
               <st-horizontal-tabs class="entity-categories" *ngIf="config.editionType.stepType !== 'Output'" [options]="options" [qaTag]="qaTag"
                  (changedOption)="changeFormOption($event)">
               </st-horizontal-tabs>
               <div class="row" [hidden]="!(config.editionType.stepType === 'Output' || activeOption === 'Global')">
                  <div class="col-sm-6">
                     <sp-input name="name" [(ngModel)]="entityFormModel['name']" label="{{'TEMPLATE_NAME' | translate}} *" fieldType="text" [required]="true"
                        qaTag="input-name" [forceValidations]="submitted" maxLength="30" [errors]="errorsService.errors.inputErrors"
                        class="input-field"></sp-input>
                  </div>
               </div>
               <div class="row" [hidden]="!(config.editionType.stepType === 'Output' || activeOption === 'Global')">
                  <div class="col-sm-6">
                     <sp-textarea name="description" [(ngModel)]="entityFormModel['description']" label="{{'TEMPLATE_DESCRIPTION' | translate}}"
                        fieldType="text" [required]="false" qaTag="input-name" [forceValidations]="submitted" maxLength="120"
                        [errors]="errorsService.errors.inputErrors" class="input-field"></sp-textarea>
                  </div>
               </div>
               <form-generator *ngIf="config.editionType.stepType !== 'Output'" [hidden]="activeOption !== 'Writer'" [forceValidations]="submitted"
                  name="writer" [formData]="writerSettings" [(ngModel)]="entityFormModel.writer"></form-generator>
               <form-generator [hidden]="!(config.editionType.stepType === 'Output' || activeOption === 'Global')" [forceValidations]="submitted"
                  name="global" [formData]="basicSettings" [(ngModel)]="entityFormModel.configuration"></form-generator>
            </div>


            <!------- settings ----------- -->
            <div *ngIf="advancedSettings.length" class="col-sm-12">
               <form-generator-group [forceValidations]="submitted" name="entity" [(ngModel)]="settingsFormModel" [formData]="advancedSettings"
                  class="advanced-settings" *ngIf="advancedSettings.length">
                  <form-generator [forceValidations]="submitted" name="global" [formData]="basicSettings" [(ngModel)]="basicFormModel" class="basic-settings"></form-generator>
               </form-generator-group>
            </div>
            <!--- ---------------------------- -->


         </form>
      </div>
   </div>
</section>
