$stratio-base-header_top---height: 10px;
$stratio-base-header_top---background-color: getColor(b1);

$stratio-base-header_login---position: absolute;
$stratio-base-header_login---top: 0;
$stratio-base-header_login---right: 0;
$stratio-base-header_login---padding: 10px 30px;
$stratio-base-header_login---background-color: getColor(b1);
$stratio-base-header_login---border-bottom-left-radius: 10px;
$stratio-base-header_login---z-index: 1;
$stratio-base-header_login---color: getColor(n0);

$stratio-base-header_main---background-color: getColor(b2);

$stratio-base-header_main_menu-cont_modeule-title---color: getColor(n0);
$stratio-base-header_main_menu-cont_modeule-title---font-size: 30px;
$stratio-base-header_main_menu-cont_modeule-title---text-transform: uppercase;
$stratio-base-header_main_menu-cont_modeule-title---padding: 5px 15px 15px 30px;
$stratio-base-header_main_menu-cont_modeule-title---cursor: default;

$stratio-base-header_main_menu-element_a---padding: 0 15px;
