@mixin c-label {
	@include c-component;

	margin: $c-label---margin;

	@at-root &.c-col, &.o-wcag-hidden {
		margin: 0;
	}

	@at-root .c-form & {
		display: inline-block;
		margin: $c-form__c-label---margin;
	}
}

.c-label {
	@include c-label;
}
