@mixin c-label {
	@include c-component;
	@include container-to-center();
	@include container-to-right();

	margin: $c-label---margin;
  	color: $c-label---color;

	@at-root &.c-col, &.o-wcag-hidden {
		margin: 0;
	}

	@at-root .c-form & {
		display: inline-block;
		margin: $c-form__c-label---margin;

		&--margin-list {
			margin-bottom: 10px;
		}

		&--no-margin-bottom {
			margin-bottom: 0;
		}
	}

  &__subtitle{
	color: #172734;
    display: block;
    font-size: 20px;
  }
  
  &--required:after {
    content: ' *';
  }

  &__optional {
  	color: getColor(n5);
  }

  &__add-button {
  	padding-right: 5px;
  }

  &__secondary_button {
  	color: getColor(n6);
  }
}

.c-label {
	@include c-label;
}
