<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<st-table [fields]="fields" 
    [sortable]="true"
    [currentOrder]="currentOrder"
    qaTag="monitoring-table" 
    class="workflow-table" 
    (changeOrder)="onChangeOrder.emit($event)">
   <tr st-table-row [attr.id]="workflow.id + '-row'" *ngFor="let workflow of workflowList | paginate: { perPage: paginationOptions.perPage, currentPage: paginationOptions.currentPage }; let i = index;"
      [selected]="selectedWorkflowsIds.indexOf(workflow.id) > -1" (click)="checkRow(!((selectedWorkflowsIds.indexOf(workflow.id)) > -1), workflow)">
      <td st-table-cell st-table-row-content class="check-column">
         <st-checkbox [value]="workflow" [checked]="selectedWorkflowsIds.indexOf(workflow.id) > -1"></st-checkbox>
      </td>
      <td st-table-cell st-table-row-content>
         <label [attr.id]="workflow.id + '-link'" >
             <div class="workflow-link" (click)="editSelectedWorkflow($event, workflow.id)">
                <img src="assets/images/iconStreaming.svg" class="icon-row" [attr.title]="workflow.executionEngine" *ngIf="workflow.executionEngine === 'Streaming'"/>
                <img src="assets/images/iconBatch.svg" class="icon-row" [attr.title]="workflow.executionEngine" *ngIf="workflow.executionEngine === 'Batch'"/>
                {{workflow.name}}
                <span> - v{{workflow.version}}</span>
             </div>
             <div class="workflow-group-label">{{workflow.group}}</div>
         </label>
      </td>
      <td st-table-cell st-table-row-content>
         <label class="status-field" [ngClass]="workflow.filterStatus">{{(workflow.filterStatus) ? (('DASHBOARD.' + (workflow.filterStatus | uppercase)) | translate) : '-'}}</label>
      </td>
      <td st-table-cell st-table-row-content>
        <label>{{workflow.startDate ? workflow.startDate : '-'}}</label>
      </td>
      <td st-table-cell st-table-row-content>
         <label>{{workflow.endDate ? workflow.endDate : '-'}}</label>
      </td>
      <td st-table-cell st-table-row-content class="spark-link">
         <i class="icon-globe" (click)="showSparkUI(workflow.sparkURI)" 
         *ngIf="workflow.sparkURI && workflow.sparkURI.length && workflow.status.status === 'Started'"></i>
      </td>
   </tr>
</st-table>

<div *ngIf="workflowList.length">
   <hr>
   <st-pagination [id]="generatedId" [total]="workflowList.length" [perPage]="paginationOptions.perPage" [currentPage]="paginationOptions.currentPage" [perPageOptions]="perPageOptions"
      (change)="changePage($event)">
   </st-pagination>
</div>
