<st-table [fields]="fields" 
    [sortable]="true"
    [currentOrder]="currentOrder"
    qaTag="monitoring-table" 
    class="workflow-table" 
    (changeOrder)="changeOrder($event)">
   <tr st-table-row [attr.id]="workflow.id + '-row'" *ngFor="let workflow of workflowList | paginate: { perPage: paginationOptions.perPage, currentPage: paginationOptions.currentPage }; let i = index;"
      [selected]="selectedWorkflowsIds.indexOf(workflow.id) > -1" (click)="checkRow(!((selectedWorkflowsIds.indexOf(workflow.id)) > -1), workflow)">
      <td st-table-cell st-table-row-content class="check-column">
         <st-checkbox [value]="workflow" [checked]="selectedWorkflowsIds.indexOf(workflow.id) > -1"></st-checkbox>
      </td>
      <td st-table-cell st-table-row-content>
         <label class="workflow-link" [attr.id]="workflow.id + '-link'" (click)="editSelectedWorkflow($event, workflow.id)">
             <sp-tooltip>
                 <div tooltip>
                    <div class="workflow-name">{{workflow.name}} - v{{workflow.version}}</div>
                    <div class="workflow-group">{{workflow.group}}</div>
                 </div>
                 <div content>
                    <span [attr.title]="workflow.executionEngine" *ngIf="workflow.executionEngine === 'Streaming'" class="icon icon-infinite icon-row"></span>
                    <span [attr.title]="workflow.executionEngine" *ngIf="workflow.executionEngine === 'Batch'" class="icon icon-channel icon-row"></span>
                    {{workflow.name}}
                    <span> - v{{workflow.version}}</span>
                 </div>
             </sp-tooltip>
         </label>
      </td>
      <td st-table-cell st-table-row-content>
         <label class="status-field" [ngClass]="workflow.filterStatus">{{(workflow.filterStatus) ? (('DASHBOARD.' + (workflow.filterStatus | uppercase)) | translate) : '-'}}</label>
      </td>
      <td st-table-cell st-table-row-content class="tag-column">
         <label>
            <sp-tooltip *ngIf="workflow.tagsAux.length">
                <div tooltip>
                    <div class="workflow-group">
                    {{workflow.tagsAux}}
                    </div>
                </div>
                <div content>
                    <span>{{workflow.tagsAux}}</span>
                </div>
            </sp-tooltip>
            <span *ngIf="!workflow.tagsAux.length">-</span>
         </label>
      </td>
      <td st-table-cell st-table-row-content>
         <label>{{workflow.lastUpdate ? workflow.lastUpdate : '-'}}</label>
      </td>
      <td st-table-cell st-table-row-content class="spark-link">
         <i class="icon-globe" (click)="showSparkUI(workflow.status.sparkURI)" *ngIf="workflow.status.sparkURI && workflow.status.sparkURI.length && workflow.status.status === 'Started'"></i>
      </td>
   </tr>
</st-table>

<div *ngIf="workflowList.length">
   <hr>
   <st-pagination [id]="generatedId" [total]="workflowList.length" [perPage]="paginationOptions.perPage" [currentPage]="paginationOptions.currentPage" [perPageOptions]="perPageOptions"
      (change)="changePage($event)">
   </st-pagination>
</div>
