
$action-button---height: 40px !default;
$action-button---width: 140px !default;
$action-button---padding: 10px !default;

.action-button{
	height: $action-button---height;
	line-height: $action-button---height;
	background: getColor(n2);
	width: $action-button---width;
	padding: 0px $action-button---padding;
	text-transform: uppercase;
	font-size: 16px;
	position: relative;
	cursor: pointer;

	&,
	&__icon,
	&__arrow {
		@extend %t-normal;
	}

	&:hover{
		background: getColor(n3);
	}

	&__icon{
		font-size: 15px;
		margin-right: -2px;
		color: getColor(n7);

		&:hover{
			color: getColor(n9);
		}
	}
	&__arrow{
		font-size: 13px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		line-height: $action-button---height;
		padding-right: $action-button---padding - 5px;
		color: getColor(n6);

		&:hover{
			color: getColor(n7);
		}
	}

	st-floating-menu{
		left: 1px;
	}
}