$width: 244px;

st-floating-menu{
	line-height: 0;
	display: inline-block;
	position: relative;
}

.floatingMenu{
	$sep: 26px;
	$sdir: 8px;
	
	width: $width;
	background: #fff;
	box-shadow: 
		0px 0px 3px rgba(#000, 0.15),
		0px 0px 1px rgba(#000, 0.3),
		0px 3px 2px -1px rgba(#000, 0.1);
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1005;
	margin-right: -$sep;
    font-family: 'Brandon Text';
    
	opacity: 0;
	padding: 0;

	&,
	st-menu-element,
	st-menu-element .element{
		@extend .t-normal;
    }
	
	.direction{
		height: $sdir;
		width: $sdir;
		position: absolute;
		right: $sep;
		top: 0px;
		margin-top: $sdir / -2;
		transform: rotate(-45deg);
	    box-shadow: 1px -1px 2px -1px rgba(#000, 0.4);
	    background: #fff;
	}

	$h: 40px;
	st-menu-element{

		display: block;
		height: 0;
		font-size: 18px;
		cursor: pointer;
		opacity: 0;
		
		.element{
			line-height: $h - 2px;
			padding: 0px 15px;
			display: block;
			height: 100%;
			width: 100%;
			color: #fff;
			text-align: left;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:hover{
				background: #f7f7f7;
				color: $blue;
			}
			.ico{
				font-size: 16px;
				margin-right: 4px;
			}
		}
	}

    &.visible{
		opacity: 1;
		padding: 8px 0px;

		st-menu-element{
			height: $h;
			opacity: 1;

			.element{
				color: #a4a4a4;

				&:hover{
					color: $blue;
				}
			}

			@for $i from 2 through 20 {
				&:nth-child(#{$i}){
					transition-delay: (($i - 1) * 0.04s);
				}
			}
		}
    }
}