
.nodeList{
	@extend .webkit-sidebar;

	max-height: 304px;
	position: relative;
	margin-top: -8px !important;
	padding-top: 8px;
	padding-right: 15px;

	&::-webkit-scrollbar-button {
		width: 0px;
		height: 8px;
	}

	li:not(.active) a.node{
		color: #666666 !important;

		&:hover{
			color: $blue !important;
		}
	}
}
.nodePanel{
	.has-opener{
		position: relative;

		a{
			padding-right: 30px;
		}
		.open-panel{
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			color: #868686;
			font-size: 22px;
			line-height: 28px;
			cursor: pointer;
			display: inline-block;
		}
	}
}
.node-panel-window{
	$calculatedWidth: -$layout-base-left - $layout-base-right - 80px;

	position: fixed;
	top: 140px;
	padding: 50px;
	padding-bottom: 10px;
	max-height: 100%;
	background: #e7ebec;
	left: calc(-100% + #{-$calculatedWidth + $layout-base-left});
	width: calc(100% + #{$calculatedWidth});
	z-index: -10;
	transition:
		width 0.3s ease,
		left 0.3s ease;

	.opened-panel &{
		left: $layout-base-left;
	}

	.nodes-title{
		color: #8ba5ab;
		border-bottom: 1px solid #dbe3e7;
		font-size: 24px;
		padding-bottom: 6px;
	}
	.all-nodes-cont{
		@include gradientScroll(#e7ebec);

		position: relative;

		&:before{
			height: 30px;
		}
	}
	.all-nodes{
		@extend .webkit-sidebar;
		//@extend .webkit-sidebar-all;

		max-height: 100%;
		padding-top: 16px;
		padding-bottom: 40px;

		div{
			padding-top: 4px;
		    padding-right: 25px;
			font-size: 14px;
			width: 100% * 1 / 3;
			display: inline-block;
			vertical-align: top;

		}
		a{
			color: #666666;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.active a{
			color: $blue;
		}
	}
}
@media #{$mq-auxiliar-sidebar-hidden}{
	.node-panel-window{
		$calculatedWidth: -$layout-base-left - 80px;

		left: calc(-100% + #{-$calculatedWidth + $layout-base-left});
		width: calc(100% + #{$calculatedWidth});
	}
}

@media #{$mq-allow-hide-primary-sidebar}{
	.node-panel-window{
		$calculatedWidth: -$layout-base-left - 80px;

		left: calc(-100% + #{-$calculatedWidth});

		.all-nodes{
			div{
				width: 100% * 1 / 2;
			}
		}
	}
}

@media (max-width: 890px){
	.node-panel-window{
		$calculatedWidth: -$layout-base-left - 20px;

		left: calc(-100% + #{-$calculatedWidth});
		width: calc(100% + #{$calculatedWidth});

		.all-nodes{
			div{
				width: 100%;
			}
		}
	}
}
@media (max-width: 500px){
	.node-panel-window{
		display: none;
	}
}