
$quick-search---height: 30px;

$quick-search__input---bckground: #dfe2e3;

.quick-search{
	position: relative;
	display: inline-block;
	height: $quick-search---height;

	&__input{
		@extend %t-normal;

		position: relative;
		display: inline-block;
		border-radius: 3px;
		height: $quick-search---height;
		line-height: $quick-search---height;
		box-shadow: none;
		padding: 0px 40px 0px 15px;
		border: 0;
		background: #dfe2e3;
		outline: none;

		&:hover{
			background: #e2e2e2;
		}
		&:focus{
			background: #e6e6e6;
		}
	}
	&__ico{
		position: absolute;
		right: 10px;
		top: 0;
		color: #9c9c9c;

		&:before{
			line-height: $quick-search---height;
			font-size: 14px;
		}
	}
}