

$quick-search__input---bckground: #dfe2e3;

.st-search{
	position: relative;
	display: inline-flex;
    margin-bottom: 20px;

	&__input{
		height: 35px;
        padding-left: 12px;
        padding-right: 40px;
        width: 100%;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 15.04px;
        background-color: white;
        color: #777777;
        border: 1px solid #dedede;
	}
	&__ico{
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        color: #999999;
	}
}