@mixin c-icon-label {
	@include c-icon-text;

	color: $c-icon-label---color;
	font-size: $c-icon-label---font-size;
	height: $c-icon-label---height;

	&--narrow {
		font-style: italic;
	}

	&__icon {
		color: $c-icon-label__icon---color;
		font-size: $c-icon-label__icon---font-size;
	}

	&__full-width {
		width: $c-icon-label__full-width---width;
	}

	&__help {
		font-size: 0.875rem;
		color: getColor(n5);
	}
}

.c-icon-label {
	@include c-icon-label;
}
