$c-icon-label---color: get-color(a1) !default;
$c-icon-label---font-size: get-font-size(medium) !default;
$c-icon-label---height: 25px !default;

$c-icon-label__icon---color: get-color(a1) !default;
$c-icon-label__icon---font-size: get-font-size(medium) !default;

$c-icon-label__full-width---width: 100% !default;
