

#stratio-base.fixed-dashboard{
	.stratio-base-header{
		padding-bottom: 100px;

		.main{
			position: fixed;
			height: $header-compact;
			width: 100%;
			top: 0;
			z-index: 980;

			.logo-cont {
				padding-bottom: 18px;

				img{
					width: 140px;
					margin-right: 168px - 140px;
				}
			}
			.show-auxiliar-sidebar{
				opacity: 1;
				bottom: 0px;
			}
			.menu-element{
				a{
					padding-bottom: 10px;
				}
			}
		}
	}
	&.extended-auxiliar{
		.stratio-base-header{
			.main{
				.show-auxiliar-sidebar{
					opacity: 0;
					bottom: -$header-show-auxiliar;
				}
			}
		}
	}
	#base-auxiliar-sidebar{
		position: fixed;
		top: 29px;
	}

	#base-primary-sidebar{
		top: $header-compact !important;
	}
}