#stratio-base{
	.stratio-base-header{
		.main{
			.show-auxiliar-sidebar{
				opacity: 1;
				bottom: 0px;
			}
		}
	}
	&.extended-auxiliar{
		.stratio-base-header{
			.main{
				.show-auxiliar-sidebar{
					opacity: 0;
					bottom: -$header-show-auxiliar;
				}
			}
		}
	}
	// Sticky sidebar
	&.auxiliar-sticky{
		#base-auxiliar-sidebar{
			position: fixed;
			top: $header-menu-height + $header-topmenu-height - 42px;
		}
		&:not(.fixed-dashboard){
			#base-auxiliar-sidebar{
				margin-top: 0 !important;
			}
		}
	}
	&.auxiliar-sticky.fixed-dashboard{
		#base-auxiliar-sidebar{
			position: absolute;
			top: $header-menu-height + $header-topmenu-height + 30px;
			margin-top: 0;
			z-index: 960;
		}
	}
}