<section>
   <div #backupsModal qaTag="backup-modal"></div>
   <tool-bar>
      <div breadcrumb>
         <st-breadcrumbs [options]="breadcrumbOptions" (select)="breadcrumbMenuService.setRoute($event)" qaTag="backups-breadcrumb"></st-breadcrumbs>
      </div>
      <div selection-tools>

      </div>
      <div general-tools>
         <button class="button button-toolbar" *ngIf="(sparkUILink$ | async) && (sparkUILink$ | async).length" id="sparkui-link-button" (click)="openSparkUI()">
            <i class="icon-globe"></i>
        </button>
      </div>
   </tool-bar>
   <div class="container catalog-content">
      <div class="row">
         <div class="col-sm-12">
            <div class="crossdata">
               <div class="left-bar">
                  <span class="egeo-title-small">{{'DASHBOARD.CROSSDATA' | translate}}</span>
                  <div class="list-container">
                     <ul>
                        <li *ngFor="let option of options; let i = index;" (click)="onChangedOption(option)" [ngClass]="{'active' : activeMenuOption.id == option.id}">{{'DASHBOARD.' + option.text | translate}}</li>
                     </ul>
                     <span class="mark" [style.top]="(activeMenuOption.i * (100/options.length)) + '%'"></span>
                  </div>
               </div>
               <div class="content">
                  <!-- <span class="egeo-title-extra-large current-section">{{'DASHBOARD.' + activeMenuOption.text | translate}}</span>
                  <span class="description">{{'DASHBOARD.' + activeMenuOption.description | translate}}</span> -->
                  <div class="row">
                     <div class="col-sm-12" [hidden]="activeMenuOption.id !== 'catalog'">
                        <crossdata-tables></crossdata-tables>
                     </div>
                     <div class="col-sm-12" [hidden]="activeMenuOption.id !== 'queries'">
                        <crossdata-queries></crossdata-queries>
                     </div>
                  </div>
               </div>
            </div>
            <sp-footer></sp-footer>
         </div>
      </div>
   </div>
</section>
