@import '~@stratio/egeo/theme/constants';
:host {
   display: block;
}

.menu {
   background-color: white;
   font-size: 15px;
   left: 100%;
   top: 0;
   padding-left: 1px;
   /*z-index: -1;*/
   position: absolute;
    &.right-position {
      right: 100%;
      left: auto;
   }
}

.hide-scrollbar {
  overflow: hidden;
  width:100%;
  box-shadow: 0px 0px 0px 1px  #a0d4f3;
  border-radius: 3px;
}

ul {
   list-style: none;
   top: 0;
   left: 0;
   width: calc(100% + 30px);
   /*box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.45);*/

   background: white;
   /*margin-left: -2px;*/
   min-width: 100%;
   max-height:400px;
   overflow-y: auto;
   overflow-x: hidden;
   /*.right-position & {
       float:right;
   }*/
}

.scroll-button {
    position: absolute;
    width: calc(100% - 1px);
    padding: 1px 0 0px 0;
    background: white;
    z-index: 1;
    font-size: 10px;
    color: #666;
    box-shadow: 0px 0px 0px 1px #a0d4f3;
    text-align: center;

    &.scroll-top {
          top: -16px;
    }

    &.scroll-bottom {
          bottom: -16px;
    }
}

.submenu {
   visibility: hidden;
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
}

li.search {
   border-bottom: 1px solid #a0d4f3;
   margin: 0;
   padding: 0;
   position: relative;
   input {
      padding: 7px 14px;
      outline: 0;
      width: 100%;
      min-width: 200px;
   }
   .delete {
      position: absolute;
      right: 10px;
      top: 11px;
   }
}


li.item {
   display: block;
   /*min-width: 150px;*/
   padding: 9px 8px 9px 20px;
   cursor: pointer;
   font-size: 14px;
   padding-right: 30px;
   /*color:$neutral-09;*/
   color: #192a3a;

   -webkit-tap-highlight-color: transparent;
   .has-submenu {
      font-size: 11px;
      float: right;
      margin-top: 6px;
      margin-right: 10px;
   }
    .has-submenu2 {
      position: absolute;
      left: 10px;
      font-size: 12px;
      top: 12px;
   }
   .item-icon {
      font-size: 13px;
      margin-right: 5px;
   }
   &>span {
      white-space: nowrap;
   }
   &.active {
      background-color: #e7f3fb;
      &>.item-icon {
         color: #07a0e4;
      }
      &>.has-submenu {
         color: #07a0e4;
      }
      &>.submenu {
          visibility: visible;
      }
   }
}

.right-position {
    /* text-align: right; */
}


