<div class="menu">
    <ul [ngClass]="{'right-position': position === 'right'}">
        <li *ngFor="let item of menuOptions;" (click)="!item.subMenus && selectOption(item)">
            <span>
                <i [ngClass]="item.icon" *ngIf="item.icon" class="item-icon"></i>
                {{item.name}}
            </span>
            <i class="icon-arrow2_right has-submenu" *ngIf="item.subMenus && item.subMenus.length"></i>
            <div *ngIf="item.subMenus && item.subMenus.length" class="submenu">
                <menu-options [menuOptions]="item.subMenus" (selectedOption)="selectedOption.emit($event)"></menu-options>
            </div>
        </li>
    </ul>
</div>