<div class="menu" [ngClass]="{'right-position': position === 'right'}">
  <div class="scroll-button scroll-top" [style.opacity]="scrollTopEnabled ? 1 : 0" (mouseenter)="scrollTop()" (mouseleave)="stopScroll()">
    <span class="icon-arrow2_up"></span>
  </div>
  <div class="hide-scrollbar">
    <ul [style.maxHeight.px]="maxHeight" (scroll)="onScroll($event)">
      <li class="search" *ngIf="search">
        <input type="text" autocomplete="off" id="search-menu-box" [formControl]="searchBox" [placeholder]="'WIZARD.MENU_SEARCH' | translate" />
        <span class="delete icon-cross"  id="delete-search-content" *ngIf="searchOption.length"></span>
      </li>
      <li
        class="item"
        *ngFor="let item of menuOptions; let i = index; trackBy: trackByFn"
        [attr.id]="(item.icon || '') + item.name + '-option'"
        (click)="(!item.subMenus || !item.subMenus.length) && selectedOption.emit(item)"
        (mouseenter)="showMenu($event, item)" [ngClass]="{'active' : openedItem === item.name + (item.icon || '')}">
        <!--<i class="icon-arrow2_left has-submenu left-menu" *ngIf="item.subMenus && item.subMenus.length && position === 'right'"></i>-->
        <span>
          <i [ngClass]="item.icon" *ngIf="item.icon" class="item-icon"></i>
          {{item.name}}
        </span>
        <i class="icon-arrow2_right has-submenu" *ngIf="item.subMenus && item.subMenus.length"></i>
        <menu-options
          [menuOptions]="item.subMenus"
          [position]="position"
          [maxHeight]="maxHeightChild"
          [style.top.px]="menuPosition"
          (selectedOption)="selectedOption.emit($event)"
          *ngIf="item.subMenus && item.subMenus.length && openedItem === item.name + (item.icon || '')"
          class="submenu">
        </menu-options>
      </li>
    </ul>
  </div>
  <div class="scroll-button scroll-bottom" [style.opacity]="scrollBottomEnabled ? 1 : 0" (mouseenter)="scrollBottom()" (mouseleave)="stopScroll()">
    <span class="icon-arrow2_down"></span>
  </div>
</div>
