@import '~@stratio/egeo/theme/constants';

:host {
  display: inline-block;
}

.box-schema {
  .box-schema-header {
    position: relative;
    .icon-waiting {
      color: $neutral-07;
      font-size: $egeo-font-size-large;
      position: absolute;
      right: 15px;
      cursor: pointer;
      st-dropdown-menu {
        position: absolute;
        right: 0px;
      }
    }
  }
  border-radius: 8px;
  border: 2px solid #78c7dd;
  background: #fff;
  margin-bottom: 50px;
  width: 380px;
  &-header {
    padding: 23px;
    border-bottom: 1px solid #78c7dd;
    &__title {
      font-weight: 100;
      font-size: $egeo-font-size-medium;
    }

    .icon {
      font-size: 20px;
      float: left;
      margin-top: 2px;
      margin-right: 10px;
    }
  }

  &-body {
    width: 100%;
    .no-drag {
      cursor: no-drop;
    }

    &__row-group {
      position: relative;
    }

    &__scroll {
      overflow: auto;
      margin-right: 2px;
      &::-webkit-scrollbar-track {
        border-radius: 30px;
        border: solid 3px transparent;
      }

      &::-webkit-scrollbar {
        width: 9px;
        border-radius: 10px !important;
      }

      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 10px 10px #d8d8d8;
        border-radius: 80px !important;
        border: solid 2px transparent;
      }

      scrollbar-color: #d8d8d8 white;
      scrollbar-width: thin;
    }

    &__header {
      &-field {
        color: #757575;
        border-bottom: 1px solid #dce8f2;
        font-size: 14px;
        padding: 10px 0;
      }
    }

    .column {
      padding-left: 23px;
      display: inline-block;
      width: 60%;
    }

    .type {
      padding-right: 23px;
      display: inline-block;
      width: 40%;
    }

    &__row {
      &.selected {
        background: $action-primary-light;
      }
    }

    &__field {
      color: $action-secondary-07;
      padding: 10px 0;
      font-size: 14px;
      position: relative;

      .icon {
        position: absolute;
        left: 7px;
        font-size: 12px;
        top: 14px;
        display: none;
      }

      &--lost-field {
        color: $status-critical-default;
        .icon {
          display: inline;
        }
      }
    }
  }
}

.table-container {
  .dndPlaceholder {
    width: 100%;
    background-color: #ddd;
    height: 42px;
    list-style: none;
    position: absolute;
    display: block;
    opacity: 0.5;
  }
  &.no-drop {
    .dndPlaceholder {
      display: none;
    }
  }
}
