<section>
  <c-horizontal-tabs options="crossdata.menuOptions" active-option="crossdata.selectedOption"></c-horizontal-tabs>
  <section data-ng-if="crossdata.selectedOption === 'CATALOG'">
    <div>
      <div>
        <div class="c-toolbar--filter__item">
          <div class="st-search st-search__filter">
            <input type="text" id="name" class="st-search__input" data-ng-model="crossdata.filter.database" data-qa="crossdata-filter-database"
              placeholder="{{'_FILTER_TABLES_'| translate}}" />
            <i class="st-search__ico icon-search"></i>
          </div>
          <div class="temporary-table-filter">
            <form-field-check label="{{'_SHOW_TEMPORARY_TABLES_' | translate}}" list-compressed="false" model="crossdata.filter.isTemporary"
              data-qa="temporary-table-filter" st-name="temporaryFilter"></form-field-check>
          </div>
        </div>
        <button class="c-button c-button--toolbar c-button--call-to-action-1 c-button--bottom-margin c-button--top-margin" style="float:right"
            data-qa="settings-new-policy-button" data-ng-click="crossdata.getCrossTables()">
          <span class="icon icon-reload"></span>
          <span>{{'_REFRESH_DATA_' | translate}}</span>
      </button>
      </div>
      <table class="c-table  c-table--margin-bottom c-table--full-width table--acordion">
        <thead class="c-table__thead">
          <tr>
            <th class="c-table__td c-col--3 c-table--sorted" data-ng-click="crossdata.sortTableList('name')">
              {{"_NAME_" | translate}}
              <span class="ico c-table--sort-icon icon-arrow2_up sort-active" data-ng-if="crossdata.sortField == 'name' && crossdata.tableReverse"></span>
              <span class="ico c-table--sort-icon icon-arrow2_down" data-ng-class="{'sort-active': crossdata.sortField == 'name'}" data-ng-if="crossdata.sortField != 'name' || !crossdata.tableReverse"></span>
            </th>
            <th class="c-table__td  c-col--2 c-table--centered-content c-table--sorted" data-ng-click="crossdata.sortTableList('database')">
              {{"_DATABASE_" | translate}}
              <span class="ico c-table--sort-icon icon-arrow2_up sort-active" data-ng-if="crossdata.sortField == 'database' && crossdata.tableReverse"></span>
              <span class="ico c-table--sort-icon icon-arrow2_down" data-ng-if="crossdata.sortField != 'database' || !crossdata.tableReverse"
                ng-class="{'sort-active': crossdata.sortField == 'database'}"></span>
            </th>
            <th class="c-table__td  c-col--2 c-table--centered-content c-table--sorted" data-ng-click="crossdata.sortTableList('tableType')">
              {{"_TABLE_TYPE_" | translate}}
              <span class="ico c-table--sort-icon icon-arrow2_up sort-active" data-ng-if="crossdata.sortField == 'tableType' && crossdata.tableReverse"></span>
              <span class="ico c-table--sort-icon icon-arrow2_down" data-ng-if="crossdata.sortField != 'tableType' || !crossdata.tableReverse"
                ng-class="{'sort-active': crossdata.sortField == 'tableType'}"></span>
            </th>
            <th class="c-table__td  c-col--2 c-table--centered-content c-table--sorted" data-ng-click="crossdata.sortTableList('isTemporary')">
              {{"_TABLE_TEMPORARY_" | translate}}
              <span class="ico c-table--sort-icon icon-arrow2_up sort-active" data-ng-if="crossdata.sortField == 'isTemporary' && crossdata.tableReverse"></span>
              <span class="ico c-table--sort-icon icon-arrow2_down" data-ng-if="crossdata.sortField != 'isTemporary' || !crossdata.tableReverse"
                ng-class="{'sort-active': crossdata.sortField == 'isTemporary'}"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="c-table__tr c-table__tr--hover" data-ng-class="{'open': table.open }" data-ng-if="!table.isTemporary || crossdata.filter.isTemporary" data-ng-repeat-start="table in crossdata.tables | filter:crossdata.filter.database : false | orderBy:crossdata.sortField:crossdata.tableReverse" data-ng-click="crossdata.openTableInfo(table)">
            <td class="c-table__td c-table__td--no-wrap c-table__td--ellipsis">{{::table.name}}</td>
            <td class="c-table__td c-col--1 c-table--centered-content">{{::table.database}}</td>
            <td class="c-table__td c-col--1 c-table--centered-content">{{::table.tableType | lowercase}}</td>
            <td class="c-table__td c-col--1 c-table--centered-content">{{(table.isTemporary ? '_YES_' : '_NO_') | translate}}</td>
          </tr>
          <tr data-ng-repeat-end data-ng-if="!table.isTemporary || crossdata.filter.isTemporary">
            <td colspan="4">
              <div class="row-content" data-ng-class="{'open-row' : table.open}">



                <table class="c-table  c-table--margin-bottom c-table--full-width" data-ng-if="table.open && table.info.length">
                  <thead class="c-table__thead">
                      <th class="c-table__td" data-ng-repeat="(key, value) in table.info[0]">
                        {{key}}
                      </th>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="column in table.info">
                      <td data-ng-repeat="property in column" class="c-table__td c-table__td--no-wrap c-table__td--ellipsis">
                        {{property}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section data-ng-if="crossdata.selectedOption === 'QUERIES'">
    <form class="c-form" name="crossdata.form" id="queryForm" novalidate data-ng-submit="crossdata.executeQuery(crossdata.form)">

      <form-field-textarea ng-attr-id="sqlQuery" data-st-name="sql"  data-form="crossdata.form" data-required="true" data-model="crossdata.sql" data-label="{{'_SQL_QUERY_' | translate}}"
      data-qa="crossdata-query" class="c-textarea--sql-box"></form-field-textarea>
      <div class="c-col c-col--12">
        <!-- Error message -->
        <c-animated-msg data-msg="crossdata.errorMessage" data-on-click-close-msg="crossdata.deleteErrorMessage()" data-timeout=10000></c-animated-msg>
        <c-animated-msg data-msg="crossdata.successMessage" data-on-click-close-msg="crossdata.deleteSuccessMessage()" data-timeout=2000></c-animated-msg>
      </div>
      <button class="c-button c-button--toolbar c-button--call-to-action-1 c-button--bottom-margin c-button--top-margin"
        data-qa="settings-new-policy-button">
          <span class="icon icon-stress"></span>
          <span>{{'_EXECUTE_QUERY_' | translate}}</span>
      </button>
    </form>
    <div class="table-responsive">
      <table class="c-table  c-table--margin-bottom c-table--full-width c-table--long-table">
        <thead class="c-table__thead">
          <tr>
            <th class="c-table--sorted" data-ng-click="crossdata.sortTableList(column)" data-ng-repeat="column in crossdata.queryResponseColumns">
              <div>
              {{column}}
            <!--  <span class="ico c-table--sort-icon icon-arrow2_up sort-active" data-ng-if="crossdata.sortField == column && crossdata.tableReverse"></span>
              <span class="ico c-table--sort-icon icon-arrow2_down" data-ng-class="{'sort-active': crossdata.sortField == column}" data-ng-if="crossdata.sortField != column || !crossdata.tableReverse"></span>-->
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="c-table__tr" data-ng-repeat="data in crossdata.paginatedRows">
            <td class="c-table__td c-table__td--no-wrap" data-ng-repeat="cell in data">{{::cell}}</td>
          </tr>
        </tbody>
    </table>
    </div>
    <div class="c-pagination" data-ng-if="crossdata.pageSize < crossdata.queryResponse.length">
      <div class="c-pagination--info">
      {{crossdata.firstElement + 1}}-{{crossdata.lastElement}} of {{crossdata.queryResponse.length}}
      </div>
      <div class="c-pagination--navigation-buttons">
        <div class="c-pagination--button" data-ng-disabled="crossdata.firstElement === 0" data-ng-click="crossdata.firstElement != 0 && crossdata.setPage(crossdata.currentPage - 1)">
          <i class="icon-arrow2_left"></i>
        </div>
        <div class="c-pagination--button" data-ng-disabled="crossdata.lastElement == crossdata.queryResponse.length" data-ng-click="crossdata.lastElement != crossdata.queryResponse.length && crossdata.setPage(crossdata.currentPage + 1)">
          <i class="icon-arrow2_right"></i>
        </div>
      </div>
    </div>
  </section>
</section>
