<section>
  <div class="c-panel" data-ng-if="executions.policiesData.length > 0">
    <aside class="c-toolbar--filter c-toolbar--fixed">
      <div class="c-col c-col--12">
        <!-- Error message -->
        <c-animated-msg data-msg="executions.errorMessage" data-on-click-close-msg="executions.deleteErrorMessage()"
                       data-timeout=10000></c-animated-msg>
        <c-animated-msg data-msg="executions.successMessage"  data-on-click-close-msg="executions.deleteSuccessMessage()"
                        data-timeout=6000></c-animated-msg>
      </div>
    </aside>
    <div class="br-ba-container br-ba-container--full-height">
      <table class="c-table  c-table--margin-bottom c-table--full-width">
        <thead class="c-table__thead">
        <tr>
          <th class="c-table__td c-col--2 c-table--sorted" data-ng-click="executions.sortPolicies('name')">
            {{"_NAME_" | translate}}
            <span class="ico c-table--sort-icon icon-arrow2_up sort-active" data-ng-if="executions.sortField == 'name' && executions.tableReverse"></span>
            <span class="ico c-table--sort-icon icon-arrow2_down" 
                  data-ng-class="{'sort-active': executions.sortField == 'name'}" 
                  data-ng-if="executions.sortField != 'name' || !executions.tableReverse"></span>
          </th>
          <th class="c-table__td c-col--2 c-table--sorted" data-ng-click="executions.sortPolicies('description')"> 
            {{"_DESCRIPTION_" | translate}}
            <span class="ico c-table--sort-icon icon-arrow2_up sort-active" data-ng-if="executions.sortField == 'description' && executions.tableReverse"></span>
            <span class="ico c-table--sort-icon icon-arrow2_down"
                  data-ng-class="{'sort-active': executions.sortField == 'description'}"  
                  data-ng-if="executions.sortField != 'description' || !executions.tableReverse"></span>
          </th>
          <th class="c-table__td  c-col--1 c-table--centered-content c-table--sorted" data-ng-click="executions.sortPolicies('status')">
            {{"_STATUS_" | translate}}
            <span class="ico c-table--sort-icon icon-arrow2_up sort-active" data-ng-if="executions.sortField == 'status' && executions.tableReverse"></span>
            <span class="ico c-table--sort-icon icon-arrow2_down" 
                  data-ng-if="executions.sortField != 'status' || !executions.tableReverse" 
                  ng-class="{'sort-active': executions.sortField == 'status'}"></span>
          </th>
          <th class="c-table__td c-col--2 c-table--centered-content c-table--sorted" data-ng-click="executions.sortPolicies('lastExecutionMode')">
            {{"_DEPLOY_MODE_" | translate}}
            <span class="ico c-table--sort-icon icon-arrow2_up sort-active" data-ng-if="executions.sortField == 'lastExecutionMode' && executions.tableReverse"></span>
            <span class="ico c-table--sort-icon icon-arrow2_down" 
                  data-ng-if="executions.sortField != 'lastExecutionMode' || !executions.tableReverse"
                  ng-class="{'sort-active': executions.sortField == 'lastExecutionMode'}"></span>
          </th>
          <th class="c-table__td c-col--5 c-table--sorted" data-ng-click="executions.sortPolicies('statusInfo')">
            {{"_STATUS_INFORMATION_" | translate}}
            <span class="ico c-table--sort-icon icon-arrow2_up sort-active" data-ng-if="executions.sortField == 'statusInfo' && executions.tableReverse"></span>
            <span class="ico c-table--sort-icon icon-arrow2_down " 
                  data-ng-if="executions.sortField != 'statusInfo' || !executions.tableReverse" 
                  ng-class="{'sort-active': executions.sortField == 'statusInfo'}"></span>
          </th>
          <th class="c-table__td c-col--1"></th>
          <th class="c-table__td c-col--1"></th>
          <th class="c-table__td c-col--1"></th>
        </tr>
        </thead>
        <tbody>

        <tr class="c-table__tr" data-ng-repeat="policyData in executions.policiesData | orderBy:executions.sortField:executions.tableReverse">
          <td class="c-table__td c-table__td--no-wrap c-table__td--ellipsis">{{policyData.name}}</td>
          <td class="c-table__td c-table__td--no-wrap c-table__td--ellipsis">{{policyData.description}}</td>
          <td class="c-table__td c-col--1 c-table--centered-content">{{policyData.status}}</td>
          <td class="c-table__td c-table__td--no-wrap c-table__td--ellipsis c-table--centered-content">{{policyData.lastExecutionMode}}</td>
          <td class="c-table__td c-table__td--no-wrap c-table__td--ellipsis">{{policyData.statusInfo}}</td>

          <td class="c-table__td c-table__td--to-right c-col--1 c-col--to-right c-row--to-right">
            <c-icon-link icon-class="'c-table__icon c-icon c-icon--is-clickable c-icon--circle-button c-icon--call-to-action icon-globe'"
                         data-ng-if="policyData.clusterUI"
                         link-url="policyData.clusterUI"
                         data-qa="cluster-UI-link">
            </c-icon-link>
          </td>
          <td class="c-table__td c-table__td--to-right c-col--1 c-col--to-right c-row--to-right">
            <i data-ng-class = "{'c-table__icon--warning icon-alert': policyData.lastError, ' icon-info3 c-table__icon--info': !policyData.lastError}"
               class="c-icon c-icon--is-clickable c-table__icon c-icon--circle-button" data-ng-click="executions.showInfoModal(policyData)">
            </i>
          </td>
          <td class="c-table__td c-table__td--no-wrap c-table__td--to-right c-col--1">
            <i class="c-icon c-icon--is-clickable c-table__icon c-icon--circle-button icon-actions"
               data-ng-click="$root.stToggleFloatingMenu[policyData.id]()"
               data-qa="policy-context-menu-{{policyData.id}}">
              <st-floating-menu toggle-id="{{policyData.id}}" align="right">
                <st-menu-element class-icon="icon-play"
                                 data-ng-click="executions.runPolicy(policyData.id, policyData.status, policyData.name)"
                                 data-qa="policy-context-menu-{{policyData.id}}-run">
                  {{"_OUTPUT_ACTIONS_MENU_RUN_" | translate}}
                </st-menu-element>
                <st-menu-element class-icon="icon-stop"
                                 data-ng-click="executions.stopPolicy(policyData.id, policyData.status, policyData.name)"
                                 data-qa="policy-context-menu-{{policyData.id}}-stop">
                  {{"_OUTPUT_ACTIONS_MENU_STOP_" | translate}}
                </st-menu-element>
                <st-menu-element class-icon="ico icon-cross"
                  data-ng-click="executions.deleteCheckpoint(policyData.name)"
                  data-qa="policy-context-menu-{{policyData.id}}-stop">
                  {{"_OUTPUT_ACTIONS_MENU_CHECKPOINT_" | translate}}
                </st-menu-element>
              </st-floating-menu>
            </i>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
  <div class="c-msg--noitems c-msg--giant" data-ng-if=" !executions.loading && executions.policiesData.length === 0"
       data-ng-click="executions.createPolicy()" data-qa="policy-first-message">
    <i class="c-icon icon-marquee-plus"></i>
    <span class="c-msg__text">{{"_POLICY_CREATE_FIRST_ONE_" | translate}}</span>
  </div>
</section>
