<section>
	<header>
		<st-heading title="{{'_INPUT_HEADER_TITLE_MAIN' | translate}}" subtitle="{{'_INPUT_HEADER_TITLE_SECONDARY' | translate}}:"></st-heading>
	</header>

	<div class="c-panel c-panel--fix-overflow">
		<div class="c-toolbar c-form-group c-form-group--to-right">
			<div class="c-col c-col--2 c-form-control">
				<label class="c-label o-wcag-hidden" for="type">{{"_INPUT_FILTER_TYPE_" | translate}}:</label>
				<select id="type" class="c-combobox c-combobox--no-border c-combobox--full-width" data-ng-model="inputs.filters.element.type">
					<option value="">{{"_INPUT_FILTER_TYPE_DEFAULT_" | translate}}</option>
					<option value="{{inputType.type}}" data-ng-repeat="inputType in inputs.inputTypes">
						{{inputType.type}} ({{inputType.count}})
					</option>
				</select>
			</div><!--

		 --><div class="c-col c-col--10 c-form-control">
				<label class="c-label o-wcag-hidden" for="name">{{"_INPUT_FILTER_NAME_" | translate}}:</label>
				<i class="icon-search c-icon c-icon--in-input-right"></i>
				<input type="text" id="name" class="c-searchbox c-searchbox--left-icon c-searchbox--no-border c-searchbox--full-width" data-ng-model="inputs.filters.name" />
			</div>
		</div>

		<ul br-ba-container="c-grid">
			<li class="c-grid-item" data-ng-repeat="input in filteredInputsData = (inputs.inputsData | filter:inputs.filters:strict)" br-ba-item="{index:$index, total:filteredInputsData.length}">
				<header class="title">
					<span class="name">{{input.name}}</span>

					<span class="icon-actions menu_actions" data-ng-click="$root.stToggleFloatingMenu[input.id]()" data-qa="input-context-menu-{{input.id}}">
						<st-floating-menu toggle-id="{{input.id}}" align="right">
							<st-menu-element class-icon="icon-edit" data-ng-click="inputs.editInput(input.fragmentType, input.name, $index)" data-qa="input-context-menu-{{input.id}}-edit">
								{{"_INPUT_ACTIONS_MENU_EDIT_" | translate}}
							</st-menu-element>
							<st-menu-element class-icon="icon-copy" data-ng-click="inputs.duplicateInput(input.name)" data-qa="input-context-menu-{{input.id}}-duplicate">
								{{"_INPUT_ACTIONS_MENU_DUPLICATE_" | translate}}
							</st-menu-element>
							<st-menu-element class-icon="icon-cross" data-ng-click="inputs.deleteInput(input.fragmentType, input.name, $index)" data-qa="input-context-menu-{{input.id}}-delete">
								{{"_INPUT_ACTIONS_MENU_DELETE_" | translate}}
							</st-menu-element>
						</st-floating-menu>
					</span>
				</header>

				<div class="c-row o-media">
					<div class="o-media__img">
						<i class="c-icon c-icon--xxxlarge icon-{{input.element.type | lowercase}} o-media__img__item" alt="{{input.element.type}}"></i>
					</div>

					<span class="o-media__bd">{{input.shortDescription}}</span>
				</div>

				<footer class="c-row c-row--to-bottom c-row--to-right">
					<i class="c-icon c-icon--is-clickable c-grid-item__info-icon icon-info1" tooltip="{{input.description}}" tooltip-placement="left" tooltip-class="t-tooltip" tooltip-trigger="click" data-qa="input-tootip-{{input.id}}"></i>
				</footer>
			</li>
	    </ul>
    </div>
 
    <hr class="c-line-separator" />

    <footer class="c-row c-row--to-right c-row--footer">
    	<button class="c-button c-button--call-to-action-1" data-ng-click="inputs.createInput()">
    		<span class="icon icon-circle-plus"></span>
    		<span>{{"_INPUT_BUTTON_NEW_" | translate}}</span>
    	</button>
    </footer>
</section>
 