<div data-ng-init="nuevo.init()">
	<!-- HEADER -->
	<st-heading title="{{'_INPUT_HEADER_TITLE_MAIN' | translate}}" subtitle="{{'_INPUT_HEADER_TITLE_SECONDARY' | translate}}:"></st-heading>

	<div class="inputs_wrapper">
		<div class="filters">
			<div class="element">
				<label for="type">{{"_INPUT_FILTER_TYPE_" | translate}}:</label>
				<select id="type" class="filter_combo" data-ng-model="nuevo.filters.element.type">
					<option value="">{{"_INPUT_FILTER_TYPE_DEFAULT_" | translate}}</option>
					<option value="{{inputType.type}}" data-ng-repeat="inputType in nuevo.inputTypes">
						{{inputType.type}} ({{inputType.count}})
					</option>
				</select>
			</div>
			<div class="element filter_search_element">
				<label for="name">{{"_INPUT_FILTER_NAME_" | translate}}:</label>
				<span class="icon-search"></span>
				<input type="text" id="name" class="filter_search" data-ng-model="nuevo.filters.name">
			</div>
		</div>

		<ul br-ba-container="">
			<li data-ng-repeat="input in filteredInputsData = (nuevo.inputsData | filter:nuevo.filters:strict)" br-ba-item="{index:$index, total:filteredInputsData.length}">
				<div class="title">
					<span class="name">{{input.name}}</span>

					<span class="icon-search menu_actions" ng-click="$root.stToggleFloatingMenu[$index]()">
						<st-floating-menu toggle-id="{{$index}}" align="right">
							<st-menu-element class-icon="icon-edit">
								{{"_INPUT_ACTIONS_MENU_EDIT_" | translate}}
							</st-menu-element>
							<st-menu-element class-icon="icon-copy">
								{{"_INPUT_ACTIONS_MENU_DUPLICATE_" | translate}}
							</st-menu-element>
							<st-menu-element class-icon="icon-cross">
								{{"_INPUT_ACTIONS_MENU_DELETE_" | translate}}
							</st-menu-element>
						</st-floating-menu>
					</span>

				</div>
				<span class="description">{{input.shortDescription}}</span>
				<img data-ng-src="images/logo_{{input.icon}}" alt="{{input.element.type}}" class="input_logo">
				<span class="icon-info1 element_tooltip" tooltip="{{input.description}}"></span>
			</li>
	    </ul>
    </div>

    <div class="callaction-menu">
    	<button class="callaction-button" data-ng-click="nuevo.createInput('lg')">
    		<span class="icon icon-circle-plus"></span>
    		<span>{{"_INPUT_BUTTON_NEW_" | translate}}</span>
    	</button>
    </div>
</div>