<section>
	<header>
		<st-heading title="{{'_OUTPUT_HEADER_TITLE_MAIN' | translate}}" subtitle="{{'_INPUT_HEADER_TITLE_SECONDARY' | translate}}:"></st-heading>
	</header>

    <hr class="c-line-separator" />

    <footer class="c-row c-row--to-right c-row--footer">
    	<button class="c-button c-button--call-to-action-1" data-ng-click="outputs.createOutput()">
    		<span class="icon icon-circle-plus"></span>
    		<span>{{"_INPUT_BUTTON_NEW_" | translate}}</span>
    	</button>
    </footer>
</section>
