<section>
	<header>
		<st-heading title="{{'_OUTPUT_HEADER_TITLE_MAIN' | translate}}" subtitle="{{'_INPUT_HEADER_TITLE_SECONDARY' | translate}}:"></st-heading>
	</header>

    <div class="c-row c-msg c-msg--small c-msg--error c-msg--bottom-margin" data-ng-if="outputs.error" data-qa="manage-policies-error-msg">
        <i class="c-icon icon-circle-cross"></i>
        <span translate="{{outputs.errorMessage}}"></span>
    </div>

    <div class="c-panel c-panel--fix-overflow" data-ng-if="outputs.outputsData.length > 0">
        <div class="c-toolbar c-form-group c-form-group--to-right">
            <div class="c-col c-col--2 c-form-control">
                <label class="c-label o-wcag-hidden" for="type">{{"_INPUT_FILTER_TYPE_" | translate}}:</label>
                <select id="type" class="c-combobox c-combobox--no-border c-combobox--full-width" data-ng-model="outputs.filters.element.type" data-qa="output-filter-type">
                    <option value="" data-qa="output-filter-type-allTypes">{{"_INPUT_FILTER_TYPE_DEFAULT_" | translate}}</option>
                    <option value="{{outputType.type}}" data-ng-repeat="outputType in outputs.outputTypes" data-qa="output-filter-type-{{outputType.type | lowercase}}">
                        {{outputType.type}} ({{outputType.count}})
                    </option>
                </select>
            </div><!--

         --><div class="c-col c-col--10 c-form-control">
                <label class="c-label o-wcag-hidden" for="name">{{"_INPUT_FILTER_NAME_" | translate}}:</label>
                <i class="icon-search c-icon c-icon--in-input-right"></i>
                <input type="text" id="name" class="c-searchbox c-searchbox--left-icon c-searchbox--no-border c-searchbox--full-width" data-ng-model="outputs.filters.name" data-qa="output-filter-name"/>
            </div>
        </div>
        <ul br-ba-container="c-grid">
            <li class="c-grid-item" data-ng-repeat="output in filteredoutputsData  = (outputs.outputsData |
			 filter:{'element':{'type':outputs.filters.element.type || undefined}}:true | filter:{ 'name': outputs.filters.name})" br-ba-item="{index:$index, total:filteredoutputsData.length}">
             <!-- <li class="c-grid-item" data-ng-repeat="output in filteredoutputsData = (outputs.outputsData | fragmentFilter:outputs.filters)" br-ba-item="{index:$index, total:filteredInputsData.length}"> -->
                <header class="title">
                    <span class="name">{{output.name}}</span>

                    <span class="icon-actions menu_actions" data-ng-click="$root.stToggleFloatingMenu[output.id]()" data-qa="output-context-menu-{{output.id}}">
                        <st-floating-menu toggle-id="{{output.id}}" align="right">
                            <st-menu-element class-icon="icon-edit2" data-ng-click="outputs.editOutput(output)" data-qa="output-context-menu-{{output.id}}-edit">
                                {{"_INPUT_ACTIONS_MENU_EDIT_" | translate}}
                            </st-menu-element>
                            <st-menu-element class-icon="icon-copy" data-ng-click="outputs.duplicateOutput(output.id)" data-qa="output-context-menu-{{output.id}}-duplicate">
                                {{"_INPUT_ACTIONS_MENU_DUPLICATE_" | translate}}
                            </st-menu-element>
                            <st-menu-element class-icon="icon-cross" data-ng-click="outputs.deleteOutput(output.fragmentType, output.id, output.element.type)" data-qa="output-context-menu-{{output.id}}-delete">
                                {{"_INPUT_ACTIONS_MENU_DELETE_" | translate}}
                            </st-menu-element>
                        </st-floating-menu>
                    </span>
                </header>

                <div class="c-row o-media">
                    <div class="o-media__img">
                        <i class="c-icon c-icon--xxxlarge icon-{{output.element.type | lowercase}} o-media__img__item" alt="{{output.element.type}}"></i>
                    </div>

                    <span class="o-media__bd c-grid-item__desc">{{output.shortDescription}}</span>
                </div>

                <footer class="c-row c-row--to-bottom c-row--to-right">
                    <i class="c-icon c-icon--is-clickable c-grid-item__info-icon icon-info1" tooltip="{{output.description}}" tooltip-placement="left" tooltip-class="t-tooltip" tooltip-trigger="click" data-qa="output-tootip-{{output.id}}"></i>
                </footer>
            </li>
        </ul>
    </div>

    <div class="c-msg--noitems c-msg--giant" data-ng-if="outputs.outputsData.length === 0" data-ng-click="outputs.createOutput()" data-qa="output-first-message">
        <i class="c-icon icon-marquee-plus"></i>
        <span class="c-msg__text">{{"_OUTPUT_CREATE_FIRST_ONE_" | translate}}</span>
    </div>

    <hr class="c-line-separator" />

    <footer class="c-row c-row--to-right c-row--footer">
    	<button class="c-button c-button--call-to-action-1" data-ng-click="outputs.createOutput()" data-qa="outputs-new-button">
    		<span class="icon icon-circle-plus"></span>
    		<span>{{"_INPUT_BUTTON_NEW_" | translate}}</span>
    	</button>
    </footer>
</section>
