<section>
  <div class="c-panel c-panel--fix-overflow" data-ng-if="outputs.outputsData.length > 0">
    <aside class="c-toolbar--filter c-toolbar--fixed">
      <div class="c-col c-col--9">
        <div class="c-toolbar--filter__item c-toolbar--filter__item--padding-right">
          <i class="icon icon-filter "></i>
                    <span class="c-toolbar--filter__item__label">
                        {{"_FILTER_BY_TYPE_" | translate}}
                    </span>
          <div class="c-combobox--right-margin  c-toolbar--filter__item__input">
            <select id="type" class="c-combobox c-combobox__filter c-combobox--filter" data-ng-model="outputs.filters.element.type" data-qa="output-filter-type">
              <option value="" data-qa="output-filter-type-allTypes">{{"_INPUT_FILTER_TYPE_DEFAULT_" | translate}}</option>
              <option value="{{outputType.type}}" data-ng-repeat="outputType in outputs.outputTypes" data-qa="output-filter-type-{{outputType.type | lowercase}}">
                {{outputType.type}} ({{outputType.count}})
              </option>
            </select>
          </div>
        </div>
        <div class="c-toolbar--filter__item">
          <i class="icon  icon-filter "></i>
                    <span class="c-toolbar--filter__item__label">
                        {{"_FILTER_BY_NAME_"| translate}}
                    </span>
          <div class="quick-search quick-search__filter">
            <input type="text" id="name" class="quick-search__input" data-ng-model="outputs.filters.name" data-qa="output-filter-name"/>
            <i class="quick-search__ico icon-search"></i>
          </div>
        </div>
      </div><!--
         --><div class="c-col c-col--3 c-form-group--to-right">
      <button class="c-button c-button--toolbar c-button--call-to-action-1  c-button--left-margin" data-ng-click="outputs.createOutput()"
              data-qa="output-filter-new-output">
        <span class="icon icon-circle-plus"></span>
        <span>{{"_OUTPUT_WINDOW_NEW_TITLE_" | translate |uppercase}}</span>
      </button>
    </div>
    </aside>

    <!-- Error message -->
    <c-animated-msg data-msg="outputs.errorMessage" data-on-click-close-msg="outputs.deleteErrorMessage()" data-qa="manage-policies-error-msg"
                    data-timeout=10000>
    </c-animated-msg>

    <ul br-ba-container="c-grid">
      <li class="c-grid-item" data-ng-repeat="output in filteredoutputsData  = (outputs.outputsData |
			 filter:{'element':{'type':outputs.filters.element.type || undefined}}:true | filter:{ 'name': outputs.filters.name})" br-ba-item="{index:$index, total:filteredoutputsData.length}">
        <header class="title">
          <span class="name">{{output.name}}</span>

                    <span class="icon-actions menu_actions" data-ng-click="$root.stToggleFloatingMenu[output.id]()" data-qa="output-context-menu-{{output.id}}">
                        <st-floating-menu toggle-id="{{output.id}}" align="right">
                          <st-menu-element class-icon="icon-edit2" data-ng-click="outputs.editOutput(output)" data-qa="output-context-menu-{{output.id}}-edit">
                            {{"_INPUT_ACTIONS_MENU_EDIT_" | translate}}
                          </st-menu-element>
                          <st-menu-element class-icon="icon-copy" data-ng-click="outputs.duplicateOutput(output.id)" data-qa="output-context-menu-{{output.id}}-duplicate">
                            {{"_INPUT_ACTIONS_MENU_DUPLICATE_" | translate}}
                          </st-menu-element>
                          <st-menu-element class-icon="icon-cross" data-ng-click="outputs.deleteOutput(output.fragmentType, output.id, output.element.type)" data-qa="output-context-menu-{{output.id}}-delete">
                            {{"_INPUT_ACTIONS_MENU_DELETE_" | translate}}
                          </st-menu-element>
                        </st-floating-menu>
                    </span>
        </header>

        <div class="c-row o-media">
          <div class="o-media__img">
            <i class="c-icon c-icon--xxxlarge {{outputs.getFragmentIcon(output.element.type)}} o-media__img__item" alt="{{output.element.type}}"></i>
          </div>

          <span class="o-media__bd c-grid-item__desc">{{output.shortDescription}}</span>
        </div>

        <footer class="c-row c-row--to-bottom c-row--to-right">
          <i class="c-icon c-icon--is-clickable c-grid-item__info-icon icon-info1" uib-popover="{{output.description}}" popover-placement="left" popover-class="popover--left" popover-trigger="click" data-qa="output-tootip-{{output.id}}"></i>
        </footer>
      </li>
    </ul>
  </div>
  <div class="c-msg--noitems c-msg--giant" data-ng-if="outputs.outputsData.length === 0" data-ng-click="outputs.createOutput()" data-qa="output-first-message">
    <i class="c-icon icon-marquee-plus"></i>
    <span class="c-msg__text">{{"_OUTPUT_CREATE_FIRST_ONE_" | translate}}</span>
  </div>
