<div>
	<!-- HEADER -->
	<st-heading title="{{'_POLICY_HEADER_TITLE_MAIN_' | translate}}" subtitle="{{'_INPUT_HEADER_TITLE_SECONDARY' | translate}}:"></st-heading>

	<div class="c-panel">
		<table>
			<thead>
			  	<tr>
			    	<th>{{"_POLICY_TABLE_NAME_" | translate}}</th>
      				<th>{{"_POLICY_TABLE_DESCRIPTION_" | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="policy in policies.policiesData.list">
					<td>{{policy.name}}</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>
