<section>
	<header>
		<st-heading title="{{'_POLICY_HEADER_TITLE_MAIN_' | translate}}" subtitle="{{'_INPUT_HEADER_TITLE_SECONDARY' | translate}}:"></st-heading>
	</header>

	<div class="c-panel">
		<table class="c-table c-table--full-width">
			<thead class="c-table__thead">
			  	<tr>
			    	<th class="c-table__td">{{"_NAME_" | translate}}</th>
      				<th class="c-table__td">{{"_DESCRIPTION_" | translate}}</th>
      				<th class="c-table__td"></th>
      				<th class="c-table__td"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="c-table__tr" data-ng-repeat="policy in policies.policiesData.list">
					<td class="c-table__td c-table__td--no-wrap">{{policy.name}}</td>
					<td class="c-table__td">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in velit nulla. Sed molestie gravida gravida. Mauris egestas diam nec sapien tincidunt lacinia. Praesent bibendum condimentum eros eget consequat.</td>
					<td class="c-table__td c-table__td--no-wrap"><a class="c-icon-text c-icon-text--is-clickable c-icon-text--call-to-action"><i class="c-icon c-icon-text__icon icon-view"></i><span class="c-icon-text__text c-icon-text__text--is-link">{{"_VIEW_MORE_" | translate}}</span></a></td>
					<td class="c-table__td c-table__td--no-wrap">
						<i class="c-icon c-icon--is-clickable c-icon--call-to-action icon-actions" data-ng-click="$root.stToggleFloatingMenu[policy.id]()">
							<st-floating-menu toggle-id="1" align="right">
								<st-menu-element class-icon="icon-edit" data-ng-click="">
									{{"_INPUT_ACTIONS_MENU_EDIT_" | translate}}
								</st-menu-element>
								<st-menu-element class-icon="icon-copy" data-ng-click="">
									{{"_INPUT_ACTIONS_MENU_DUPLICATE_" | translate}}
								</st-menu-element>
								<st-menu-element class-icon="icon-cross" route="settings">
									{{"_INPUT_ACTIONS_MENU_DELETE_" | translate}}
								</st-menu-element>
							</st-floating-menu>
						</i>
					</td>
				</tr>
			</tbody>
		</table>
    </div>

    <hr class="c-line-separator" />

    <footer class="c-row c-row--to-right c-row--footer">
    	<button class="c-button c-button--call-to-action-1" data-ng-click="policies.createPolicy()">
    		<span class="icon icon-circle-plus"></span>
    		<span>{{"_INPUT_BUTTON_NEW_" | translate}}</span>
    	</button>
    </footer>
</section>
