@import '~@stratio/egeo/theme/constants';

:host {
  padding-bottom: 30px;
  font-size: $egeo-font-size-xxsmall;
}

.marker {
  display: inline-block;
  width: 15px;
  font-size: 13px;
}

.child-schema{
  padding-left: 20px;
}

.node-name.collapsable{
  cursor: pointer;
}
.node-name {
   white-space: nowrap;
   span {
      margin-right: 10px;
      white-space: nowrap;
   }
}
