<aside>
  <uib-accordion class="c-accordion c-accordion{{additionalModifierClass}}">
    <div class="c-accordion-item c-accordion-item{{additionalModifierClass}}">
      <uib-accordion-group is-open="accordionStatus[$index]"
                       data-ng-repeat="item in items track by generateIndex()">
        <uib-accordion-heading>
          <span class="c-accordion-header__step-number">{{$index + 1}}</span>
          <i data-ng-if="item.type"
             class="c-accordion-header__type c-icon icon-{{item[itemAttributeInHeader] | lowercase}}"></i>
          <span class="c-accordion-header__title">{{item[itemAttributeInHeader]}}</span>
          <i class="c-accordion-header__open-mark c-icon c-icon--to-right icon-arrow2_right"
             data-qa="{{itemQaTag}}-arrow-{{$index + 1}}"></i>
        </uib-accordion-heading>
        <ng-include src="itemTemplate" data-qa="{{itemQaTag}}-{{$index}}" ng-if="accordionStatus[$index]"></ng-include>
      </uib-accordion-group>
      <uib-accordion-group is-open=accordionStatus[accordionStatus.length-1] data-ng-if="showNewItemPanel"
                       class="c-accordion-item c-accordion-item--new panel-open c-accordion-item--new{{additionalModifierClass}}">
        <uib-accordion-heading class="c-accordion-header">
          <span class="c-accordion-header__step-number">{{(items.length + 1) }}</span>
          <i class="c-accordion-header__type c-icon"></i>
          <p class="c-accordion-header__title">{{newItemHeader | translate}}<span
            class="c-text--margin-left c-text--bold">[{{"_NOT_SAVED_" | translate}}]</span></p>

          <i class="c-accordion-header__open-mark c-icon c-icon--to-right icon-arrow2_right"
             data-qa="{{itemQaTag}}-arrow-{{(items.length + 1) }}"></i>
        </uib-accordion-heading>

        <ng-include
          src="itemTemplate" data-ng-init="editionMode = true"
          data-qa="policy-item-new">
        </ng-include>

      </uib-accordion-group>
    </div>

  </uib-accordion>
</aside>
