<form name="form" class="c-form c-panel" novalidate>
  <div class="c-form-group">
    <div class="c-col c-col--12">
      <form-field-input
        class="c-col c-col--{{width}} c-form-group--inline"
        id="addElementInput"
        data-st-name="input-form"
        type={{type}}
        data-model="inputToAdd"
        data-placeHolder={{placeholder}}
        data-disabled="disabled"
        data-ng-keypress="addInput($event, form)"
        data-qa="{{qa}}"
        data-label="{{label}}"
        data-submitted-form="submittedForm">
      </form-field-input>
      <div class="add-element-icon">
        <i class="{{iconClass}}" data-ng-click="addInput($event)" data-qa="{{qa}}-add-button"></i>
      </div>
    </div>
    <div data-ng-if="model.length == 0 && submittedForm && required" class="c-col c-col--3 angular-forms__error">
        <i class="icon icon-circle-cross"></i>
        <span data-qa="{{qa}}-error-length">{{"_ADD_ELEMENT_ERROR_" | translate}}</span>
    </div>
    <div data-ng-if="error && model.length > 0 && submittedForm" class="c-col c-col--3  angular-forms__error">
        <i class="c-icon icon-circle-cross"></i>
        <span data-qa="{{qa}}-error-duplicated">{{"_ERROR_ELEMENT_DUPLICATED_" | translate}}</span>
    </div>
    <div data-ng-if="errorLimit && model.length > 0 && submittedForm" class="c-col c-col--3  angular-forms__error">
        <i class="c-icon icon-circle-cross"></i>
        <span data-qa="{{qa}}-error-duplicated">{{"_ERROR_ELEMENT_LIMIT_" | translate}}{{limit}}</span>
    </div>
  </div>
</form>
