<span class="c-icon-label {{wrapperControlClass}}">
    <label class="c-label c-icon-label__text c-icon-label__full-width">
        {{text}}
        <span data-ng-if="required === false" class="c-label__optional">
            {{'_OPTIONAL_' | translate}}
        </span>
<!--
        <i data-ng-if="help" class="c-icon icon-help2 c-icon--is-clickable c-icon--in-label" uib-popover='{{help}}' popover-class="uib-popover--bottom" popover-trigger="click" popover-placement="bottom" data-qa="{{helpQa}}"></i>
-->
    </label>
    <span class="c-label c-icon-label__help c-icon-label__full-width">
    	{{help}}
   	</span>
</span>
