<div class="{{formControlClass}}">
  <span class="c-icon-label c-col c-col--12" data-ng-if="!editionMode">
    <label class="c-icon-label__text c-label">
      {{label}}
    </label>
  </span>
  <div data-ng-if="inputs.length > 0" class="c-form-group c-form-group--full-width">
    <span data-ng-repeat="input in inputs track by $index" data-ng-model="input" data-ng-value="(input.name)"
          class="c-panel--x-small" type="{{inputType}}">
    	<div class="c-col c-col--12 c-panel--x-small__container c-panel--x-small__container__title">
        <i class="c-panel__close-icon c-icon--to-right c-icon c-icon--is-clickable icon-cross"
           data-ng-click="deleteInput($index)" data-qa="{{qa}}-{{$index}}-remove" data-ng-if="editionMode"></i>
        <label class="c-label" data-qa="{{qa}}-{{$index}}">
          {{input.name}}
        </label>
      </div>
      <div class="c-col c-col--12 c-panel--x-small__container">
      <form-field-select select-class="c-combobox--full-width"
          data-form="vm.form"
          data-model="input.type"
          data-options="outputTypes"
          data-field="label"
          data-defaultvalue="defaultType"
          data-required="true"
          data-hide-message="true"
          data-disabled="disabledType">
        </form-field-select>

      </div>
    </span>
  </div>
</div>
