<aside>
  <div class="c-custom-panel">
    <div class="panel ng-isolate-scope panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span>
        <p class="c-accordion-header__title ng-binding" data-ng-if="createMode">
            New raw data definition
            <span class="c-text--margin-left c-text--bold">[not saved]</span>
          </p>
          <p class="c-accordion-head" data-ng-if="!createMode">
            <i class="c-accordion-header__type c-icon icon-ingestion"></i>
            <span class="c-accordion-header__title ng-binding ng-scope">Ingestion</span>
          </p>
          </span>
        </h4>
      </div>
      <div class="panel-body" data-ng-transclude>

      </div>
    </div>
  </div>
</aside>
