<aside class="c-panel">
  <div class="c-col c-col--12 c-col--to-right c-col--vertical-centered c-floating-message" data-ng-if="showHelp">
    <i class="c-floating-message__icon c-icon icon-info1"></i>
    <span class="c-floating-message__text" data-ng-if=showCurrentStepMessage()> {{steps[current].currentMessage | translate}}</span>
    <span class="c-floating-message__text" data-ng-if="nextStepAvailable || visited[current+1]"> {{steps[current+1].availableMessage | translate}}</span>
    <i class="c-icon--to-right c-icon c-icon--is-clickable icon-cross c-floating-message__close-button"
       data-ng-click="hideHelp()" data-qa="policy-navigation-help-remove"></i>
  </div>
  <ul class="c-step-progress-bar">
    <section data-ng-repeat="step in structuredSteps" class="c-col c-col--{{12 / structuredSteps.length | truncatenum }}">

      <c-step data-ng-if="!thereAreAlternativeSteps(step)" data-ng-click="chooseStep($index, step.order)"
              class="c-col c-col--12"
              name="step.name" icon="step.icon" index="($index)" order="(step.order)" current-step="(current)"
              data-has-been-visited="(visited[$index])"
              is-available="(nextStepAvailable)">
      </c-step>
      <div data-ng-if="thereAreAlternativeSteps(step)" class="c-col c-col--12 c-step-progress-bar__step-column"
      data-ng-class ="{'c-step-progress-bar__step-column--enabled': nextStepAvailable}">
        <c-step data-ng-repeat="subStep in step.subSteps" data-ng-click="chooseStep($parent.$index + $index, subStep.order)"
                order="(subStep.order)"  index="($index + $parent.$index)"
                class="c-col c-col--12 c-step-progress-bar__alternative-step" name="subStep.name" icon="subStep.icon"
                current-step="(current)" data-has-been-visited="(visited[$index + $parent.$index])"
                data-is-alternative = "true"
                is-available="(nextStepAvailable)">
        </c-step>
      </div>

    </section>
  </ul>
</aside>
