<div class="c-titlebar">
	<span class="c-titlebar__title">{{"_INPUT_WINDOW_DUPLICATE_TITLE_" | translate}}</span>
	<i class="c-icon c-icon--is-clickable c-icon--to-right icon-circle-cross" ng-click="vm.cancel()"></i>
</div>

<div class="c-modal-inner">
	<form class="c-form" name="vm.form" novalidate>
		<div class="c-row">
			<form-field-input id="dataSourceName" data-model="vm.inputData.name" data-label="{{'_INPUT_WINDOW_FORM_NAME_' | translate}}:" data-form="vm.form" data-st-name="dataSourceNameForm" data-required="true" data-autofocus="true"></form-field-input>
		</div>

		<div class="c-row c-msg c-msg--small c-msg--error" data-ng-if="vm.error">
			<i class="c-icon icon-circle-cross"></i>
			<span translate="{{vm.errorText}}"></span>
		</div>

		<div class="c-row c-row--separated">
			<div class="c-col c-col--6 c-col--vertical-centered">
				<span class="c-info-text c-info-text--is-clickable"><i class="c-icon c-info-text__icon icon-info1"></i><span class="c-info-text__text c-info-text__text--is-link">{{"_HELP_" | translate}}</span></span>
			</div><div class="c-col c-col--6 c-col--vertical-centered c-col--to-right">
				<button class="c-button c-button--call-to-action-2" data-ng-click="vm.cancel()">
					<span class="icon-circle-cross"></span>
					<span>{{"_INPUT_BUTTON_CANCEL_" | translate}}</span>
				</button>

				<button class="c-button c-button--call-to-action-1" data-ng-click="vm.ok()">
					<span class="icon-circle-check"></span>
					<span>{{"_INPUT_BUTTON_DUPLICATE_" | translate}}</span>
				</button>
			</div>
		</div>
	</form>
</div>
