<aside data-qa="duplicate-modal">
	<header class="c-titlebar">
		<span class="c-titlebar__title" translate="{{vm.modalTexts.title}}"></span>
		<i class="c-icon c-icon--is-clickable c-icon--to-right icon-circle-cross" data-ng-click="vm.cancel()" data-qa="modal-cancel-icon"></i>
	</header>

	<div class="c-modal-inner">
		<form class="c-form" name="vm.form" novalidate>
			<div class="c-form-group">
				<form-field-input id="dataSourceName" data-model="vm.fragmentData.name" data-label="{{'_INPUT_WINDOW_FORM_NAME_' | translate}}:" data-form="vm.form" data-st-name="dataSourceNameForm" data-required="true" data-pattern="'\\S+'" data-autofocus="true" data-placeholder='{{"_FRAGMENT_WINDOW_PLACEHOLDER_NAME_" | translate}}' data-qa="duplicate-modal-name" data-help='{{"_NAME_HELP_" | translate}}' data-help-qa="duplicate-modal-name-help"></form-field-input>
			</div>

			<div class="c-form-group c-msg c-msg--small c-msg--error" data-ng-if="vm.error" data-qa="error-msg">
				<i class="c-icon icon-circle-cross"></i>
				<span translate="{{vm.errorText}}"></span>
			</div>

			<div class="c-row c-row--separated">
				<div class="c-col c-col--12 c-col--vertical-centered c-col--to-right">
					<button type="button" class="c-button c-button--call-to-action-2" data-ng-click="vm.cancel()" data-qa="modal-cancel-button">
						<span class="icon-circle-cross"></span>
						<span>{{"_INPUT_BUTTON_CANCEL_" | translate}}</span>
					</button>

					<button type="submit" class="c-button c-button--call-to-action-1" data-ng-click="vm.ok()" data-qa="modal-ok-button">
						<span class="icon-circle-check"></span>
						<span>{{"_INPUT_BUTTON_DUPLICATE_" | translate}}</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</aside>
