@import '~@stratio/egeo/theme/constants';


:host {
   display: inline-block;
   font-family: $egeo-nunito-sans;
}

.action-button {
   position: relative;
   display: block;
}

.action-button .action-link {
   cursor: pointer;
   display: block;
   position: relative;

   & /deep/{
    color: #000;
    font-weight: bold;
   }
}

.menu-options {
  position: absolute;
    white-space: nowrap;
    z-index: 90;
    background: white;
    top: 100%;
    margin-right: -20px;
    right: 0;
    margin-top: -2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: none;
    overflow: hidden;
   &.active {
      display:block;
   }
}

.group {
  border-top: 1px solid $neutral-03;
}

.group-option {
  display: block;
  padding: 12px 18px;
  cursor: pointer;
  .icon {
    display: inline-block;
    font-size: 18px;
    color: $action-secondary-03;
    margin-right: 12px;
  }

  .option-name{
    color: $neutral-11;
    font-size: 16px;
    display: inline-block;
  }

  &:hover {
    background-color: $action-secondary-01;
  }

  &.critical-color {
    .icon, .option-name {
      color: $status-critical-hover;
    }
  }
}

