@import '~@stratio/egeo/theme/constants';
:host {
   position: relative;
   display: block;
}

.sparta-highlight-textarea {
  line-height: 19.2px;
  .CodeMirror {
    display: block;
    width: 100%;
  }

  .CodeMirror-scroll {
    padding: 10px 12px 10px 15px;
  }

  .CodeMirror-lines {
    font-size: 13px;
  }

  .st-textarea-title {
    padding: 0;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 3px;
  }

  .st-textarea {
    min-width: 100%;
    display: inline-block;
  }

  .st-textarea-error-message {
    font-size: 13px;
    display: block;
    color: #ec445c;
    margin-top: -18px;
  }

  .textarea {
    &__scroll {
      overflow-y: auto;
      overflow-x: hidden;
      border: 1px solid #b5b5b5;
      border-radius: 4px;
      margin-bottom: 20px;
    }

    &__container {
      padding-bottom: 2px;
    }

    &__handle {
      background: #f7f7f7;
      height: 12px;
      user-select: none;
      cursor: row-resize;
      border-top: 1px solid #ddd;
      overflow: hidden;
      position: relative;
      font-size: 14px;
        
    &:before {
      content: '\2261'; /* https://en.wikipedia.org/wiki/Triple_bar */
      color: #999;
      position: absolute;
      left: 50%;
      line-height: 12px;
    }
    
    &:hover {
      background: #f0f0f0;
    }
    
    &:hover:before {
      color: #000;
    }
  }
}

  .error {
    .textarea__scroll {
        border-color: #ec445c!important;
    }
  }

  .active {
    .textarea__scroll {
        border-color: $input-field-onfocus;
    }
  }

  .disabled {
    .textarea__scroll {
        border-color: #cbcbcb;
        background-color: #fafafa;
        color: #999;
    }
  }

  .text-container {
    height: auto;
    background: white;
  }



  /* Codemirror overrides */

  .disabled .CodeMirror pre,
  .disabled .CodeMirror * {
      color: #dedede!important;
  }

  .CodeMirror {
      display: block;
      width: 100%;
      box-sizing: border-box;
      height: inherit;
      cursor: text;
  }

  .CodeMirror-placeholder {
      color: #777;
      font-family: Nunito Sans;
      font-size: 15px;
      margin-top:-4px;
      margin-left:-3px;
  }

  .CodeMirror-sizer{
    min-height: 50px!important;
  }

  .CodeMirror-focused {
      .CodeMirror-cursor {
        height: 19px!important;
      }

      .CodeMirror-placeholder {
        display: none;
      }
  }

  .disabled {
      .CodeMirror-cursor {
      display: none;
      }

      .CodeMirror {
          background-color: #fafafa;
      }
  }
}