<div class="sparta-highlight-textarea">
  <label sp-label [attr.title]="contextualHelp" class="st-textarea-title" [ngClass]="{'error': showError(), 'active': focus, 'disabled': isDisabled}"
    [attr.for]="name">
  {{label}}
  </label>
  <div class="textarea-container" [ngClass]="{'error': showError(), 'disabled': isDisabled, 'active': (focus && !showError())}">
    <div class="textarea-scroll">
        <div class="text-container">
          <textarea class="st-textarea" #textarea (focus)="onFocus($event)" (focusout)="onFocusOut($event)" (blur)="onFocusOut($event)"
              [formControl]="internalControl" placeholder="{{placeholder}}" [name]="name" [cols]="cols" [rows]="rows" [wrap]="wrap"
              [attr.maxlength]="maxLength" [attr.id]="qaTag">
          </textarea>
        </div>
    </div>
    <div class="st-textarea-error-layout">
        <div *ngIf="showError()">
          <span class="st-textarea-error-message">{{errorMessage}}</span>
        </div>
    </div>
  </div>
</div>