:host {
   &.st-tooltip,
   &.st-tooltip-on {
      position: relative;

      &:before {
         content: attr(title);
      }

      &:after {
         content: " ";
      }

      &:before,
      &:after {
         pointer-events: none;
         position: absolute;
      }
   }

   &.st-tooltip {
      &:before,
      &:after {
         opacity: 0;
         visibility: hidden;
      }
   }

   &.st-tooltip:hover,
   &.st-tooltip-on {
      &:before,
      &:after {
         opacity: 1;
         visibility: visible;
      }
   }
}