$c-toolbar---background: get-color(a2) !default;
$c-toolbar---padding: 0 10px !default;
$c-toolbar--filter---padding: 10px 0;
$c-toolbar--filter---border-bottom: 1px solid getColor(n3);
$c-toolbar--filter---background-color: getColor(n0);
$c-toolbar--filter---z-index: 100;
$c-toolbar--filter__item__label---margin-left: 4px;
$c-toolbar--filter__item__label---margin-right: 12px;
$c-toolbar--filter__item__label---text-transform: capitalize;
$c-toolbar--filter__item---padding-right: 20px;
$c-toolbar--filter__item---position: relative;
$c-toolbar--filter__item---display: inline-block;
$c-toolbar--filter__item__button-icon---height: 32px;
$c-toolbar--filter__item__button-icon---width: 32px;
$c-toolbar--filter__item__button-icon---line-height: 32px;
$c-toolbar--filter__item__button-icon---vertical-align: middle;
