@mixin c-panel {
	@include c-component;
	@include container-to-right();
	@include container-to-bottom();

	position: relative;

	&--fix-overflow {
		overflow: auto;
	}

	&--framed {
		padding: $c-panel--framed---padding;
	}
}

.c-panel {
	@include c-panel;
}
