@mixin c-panel {
	@include c-component;
	@include container-to-right();
	@include container-to-bottom();

	position: relative;

	&--fix-overflow {
		overflow: auto;
	}

	&--framed {
		padding: $c-panel--framed---padding;
	}

  &--x-small{
    background: $c-panel--x-small---background;
    border: $c-panel--x-small---border;
    display: inline-block;
    padding: $c-panel--x-small---padding;
    border-radius: $c-panel--x-small---border-radius;
    margin:$c-panel--x-small---margin;
    &__title{
      text-align: center;
    }
  }
}

.c-panel {
	@include c-panel;
}
