$c-panel--framed---padding: 15px !default;
$c-panel--x-small---background: getColor(f3);
$c-panel--x-small---border: 1px solid getColor(c1b);
$c-panel--x-small---padding: 4px;
$c-panel--x-small---border-radius: 4px;
$c-panel--x-small---margin: 6px;
