@import '~@stratio/egeo-ui-base/utils/colors';
@import '~@stratio/egeo-ui-base/utils/grid';
.main {
   min-height: 100vh;
   width: 100%;
   padding-bottom: 30px;
   .content {
      padding-top: 70px;
   }
}
