$c-tag---background: black !default;
$c-tag---color: white !default;
$c-tag---padding: 5px 10px !default;
$c-tag---margin: 0 0 0 5px !default;

$c-tag__close-icon---color: black !default;
$c-tag__close-icon---font-size: 1rem !default;
$c-tag__close-icon---margin: 0 !default;
