.confirmation {
   display: block;
}

.remove-data {
   margin: 15px 0;
   display: block;
}

.execute-info {
   font-style: italic;
   font-size: 15px;
}

.action-buttons{
    margin-top:100px;
    overflow: hidden;
    .button {
        padding: .925rem 1.875rem;
        min-width:9rem;
    }
    .save-button {
        float:right;
    }
}