.confirmation {
   display: block;
}

.remove-data {
   margin: 15px 0;
   display: block;
}

.execute-info {
   font-style: italic;
   font-size: 15px;
}

.create-button, .cancel-button{
    float:right;
    margin-top:10px;
    margin-left:10px;
}