<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<div class="workflow-detail">
   <!--<st-horizontal-tabs [options]="options" qaTag="workflow-detail-tabs"></st-horizontal-tabs>-->
   <div class="not-selected" *ngIf="!workflowData || !workflowData.name">
      <img src="assets/images/workflow-detail.png" class="workflow-detail-image" />
      <div class="workflow-info">{{'DASHBOARD.WORKFLOW_INFO' | translate}}</div>
   </div>
   <div class="selected" *ngIf="workflowData && workflowData.name">
      <span class="status" [ngClass]="workflowData.filterStatus.toLowerCase()">
        {{('DASHBOARD.' + (workflowData.filterStatus | uppercase)) | translate}}
        <span class="status-advaced" *ngIf="workflowData.status.status !== (('DASHBOARD.' + (workflowData.filterStatus | uppercase)) | translate)">
           / {{workflowData.status.status}}</span>
      </span>
      <h3 class="egeo-title-medium">{{workflowData.name}}</h3>
      <span *ngIf="workflowData.lastUpdate && workflowData.lastUpdate.length" class="date">Last update: {{workflowData.lastUpdate}}</span>
      <span class="description">{{workflowData.description}}</span>
      <div *ngIf="workflowData.tagsAux && workflowData.tagsAux.length">
         <span class="egeo-title-mini title2">{{'DASHBOARD.TAGS' | translate}}</span>
         <span class="values">{{workflowData.tagsAux}}</span>
      </div>
      <div *ngIf="workflowData.status && workflowData.status.statusInfo && workflowData.status.statusInfo.length">
         <span class="egeo-title-mini title2">{{'DASHBOARD.STATUS_INFORMATION' | translate}}</span>
         <span class="values">{{workflowData.status.statusInfo}}</span>
      </div>

      <div *ngIf="execution && execution.genericDataExecution && execution.genericDataExecution.executionMode">
         <span class="egeo-title-mini title2">Execution mode</span>
         <span class="">
           {{execution.genericDataExecution.executionMode}}
           <a class="execution-info-link" (click)="showWorkflowExecutionInfo.emit({id:workflowData.id, name:workflowData.name})" 
        *ngIf="execution && execution.genericDataExecution && execution.genericDataExecution.executionMode &&  execution.genericDataExecution.executionMode === 'marathon'">Show execution info</a>

          </span>
      </div>
      <div class="last-error" *ngIf="lastError">
         <span class="egeo-title-mini title2">{{'DASHBOARD.LAST_ERROR' | translate}}</span>
         <div class="errors">
            <div>
               <span class="phase">{{lastError.phase}}</span>
               <span class="val">{{workflowData.lastErrorDate}}</span>
            </div>
            <span class="message">{{lastError.message}}</span>
            <span class="original-msg">{{lastError.originalMsg}}</span>
         </div>
      </div>
   </div>
</div>
