@import '~@stratio/egeo/theme/constants';
:host {
   display: block;
}

.not-selected {
   text-align: center;
   min-height: 230px;
   .workflow-detail-image {
      width: 140px;
   }

   .workflow-info {
    font-size: $egeo-font-size-xxsmall;
    color: $neutral-10;
  }
}

.description {
   font-size: $egeo-font-size-xsmall;
   color:$neutral-10;
   margin-bottom: 15px;
   display: block;
   padding-top: 10px;
}

.date {
  font-size: $egeo-font-size-xxsmall;
}

.title {
   display: block;
   margin-top: 10px;
}

.title2 {
   display: block;
   margin-top: 10px;
}

.values {
   display: block;
   font-size: $egeo-font-size-xxsmall;
}

.status {
   font-weight: 600;
   color: #3c3c3c;
   font-size: $egeo-font-size-xsmall;
   background: rgba(205, 214, 223, 0.3);
   padding: 3px 10px;
   display: inline-block;
   margin-bottom: 5px;
   &.started {
      background: rgba(12, 170, 112, 0.15);
      color: #0baa70;
      padding: 3px 10px;
   }
   &.failed {
      color: $status-critical-default;
      padding: 3px 10px;
      background: rgba(170, 12, 112, 0.15);
   }
}

.status-advaced {
  font-weight: 400;
}

.execution-info-link {
   font-family: $egeo-nunito-sans-semiBold;
   cursor: pointer;
   color: $action-primary-default;
   display: block;
}

.errors {
   color: #444;
   font-size: 14px;

   .icon {
      font-size: 13px;
   }
   .message {
      display: block; 
      font-family: $egeo-nunito-sans-semiBold;
      color: $status-critical-hover;

   }
   .original-msg {
      word-break: break-word;
      color: $status-critical-hover;
   }
}

.phase {
  font-family: $egeo-nunito-sans-bold;
  display: block;
}