<div class="workflow-detail">
   <!--<st-horizontal-tabs [options]="options" qaTag="workflow-detail-tabs"></st-horizontal-tabs>-->
   <div class="not-selected" *ngIf="!workflowData || !workflowData.name">
      <img src="assets/images/workflow-detail.png" class="workflow-detail-image" />
      <div class="workflow-info">{{'DASHBOARD.WORKFLOW_INFO' | translate}}</div>
   </div>
   <div class="selected" *ngIf="workflowData && workflowData.name">
      <span class="status" [ngClass]="workflowData.filterStatus.toLowerCase()">{{('DASHBOARD.' + (workflowData.filterStatus | uppercase)) | translate}}</span>
      <h3 class="egeo-title-giant">{{workflowData.name}}</h3>
      <span class="description">{{workflowData.description}}</span>
      <div>
        <span class="title2">{{'DASHBOARD.COMPLETE_STATUS' | translate}}</span>
        <span class="values">{{workflowData.status.status}}</span>
      </div>
      <div *ngIf="workflowData.tagsAux && workflowData.tagsAux.length">
         <span class="title2">{{'DASHBOARD.TAGS' | translate}}</span>
         <span class="values">{{workflowData.tagsAux}}</span>
      </div>
      <div *ngIf="workflowData.status && workflowData.status.statusInfo && workflowData.status.statusInfo.length">
         <span class="title2">{{'DASHBOARD.STATUS_INFORMATION' | translate}}</span>
         <span class="values">{{workflowData.status.statusInfo}}</span>
      </div>

      <div *ngIf="workflowData.status && workflowData.status.lastExecutionMode">
         <span class="title2">Execution mode</span>
         <span class="">{{workflowData.status.lastExecutionMode}}</span>
      </div>

      <div *ngIf="workflowData.lastUpdate">
         <span class="title2">{{'DASHBOARD.LAST_STATUS_UPDATE' | translate}}</span>
         <span class="values">{{workflowData.lastUpdate}}</span>
      </div>
      <a class="execution-info-link" (click)="showWorkflowExecutionInfo.emit({id:workflowData.id, name:workflowData.name})" *ngIf="workflowData.status && workflowData.status.lastExecutionMode && workflowData.status.lastExecutionMode === 'marathon'">Show execution info</a>

      <div class="last-error" *ngIf="workflowData.status.lastError">
         <span class="title2">{{'DASHBOARD.LAST_ERROR' | translate}}</span>
         <div class="errors">
            <div>
               <span class=""><!--<i class="icon icon-calendar"></i>--> Date: </span>
               <span class="val">{{workflowData.status.lastError.date | date:'yyyy-mm-dd HH:mm'}}</span>
            </div>
            <div>
               <span class=""><!--<i class="icon icon-evolution"></i>--> Phase: </span>
               <span class="val">{{workflowData.status.lastError.phase}}</span>
            </div>
            <span class="message">{{workflowData.status.lastError.message}}</span>
            <span class="original-msg">{{workflowData.status.lastError.originalMsg}}</span>
         </div>
      </div>
      <!-- <div *ngIf="inputs && inputs.length">
         <span class="title">{{'GLOBAL.INPUTS' | translate}}</span>
         <span class="values" *ngFor="let input of inputs">{{input}}</span>
      </div>
      <div *ngIf="transformations && transformations.length">
         <span class="title">{{'GLOBAL.TRANSFORMATIONS' | translate}}</span>
         <span class="values" *ngFor="let transformation of transformations">{{transformation}}</span>
      </div>
      <div *ngIf="outputs && outputs.length">
         <span class="title">{{'GLOBAL.OUTPUTS' | translate}}</span>
         <span class="values" *ngFor="let output of outputs">{{output}}</span>
      </div>-->
   </div>
</div>
