@import '~@stratio/egeo/theme/constants';

.executions-list {
    flex: 1;
}

.table-wrapper,
.empty-wrapper {
    background: $neutral-00;
    padding: 20px 30px 0px;
    box-shadow: 0 0 20px 0 rgba(30, 30, 30, 0.05);
    &.full {
        background-color: $neutral-01;
        box-shadow: none;
    }
}

.container {
    margin-top: 10px;
}

.table-title {
    font-size: $egeo-font-size-xxlarge;
    padding: 10px 0px 10px 15px;
    margin-bottom: 10px;
}

.table-container {
    display: flex;
    width: 100%;
}

empty-table-box {
    width: 100%;
}

.chart {
  margin-bottom: 30px;
}
