.st-form-field.ng-invalid:not(.ng-pristine) input,
.st-form-field.ng-invalid:not(.ng-pristine) text-area {
   border-color: #b5b5b5;
}

.st-form-field.ng-invalid:not(.ng-pristine) .st-label {
   color: #999;
}

.st-form-field {
   .error {
      &.st-label {
         color: #ec445c!important;
      }
      input,
      text-area {
         border-color: #ec445c;
      }
   }
   &.error {
      .st-label {
         color: #ec445c!important;
      }
      input,
      textarea {
         border-color: #ec445c!important;
      }
   }
}

.error .st-form-field {
   .st-label {
      color: #ec445c!important;
   }
   input,
   text-area {
      border-color: #ec445c;
   }
}

.st-form-field {
   input,
   textarea {
      &.error {
         border-color: #ec445c!important;
      }
   }
}

.st-pagination.pagination {
   justify-content: space-between;
}

.st-table-row.selected {
   font-family: Nunito Sans;
}

.sth-alerts {
   z-index: 99999;
}

//************** end custom sth-alert ****************//
.st-textarea {
   height: auto;
}

.sth-alert-box {
   background-color: #fff!important;
   box-shadow: 0 1px 4px 2px rgba(124, 124, 124, 0.15);
   border-radius: 4px;
   .sth-alert-box-close-button {
      color: #666!important;
   }
   .sth-alert-box-message-header-title {
      color: #111111!important;
      font-size: 15px!important;
   }
   .sth-alert-box-message-body {
      color: #3c3c3c!important;
      font-size: 16px;
   }
   &.sth-alert-box-success {
      border-left: 4px solid #2cce93;
      .sth-alert-box-message-header-title {
         &:before {
            content: '\e116';
            font-family: ico_stratio;
            background: #2cce93;
            color: white;
            padding: 4px;
            border-radius: 50%;
            font-size: 12px;
            margin-right: 5px;
         }
      }
   }
   &.sth-alert-box-error {
      border-left: 4px solid #ec445c;
      .sth-alert-box-message-header-title {
         &:before {
            content: '!';
            font-family: ico_stratio;
            background: #ec445c;
            color: white;
            padding: 3px 7px 3px 8px;
            border-radius: 50%;
            font-size: 14px;
            margin-right: 5px;
         }
      }
   }
}

.sth-alert-box-message-header-title {
   height: auto!important;
   min-height: 20px;
}

.sth-alert-box-message-body {
   p {
      word-break: break-word;
   }
}

//************** end custom sth-alert ****************//
.st-tooltip {
   min-height: 20px;
   line-height: 18px;
   &:before {
      min-width: 160px;
   }
}

sp-textarea {
   width: 100%;
}

// z-index lower than st-alert
.sth-header {
   z-index: 999!important;
}

.st-dropdown-menu-item {
   cursor: pointer;
}

.st-modal {
   animation: ModalAnimation 0.3s!important;
}

.sth-header-menu-option {
   cursor: pointer;
}

@keyframes ModalAnimation {
   0% {
      opacity: 0;
      transform: scale(0.8)
   }
   70% {
      opacity: 1;
      transform: scale(1.0)
   }
   100% {
      opacity: 1;
      transform: none;
   }
}

.st-tooltip {
   min-height: 18px!important;
   line-height: 18px!important;
}

workflows-manage-header .sth-breadcrumbs__item {
   text-transform: lowercase;
}


/* .sth-header-container-fix-part{
    max-width:200px!important;
}

.sth-header-user-menu-container{
    max-width:200px!important;
}
*/
