@font-face {
    font-family: 'ico_stratio';
    src:  url('fonts/ico_stratio.eot?6tcoat');
    src:  url('fonts/ico_stratio.eot?6tcoat#iefix') format('embedded-opentype'),
      url('fonts/ico_stratio.ttf?6tcoat') format('truetype'),
      url('fonts/ico_stratio.woff?6tcoat') format('woff'),
      url('fonts/ico_stratio.svg?6tcoat#ico_stratio') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ico_stratio' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-literal:before {
    content: "\e9ce";
  }
  .icon-duplicate-column:before {
    content: "\e9cd";
  }
  .icon-case:before {
    content: "\e9c9";
  }
  .icon-formatter:before {
    content: "\e9ca";
  }
  .icon-pivot:before {
    content: "\e9cb";
  }
  .icon-square-chevron-down:before {
    content: "\e9be";
  }
  .icon-square-check:before {
    content: "\e9bf";
  }
  .icon-radio-checked:before {
    content: "\e9c0";
  }
  .icon-radio:before {
    content: "\e9c1";
  }
  .icon-view:before {
    content: "\e000";
  }
  .icon-eye:before {
    content: "\e000";
  }
  .icon-eye2:before {
    content: "\e000";
  }
  .icon-eye-off:before {
    content: "\e91e";
  }
  .icon-bell:before {
    content: "\e604";
  }
  .icon-bell-off:before {
    content: "\e907";
  }
  .icon-camera:before {
    content: "\e017";
  }
  .icon-camera-off:before {
    content: "\e909";
  }
  .icon-mic-off:before {
    content: "\e929";
  }
  .icon-volume:before {
    content: "\e098";
  }
  .icon-mute:before {
    content: "\e099";
  }
  .icon-video:before {
    content: "\e018";
  }
  .icon-sun:before {
    content: "\e064";
  }
  .icon-loader:before {
    content: "\e105";
  }
  .icon-battery:before {
    content: "\e073";
  }
  .icon-transmission:before {
    content: "\e940";
  }
  .icon-signal:before {
    content: "\e011";
  }
  .icon-image:before {
    content: "\e010";
  }
  .icon-target:before {
    content: "\e012";
  }
  .icon-clock:before {
    content: "\e014";
  }
  .icon-timer:before {
    content: "\e61e";
  }
  .icon-alarm:before {
    content: "\e99b";
  }
  .icon-watch:before {
    content: "\e015";
  }
  .icon-sand-clock:before {
    content: "\e617";
  }
  .icon-calendar:before {
    content: "\e639";
  }
  .icon-calendar2:before {
    content: "\e639";
  }
  .icon-printer:before {
    content: "\e020";
  }
  .icon-air-play:before {
    content: "\e016";
  }
  .icon-monitor:before {
    content: "\e021";
  }
  .icon-desktop:before {
    content: "\e021";
  }
  .icon-laptop:before {
    content: "\e973";
  }
  .icon-book2:before {
    content: "\e030";
  }
  .icon-book1:before {
    content: "\e611";
  }
  .icon-xml:before {
    content: "\e969";
  }
  .icon-code:before {
    content: "\e949";
  }
  .icon-json:before {
    content: "\e96a";
  }
  .icon-jsonPath:before {
    content: "\e9b1";
  }
  .icon-json-path:before {
    content: "\e9b1";
  }
  .icon-solid-folder:before {
    content: "\e925";
  }
  .icon-folder:before {
    content: "\e059";
  }
  .icon-move-to-folder:before {
    content: "\e9b0";
  }
  .icon-file:before {
    content: "\e124";
  }
  .icon-structured-data:before {
    content: "\e9c3";
  }
  .icon-filesystem:before {
    content: "\e95e";
  }
  .icon-csv:before {
    content: "\e9af";
  }
  .icon-debug-data:before {
    content: "\e9bb";
  }
  .icon-view-debug:before {
    content: "\e9bb";
  }
  .icon-file-debug:before {
    content: "\e9bb";
  }
  .icon-csv2:before {
    content: "\e647";
  }
  .icon-file-dictionary:before {
    content: "\e9cc";
  }
  .icon-print:before {
    content: "\e64a";
  }
  .icon-file-add:before {
    content: "\e125";
  }
  .icon-file-subtract:before {
    content: "\e126";
  }
  .icon-stack:before {
    content: "\e032";
  }
  .icon-stack-2:before {
    content: "\e033";
  }
  .icon-copy:before {
    content: "\e910";
  }
  .icon-drop-duplicates:before {
    content: "\e908";
  }
  .icon-union:before {
    content: "\e9b4";
  }
  .icon-join:before {
    content: "\e9b4";
  }
  .icon-intersection:before {
    content: "\e9ae";
  }
  .icon-copy2:before {
    content: "\e61c";
  }
  .icon-paper:before {
    content: "\e034";
  }
  .icon-paper-stack:before {
    content: "\e035";
  }
  .icon-clipboard:before {
    content: "\e013";
  }
  .icon-report:before {
    content: "\e618";
  }
  .icon-policy2:before {
    content: "\e961";
  }
  .icon-policy-2:before {
    content: "\e961";
  }
  .icon-scissors:before {
    content: "\e9c7";
  }
  .icon-edit:before {
    content: "\e63c";
  }
  .icon-edit-2:before {
    content: "\e91c";
  }
  .icon-edit-3:before {
    content: "\e91d";
  }
  .icon-search:before {
    content: "\e036";
  }
  .icon-zoom-in:before {
    content: "\e037";
  }
  .icon-zoom-out:before {
    content: "\e038";
  }
  .icon-circle-plus:before {
    content: "\e040";
  }
  .icon-circle-minus:before {
    content: "\e041";
  }
  .icon-circle-check2:before {
    content: "\e042";
  }
  .icon-circle-check-2:before {
    content: "\e042";
  }
  .icon-circle-check:before {
    content: "\e048";
  }
  .icon-circle-cross:before {
    content: "\e043";
  }
  .icon-check-circle:before {
    content: "\e90a";
  }
  .icon-check-square:before {
    content: "\e90b";
  }
  .icon-marquee:before {
    content: "\e082";
  }
  .icon-marquee-plus:before {
    content: "\e083";
  }
  .icon-marquee-minus:before {
    content: "\e084";
  }
  .icon-checkbox:before {
    content: "\e9a8";
  }
  .icon-square-plus:before {
    content: "\e044";
  }
  .icon-square-minus:before {
    content: "\e045";
  }
  .icon-square-cross:before {
    content: "\e047";
  }
  .icon-check2:before {
    content: "\e64c";
  }
  .icon-check:before {
    content: "\e116";
  }
  .icon-cross:before {
    content: "\e117";
  }
  .icon-plus:before {
    content: "\e114";
  }
  .icon-minus:before {
    content: "\e115";
  }
  .icon-percent:before {
    content: "\e92b";
  }
  .icon-init-nulls:before {
    content: "\e919";
  }
  .icon-clear-nulls:before {
    content: "\e922";
  }
  .icon-case-letter:before {
    content: "\e9c4";
  }
  .icon-if:before {
    content: "\e9c5";
  }
  .icon-comma-delimiter:before {
    content: "\e9c6";
  }
  .icon-sql-builder:before {
    content: "\e932";
  }
  .icon-inner-join:before {
    content: "\e935";
  }
  .icon-left-join:before {
    content: "\e93f";
  }
  .icon-left-only-join:before {
    content: "\e965";
  }
  .icon-right-join:before {
    content: "\e991";
  }
  .icon-right-only-join:before {
    content: "\e9b8";
  }
  .icon-full-join:before {
    content: "\e9b9";
  }
  .icon-rewind:before {
    content: "\e92f";
  }
  .icon-pause:before {
    content: "\e053";
  }
  .icon-fast-forward:before {
    content: "\e91f";
  }
  .icon-record:before {
    content: "\e049";
  }
  .icon-skip-back:before {
    content: "\e050";
  }
  .icon-rewind-2:before {
    content: "\e051";
  }
  .icon-play:before {
    content: "\e052";
  }
  .icon-fast-forward-2:before {
    content: "\e055";
  }
  .icon-skip-forward:before {
    content: "\e056";
  }
  .icon-stop:before {
    content: "\e054";
  }
  .icon-decision:before {
    content: "\e9bc";
  }
  .icon-cloud:before {
    content: "\e065";
  }
  .icon-cloud-updown:before {
    content: "\e97e";
  }
  .icon-cloud-upload:before {
    content: "\e066";
  }
  .icon-cloud-download:before {
    content: "\e067";
  }
  .icon-upload:before {
    content: "\e068";
  }
  .icon-download:before {
    content: "\e069";
  }
  .icon-export:before {
    content: "\e128";
  }
  .icon-import:before {
    content: "\e61f";
  }
  .icon-persist:before {
    content: "\e9b2";
  }
  .icon-install:before {
    content: "\e972";
  }
  .icon-inbox-2:before {
    content: "\e122";
  }
  .icon-inbox2:before {
    content: "\e122";
  }
  .icon-outbox:before {
    content: "\e123";
  }
  .icon-exit:before {
    content: "\e962";
  }
  .icon-logout:before {
    content: "\e62e";
  }
  .icon-login:before {
    content: "\e630";
  }
  .icon-esc:before {
    content: "\e089";
  }
  .icon-exit2:before {
    content: "\e95a";
  }
  .icon-exit-2:before {
    content: "\e95a";
  }
  .icon-switch:before {
    content: "\e994";
  }
  .icon-position:before {
    content: "\e61b";
  }
  .icon-map:before {
    content: "\e072";
  }
  .icon-layout:before {
    content: "\e004";
  }
  .icon-content-right:before {
    content: "\e100";
  }
  .icon-content-left:before {
    content: "\e101";
  }
  .icon-grid:before {
    content: "\e102";
  }
  .icon-grid4:before {
    content: "\e103";
  }
  .icon-grid-2:before {
    content: "\e103";
  }
  .icon-table-view:before {
    content: "\e9c2";
  }
  .icon-columns:before {
    content: "\e104";
  }
  .icon-rename-column:before {
    content: "\e923";
  }
  .icon-trim:before {
    content: "\e9c8";
  }
  .icon-ban:before {
    content: "\e107";
  }
  .icon-forbidden:before {
    content: "\e107";
  }
  .icon-delete:before {
    content: "\e119";
  }
  .icon-trash:before {
    content: "\e945";
  }
  .icon-share:before {
    content: "\e081";
  }
  .icon-plane:before {
    content: "\e609";
  }
  .icon-location:before {
    content: "\e070";
  }
  .icon-box2:before {
    content: "\e995";
  }
  .icon-box-2:before {
    content: "\e995";
  }
  .icon-inbox:before {
    content: "\e121";
  }
  .icon-archive:before {
    content: "\e121";
  }
  .icon-mail:before {
    content: "\e002";
  }
  .icon-paper-clip:before {
    content: "\e001";
  }
  .icon-link-2:before {
    content: "\e924";
  }
  .icon-link:before {
    content: "\e005";
  }
  .icon-anchor:before {
    content: "\e077";
  }
  .icon-bold:before {
    content: "\e652";
  }
  .icon-list:before {
    content: "\e629";
  }
  .icon-toggle:before {
    content: "\e003";
  }
  .icon-ribbon:before {
    content: "\e009";
  }
  .icon-settings:before {
    content: "\e60f";
  }
  .icon-cog:before {
    content: "\e023";
  }
  .icon-cogs:before {
    content: "\e943";
  }
  .icon-settings2:before {
    content: "\e619";
  }
  .icon-settings-2:before {
    content: "\e619";
  }
  .icon-tool:before {
    content: "\e60c";
  }
  .icon-rocket:before {
    content: "\e610";
  }
  .icon-layers:before {
    content: "\e031";
  }
  .icon-pin:before {
    content: "\e612";
  }
  .icon-alert:before {
    content: "\e613";
  }
  .icon-circle-alert:before {
    content: "\e9ba";
  }
  .icon-info2:before {
    content: "\e614";
  }
  .icon-info-2:before {
    content: "\e614";
  }
  .icon-info3:before {
    content: "\e606";
  }
  .icon-info-3:before {
    content: "\e606";
  }
  .icon-info1:before {
    content: "\e615";
  }
  .icon-info:before {
    content: "\e615";
  }
  .icon-help2:before {
    content: "\e638";
  }
  .icon-help-2:before {
    content: "\e638";
  }
  .icon-help1:before {
    content: "\e127";
  }
  .icon-help:before {
    content: "\e127";
  }
  .icon-bulb:before {
    content: "\e971";
  }
  .icon-filter:before {
    content: "\e616";
  }
  .icon-datetime:before {
    content: "\e64d";
  }
  .icon-facets2:before {
    content: "\e99f";
  }
  .icon-facets-2:before {
    content: "\e99f";
  }
  .icon-order:before {
    content: "\e635";
  }
  .icon-dot:before {
    content: "\e622";
  }
  .icon-waiting:before {
    content: "\e62c";
  }
  .icon-ellipsis:before {
    content: "\e62c";
  }
  .icon-actions:before {
    content: "\e631";
  }
  .icon-internal:before {
    content: "\e980";
  }
  .icon-grid2:before {
    content: "\e95b";
  }
  .icon-grid-5:before {
    content: "\e95b";
  }
  .icon-drag:before {
    content: "\e93c";
  }
  .icon-group:before {
    content: "\e96b";
  }
  .icon-grid3:before {
    content: "\e626";
  }
  .icon-grid-3:before {
    content: "\e626";
  }
  .icon-fragments:before {
    content: "\e62b";
  }
  .icon-disc:before {
    content: "\e019";
  }
  .icon-dot_selected:before {
    content: "\e632";
  }
  .icon-stratio_imagotipo:before {
    content: "\e963";
  }
  .icon-stratio_small:before {
    content: "\e633";
  }
  .icon-stratio_standard:before {
    content: "\e634";
  }
  .icon-nodes:before {
    content: "\e63a";
  }
  .icon-arrow2_up:before {
    content: "\e608";
  }
  .icon-arrow2_down:before {
    content: "\e63f";
  }
  .icon-arrow2_left:before {
    content: "\e63e";
  }
  .icon-arrow2_right:before {
    content: "\e605";
  }
  .icon-arrow3_up:before {
    content: "\e640";
  }
  .icon-arrow3_down:before {
    content: "\e641";
  }
  .icon-arrow4_up:before {
    content: "\e61a";
  }
  .icon-arrow4_down:before {
    content: "\e625";
  }
  .icon-arrow4_left:before {
    content: "\e9bd";
  }
  .icon-arrow-up:before {
    content: "\e096";
  }
  .icon-arrow-down:before {
    content: "\e097";
  }
  .icon-arrow-left:before {
    content: "\e094";
  }
  .icon-arrow-right:before {
    content: "\e095";
  }
  .icon-reply:before {
    content: "\e039";
  }
  .icon-back2:before {
    content: "\e99a";
  }
  .icon-chevrons-down:before {
    content: "\e90c";
  }
  .icon-chevrons-left:before {
    content: "\e90d";
  }
  .icon-chevrons-right:before {
    content: "\e90e";
  }
  .icon-arrow-down-left:before {
    content: "\e900";
  }
  .icon-arrow-down-right:before {
    content: "\e901";
  }
  .icon-arrow-up-left:before {
    content: "\e902";
  }
  .icon-arrow-up-right:before {
    content: "\e903";
  }
  .icon-corner-down-left:before {
    content: "\e911";
  }
  .icon-corner-down-right:before {
    content: "\e912";
  }
  .icon-corner-left-down:before {
    content: "\e913";
  }
  .icon-corner-left-up:before {
    content: "\e914";
  }
  .icon-corner-right-down:before {
    content: "\e915";
  }
  .icon-corner-right-up:before {
    content: "\e916";
  }
  .icon-corner-up-left:before {
    content: "\e917";
  }
  .icon-corner-up-right:before {
    content: "\e918";
  }
  .icon-arrow3_middle:before {
    content: "\e642";
  }
  .icon-centric:before {
    content: "\e987";
  }
  .icon-scalable:before {
    content: "\e988";
  }
  .icon-maximize2:before {
    content: "\e112";
  }
  .icon-minimize2:before {
    content: "\e113";
  }
  .icon-in_out1:before {
    content: "\e98a";
  }
  .icon-move:before {
    content: "\e118";
  }
  .icon-a-b:before {
    content: "\e96c";
  }
  .icon-type:before {
    content: "\e64f";
  }
  .icon-history:before {
    content: "\e95f";
  }
  .icon-rotate-ccw:before {
    content: "\e930";
  }
  .icon-reload2:before {
    content: "\e930";
  }
  .icon-back:before {
    content: "\e930";
  }
  .icon-rotate-cw:before {
    content: "\e931";
  }
  .icon-reload1:before {
    content: "\e931";
  }
  .icon-refresh-ccw:before {
    content: "\e92c";
  }
  .icon-reload:before {
    content: "\e92c";
  }
  .icon-refresh:before {
    content: "\e92c";
  }
  .icon-refresh-cw:before {
    content: "\e92d";
  }
  .icon-repeat2:before {
    content: "\e92d";
  }
  .icon-restart:before {
    content: "\e92d";
  }
  .icon-shuffle:before {
    content: "\e057";
  }
  .icon-repeat:before {
    content: "\e92e";
  }
  .icon-in_out2:before {
    content: "\e990";
  }
  .icon-merge:before {
    content: "\e98b";
  }
  .icon-channel:before {
    content: "\e98c";
  }
  .icon-flow:before {
    content: "\e942";
  }
  .icon-tube:before {
    content: "\e964";
  }
  .icon-event:before {
    content: "\e97f";
  }
  .icon-option:before {
    content: "\e97d";
  }
  .icon-window:before {
    content: "\e9b5";
  }
  .icon-input:before {
    content: "\e98d";
  }
  .icon-output:before {
    content: "\e98e";
  }
  .icon-menu2:before {
    content: "\e643";
  }
  .icon-menu:before {
    content: "\e120";
  }
  .icon-dots:before {
    content: "\e651";
  }
  .icon-activity:before {
    content: "\e603";
  }
  .icon-spider:before {
    content: "\e982";
  }
  .icon-area-chart:before {
    content: "\e63b";
  }
  .icon-bar-graph-2:before {
    content: "\e091";
  }
  .icon-bar-graph:before {
    content: "\e090";
  }
  .icon-bar-chart-2:before {
    content: "\e905";
  }
  .icon-bar-chart:before {
    content: "\e906";
  }
  .icon-graph:before {
    content: "\e981";
  }
  .icon-pie-graph:before {
    content: "\e092";
  }
  .icon-trending-down:before {
    content: "\e933";
  }
  .icon-trending-up:before {
    content: "\e934";
  }
  .icon-line:before {
    content: "\e93b";
  }
  .icon-repartition:before {
    content: "\e9ad";
  }
  .icon-expand:before {
    content: "\e110";
  }
  .icon-contract:before {
    content: "\e111";
  }
  .icon-maximize:before {
    content: "\e926";
  }
  .icon-minimize:before {
    content: "\e92a";
  }
  .icon-select:before {
    content: "\e9b3";
  }
  .icon-crop:before {
    content: "\e91b";
  }
  .icon-scale:before {
    content: "\e989";
  }
  .icon-pointer:before {
    content: "\e946";
  }
  .icon-hand_ponting:before {
    content: "\e986";
  }
  .icon-hand_click:before {
    content: "\e97b";
  }
  .icon-message-circle:before {
    content: "\e927";
  }
  .icon-message-square:before {
    content: "\e928";
  }
  .icon-speech-bubble:before {
    content: "\e076";
  }
  .icon-user:before {
    content: "\e939";
  }
  .icon-head:before {
    content: "\e939";
  }
  .icon-user-minus:before {
    content: "\e936";
  }
  .icon-user-plus:before {
    content: "\e937";
  }
  .icon-user-x:before {
    content: "\e938";
  }
  .icon-users:before {
    content: "\e93a";
  }
  .icon-irc:before {
    content: "\e94b";
  }
  .icon-at-sign:before {
    content: "\e904";
  }
  .icon-jdbc:before {
    content: "\e602";
  }
  .icon-http:before {
    content: "\e94c";
  }
  .icon-globe:before {
    content: "\e078";
  }
  .icon-policy:before {
    content: "\e960";
  }
  .icon-shield:before {
    content: "\e60e";
  }
  .icon-lock:before {
    content: "\e976";
  }
  .icon-lock2:before {
    content: "\e976";
  }
  .icon-unlock:before {
    content: "\e977";
  }
  .icon-unlock2:before {
    content: "\e977";
  }
  .icon-key:before {
    content: "\e984";
  }
  .icon-mongodb:before {
    content: "\e623";
  }
  .icon-solr:before {
    content: "\e966";
  }
  .icon-redis:before {
    content: "\e64b";
  }
  .icon-parquet:before {
    content: "\e649";
  }
  .icon-flume:before {
    content: "\e646";
  }
  .icon-kafka:before {
    content: "\e645";
  }
  .icon-kafkadirect:before {
    content: "\e648";
  }
  .icon-diamond:before {
    content: "\e947";
  }
  .icon-spool:before {
    content: "\e94f";
  }
  .icon-rest:before {
    content: "\e951";
  }
  .icon-sequence:before {
    content: "\e950";
  }
  .icon-jms:before {
    content: "\e948";
  }
  .icon-thrift:before {
    content: "\e954";
  }
  .icon-syslog:before {
    content: "\e955";
  }
  .icon-hbase:before {
    content: "\e956";
  }
  .icon-druid:before {
    content: "\e957";
  }
  .icon-hive:before {
    content: "\e958";
  }
  .icon-snmp:before {
    content: "\e952";
  }
  .icon-scribe:before {
    content: "\e953";
  }
  .icon-mesos:before {
    content: "\e95c";
  }
  .icon-kite:before {
    content: "\e959";
  }
  .icon-zookeeper:before {
    content: "\e95d";
  }
  .icon-netcat:before {
    content: "\e94a";
  }
  .icon-github:before {
    content: "\e920";
  }
  .icon-github2:before {
    content: "\e967";
  }
  .icon-postgres:before {
    content: "\e9a5";
  }
  .icon-elasticsearch:before {
    content: "\e624";
  }
  .icon-hdfs:before {
    content: "\e93e";
  }
  .icon-codepen:before {
    content: "\e90f";
  }
  .icon-docker:before {
    content: "\e968";
  }
  .icon-rabbitmq:before {
    content: "\e636";
  }
  .icon-cassandra:before {
    content: "\e62f";
  }
  .icon-avro:before {
    content: "\e93d";
  }
  .icon-modules:before {
    content: "\e96d";
  }
  .icon-credit-card:before {
    content: "\e91a";
  }
  .icon-bag:before {
    content: "\e106";
  }
  .icon-basket:before {
    content: "\e996";
  }
  .icon-tag_right:before {
    content: "\e08a";
  }
  .icon-tag_left:before {
    content: "\e085";
  }
  .icon-transport:before {
    content: "\e628";
  }
  .icon-speed:before {
    content: "\e999";
  }
  .icon-dashboard:before {
    content: "\e60b";
  }
  .icon-facets:before {
    content: "\e99e";
  }
  .icon-hand_thumbup:before {
    content: "\e96f";
  }
  .icon-heart:before {
    content: "\e024";
  }
  .icon-star2:before {
    content: "\e997";
  }
  .icon-star:before {
    content: "\e093";
  }
  .icon-linkedin:before {
    content: "\e9a2";
  }
  .icon-twitter:before {
    content: "\e637";
  }
  .icon-youtube:before {
    content: "\e9a3";
  }
  .icon-slideshare:before {
    content: "\e9a4";
  }
  .icon-command:before {
    content: "\e087";
  }
  .icon-alt:before {
    content: "\e088";
  }
  .icon-home:before {
    content: "\e9a7";
  }
  .icon-home2:before {
    content: "\e9a7";
  }
  .icon-planet:before {
    content: "\e9a9";
  }
  .icon-machine_learning:before {
    content: "\e9aa";
  }
  .icon-drop:before {
    content: "\e063";
  }
  .icon-moon:before {
    content: "\e061";
  }
  .icon-thermometer:before {
    content: "\e062";
  }
  .icon-umbrella:before {
    content: "\e060";
  }
  .icon-fire:before {
    content: "\e983";
  }
  .icon-stress:before {
    content: "\e94e";
  }
  .icon-omni:before {
    content: "\e9a0";
  }
  .icon-deepweb:before {
    content: "\e9a1";
  }
  .icon-coffe:before {
    content: "\e944";
  }
  .icon-chip2:before {
    content: "\e62a";
  }
  .icon-chip3:before {
    content: "\e62a";
  }
  .icon-chip1:before {
    content: "\e62d";
  }
  .icon-cpu:before {
    content: "\e62d";
  }
  .icon-chip:before {
    content: "\e62d";
  }
  .icon-server:before {
    content: "\e974";
  }
  .icon-cpu2:before {
    content: "\e627";
  }
  .icon-socket:before {
    content: "\e644";
  }
  .icon-websocket:before {
    content: "\e650";
  }
  .icon-plug:before {
    content: "\e97a";
  }
  .icon-pause2:before {
    content: "\e970";
  }
  .icon-storage:before {
    content: "\e607";
  }
  .icon-mobile:before {
    content: "\e978";
  }
  .icon-compass:before {
    content: "\e60d";
  }
  .icon-rudder:before {
    content: "\e9ac";
  }
  .icon-robot:before {
    content: "\e9ab";
  }
  .icon-smiley:before {
    content: "\e96e";
  }
  .icon-pacman:before {
    content: "\e97c";
  }
  .icon-astronaut:before {
    content: "\e9b6";
  }
  .icon-hide:before {
    content: "\e99d";
  }
  .icon-infinite:before {
    content: "\e992";
  }
  .icon-hash:before {
    content: "\e921";
  }
  .icon-atom:before {
    content: "\e993";
  }
  .icon-debug:before {
    content: "\e9b7";
    color: #555;
  }
  .icon-loto:before {
    content: "\e998";
  }
  .icon-location-2:before {
    content: "\e071";
  }
  .icon-Interceptor:before {
    content: "\e98f";
  }
  .icon-briefcase:before {
    content: "\e075";
  }
  .icon-puzzle:before {
    content: "\e60a";
  }
  .icon-direction:before {
    content: "\e621";
  }
  .icon-flag:before {
    content: "\e108";
  }
  .icon-ribbon2:before {
    content: "\e94d";
  }
  .icon-cup:before {
    content: "\e61d";
  }
  .icon-pingpong:before {
    content: "\e985";
  }
  .icon-evolution:before {
    content: "\e975";
  }
  .icon-bike:before {
    content: "\e9a6";
  }
  .icon-car:before {
    content: "\e99c";
  }
  .icon-intelligence:before {
    content: "\e979";
  }
  .icon-box:before {
    content: "\e079";
  }
  .icon-lego:before {
    content: "\e941";
  }