@import 'sparkta-ui/base/settings/colors';
@import 'sparkta-ui/base/settings/fonts';
@import 'sparkta-ui/base/settings/layers';
@import 'sparkta-ui/base/settings/typography';

@import 'sparkta-ui/base/helpers/colors';
@import 'sparkta-ui/base/helpers/typography';
@import 'sparkta-ui/base/helpers/layers';
@import 'sparkta-ui/base/helpers/app-config';
@import 'sparkta-ui/base/helpers/bem-modifiers';
@import 'sparkta-ui/base/helpers/angular-forms';

@import 'sparkta-ui/themes/light-platinum';

@import 'vendors/reset-css/reset';

@import 'app';

@import 'sparkta-ui/components/c-component/index';
@import 'sparkta-ui/components/c-panel/index';
@import 'sparkta-ui/components/c-row/index';
@import 'sparkta-ui/components/c-col/index';
@import 'sparkta-ui/components/c-line-separator/index';
@import 'sparkta-ui/components/c-button/index';
@import 'sparkta-ui/components/c-input/index';
@import 'sparkta-ui/components/c-searchbox/index';
@import 'sparkta-ui/components/c-combobox/index';
@import 'sparkta-ui/components/c-label/index';
@import 'sparkta-ui/components/c-icon/index';
@import 'sparkta-ui/components/c-form/index';
@import 'sparkta-ui/components/c-form-control/index';
@import 'sparkta-ui/components/c-form-group/index';
@import 'sparkta-ui/components/c-toolbar/index';
@import 'sparkta-ui/components/c-titlebar/index';
@import 'sparkta-ui/components/c-icon-text/index';
@import 'sparkta-ui/components/c-info-text/index';
@import 'sparkta-ui/components/c-modal-inner/index';
@import 'sparkta-ui/components/c-icon-radio/index';
@import 'sparkta-ui/components/c-msg/index';
@import 'sparkta-ui/components/c-table/index';
@import 'sparkta-ui/components/c-checkbox/index';
@import 'sparkta-ui/components/c-step-progress-bar/index';
@import 'sparkta-ui/components/c-step/index';
@import 'sparkta-ui/components/c-step-content/index';
@import 'sparkta-ui/components/c-step-counter/index';
@import 'sparkta-ui/components/c-fieldset/index';

@import 'sparkta-ui/objects/o-media';
@import 'sparkta-ui/objects/o-wcag-hidden';

@import 'vendors/angular-ui/tooltip';
@import 'vendors/angular-ui/modal';

@import 'custom/angular-ui/tooltip';
@import 'custom/stratio-ui/components/c-grid-item/index';

@import '../stratio-ui/style/stratio.ui';
