$egeo-sanitize: true;

@import '~@stratio/egeo/theme/sanitize';
@import '~@stratio/egeo/theme/grid.css';
@import '~@stratio/egeo/theme/theme.css';
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/hint/show-hint.css';

html {
    font-size: 16px;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: #fafafa;
    font-family: 'Nunito Sans';
}

.selected-button {
    background: #f3f6f8;
}

.custom-checkbox {
    margin-right: 6px!important;
}

.entity-icon {
    font-family: ico_stratio;
    font-size: 25px;
    user-select: none;
    cursor: move;
}

.entity-icon2 {
    font-family: ico_stratio;
    user-select: none;
    cursor: move;
}
/* codemirror overrides */

.disabled .CodeMirror pre,
.disabled .CodeMirror * {
    color: #dedede!important;
}

.CodeMirror {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: inherit;
    cursor: text;
    padding: 10px 12px 10px 15px;
}

.CodeMirror-focused {
    .CodeMirror-cursor {
    height: 19px!important;
    }
}

.CodeMirror-scroll {
    /* min-height: 22px!important; */
}

.workflow-json-content .CodeMirror-scroll {
    min-height: 240px!important;
}

.disabled {
    .CodeMirror-cursor {
    display: none;
    }
}

.mobile {
    .type-input .input-entry {
        transform: scale(1)!important;
     }
     .type-transformation .transformation-entry {
        transform: scale(1)!important;
     }

     .active.type-output .output-entry, .active.type-transformation .transformation-entry{
        transform: scale(1.3)!important;
     }
}
