@mixin c-icon-link {
	@include c-icon-text;

	color: $c-icon-link---color;
	font-size: $c-icon-link---font-size;

	&--narrow {
		font-style: italic;
	}

	&__icon {
		color: $c-icon-link__icon---color;
		font-size: $c-icon-link__icon---font-size;
	}
}

.c-icon-link {
	@include c-icon-link;
}
