$c-icon-link---color: get-color(n7) !default;
$c-icon-link---font-size: get-font-size(medium) !default;

$c-icon-link__icon---color: get-color(a1) !default;
$c-icon-link__icon---font-size: get-font-size(medium) !default;
