$c-icon-link---color: get-color(n7) !default;
$c-icon-link---font-size: get-font-size(medium) !default;

$c-icon-link__icon---color: get-color(a1) !default;
$c-icon-link__icon---font-size: get-font-size(medium) !default;

$c-icon-link__toolbar---padding-top: 4px !default;
$c-icon-link__toolbar---color: get-color(n0) !default;

$c-icon-link__toolbar--c-icon---color: get-color(n0) !default;