$c-icon-link---color: get-color(g7) !default;
$c-icon-link---font-size: get-font-size(medium) !default;

$c-icon-link__icon---color: get-color(c1) !default;
$c-icon-link__icon---font-size: get-font-size(medium) !default;
