.layout {
  opacity: 0;
  transition: 0.6s opacity;

  &.active {
    opacity: 1;
  }
}

.cancel-button {
   margin-right: 20px;
}

.breadcrumb {
   display: inline-block;
}

.help-button {
   margin-right: 20px;
}

.input-field {
   margin: 15px 0;
   display: block;
}

.entity-categories {
   margin-bottom: 30px;
   display: block;
   width: 340px;
}

.content {
   padding-bottom: 50px;
   padding-top: 10px;
   width: 100%;
}

.basic-settings {
   margin-top: 30px;
   display: block;
}

.tag-input {
    margin-bottom:20px;
}

.parameters-group{
  padding-bottom: 2.4em;
  display: block;
}