<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<st-fullscreen-layout class="layout" [title]="'WIZARD.SETTINGS' | translate" [ngClass]="{'active': fadeActive}">>
  <div class="st-fullscreen-layout-buttons">
    <div class="return-link">
      <button id="settings-help" class="button button-toolbar help-button" [ngClass]="{'selected-button' : isShowedHelp}" (click)="isShowedHelp = !isShowedHelp">
            <i class="icon-help2"></i>
         </button>
      <button class="button button-secondary-line cancel-button" (click)="cancelEdition()" id="cancel-settings-edition">
            <span>{{'WIZARD.CANCEL' | translate}}</span>
         </button>
    <button class="button button-primary" (click)="saveForm()" id="save-settings-button">
          <span>Accept</span>
        </button>
      <sp-help *ngIf="isShowedHelp" (onCloseHelpMenu)="closeHelp()" reference="settings-help" [helpOptions]="helpOptions"></sp-help>
    </div>
  </div>
  <div class="st-fullscreen-layout-content">
    <div class="content">
      <div class="settings__container">
        <form #entityForm="ngForm"
          class="form-group row"
          novalidate
          autocomplete="off"
          (ngSubmit)="saveForm()">
          <div class="col-sm-12">
            <form-generator-group
              [variableList]="parameters"
              [showVars]="true"
              [(ngModel)]="settingsFormModel"
              [formData]="advancedSettings"
              [formMaxWidth]="1040"
              [valueDictionary]="valueDictionary"
              [forceValidations]="submitted"
              (changeGroup)="onChangeGroup($event)"
              name="entity"
              class="settings__form"
              *ngIf="advancedSettings.length">
              <div>
                <form-generator [forceValidations]="submitted" name="global" [formData]="basicSettings" [(ngModel)]="basicFormModel" class="basic-settings"></form-generator>
                <div class="row">
                  <div class="col-sm-6">
                    <st-tag-input class="st-form-field tag-input" name="tag-input-reactive" label="Version tags" id="tag-input-reactive" [(ngModel)]="tags"
                      placeholder="Add tags separated by commas" [tooltip]="'Add tags to the workflow'">
                    </st-tag-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <parameters-group-selector [(selectedGroups)]="parametersLists" class="parameters-group"></parameters-group-selector>
                  </div>
                </div>
              </div>
            </form-generator-group>
          </div>
        </form>
      </div>
    </div>
  </div>
</st-fullscreen-layout>
