@mixin c-titlebar {
	@include c-panel;
	
	background: $c-titlebar---background;
	color: $c-titlebar---color;
	text-transform: $c-titlebar---text-transform;
	padding: $c-titlebar---padding;

	@at-root &__title {
		font-size: $c-titlebar__title---font-size;
	}

	@at-root &__subtitle {
		font-size: $c-titlebar__title---font-size - 6;
		text-transform: none;
		padding-top: 4px;
		&::first-letter {
			text-transform: uppercase;
		}
	}

	@at-root &__close-icon {
		@include c-icon();
		@include is-clickable(true);

		position: absolute;
		right: 10px;
		top: 10px;
	}
}

.c-titlebar {
	@include c-titlebar;
}
