$c-titlebar---background: get-color(b3) !default;
$c-titlebar---color: get-color(n7) !default;
$c-titlebar---text-transform: uppercase !default;
$c-titlebar---padding: 7px 10px !default;

$c-titlebar__title---font-size: get-font-size(medium-alpha) !default;
