@import '~@stratio/egeo/theme/constants';
:host {
    display: block;
    width: 100%;
}
.form-list {
    width:100%;
}

.inner-input {
    border:0;
    display:inline-block;
}

.string-list {
    font-family: "Nunito Sans";
    font-size: .938rem;
    line-height: 1.25rem;
    color: #0f1b27;
    background-color: #fff;
    border: 1px solid #b5b5b5;
    padding: 8px 17px 8px 15px;
    border-radius: 4px;
    vertical-align: bottom;
    outline: 0;
    width: 100%;
}

.list-field {
    background:$action-secondary-02;
    display:inline-block;
    margin-right: 7px;
    padding:5px 7px;
    overflow:hidden;
}

.delete-icon{
    float: true;
}