@import '~@stratio/egeo/theme/constants';
:host {
   display: block;
   width: 100%;
}

.form-list {
   width: 100%;
}

.inner-input {
   border: 0;
   outline: 0;
   display: inline-block;
   padding: 5px 0;
   vertical-align: top;
}

.list-container {
   min-height: 35px;
}

.string-list {
   font-family: "Nunito Sans";
   font-size: .938rem;
   line-height: 1.25rem;
   color: #0f1b27;
   background-color: #fff;
   border: 1px solid #b5b5b5;
   padding: 5px 9px 1px 9px;
   border-radius: 4px;
   vertical-align: bottom;
   outline: 0;
   width: 100%;

   &.error{
       border-color: #f59ea9;
   }

   &.active {
       border-color: #88c5ee;
   }

   &.disabled {
       border-color: #dedede;
   }
}

.list-field {
   background: $action-secondary-02;
   display: inline-block;
   margin-right: 7px;
   padding: 5px 7px;
   overflow: hidden;
}

.icon {
    cursor: pointer;
}
