<div class="form-list">
   <div class="col-sm-12">
      <span class="egeo-title-small">{{label}}</span>
   </div>
   <div class="string-list st-input" (click)="addElementFocus()">
      <div>
         <div *ngFor="let item of items.controls; let i = index;" class="list-field">
            <span class="value">                        
                {{item.value}}
            </span>
            <span class="delete-icon">
                <i class="icon-cross icon" (click)="deleteItem(i)"></i>
            </span>

         </div>
         <input type="text" class="inner-input" #newElement (keypress)="onkeyPress($event)" [(ngModel)]="innerInputContent" />
      </div>

   </div>
</div>
