.file-selection {
    font-family: "Nunito Sans Light";
    font-size: 23px;
    display: block;
    color: #000;
}

.advice {
    font-family: "Nunito Sans";
    font-size: 15px;
    display: block;
    color: #0f1b27;
    margin-top: 4px;
}

.file-read {
    margin-top:30px;
    display: block;
}
.action-buttons {
    margin-top: 60px;
    overflow: hidden;
}

.action-buttons .button {
    padding: .925rem 1.875rem;
    min-width: 9rem;

    &.confirm {
        float: right;
    }
}