<fieldset class="c-fieldset">
  <legend class="c-fieldset__title">{{"_POLICY_._CUBE_._DIMENSION_" | translate}}</legend>

  <div class="c-panel c-panel--framed">
    <div class="c-form-group">
      <form-field-input data-form="vm.form" data-st-name="name-form" data-model="vm.dimension.name" data-label="{{'_NAME_' | translate}}" data-help="" data-pattern="" data-required="true" placeholder="Ex. Name 1" required="true"></form-field-input>
    </div>
    <div class="c-form-group">
      <form-field-input data-form="vm.form" data-st-name="field-form" data-model="vm.dimension.field" data-label="{{'_POLICY_._CUBE_._FIELD_' | translate}}" data-help="" data-pattern="" data-required="true" placeholder="Ex. Name 1" required="true"></form-field-input>
    </div>
    <div class="c-form-group">
      <form-field-input data-form="vm.form" data-st-name="type-form" data-model="vm.dimension.type" data-label="{{'_TYPE_' | translate}}" data-help="" data-pattern="" data-required="true" placeholder="Ex. Lorem ipsum dolor sit amet." required="true"></form-field-input>
    </div>
    <div class="c-form-group">
      <form-field-input data-form="vm.form" data-st-name="precision-form" data-model="vm.dimension.precision" data-label="{{'_POLICY_._CUBE_._PRECISION_' | translate}}" data-help="" data-pattern="" data-required="true" placeholder="Ex. Lorem ipsum dolor sit amet." required="true"></form-field-input>
    </div>
  </div>

  <div class="c-row c-row--separated">
    <div class="c-col c-col--12 c-col--vertical-centered c-col--to-right">
      <button class="c-button c-button--call-to-action-2" data-ng-click="vm.cancel()">
        <span class="icon-circle-cross"></span>
        <span>{{"_INPUT_BUTTON_CANCEL_" | translate}}</span>
      </button>

      <button class="c-button c-button--call-to-action-1" data-ng-click="vm.ok()">
        <span class="icon icon-circle-check"></span>
        <span>{{"_SAVE_" | translate}}</span>
      </button>
    </div>
  </div>
</fieldset>
