<div data-qa="dimension-modal" id="modal">
  <div class="c-titlebar">
    <span class="c-titlebar__title">{{"_POLICY_._CUBE_._DIMENSION_" | translate}}</span>
    <i class="c-icon c-icon--is-clickable c-icon--to-right icon-circle-cross" data-ng-click="vm.cancel()"
       data-qa="modal-cancel-icon"></i>
  </div>

  <form class="c-form" name="vm.form" novalidate>
    <div class="c-modal-inner">
      <div class="c-form-group">
        <form-field-input data-form="vm.form" data-st-name="fieldForm"
                          data-model="vm.dimension.field" data-label="{{'_POLICY_._CUBE_._FIELD_' | translate}}"
                          data-help="" data-pattern="" data-required="true" required="true" disabled="true"
                          data-qa="dimension-modal-field"></form-field-input>
      </div>
      <div class="c-form-group">
        <form-field-input class="c-col c-col--12 c-form-group--inline" data-form="vm.form" data-st-name="nameForm"
          data-model="vm.dimension.name" data-label="{{'_NAME_' | translate}}" data-help=""
          data-pattern="" data-required="true" placeholder="Ex. Name 1" required="true"
          data-qa="dimension-modal-name">
        </form-field-input>
        <div class="c-form c-form-group angular-forms__error" data-ng-if="vm.nameError != ''" data-qa="error-msg">
          <i class="c-icon icon-circle-cross"></i>
          <span translate="{{vm.nameError | translate}}"></span>
        </div>
      </div>
      <div class="c-form-group">
        <form-field-select select-class="c-combobox--full-width"
          data-form="vm.form" data-st-name="precision-form"
          data-model="vm.dimension.type"
          data-options="vm.cubeTypes"
          data-field="label"
          data-label="{{'_TYPE_' | translate}}"
          data-help=""
          data-required="true"
          data-qa="dimension-modal-type">
        </form-field-select>
      </div>
      <div class="c-form-group" data-ng-if="vm.dimension.type !== 'DateTime'">
        <form-field-select data-ng-if="vm.dimension.type !== vm.defaultType" select-class="c-combobox--full-width"
          data-form="vm.form" data-st-name="precision-form"
          data-model="vm.dimension.precision"
          data-options="vm.getPrecisionsOfType()"
          data-field="label"
          data-label="{{'_POLICY_._CUBE_._PRECISION_' | translate}}"
          data-required = "true"
          data-qa="dimension-modal-precision">
        </form-field-select>
      </div>
      <form-field data-ng-if = "vm.dimension.type === 'DateTime'"
        data-ng-repeat = "item in vm.dateTimeConfiguration"
        data-ng-class = "{'c-col c-col--{{item.width}} c-form-gutter c-form-gutter__{{item.position}} c-col--vertical-top': item.width}"
        data-ng-form-id = "{{item.propertyId}}"
        data-field = "item"
        data-model = "vm.dimension"
        data-form = "vm.form"
        data-st-name = "dateTime{{item.propertyName}}Form"
        data-disabled = "vm.setPropertyDisabled(item.propertyId, vm.isTimeDimesion)"
        data-extra-message = "vm.setExtraMessage(vm.isTimeDimesion)"
        data-qa="{{item.qa}}">
      </form-field>
      <div class="c-row c-row--separated">
        <div class="c-col c-col--12 c-col--vertical-centered c-col--to-right">
          <button type="button" class="c-button c-button--call-to-action-2" data-ng-click="vm.cancel()"
                  data-qa="modal-cancel-button">
            <span class="icon-circle-cross"></span>
            <span>{{"_INPUT_BUTTON_CANCEL_" | translate}}</span>
          </button>

          <button type="submit" class="c-button c-button--call-to-action-1" data-ng-click="vm.ok()"
                  data-qa="modal-ok-button">
            <span class="icon icon-circle-check"></span>
            <span>{{"_SAVE_" | translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
