<aside data-qa="delete-policy-modal">
	<header class="c-titlebar">
		<span class="c-titlebar__title">{{"_POLICY_._WINDOW_._JSON_CREATE_._TITLE_" | translate}}</span>
		<i class="c-icon c-icon--is-clickable c-icon--to-right icon-circle-cross" data-ng-click="vm.cancel()" data-qa="modal-cancel-icon"></i>
	</header>

	<div class="c-modal-inner">
		<div class="c-row">
			<div class="c-col c-col--12">
				<ng-form name="vm.form" data-ng-submit="vm.validateForm()" novalidate class="c-form">
					<div class="c-column-grid">
						<div class="c-column-grid--static">
							<div data-ng-repeat="properties in vm.template.properties" class="c-form-gutter c-col c-col--vertical-top" data-ng-class="{'c-col--{{properties.width}}': properties.width}"
							 data-ng-form-id="name" data-field="properties" data-model="vm.policy" data-form="vm.form" data-st-name="dataSourcenameForm"
							 data-list-compressed="true" data-qa="policy-name">
								<form-field class="c-col" data-ng-class="'c-col--12'" data-list-compressed="{'true':!$last}" data-ng-form-id="{{properties.propertyId}}"
								 data-field="properties" data-model="vm.policy" data-form="vm.form" data-st-name="trigger{{properties.propertyName}}Form"
								 data-qa="{{properties.qa}}">
								</form-field>
							</div>
							<div class="c-form-gutter">
								<span class="c-auto-calculated-fields__info c-label c-col c-col--12 ng-binding">
									<i class="icon-pin"></i>  {{"_POLICY_._WINDOW_._JSON_CREATE_._INFO_"| translate}}
								</span>
							</div>
						</div>
						<div class="c-column-grid--flex">
							<!-- POLICY NAME ALREADY EXISTS OR JSON INCORRECT FORMAT ERROR -->
							<div class="c-row c-row--separated-bottom angular-forms__error" data-ng-if="vm.error" data-qa="error-msg">
								<i class="c-icon icon-circle-cross" ng-click="vm.error = false"></i>
								<span translate="{{vm.errorText}}"></span>
							</div>
							<form-field class="c-col" data-ng-if="vm.template.jsonModel" data-ng-class="'c-col--12'" data-ng-form-id="{{vm.template.jsonModel.propertyId}}"
							 data-field="vm.template.jsonModel" data-model="vm.policy" data-form="vm.form" data-qa="{{vm.template.jsonModel.qa}}"
							 data-st-name="trigger{{vm.template.jsonModel.propertyName}}Form">
							</form-field>
							<div class="c-row c-row--separated">
								<div class="c-col c-col--4 c-col--vertical-centered" style="float:left">
									<c-input-file-reader file-data="vm.policy.json" button-text="'Upload json file'"></c-input-file-reader>
								</div>
								<div class="c-col c-col--8 c-col--vertical-centered c-col--to-right">
									<button class="c-button c-button--call-to-action-2" data-ng-click="vm.cancel()" data-qa="modal-cancel-button">
										<span class="icon-circle-cross"></span>
										<span>{{"_INPUT_BUTTON_CANCEL_" | translate}}</span>
									</button>
									<button class="c-button c-button c-button--call-to-action-1" data-ng-click="vm.validateForm()" data-qa="modal-ok-button">
										<span class="icon icon-circle-check"></span>
										<span>{{"_INPUT_BUTTON_CREATE_" | translate}}</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</ng-form>
			</div>
		</div>
	</div>
</aside>