<div class="c-titlebar">
	<span class="c-titlebar__title">{{"_POLICY_._WINDOW_._CONFIRM_._TITLE_" | translate}}</span>
	<i class="c-icon c-icon--is-clickable c-icon--to-right icon-circle-cross" ng-click="vm.cancel()"></i>
</div>

<div class="c-modal-inner">
	<p class="c-modal-inner__title">{{"_ARE_YOU_COMPLETELY_SURE_" | translate}}</p>

	<div class="c-row" ng-if="vm.outputs.policies.length > 0">
		<p>{{"_INPUT_WINDOW_DELETE_MESSAGE_" | translate}}</p>
		<p>{{"_INPUT_WINDOW_DELETE_MESSAGE2_" | translate}}</p>

		<ul class="c-list c-list--dashed">
			<li data-ng-repeat="item in vm.outputs.policies">- {{item.name}}</li>
		</ul>
	</div>

	<div class="c-row c-row--separated  c-msg c-msg--small c-msg--error" data-ng-if="vm.error">
		<i class="c-icon icon-circle-cross"></i>
		<span translate="{{vm.errorText}}"></span>
	</div>

	<div class="c-row c-row--separated">
		<div class="c-col c-col--12 c-col--vertical-centered c-col--to-right">
			<button class="c-button c-button--call-to-action-2" data-ng-click="vm.cancel()">
				<span class="icon-circle-cross"></span>
				<span>{{"_INPUT_BUTTON_CANCEL_" | translate}}</span>
			</button>

			<button class="c-button c-button--call-to-action-1" data-ng-click="vm.ok()">
				<span class="icon icon-circle-check"></span>
				<span>{{"_SAVE_" | translate}}</span>
			</button>
		</div>
	</div>
</div>
