<aside data-qa="delete-policy-modal">
  <header class="c-titlebar">
    <span class="c-titlebar__title">{{"_POLICY_._WINDOW_._CREATE_._TITLE_" | translate}}</span>
    <i class="c-icon c-icon--is-clickable c-icon--to-right icon-circle-cross" data-ng-click="vm.cancel()" data-qa="modal-cancel-icon"></i>
  </header>

  <div class="c-modal-inner">
    <p class="c-modal-inner__title">{{"_POLICY_._WINDOW_._CREATE_._METHOD_" | translate}}</p>
    <div class="c-row">
      <div class="c-col c-col--12"><!--
        --><div class="c-col c-col--5">
          <span class="c-modal-inner__option">{{"_POLICY_._WINDOW_._CREATE_._SCRATCH_OPTION_" | translate}}</span>
          <button class="c-button c-button--call-to-action-1" data-ng-click="vm.createPolicyScratch()" data-qa="modal-create-from-scratch-button">
          <span class="icon icon-circle-plus"></span>
          <span>{{"_POLICY_._WINDOW_._CREATE_._SET_CONFIG_" | translate}}</span>
        </button>
        </div><!--
        --><div class="c-col c-col--2">
            {{"_POLICY_._WINDOW_._CREATE_._OR_" | translate}}
        </div><!--
        --><div class="c-col c-col--5">
          <span class="c-modal-inner__option">{{"_POLICY_._WINDOW_._CREATE_._JSON_OPTION_" | translate}}</span>
          <button class="c-button c-button--call-to-action-1" data-ng-click="vm.createPolicyJSON()" data-qa="modal-create-from-json-button">
          <span class="icon icon-circle-plus"></span>
          <span>{{"_POLICY_._WINDOW_._CREATE_._SET_JSON_" | translate}}</span>
        </button>
        </div>
      </div>
    </div>
  </div>
</aside>
