.separator {
   display: inline-block;
   width: 5px;
}

.version-actions {
   display: inline-block;
}

.selection-actions, .general-tools {
    display: inline-block;
}

button {
    margin-left:7px;
}

.general-tools {
    margin-left:40px;
}

.options-button{
    overflow: visible;
    border: 1px solid #777;
    outline: 0;
    display: inline-block;
    color: #555;
    
    &:hover {
        border-color: #b5b5b5;
    }

    .execution-options {
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .primary-option {
        padding: .625rem;
        display: inline-block;
        margin-top: 2px;
    }

    .options {
        border-left: 1px solid #777;
        height: 38px;
        display: table-cell;
        vertical-align: middle;
        &:hover {
            border-color: #b5b5b5;
        }
        i {
            padding: 0 0.2rem;
            font-size: 11px;
            padding-top:3px;
        }
    }
}