.separator {
   display: inline-block;
   width: 5px;
}

.version-actions {
   display: inline-block;
}

.selection-actions, .general-tools {
    display: inline-block;
}

button {
    margin-left:7px;
}

.general-tools {
    margin-left:10px;
}