<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<tool-bar>
   <div breadcrumb>
      <st-breadcrumbs [options]="levelOptions" (select)="selectLevel($event)" qaTag="workflows-breadcrumb"></st-breadcrumbs>
   </div>
   <div selection-tools>

   </div>
   <div general-tools>
      <div class="selection-actions">
         <!-- Edit workflows / groups -->
         <button class="button button-toolbar" 
            id="edit-workflow-group-button"
            spTitle="Edit workflow / group name"
            (click)="editWorkflowGroup()" 
            *ngIf="(selectedWorkflowsInner.length === 1 && !selectedGroupsListInner.length) || (!selectedWorkflowsInner.length && selectedGroupsListInner.length === 1)">
            <i class="icon-edit"></i>
         </button>
         <!-- end edit -->

         <button class="button button-toolbar" 
            id="run-workflow-button"
            spTitle="Run workflow version"
            (click)="runWorkflow(selectedVersionsData[0])"
            *ngIf="selectedVersionsData && selectedVersionsData.length === 1 && !isRunning(selectedVersionsData[0].status.status); else stopTemplate">
          <i class="icon-play" id="play-button-icon"></i>
        </button>
        <ng-template #stopTemplate>
           <button class="button button-toolbar" 
              id="run-workflow-button"
              spTitle="Stop workflow version"
              (click)="runWorkflow(selectedVersionsData[0])" 
              *ngIf="selectedVersionsData && selectedVersionsData.length === 1">
              <i class="icon-stop" id="stop-button-icon" *ngIf="isRunning(selectedVersionsData[0].status.status)"></i>
           </button>
        </ng-template>

         <button class="button button-toolbar"
            spTitle="Download selected version"
            id="download-button" 
            (click)="downloadWorkflows.emit()" 
            *ngIf="selectedVersionsInner.length && !selectedGroupsListInner.length && !selectedWorkflowsInner.length">
            <i class="icon-download"></i>
        </button>
         <button class="button button-toolbar" 
            id="edit-version-button"
            spTitle="Edit selected workflow version"
            (click)="editVersion()" 
            *ngIf="selectedVersionsInner.length === 1">
            <i class="icon-edit"></i>
         </button>

         <button class="button button-toolbar"
            spTitle="Move workflow / group"
            id="move-group-button" 
            *ngIf="(selectedGroupsListInner.length === 1 && !selectedWorkflowsInner.length) || (!selectedGroupsListInner.length && selectedWorkflowsInner.length === 1)" 
            (click)="moveTo()">
            <i class="icon-move-to-folder"></i>
        </button>
         <button class="button button-toolbar" 
            id="delete-button"
            spTitle="Delete selection"
            (click)="deleteWorkflowConfirmModal()"
            *ngIf="selectedVersionsInner.length || selectedGroupsListInner.length || selectedWorkflowsInner.length">
            <i class="icon-trash"></i>
        </button>
      </div>
      <div class="general-tools">
         <floating-menu *ngIf="selectedVersionsInner.length === 1" 
            [menuOptions]="menuOptionsDuplicate" 
            position="right" 
            class="show-options"
            (selectedOption)="selectedDuplicatedOption($event)">
            <div menu-action>
               <button class="button button-toolbar" spTitle="Duplicate version">
                  <i class="icon-copy"></i>
               </button>
            </div>
         </floating-menu>
         <floating-menu [menuOptions]="menuOptions" *ngIf="!versionsListMode" position="right" class="show-options" (selectedOption)="selectedMenuOption($event)">
            <div menu-action>
               <button class="button button-toolbar" id="create-entity-button" spTitle="Create workflow / group">
                <i class="icon-plus"></i>
            </button>
            </div>
         </floating-menu>
         <button spTitle="Show info sidebar" class="button button-toolbar" id="info-button" (click)="showWorkflowInfo.emit()" [ngClass]="{'selected-button': showDetails}">
            <i class="icon-info1"></i>
         </button>
      </div>
   </div>
</tool-bar>
