<section class="fragment-box" [ngClass]="{'checked' : isChecked}">
   <div class="fragment-box-header fragment-line">
         
      <st-checkbox class="selected-fragment" [value]="fragmentData" (change)="onChecked.emit($event)" [checked]="isChecked"></st-checkbox>
      <span class="name">
        <i class="icons fragment-icon" title="{{fragmentData.classPrettyName}}">{{icons[fragmentData.classPrettyName]}}</i>
        {{fragmentData.name}}
        
        </span>
   </div>
   <div class="fragment-box-body">
      <span class="description">
            {{fragmentData.description}}
        </span>
   </div>
</section>
