@import '~@stratio/egeo/theme/constants';

.separator {
   display: inline-block;
   width: 5px;
}

.version-actions {
   display: inline-block;
}

.selection-actions, .general-tools {
    display: inline-block;
}

.general-tools {
    margin-left:40px;
}

