<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<tool-bar [fullToolbar]="false">
   <div breadcrumb>
      <st-breadcrumbs [options]="levelOptions" (select)="breadcrumbMenuService.setRoute($event)" qaTag="repository-breadcrumb"></st-breadcrumbs>
   </div>
   <div selection-tools>
    <st-foreground-notifications *ngIf="notificationMessage"
        [status]="notificationMessage.status"
        [text]="('DASHBOARD.' + notificationMessage.text) | translate"
        (visibleChange)="changeNotificationVisibility($event)"
        [autoCloseTime]="notificationMessage.autoCloseTime"
        [visible]="notificationMessage.visible"></st-foreground-notifications>
   </div>
   <div general-tools>
      <div class="general-tools">
         <button spTitle="Show info sidebar" class="button button-toolbar" id="info-button" (click)="showWorkflowInfo.emit()" [ngClass]="{'selected-button': showDetails}">
           <i class="icon-info1"></i>
         </button>
      </div>
   </div>
</tool-bar>
