/*doc
---
title: c-panel
name: c-panel
category: components
---

The panel component is a wrapper to include form-controls.

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 							| `0' 

## Dependencies

[c-panel]()

*/

@import "vars";
@import "rules";
