@mixin c-modal-inner {
  @include c-panel;
  color: $c-modal-inner---color;
  line-height: $c-modal-inner---line-height;
  padding: $c-modal-inner---padding;
  &__title {
    color: $c-modal-inner__title---color;
    font-size: $c-modal-inner__title---font-size;
    font-weight: $c-modal-inner__title---font-weight;
    margin: $c-modal-inner__title---margin;
    text-transform: $c-modal-inner__title---text-transform;
  }
  &__option {
    font-size: 16px;
    font-weight: 300;
    font-family: "Open sans";
    margin: 18px 0;
    display: block;
  }
  &__right-panel {
    float: right;
  }
  .c-list {
    line-height: $c-modal-inner__c-list---line-height;
    margin: $c-modal-inner__c-list---margin;
  }
}

.c-modal-inner {
  @include c-modal-inner;
}
