$c-modal-inner---color: get-color(n7) !default;
$c-modal-inner---line-height: get-line-height(large) !default;
$c-modal-inner---padding: 15px 30px !default;

$c-modal-inner__title---color: get-color(b1) !default;
$c-modal-inner__title---font-size: get-font-size(xlarge) !default;
$c-modal-inner__title---font-weight: get-font-weight(normal) !default;
$c-modal-inner__title---text-transform: uppercase !default;
$c-modal-inner__title---margin: 15px 0 5px !default;

$c-modal-inner__c-list---line-height:  get-line-height(double) !default;
$c-modal-inner__c-list---margin: 15px 0 0 !default;
