/*doc
---
title: c-c-icon-text
name: c-c-icon-text
category: components
---

The c-icon-text component is a simple component that includes
an icon before a text.

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 							| `0' 

## Dependencies

[c-component]()

*/

@import "vars";
@import "rules";
