<st-primary-sidebar-submenu title="Nodes" ng-if="nodes.length < 16" submenu-class="nodeList">
    <!--<st-menu-element>
        {{'List of nodes' | translate}}
    </st-menu-element>-->
    <st-menu-element
    	ng-repeat="node in nodes | orderBy: 'fqdn'"
    	sref="main.dashboard.cluster.host({ hostFqdn : node.fqdn})">
        
        {{node.fqdn}}
    </st-menu-element>
</st-primary-sidebar-submenu>

<div ng-if="nodes.length >= 16" ng-class="{'opened-panel': vm.openedPanel}">

	<st-primary-sidebar-submenu title="Nodes" submenu-class="nodePanel">
		<st-menu-element class="has-opener">
			{{'List of nodes' | translate}}
			({{nodes.length}} {{'nodes' | translate}})
			<span class="open-panel icon-menu" ng-click="vm.togglePanel()"></span>
		</st-menu-element>
	</st-primary-sidebar-submenu>
	<st-quick-search
		ng-model="nodeFilter"
		placeholder="{{'Node search' | translate}}"
		ng-click="vm.preventToggle()"
		ng-keyup="vm.togglePanel(true)">
	</st-quick-search>

	<div class="node-panel-window" ng-click="vm.preventToggle()">
		<div class="nodes-title">{{'List of nodes' | translate}} ({{filteredNodes.length}} {{'nodes' | translate}})</div>
		<div class="all-nodes-cont">
			<div class="all-nodes"><!--
			 --><div ng-repeat="node in filteredNodes = (nodes | filter: {fqdn: nodeFilter} | orderBy: 'fqdn')" ui-sref-active="active">
					<a class="node" href ui-sref="main.dashboard.cluster.host({ hostFqdn : node.fqdn})">
						{{node.fqdn}}
					</a>
				</div><!--
		 --></div>
		</div>
	</div>
</div>

<div class="submenu-overlay"></div>