<a
	ui-sref-active="active"
	class="element"
	ng-if="href && !sref"
	href="{{href}}"
	data-qa="{{qaref}}"
	ng-attr-target= "{{target || null}}"
	ng-attr-download="{{downloadFileName}}">

	<em ng-if="classIcon" class="ico {{classIcon}}"></em>
	<span ng-transclude></span>
</a>

<a
	ui-sref-active="active"
	class="element"
	ng-if="sref"
	href
	ui-sref="{{sref}}"
	data-qa="{{qaref}}"
	ng-attr-download="{{downloadFileName}}">

	<em ng-if="classIcon" class="ico {{classIcon}}"></em>
	<span ng-transclude></span>
</a>

<span
	class="element"
	ng-if="!(href || sref)">

	<em ng-if="classIcon" class="ico {{classIcon}}"></em>
	<span ng-transclude></span>
</span>
