@mixin c-toolbar-container {
	@include container-to-right();
	@include item-to-right();
	@include item-to-left();

	box-sizing: border-box;
	position: relative;
	display: inline-block;
	background-color: getColor(a2);
	height: 50px;
	z-index: 500;

	&--border-left {
		border-left: 1px solid #a3aeb1;
	}

	&--to-right {
		text-align: right;
	}

	&--padding {
		padding: 10px 20px 10px 10px;
	}

	&--button {
		position: relative;
		display: inline-block;
		cursor: pointer;
		background-color: $c-toolbar-container--button---background-color;
		color: $c-toolbar-container--button---color;
		padding: 10px;
		vertical-align: middle;

		&:hover {
			background-color: $c-toolbar-container--button---background-color--hover;
		}
	}

	&--header {
		position: relative;
		display: inline-block;
		cursor: default;
		color: getColor(n0);
		font-size: 23px;
		text-transform: uppercase;
		vertical-align: sub;
		padding: 0 15px;
	}

	.icon--header {
		position: relative;
		top: 2px;
		padding-right: 5px;
	}
}

.c-toolbar-container {
	@include c-toolbar-container;
}
