.selected-entity{
    position:fixed;
    background:white;
    border:1px solid #999999;
    pointer-events: none;
    top:50%;
    left:50%;
    z-index:100;
    width:15px;
    height:15px;
    margin-top:-20px;
    margin-right:-20px;
    cursor:pointer;
}