:host{
    position:fixed;
    background:white;
    border:1px solid #999999;
    pointer-events: none;
    top:0;
    left:0;
    z-index:100;
    width:15px;
    height:15px;
    margin-top:-20px;
    margin-right:-20px;
    cursor: pointer;
}
