<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<div class="wizard-header">
  <div class="title-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="header-info" *ngIf="workflowName.length">
            <img src="assets/images/iconStreaming.svg" class="workflow-type" *ngIf="workflowType === 'Streaming'" />
            <img src="assets/images/iconBatch.svg" class="workflow-type" *ngIf="workflowType === 'Batch'" />
            <div class="workflow-name-container">
              <span class="title egeo-title-extra-large">{{workflowName}} -</span>
              <span class="title egeo-title-giant">v{{workflowVersion}}</span>
            </div>
          </div>
          <div class="header-links">
            <a class="link" (click)="showConfirmModal()">{{'WIZARD.RETURN_WORKFLOW' | translate}}</a>
            <button class="button button-primary" id="save-button" (click)="saveWorkflow()" [disabled]="isPristine || (isLoading$ | async)">
              {{'WIZARD.SAVE' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #wizardModal qaTag="wizard-modal"></div>
  <div class="tool-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <floating-menu (searchChange)="filterOptions($event)" [search]="true" [menuOptions]="menuOptions$ | async" class="show-options"
            (selectedOption)="selectedMenuOption($event)">
            <div id="create-node-menu" menu-action>
              <button class="button button-toolbar" spTitle="Create node">
                  <i class="icon-plus"></i>
              </button>
            </div>
          </floating-menu>
          <div class="position-tools">
            <button menu-action class="button button-toolbar" spTitle="Zoom in" (click)="onZoomIn.emit()" id="zoom-in-button">
              <i class="icon-zoom-in"></i>
            </button>
            <button menu-action class="button button-toolbar" spTitle="Zoom out" (click)="onZoomOut.emit()" id="zoom-out-button">
              <i class="icon-zoom-out"></i>
            </button>
            <button menu-action class="button button-toolbar" spTitle="Center workflow" (click)="onCenter.emit()" id="center-button">
              <i class="icon-move"></i>
            </button>
            <button menu-action [disabled]="!undoEnabled" spTitle="Undo action" class="undo-action button button-toolbar" (click)="undoAction()"
              id="undo-button">
              <i class="icon-reload2"></i>
            </button>
            <button menu-action [disabled]="!redoEnabled" spTitle="Redo action" class="button button-toolbar" (click)="redoAction()"
              id="redo-button">
              <i class="icon-reload"></i>
            </button>
          </div>
        </div>
        <div class="col-xs-6">
          <div style="float:left">
            <button class="button button-toolbar" spTitle="Edit selected node" (click)="onEditEntity.emit()" *ngIf="isNodeSelected" id="edit-node-button">
              <i class="icon-edit"></i>
            </button>
            <button class="button button-toolbar" spTitle="Copy selected node" (click)="onDuplicateNode.emit()" *ngIf="isNodeSelected"
              id="copy-node-button">
              <i class="icon-copy2"></i>
            </button>
            <button class="button button-toolbar" spTitle="Delete selected node" (click)="deleteSelection.emit()" *ngIf="isNodeSelected || isEdgeSelected"
              id="delete-node-button">
              <i class="icon-trash"></i>
            </button>
          </div>
          <div class="" style="float:right">
            <button  [disabled]="isWorkflowDebugging" class="button multi-button" id="debug-mode">
              <div class="button-options"><!--
                  --><i (click)="debugWorkflow()" spTitle="Run debug mode" class="primary-option icon-debug"></i><!--
                  --><menu-options-list class="execution-options" topPosition="10" rightPosition="0" [options]="runOptions" (selectedOption)="selectedDebug($event)">
                      <div class="options">
                          <i class="icon-arrow2_down"></i>
                      </div>
                  </menu-options-list><!--
              --></div>
          </button>
            <button spTitle="Show node info" [ngClass]="{'selected-button': isShowedEntityDetails$ | async, 'errors' : (!validations.valid && validations.messages && validations.messages.length) || genericError}"
              class="button button-toolbar" id="show-info-button" (click)="toggleEntityInfo()">
                <i class="icon-info1"></i>
            </button>
            <button spTitle="Workflow settings" class="button button-toolbar" id="show-settings-button" (click)="showSettings()">
              <i class="icon-cog"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <sp-foreground-notifications *ngIf="notification.visible" class="notification" [status]="notification.type" [text]="notification.message ? (('WIZARD.NOTIFICATION.' + notification.message) | translate) : ''"
    [visible]="notification.visible">
    <div *ngIf="notification.templateType && notification.templateType.length">
      <div [ngSwitch]="notification.templateType">
        <div class="message" *ngSwitchCase="'generic'">
          <span class="icon-alert"></span>
          <span>{{'WIZARD.GENERIC_ERROR' | translate}}</span>
          <span class="link" (click)="showGlobalErrors()">View summary</span>
        </div>
        <div class="message" *ngSwitchCase="'debugSuccess'">
          <span class="icon-circle-check icon-green"></span>
          <span>{{'WIZARD.NOTIFICATION.DEBUG_SUCCESS' | translate}}</span>
        </div>
        <div class="message" *ngSwitchCase="'debugFail'">
          <span class="icon-alert"></span>
          <span>{{'WIZARD.NOTIFICATION.DEBUG_FAIL' | translate}}</span>
        </div>
        <div class="message" *ngSwitchCase="'runDebug'">
          <loading-spinner class="loading"></loading-spinner>
          <span>{{'WIZARD.NOTIFICATION.DEBUG_RUN' | translate}}</span>
        </div>
      </div>
    </div>
  </sp-foreground-notifications>
  <st-progress-bar class="loading-bar" *ngIf="isLoading$ | async"></st-progress-bar>
</div>