%c-icon-radio__icon--selected {
	background: $c-icon-radio__icon--selected---background;
	color: $c-icon-radio__icon--selected---color;
}

@mixin c-icon-radio {
	@include c-component;

	&__item {
		display: none;

		&:checked {
			border: $c-icon-radio__item--checked---border;

			& + .c-icon-radio__label .c-icon-radio__icon {
				@extend %c-icon-radio__icon--selected;
			}
		}
	}


	&__label {
		&.selected{
			.c-icon-radio__icon {
				@extend %c-icon-radio__icon--selected;
			}
		}
	}

	&__icon {
		background: $c-icon-radio__icon---background;
		border: $c-icon-radio__icon---border;
		border-radius: 100%;
		color: $c-icon-radio__icon---color;
		cursor: pointer;
		display: inline-block;
		margin: $c-icon-radio__item---margin;
		padding: $c-icon-radio__icon---padding;

		&:hover {
			@extend %c-icon-radio__icon--selected;
		}
	}

	&__text {
		margin: $c-icon-radio__text---margin;
		vertical-align: text-bottom;

		&.ng-enter, .ng-leave {
			-webkit-transition: 1s linear all;
		    -moz-transition: 1s linear all;
		    -ms-transition: 1s linear all;
		    -o-transition: 1s linear all;
		    transition: 1s linear all;
		}
	}
}

.c-icon-radio {
	@include c-icon-radio;
}
