$c-icon-radio__icon--selected---background: get-color(n0) !default;
$c-icon-radio__icon--selected---color: get-color(a1) !default;

$c-icon-radio__item--checked---border: 1px solid get-color(b1) !default;

$c-icon-radio__icon---background: get-color(n4) !default;
$c-icon-radio__icon---border: 1px solid get-color(n4) !default;
$c-icon-radio__icon---color: get-color(b1) !default;
$c-icon-radio__item---margin: 4px .5em 4px 0 !default;
$c-icon-radio__icon---padding: .5em !default;

$c-icon-radio__text---margin: 0 !default;
