$c-icon-radio__icon--selected---background: get-color(g0) !default;
$c-icon-radio__icon--selected---color: get-color(c1) !default;
$c-icon-radio__icon--selected---font-weight: get-font-weight(semibold) !default;

$c-icon-radio__item--checked---border: 1px solid get-color(c4) !default;

$c-icon-radio__icon---background: get-color(g4) !default;
$c-icon-radio__icon---border: 1px solid get-color(g4) !default;
$c-icon-radio__icon---color: get-color(c4) !default;
$c-icon-radio__item---margin: 0 .5em 0 0 !default;
$c-icon-radio__icon---padding: .5em !default;

$c-icon-radio__text---margin: 0 !default;
