.execution-detail-table {

  margin: 18px 0 23px;

  .execution-detail-table__row {

  }

  .execution-detail-table__table {
    display: block;
    margin-top: 18px;
  }

  .execution-detail-table__search {
    display: flex;
    justify-content: space-between;
  }

  st-search {
    max-width: 366px;
  }

  st-dropdown-menu {
    font-size: 16px;
    cursor: pointer;
    .icon {
       font-size: 12px;
       margin-right: 13px;
       margin-left: 5px;
    }
 }

}
