@import '~@stratio/egeo/theme/constants';

.workflow-list {
   flex: 1;
}

.workflow-detail-container {
   min-height: 100%;
}

.group {
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
    .group-icon {
        font-size: 5em;
        font-weight: 100;
        display: block;
    }

    .group-name {
        display:block;
    }

}

.table-container {
    display:flex;
    width:100%;
}