<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<div #wizardPipelinesModal qaTag="wizard-modal"></div>
<div id="wizard-embedded">
  <we-header
    [workflowData]="workflowData"
    [nodeName]="nodeName"
    [isDirtyEditor]="isDirtyEditor"
    [menuData]="menuData"
    [showDeleteButton]="selectedEdge || selectedNode.length"
    [showEditAndCopyButton]="selectedNode && selectedNode.length"
    (selectedOption)="onSelectedOption($event)"
    (onZoomIn)="editor.changeZoom(true)"
    (onZoomOut)="editor.changeZoom(false)"
    (onCenter)="editor.centerWorkflow()"
    (onEditButton)="weEditNode(selectedNode)"
    (onDuplicateNode)="weDuplicateNode()"
    (deleteSelection)="weDeleteSelection()"
    (onShowInfo)="isShowedInfo = !isShowedInfo"
    (onEditSettings)="weEditSettings()"
    (onSavePipelinesWorkflow)="weSavePipelinesWorkflow()">
  </we-header>

  <div class="we__editor">
  <graph-editor
    [editorPosition]="svgPosition"
    [creationMode]="creationMode"
    [connectorPosition]="connectorInitPosition"
    (setEditorDirty)="weSetEditorDirty()"
    (deselectNode)="deselectAll()"
    (createNode)="createNode($event)"
    (removeConnector)="removeConnector()">

    <svg:g wizard-edge
      *ngFor="let edge of getEdgesMap(); trackBy: trackByEdgeFn; let i=index;"
      [edge]="edge"
      [selectedEdge]="selectedEdge"
      [initPosition]="edge.origin.uiConfiguration.position"
      [endPosition]="edge.destination.uiConfiguration.position"
      (selectEdge)="weSelectEdge($event)">
    </svg:g>
    <svg:g wizard-node
      draggable-element *ngFor="let nodeData of nodes;"
      [data]="nodeData"
      [createdNew]="nodeData.createdNew"
      [serverStepValidation]="serverStepValidations[nodeData.name]"
      [selected]="selectedNode === nodeData.name"
      [(position)]="nodeData.uiConfiguration.position"
      [drawingConnectionStatus]="drawingConnectionStatus"
      (onDrawConnector)="drawEdge($event)"
      (onFinishConnector)="onCreateEdge($event)"
      (setEditorDirty)="weSetEditorDirty()"
      (onDoubleClickEvent)="weEditNode(nodeData)"
      (onClickEvent)="weSelectNode(nodeData)">
    </svg:g>
  </graph-editor>

    <selected-entity *ngIf="creationMode.active"></selected-entity>

    <sidebar-config
      [nodeData]="editedNodeEditionMode"
      [isVisible]="isShowedInfo"
      topReference="we-header"
      (toggleSidebar)="isShowedInfo = !isShowedInfo">
    </sidebar-config>
  </div>

  <we-config-editor
    *ngIf="editedNode"
    [editedNode]="editedNode"
    [editedNodeEditionMode]="editedNodeEditionMode"
    [nodes]="nodes"
    [edges]="edges"
    [mlPipelineNode]="nodeDataEdited"
    (onCloseEdition)="weCloseEdition()"
    (onSaveEdition)="saveEdition($event)">
  </we-config-editor>

  <we-settings-editor
    [parentNodeData]="nodeDataEdited.editionType.data"
    [parentNode]="nodeDataEdited"
    *ngIf="settingsPipelinesWorkflow"
    (onCloseSettingsEdition)="closeSettingsEdition()"
    (onSaveSettingsEdition)="saveSettingsEdition($event)">
  </we-settings-editor>
</div>
