@import '~@stratio/egeo/theme/constants';

.not-selected {
   text-align: center;
   .workflow-info {
      margin-top: 20px;
   }
}

.type {
   display: block;
   color: $neutral-11;
   font-size: 15px;
}

.title {
   color: $action-secondary-06;
   font-size: 14px;
   margin-top: 6px;
   display: block;
   font-family: $egeo-nunito-sans-semiBold;

}

.selected {
  position: absolute;
    width: 375px;
    height: calc(100% - 90px);
    overflow-y: scroll;
    padding-right: 35px;
}

.values {
   display: block;
   word-break: break-all;
   font-size: $egeo-font-size-xxsmall;
   display: block;
   width: 100%;
}

.overview {
  padding-bottom: 15px;
}


.fields-title {
    font-family: $egeo-nunito-sans-semiBold;
    color: $action-secondary-06;
    margin-top: 20px;
}

.workflow-detail-image {
  width: 140px;
}

.workflow-info {
  font-size: $egeo-font-size-xxsmall;
  color: $neutral-10;
}
.validation-errors {
  padding-bottom: 20px;
  .validation-error-message{
      font-size: $egeo-font-size-xsmall;
      color: $status-critical-hover;
      margin: 5px 0;
  }
}

.debug-generic-errors{

  .debug-global-error-message {
    font-size: $egeo-font-size-xsmall;
    color: $status-critical-hover;
  }

  .last-updated{
    font-size: 13px;
    color:#000;
    margin-bottom: 10px;
  }

  .details {
    color: #4a90e2;
    font-size: 15px;
    cursor: pointer;
  }
}