<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<div class="workflow-detail">
    <div class="egeo-title-extra-large overview" *ngIf="(!entityData || !entityData.name) && (genericError || (validations && validations.valid === false && validations.messages.length))">
        Overview
    </div>
    <div class="validation-errors" *ngIf="(!entityData || !entityData.name) && validations && validations.valid === false && validations.messages.length">
        <div class="egeo-title-mini">Validation errors</div>
        <div class="validation-error-message" *ngFor="let messageObject of validations.messages">
            {{messageObject.message}}
        </div>
    </div>
    <div class="debug-generic-errors" *ngIf="(!entityData || !entityData.name) && genericError">
        <div class="debug-error">
            <div class="egeo-title-mini">Debug summary</div>
            <span class="value">Phase: {{genericError.phase}}</span>
            <div class="value">Error date: {{genericError.date}}</div>
            <div class="debug-global-error-message">
                {{(genericError.localizedMsg && genericError.localizedMsg.length > 140) ? (genericError.localizedMsg | slice:0:140)+'..':(genericError.localizedMsg) }}
            </div>
            <div class="details" (click)="showConsole('Exceptions')">View details</div>
        </div>
    </div>

    <!--<st-horizontal-tabs [options]="options" qaTag="workflow-detail-tabs"></st-horizontal-tabs>-->
    <div class="not-selected" *ngIf="(!entityData || !entityData.name) && !genericError && (!validations || !validations.valid === false || !validations.messages.length)">
        <img src="assets/images/planet.svg" class="workflow-detail-image" />
        <div class="workflow-info">{{'DASHBOARD.NODE_INFO' | translate}}</div>
    </div>
    <div class="selected" *ngIf="entityData && entityData.name">
        <h3 class="egeo-title-medium node-title">{{entityData.name}}</h3>
        <span class="type">{{entityData.stepType}} - {{entityData.classPrettyName}}</span>

        <span class="description">{{entityData.description}}</span>
        <node-errors [serverValidationError]="entityData.serverValidationError" [debugResult]="entityData.debugResult" [schemas]="entityData.schemas"
            openedSchema="Output"></node-errors>
    </div>
</div>
