@import '~@stratio/egeo/theme/constants';

.not-selected {
   text-align: center;
   .workflow-info {
      margin-top: 20px;
   }
}

.description {
  font-size: $egeo-font-size-xxsmall;
  color: black;
}

.type {
   display: block;
   color: $neutral-11;
   font-size: 15px;
}

.title {
   color: $action-secondary-06;
   font-size: 14px;
   margin-top: 6px;
   display: block;
   font-family: $egeo-nunito-sans-semiBold;

}

.values {
   display: block;
   word-break: break-all;
   font-size: $egeo-font-size-xxsmall;
   display: block;
   width: 100%;
}

.overview {
  padding-bottom: 15px;
}


.fields-title {
    font-family: $egeo-nunito-sans-semiBold;
    color: $action-secondary-06;
    margin-top: 20px;
}

.workflow-detail-image {
  width: 140px;
  margin-top: 20px;
}

.workflow-info {
  font-size: $egeo-font-size-xxsmall;
  color: $neutral-10;
}
.validation-errors {
  padding-bottom: 20px;
  .validation-error-message{
      font-size: $egeo-font-size-xxsmall;
      color: $status-critical-hover;
      margin: 5px 0;
      word-break: break-all;
  }
}

.debug-generic-errors{
   font-size: $egeo-font-size-xxsmall;

  .debug-global-error-message {
    color: $status-critical-hover;
    word-wrap: break-word;
  }

  .value{
    color:#000;
  }

  .details {
    color: #4a90e2;
    cursor: pointer;
  }
}

.node-title {
    padding-right: 20px;
    margin-top: 4px;
}
