<div #userProfile>
   <st-pop-over qaTag="notifications-pop" [title]="'GLOBAL.USER_PROFILE.TITLE' | translate" [hidden]="!showUserProfileMenu"
      [offset]="userMenuOffset">
      <div pop-over-button>
         <div [title]="userName ? userName : ''" class="user-profile" (click)="toggleUserProfile()">
            <span *ngIf="userName && userName.length">{{userName.substring(0, 2).toUpperCase()}}</span>
            <span *ngIf="!userName || !userName.length" class="icon icon-head"></span>
         </div>
      </div>
      <div pop-over-content class="user-profile-container">
         <button class="button button-link-primary" (click)="logout()">{{'GLOBAL.USER_PROFILE.LOGOUT' | translate}}</button>
      </div>
   </st-pop-over>
</div>
