/**
 * © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
 *
 * This software – including all its source code – contains proprietary
 * information of Stratio Big Data Inc., Sucursal en España and
 * may not be revealed, sold, transferred, modified, distributed or
 * otherwise made available, licensed or sublicensed to third parties;
 * nor reverse engineered, disassembled or decompiled, without express
 * written authorization from Stratio Big Data Inc., Sucursal en España.
 */

@import '~@stratio/egeo/theme/constants';

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: $egeo-nunito-sans;
  font-size: $egeo-font-size-large;
  text-align: left;
  color: $neutral-00;
  background-color: $brand;
  cursor: pointer;
}

.user-profile-container {
    min-width: 180px;
}

.profile {
  display: inline-block;
  padding-left: 5px;

  .name {
    color: white;
    font-size: 18px;
    font-family: $egeo-nunito-sans-semiBold;
  }
}

.logout {
  border-top: 1px solid $action-secondary-03;
}

.section {
  padding: 15px 30px;

  .settings-link {
    cursor: pointer;
    color: $neutral-12;
  }
}

.version {
  border-top: 1px solid #eee;
  text-align: right;
  font-size: 11px;
  color: #333;
  padding-right: 6px;
}
