<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<div #userProfile>
   <st-pop-over qaTag="notifications-pop" [title]="'GLOBAL.USER_PROFILE.TITLE' | translate" [hidden]="!showUserProfileMenu"
      [offset]="userMenuOffset">
      <div pop-over-button>
         <div [title]="userName ? userName : ''" class="user-profile" (click)="toggleUserProfile()">
            <span *ngIf="userName && userName.length">{{userName.substring(0, 2).toUpperCase()}}</span>
            <span *ngIf="!userName || !userName.length" class="icon icon-head"></span>
         </div>
      </div>
      <div pop-over-content class="user-profile-container">
         <button class="button button-link-primary" (click)="logout()">{{'GLOBAL.USER_PROFILE.LOGOUT' | translate}}</button>
      </div>
   </st-pop-over>
</div>
