@import '~@stratio/egeo/theme/constants';

:host {
  position:fixed;
  background:white;
  width: 100%;
  left: 0;
  bottom: 0;
  top:60%;
  border-top: 1px solid #b7cad9;
  z-index: 9000;
  transition: 0.2s transform;
}

.wizard-console-header {
  background: #f8f8f9;
  padding: 0 30px;
  padding-top: 16px;
  height: 44px;
  position: relative;
  border-bottom: 1px solid #ccdbe7;
}

.move {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: ns-resize;
}

.console-content {
   padding: 16px 30px;
   top: 42px;
   left: 0;
   position: absolute;
   bottom: 0;
   width: 100%;
   overflow-y: auto;
}

.buttons {
   position: absolute;
   right: 15px;
   top: 13px;
   z-index: 1;
   .close-console {
      float: right;
      cursor: pointer;
   }
}
