@import '~@stratio/egeo/theme/constants';

:host {
   display: inline-block;
}

.sp-three-bounce .sp-child {
   width: 20px;
   height: 20px;
   background-color: $brand;
   border-radius: 100%;
   display: inline-block;
   -webkit-animation: sp-three-bounce 1.4s ease-in-out 0s infinite both;
   animation: sp-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sp-three-bounce .sp-bounce1 {
   -webkit-animation-delay: -0.32s;
   animation-delay: -0.32s;
}

.sp-three-bounce .sp-bounce2 {
   -webkit-animation-delay: -0.16s;
   animation-delay: -0.16s;
}

@-webkit-keyframes sp-three-bounce {
   0%,
   80%,
   100% {
      -webkit-transform: scale(0);
      transform: scale(0);
   }
   40% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}

@keyframes sp-three-bounce {
   0%,
   80%,
   100% {
      -webkit-transform: scale(0);
      transform: scale(0);
   }
   40% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}
