<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->
<section class="execution-details" *ngIf="workflowName">
  <div class="execution-details__header">
    <img src="assets/images/iconStreaming.svg" class="workflow-type" *ngIf="executionEngine === 'Streaming'" />
    <img src="assets/images/iconBatch.svg" class="workflow-type" *ngIf="executionEngine === 'Batch'" />
    <span class="title egeo-title-extra-large">{{workflowName}}</span>
    <div class="tag" *ngIf="ciCdLabel && (ciCdLabel===CITags.Released || ciCdLabel===CITags.ReleaseCandidate)">
      <span class="icon-lock tag__lock" *ngIf="ciCdLabel===CITags.Released"></span>
      <span class="tag__text">{{ciCdLabel}}</span>
    </div>
    <a *ngIf="detailContext==='execution'" [routerLink]="['/executions/' + this.id]" class="link">Return to execution detail</a>
    <a *ngIf="detailContext==='repo'" [routerLink]="['/repository']" class="link">Return to repository</a>
  </div>
  <graph-editor class="execution-details__editor"
  [editorPosition]="uiSettings.position"
  [multiselectionEnabled]="false"
  (click)="selectedStep = ''"
  (deselectNode)="selectStep(null)">
    <svg:g wizard-edge
      *ngFor="let edge of edges; let i=index;"
      [edge]="edge"
      [selectedEdge]="''"
      [qualityRule]="qualityRulesCount && qualityRulesCount[i]"
      [qualityStatus]="qualityRulesStatus && qualityRulesStatus[i]"
      [initPosition]="edge.origin.uiConfiguration.position"
      [endPosition]="edge.destination.uiConfiguration.position"
      (click)="onSelectEdge.emit(edge)">
    </svg:g>
    <svg:g draggable-element
      *ngFor="let nodeData of nodes"
      [(position)]="nodeData.uiConfiguration.position"
      [readonlyMode]="true"
      (onClickEvent)="selectStep(nodeData)"
      (onDoubleClickEvent)="this.onOpenNode.emit(nodeData)">
      <svg:g wizard-node
        [data]="nodeData"
        [selected]="selectedStep && selectedStep.name === nodeData.name">
      </svg:g>
      <defs>
        <marker id="UpArrowPrecise" orient="auto" markerUnits="userSpaceOnUse" markerWidth="100" markerHeight="20" refX="8" refY="4">
          <path d="M0,0 L0,8 L8,4 Z" fill="#999" />
        </marker>
        <marker id="UpArrowPreciseSelected" orient="auto" markerUnits="userSpaceOnUse" markerWidth="100" markerHeight="20" refX="8" refY="4">
          <path d="M0,0 L0,8 L8,4 Z" fill="#128bde" />
        </marker>
        <marker id="createConnectorMarker" orient="auto" markerUnits="userSpaceOnUse" markerWidth="200" markerHeight="20" refX="13" refY="7.5">
          <path d="M0,0 L0,15 L15,7 z" fill="#777" />
        </marker>
      </defs>
    </svg:g>
  </graph-editor>

  <workflow-detail-sidebar
  [selectedNode]="selectedStep"
  [filteredQualityRules]="filteredQualityRules">
    </workflow-detail-sidebar>

  <workflow-detail-modal
    *ngIf="showConfigModal"
    [selectedNode]="selectedStep"
    [selectedNodeOutputNames]="selectedNodeOutputNames"
    [executionEngine]="executionEngine"
    (closeModal)="closeModal.emit()">
  </workflow-detail-modal>

</section>
