<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<section class="workflow-wizard">
  <div class="wizard-content">
    <wizard-editor-container
      #editorContainer
      [class.disable-events]="editionConfigMode.isEdition || showSettings"
      [username]="username$ | async"
      [hiddenContent]="editionConfigMode.isEdition || showSettings"
      [workflowData]="workflowData">
    </wizard-editor-container>
  </div>
</section>

<wizard-embedded
  *ngIf="(editionConfigMode.isEdition && editionConfigMode.isPipelinesEdition)"
  [workflowData]="workflowData"
  [nodeData]="editionConfigMode"
  [menuData]="pipelinesMenu"
  (savePipelinesWorkflow)="weSavePipelinesWorkflow($event)">
</wizard-embedded>

<wizard-config-editor
  *ngIf="(editionConfigMode.isEdition && !editionConfigMode.isPipelinesEdition)"
  [workflowType]="workflowType"
  [environmentList]="environmentList"
  [mlModelsList]="mlModelsList"
  [parameters]="parameters"
  [nodeWriters]="editedNodeWriters$ | async"
  [config]="editionConfigMode">
</wizard-config-editor>

<wizard-settings
  *ngIf="(workflowType.length && showSettings)"
  [edition]="isEdit"
  [parameters]="parameters"
  [workflowType]="workflowType">
</wizard-settings>

<custom-execution-container
  (closeCustomExecution)="closeCustomExecution()"
  (executeWorkflow)="executeWorkflow($event)"
  [executionContexts]="executionContexts$ | async"
  *ngIf="showDebugConfig$ | async">
</custom-execution-container>

<wizard-notifications></wizard-notifications>
<wizard-console *ngIf="showDebugConsole && !(editionConfigMode.isEdition && editionConfigMode.isPipelinesEdition)" [genericError]="genericError" [debugData]="consoleDebugData"></wizard-console>

<div #wizardCardsModal id="wizard-cards-modal" qaTag="wizard-cards-modal"></div>

<svg>
    <defs>
      <marker id="UpArrowPrecise" orient="auto" markerUnits="userSpaceOnUse" markerWidth="100" markerHeight="20" refX="8" refY="4">
        <path d="M0,0 L0,8 L8,4 Z" fill="#999" />
      </marker>
      <marker id="UpArrowPreciseSelected" orient="auto" markerUnits="userSpaceOnUse" markerWidth="100" markerHeight="20" refX="8" refY="4">
        <path d="M0,0 L0,8 L8,4 Z" fill="#128bde" />
      </marker>
      <marker id="createConnectorMarker" orient="auto" markerUnits="userSpaceOnUse" markerWidth="200" markerHeight="20" refX="13" refY="7.5">
        <path d="M0,0 L0,15 L15,7 z" fill="#777" />
      </marker>
    </defs>
  </svg>
