:host {
   height: 100%;
   display: block;
}

.sidebar-container {
   transition: 0.3s all;
   height: 100%;
   width: 0; 
   overflow: hidden;
   box-shadow: none;
   margin-left:0px;

   &.show {
      width: 387px;
      margin-left: 30px;
      box-shadow: 0 6px 10px 2px #dedede;
      /*margin-left: 35px;*/
   }
}

.sparta-sidebar {
   background-color: #f3f6f8;
   padding: 29px;
   width: 387px;
   height: 100%;
   box-shadow: 0 6px 10px 2px #dedede;
   min-height: 100%;

   &.scroll {
       overflow-y: scroll;
       width: 400px;
       padding-right: 30px;
   }
}

.sidebar-header {
    overflow: hidden;
    padding-bottom:10px;
    .close-button{
        font-size:18px;
        float: right;
        cursor: pointer;
    }
}
