@import '~@stratio/egeo/theme/constants';

:host {
   display: block;
   pointer-events: none;
   position: fixed;
   top: 70px;
   bottom: 0;
   right: 0;
}

.sidebar-container {
   display: none;
   height: 100%;
   width: 0;
   overflow: hidden;
   box-shadow: none;
   width: 387px;

   &.loaded {
     display: block;
     transition: 0.3s all;
   }

   &.hide {
    margin-left:0px;
    width: 0;
      /*margin-left: 35px;*/
   }
}

.sparta-sidebar {
   background-color: #fff;
   border-top: 1px solid $neutral-02;
   border-left: 1px solid $neutral-02;
   padding: 25px;
   padding-right: 10px;
   width: 387px;
   height: 100%;
   position: relative;
   padding-bottom: 10px;
   min-height: 100%;

   &.scroll {
    overflow-y: scroll;
    width: 400px;
    padding-right: 30px;
    overflow-x: hidden;
   }

   &.dark-border{
     border-color: #ddd;
   }
}

.sidebar-header {
    padding-bottom:10px;
    .close-button{
      font-size: 18px;
      cursor: pointer;
      right: 18px;
      top: 15px;      
      position: absolute;
      z-index: 10;
    }
}

.sidebar-content {
  height: calc(100% - 24px);
  overflow: auto;
  margin-top: 14px;
  padding-right: 14px;
  width: 98%;
}

.sidebar-content, .sidebar-header {
  pointer-events: all;
}
