@import '~@stratio/egeo/theme/constants';

.accordion {
  &__item {
    border-bottom: 1px solid $neutral-04;
  }

  &__header {
    cursor: pointer;
    padding-bottom: 14px;
    padding-top: 14px;
  }

  &__icon {
    font-size: 14px;
  }

  &__header-label {
    font-size: 17px;
    color: $neutral-13;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
  }
}
