@mixin c-cube {
	@include c-component;

	background: $c-cube---background;
	color: $c-cube---color;

	&:first-child {
		border-right: $c-cube--first-child---border-right;
	}

	&__title {
		background: $c-cube__title---background;
		color: $c-cube__title---color;
		display: block;
		padding: $c-cube__title---padding;
		text-transform: $c-cube__title---text-transform;

		&--2 {
			background-color: $c-cube__title--2---background;
			color: $c-cube__title--2---color;
		}
	}

	&__section {
		padding: $c-cube__section---padding;
	}

	&__field {
		cursor: pointer;
		position: relative;
		background: getColor(n0);

		&-wrapper {
			padding: $c-cube__field-wrapper---padding;
		}

		&-icon, &-name {
			display: inline-block;
			padding: $c-cube__field-icon---padding;
			vertical-align: middle;

			&__secondary {
				position: relative;
				display: inline-block;
				color: getColor(n0);
				background-color: getColor(n5);
				font-size: 0.875rem;
				padding-left: 0;
				padding: 5px 10px;
				cursor: default;
			}
		}

		&-icon {
			background: $c-cube__field-icon---background;
		}

		&__unique {
			border: 2px solid getColor(n5);
		}
	}

	&--padding {
		padding: 0 50px;
	}

	&--b-bottom {
		border-bottom: solid 1px getColor(n7);
		padding-bottom: 10px;
	}
}

.c-cube {
	@include c-cube;
}
