$c-cube---background: lightgrey !default;
$c-cube---color: black !default;

$c-cube--first-child---border-right: 1px solid grey !default;

$c-cube__title---background: grey !default;
$c-cube__title---color: white !default;
$c-cube__title---padding: 20px 15px 5px !default;
$c-cube__title---text-transform: uppercase !default;

$c-cube__title--2---background: lightgrey !default;
$c-cube__title--2---color: white !default;

$c-cube__section---padding: 20px 10px !default;

$c-cube__field-wrapper---padding: 10px !default;

$c-cube__field-icon---padding: 10px !default;
$c-cube__field-icon---background: lightgray !default;

$c-cube__field-name---background: white !default;
$c-cube__field-name---left: 36px !default;
$c-cube__field-name---right: 0 !default;
