<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->
<section class="execution-details" *ngIf="execution">
  <div class="execution-details__header">
    <img src="assets/images/iconStreaming.svg" class="workflow-type" *ngIf="execution.executionEngine === 'Streaming'" />
    <img src="assets/images/iconBatch.svg" class="workflow-type" *ngIf="execution.executionEngine === 'Batch'" />
    <span class="title egeo-title-extra-large">{{execution.genericDataExecution.workflow.name}}</span>
    <a [routerLink]="['/executions/' + this.id]" class="link">Return to execution detail</a>
  </div>
  <graph-editor class="execution-details__editor"
  [editorPosition]="execution.genericDataExecution.workflow.uiSettings.position"
  [multiselectionEnabled]="false"
  (click)="selectedStep = ''"
  (deselectNode)="selectStep(null)">
    <svg:g wizard-edge
      *ngFor="let edge of edges; let i=index;"
      [edge]="edge"
      [selectedEdge]="''"
      [qualityRule]="qualityRulesCount[i]"
      [qualityStatus]="qualityRulesStatus[i]"
      [initPosition]="edge.origin.uiConfiguration.position"
      [endPosition]="edge.destination.uiConfiguration.position"
      (click)="selectEdge(edge)">
    </svg:g>
    <svg:g draggable-element
      *ngFor="let nodeData of nodes"
      [(position)]="nodeData.uiConfiguration.position"
      [readonlyMode]="true"
      (onClickEvent)="selectStep(nodeData)">
      <svg:g wizard-node
        [data]="nodeData"
        [selected]="selectedStep && selectedStep.name === nodeData.name">
      </svg:g>
      <defs>
        <marker id="UpArrowPrecise" orient="auto" markerUnits="userSpaceOnUse" markerWidth="100" markerHeight="20" refX="8" refY="4">
          <path d="M0,0 L0,8 L8,4 Z" fill="#999" />
        </marker>
        <marker id="UpArrowPreciseSelected" orient="auto" markerUnits="userSpaceOnUse" markerWidth="100" markerHeight="20" refX="8" refY="4">
          <path d="M0,0 L0,8 L8,4 Z" fill="#128bde" />
        </marker>
        <marker id="createConnectorMarker" orient="auto" markerUnits="userSpaceOnUse" markerWidth="200" markerHeight="20" refX="13" refY="7.5">
          <path d="M0,0 L0,15 L15,7 z" fill="#777" />
        </marker>
      </defs>
    </svg:g>
  </graph-editor>
  <sparta-sidebar [isVisible]="true" [darkBorder]="true" showScrollBar="true" [showCloseButton]="false">
    <div class="not-selected" *ngIf="!selectedStep && !filteredQualityRules.length">
      <img src="assets/images/planet.svg" class="step-detail-image" />
      <div class="step-info">Select a step to view its details</div>
    </div>
    <div class="sidebar-content" *ngIf="selectedStep">
      <div class="egeo-title-medium">{{selectedStep.name}}</div>
      <div>{{selectedStep.stepType}} - {{selectedStep.classPrettyName}}</div>
      <div class="configuration">
          <st-horizontal-tabs class="sidebar-tabs"
            *ngIf="selectedStep.stepType !== 'Output'"
            [options]="tabOptions"
            [activeOption]="tabSelectedOption"
            (changedOption)="changedOption($event)"
            qaTag="workflow-details-tabs"></st-horizontal-tabs>
        <schema-data *ngIf="tabSelectedOption.id === 'writer'"
          [schema]="writerTemplate"
          [data]="selectedStep.writer"></schema-data>
        <schema-data *ngIf="tabSelectedOption.id === 'global'"
          [schema]="currentStepTemplate.properties"
          [data]="selectedStep.configuration">
        </schema-data>
      </div>
    </div>

    <div class="sidebar-content" *ngIf="filteredQualityRules && filteredQualityRules.length && !selectedStep">
      <div class="execution-details__sidebar-title">Quality Rules</div>
      <div class="execution-detail s__separator"></div>
      <drop-down-title class="drop-down-title" *ngFor="let qualityRule of filteredQualityRules" [title]="qualityRule.name">
        <div class="execution-details__status" info>
          <i [ngClass]="{'icon-dot status-icon success-color': qualityRule.status}" ></i>
          <i [ngClass]="{'icon-dot status-icon error-color': !qualityRule.status}" ></i>
          <span *ngIf="qualityRule.status" >OK</span>
          <span *ngIf="!qualityRule.status" >KO</span>
        </div>

        <quality-rule-detail [compactMode]="true" [qualityRule]="qualityRule" ></quality-rule-detail>

      </drop-down-title>
    </div>

  </sparta-sidebar>
</section>
