.sp-select-data {
   position: relative;
}

.options {
   border: 1px solid #88c5ee;
   border-top: 0;
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   max-height: 265px;
   overflow: auto;
   overflow-x: hidden;
   background: white;
   z-index: 9;
   ul,
   li {
      margin: 0;
      padding: 0;
      list-style: none;
   }
   li {
      color: #0f1b27;
      font-family: "Nunito Sans";
      font-size: .938rem;
      line-height: 1.25rem;
      padding: 7px 14px;
      cursor: pointer;
      &:hover {
         /* color: #37b5e4; */
         background-color: #f4f4f4;
      }
   }
   span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}

.st-input {
   position: relative;
   height: 40px;
   .select-value {
      width: 100%;
   }
   .arrow {
      position: absolute;
      right: 15px;
      top: 12px;
   }
}



.active {
   .st-input {
      border-color: #88c5ee;
      border-radius: 4px 4px 0 0;
   }
   .arrow {
      color: #128bde;
   }
}

.disabled {
    .st-input {
        border-color:#dedede;
    }

    .arrow {
        color: #dedede;
     }
}

.sp-select .error .st-input {
    border-color: #f59ea9;
}
