<div class="sp-select" [ngClass]="{'active' : active && !isDisabledMarked}">
   <label st-label class="st-input__label label" [ngClass]="{'active' : active && !isDisabledMarked, error: showError(), disabled: disabled || isDisabledMarked}" name="name"
       [attr.title]="tooltip">
    {{label}}
    </label>

   <div class="sp-select-data st-form-field" [ngClass]="{error: showError(), disabled: disabled || isDisabledMarked}">
      <div class="st-input" (click)="showOptions()" [attr.id]="qaTag">
         <input readonly="readonly" [(ngModel)]="internalControl.value.label" type="text" class="select-value" name="fragmentType"
            placeholder="">
         <i class="icon-arrow2_down arrow"></i>
      </div>
      <ul class="options" *ngIf="active && !isDisabledMarked && options.length">
         <li *ngFor="let option of options" (click)="selectOption(option)">
            <span>{{option.label}}</span>
         </li>
      </ul>
   </div>

   <div class="st-input-error-layout" *ngIf="showError()">
      <span class="st-input-error-message">{{errorMessage}}</span>
   </div>
</div>
