@import '../../../../../../node_modules/@stratio/egeo/theme/constants';

.catalog {
  height: 100%;
}

.entity-categories{
  padding-bottom: 30px;
  display: block;
}

.title {
  color: $action-secondary-06;
  font-size: 14px;
  margin-top: 6px;
  display: block;
}

.values {
  display: block;
  word-break: break-all;
}

