  <sparta-sidebar
    showScrollBar="true"
    class="catalog"
    [isVisible]="isVisible"
    (onCloseSidebar)="toggleSidebar.emit()">
    <st-horizontal-tabs
      class="entity-categories"
      *ngIf="showCrossdataCatalog"
      [options]="sideBarOptions"
      qaTag="node-tabs"
      (changedOption)="changeFormOption($event)">
    </st-horizontal-tabs>
    <div *ngIf="selectedOption === 'data'">
      <h3 class="egeo-title-medium">{{entityData.name}}</h3>
      <span class="type">{{entityData.stepType}} - {{entityData.classPrettyName}}</span>
      <node-errors
        [serverValidationError]="nodeData.serverValidation"
        [schemas]="nodeData.schemas"
        [debugResult]="nodeData.debugResult">
      </node-errors>
    </div>
    <crossdata-catalog *ngIf="selectedOption === 'crossdata'"></crossdata-catalog>
  </sparta-sidebar>
