.editor {
   display: flex;

   .json-info {
      display: flex;
      font-size: 12px;
      .icon {
         margin-right: 6px;
      }
   }
}

.workflow-fields {
   width: 250px;
   margin-right: 32px;
}

.workflow-json {
   flex: 1;
}

.workflow-json-content {
   width: 100%;
}


.edition-buttons {
    float:right;
}

.description {
    margin-top:20px;
}
