@mixin c-step-content {
	@include c-panel;

	background: $c-step-content---background;
	margin: $c-step-content---margin;
	padding: $c-step-content---padding;

	&__title {
		color: $c-step-content__title---color;
		font-size: $c-step-content__title---font-size;
		font-weight: $c-step-content__title---font-weight;
		margin: $c-step-content__title---margin;
		text-transform: $c-step-content__title---text-transform;

		&--underlined {
			border-bottom: $c-step-content__title--underlined---border-bottom;
			padding: $c-step-content__title--underlined---padding;
		}
	}

	&__subtitle {
		color: getColor(n10);
		font-size: 1.25rem;
		font-weight: 500;
		padding: 15px 0;
		text-transform: uppercase;

		&--text {
			vertical-align: middle;
		}
	}

	&__title-text {
		display: inline-block;
    	vertical-align: bottom;
	}
}

.c-step-content {
	@include c-step-content;
}
