$c-step-content---background: white !default;
$c-step-content---margin: 0 20px 20px !default;
$c-step-content---padding: 0 !default;
$c-step-content__title---color: black !default;
$c-step-content__title---font-size: 28px !default;
$c-step-content__title---font-weight: 500 !default;
$c-step-content__title---margin: 0 !default;
$c-step-content__title---text-transform: none !default;
$c-step-content__title--underlined---border-bottom: 1px solid !default;
$c-step-content__title--underlined---padding: 0 !default;
