@mixin c-msg {
	@include c-panel;

	&--small {
		padding: $c-msg--small---padding;
	}

	&--error {
		background: $c-msg--error---background;
		color: $c-msg--error---color;
	}
}

.c-msg {
	@include c-msg;
}
