@mixin c-msg {
	@include c-panel;

	&--small {
		padding: $c-msg--small---padding;
	}

	&--error {
		background: $c-msg--error---background;
		color: $c-msg--error---color;
	}

	&--success {
		background: $c-msg--success---background;
		color: $c-msg--success---color;
	}

	.c-icon {
		margin: $c-msg__c-icon---margin;
	}
}

.c-msg {
	@include c-msg;
}
