$c-msg--small---padding: 5px 10px !default;

$c-msg--error---background: red !default;
$c-msg--error---color: white !default;
$c-msg--error---display: inline-block !default;
$c-msg--error---cursor: default !default;
$c-msg--error---margin-top: 8px;

$c-msg--success---background: green !default;
$c-msg--success---color: white !default;
$c-msg--success---display: inline-block !default;

$c-msg__c-icon---margin: 0 .5em 0 0 !default;
