/*doc
---
title: c-input
name: c-input
category: components
---

The input component creates an input element which is customizable.

```html_example
<input type="text" class="c-input" />
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
$c-input---border 							| `none' 
$c-input---color 							| `get-color(g8)' 
$c-input---height 							| `28px' 
$c-input---padding 							| `0 0 0 35px' 
$c-input---margin 							| `0' 
$c-input---border-radius 					| `5px' 

## Dependencies

[c-component]()

*/

@import "vars";
@import "rules";
