@mixin c-input {
	@include c-component;

	border: $c-input---border;
	border-radius: $c-input---border-radius;
	color: $c-input---color;
	height: $c-input---height;
	padding: $c-input---padding;

	@include full-width();

	&--left-icon {
		padding: $c-input--left-icon---padding;
	}

	&--no-border {
		border: 0;
	}
}

.c-input {
	@include c-input;
}
