@mixin c-input {
	border: $c-input---border;
	color: $c-input---color;
	height: $c-input---height;
	border-radius: $c-input---border-radius;

	&--left-icon {
		padding: $c-input--left-icon---padding;
	}
}

.c-input {
	@include c-input;
}
