$c-input---border: 1px solid get-color(n3) !default;
$c-input---color: get-color(n8) !default;
$c-input---height: 28px !default;
$c-input---border-radius: 5px !default;
$c-input---padding: 0 5px !default;

$c-input--disabled---background: lightgrey !default;
$c-input--disabled---color: grey !default;
$c-input--disabled---font-style: italic !default;

$c-input--left-icon---padding: 0 0 0 22px !default;
