$c-input---border: 1px solid get-color(g3) !default;
$c-input---color: get-color(g8) !default;
$c-input---height: 28px !default;
$c-input---border-radius: 5px !default;
$c-input---padding: 0 5px !default;

$c-input--left-icon---padding: 0 0 0 22px !default;
