$c-input---border: none !default;
$c-input---color: get-color(g8) !default;
$c-input---height: 28px !default;
$c-input---margin: 0 !default;
$c-input---border-radius: 5px !default;

$c-input--left-icon---padding: 0 0 0 35px !default;
