<section data-ng-controller="PolicyCubeAccordionCtrl as vm">
  <form class="c-form c-panel c-panel--framed" novalidate>
    <c-accordion items="vm.policy.cubes"
                 item-template="'views/policy-wizard/cube-panel.html'"
                 on-change-opened-element="vm.changeOpenedCube(selectedItemPosition)"
                 item-qa-tag="policy-cube"
                 show-new-item-panel="vm.isActiveCubeCreationPanel()"
                 accordion-status="vm.cubeAccordionStatus"
                 item-attribute-in-header="name"
                 new-item-header="_POLICY_._NEW_CUBE_DEFINITION_">
    </c-accordion>
  </form>
  <footer class="c-row c-row--footer">
    <div class="c-col c-col--12 c-col--to-right">
      <button class="c-button c-button--call-to-action-7"  ng-if = "!vm.isActiveCubeCreationPanel()"
              data-ng-click="vm.activateCubeCreationPanel()" data-qa="policy-model-add-new-transformation-button">
        <i class="icon icon-circle-plus"></i>
        <span>{{"_POLICY_._ADD_CUBE_" | translate}}</span>
      </button>
    </div>
  </footer>
</section>
