<section data-ng-controller="CubeCtrl as vm" data-ng-init="vm.init()" data-ng-model="vm.cube">
  <ng-form name="vm.form" id = "cubeForm" novalidate>

    <div class="c-form-group c-col c-col--6">
      <form-field
        data-ng-repeat="properties in vm.template.properties"
        data-ng-class="{'c-col c-col--{{properties.width}}': properties.width, 'c-form-gutter c-form-gutter__{{properties.position}} c-col--vertical-top': properties.position}"
        data-ng-form-id="{{properties.propertyId}}"
        data-field="properties"
        data-model="vm.cube"
        data-form="vm.form"
        data-st-name="dataSource{{properties.propertyName}}Form"
        data-qa="{{properties.qa}}">
      </form-field>
    </div>
    <div class="c-row c-form-group">
      <div class="c-col c-col--6">
        <div class="c-row c-row--flex">
          <div class="c-cube c-col c-col--6 c-col--vertical-top">
            <label class="c-cube__title c-col c-col--12 c-col--vertical-centered">{{"_POLICY_._FIELDS_" |
              translate}}</label>

            <div class="c-cube__section c-col c-col--12 c-col--vertical-centered">
              <!--OUTPUTS-->
              <div class="c-cube__field-wrapper c-col c-col--12 c-col--vertical-centered"
                   data-ng-click="vm.addOutputToDimensions(output)"
                   data-ng-repeat="output in vm.outputList track by $index"
                   data-qa="policy-cube-outputlist-{{$index}}-add">
                <div class="c-cube__field">
                  <span class="c-cube__field-icon c-icon icon-circle-plus"></span>
                  <span class="c-cube__field-name">{{output}}</span>
                </div>
              </div>
            </div>
          </div>
          <!--

              -->
          <div class="c-cube c-col c-col--6 c-col--vertical-top">
            <label class="c-cube__title c-cube__title--2 c-col c-col--12 c-col--vertical-centered">{{"_POLICY_._DIMENSIONS_" | translate}}</label>

            <div class="c-cube__section c-col c-col--12 c-col--vertical-centered">
              <!--DIMENSIONS-->
              <div class="c-cube__field-wrapper c-col c-col--12 c-col--vertical-centered"
                  data-ng-click="vm.removeOutputFromDimensions($index, dimension.computeLast)"
                  data-ng-repeat="dimension in  vm.cube.dimensions track by $index"
                  data-qa="policy-cube-dimensionslist-{{$index}}-remove">
                <span class="c-cube__field-name c-cube__field-name__secondary" data-ng-if="dimension.computeLast">
                  {{"_IS_TIME_DIMENSION_" | translate}}
                </span>
                <div class="c-cube__field" data-ng-class="{'c-cube__field__unique': dimension.computeLast}">
                  <span class="c-cube__field-icon c-icon icon-circle-minus"></span>
                  <span class="c-cube__field-name">{{dimension.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="c-row c-row--flex">
          <div class="c-cube c-col c-col--6 c-col--vertical-top">
            <label class="c-cube__title c-col c-col--12 c-col--vertical-centered">{{"_POLICY_._FUNCTIONS_" |
              translate}}</label>

            <div class="c-cube__section c-col c-col--12 c-col--vertical-centered">
              <!--_FUNCTIONS_-->
              <div class="c-cube__field-wrapper c-col c-col--12 c-col--vertical-centered"
                   data-ng-click="vm.addFunctionToOperators(function)"
                   data-ng-repeat="function in  vm.functionList track by $index"
                   data-qa="policy-cube-functionlist-{{$index}}-add">
                <div class="c-cube__field">
                  <span class="c-cube__field-icon c-icon icon-circle-plus"></span>
                  <span class="c-cube__field-name">{{function}}</span>
                </div>
              </div>
            </div>
          </div>
          <!--

              -->
          <div class="c-cube c-col c-col--6 c-col--vertical-top">
            <label class="c-cube__title c-cube__title--2 c-col c-col--12 c-col--vertical-centered">
              {{"_POLICY_._OPERATORS_"| translate}}</label>

            <div class="c-cube__section c-col c-col--12 c-col--vertical-centered">
              <!--OPERATORS-->
              <div class="c-cube__field-wrapper c-col c-col--12 c-col--vertical-centered"
                   data-ng-click="vm.removeFunctionFromOperators($index)"
                   data-ng-repeat="operator in vm.cube.operators track by $index"
                   data-qa="policy-cube-operatorlist-{{$index}}-remove">
                <div class="c-cube__field">
                  <span class="c-cube__field-icon c-icon icon-circle-minus"></span>
                  <span class="c-cube__field-name">{{operator.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--
   --><div class="c-cube--padding c-col c-col--6 c-col--vertical-top">
        <div class="c-form-group--compressed">
          <h1 class="c-step-content__title">
            <i class="c-icon icon-output"></i>
            <span class="c-step-content__title-text">{{"_SAVE_OPTIONS_" | translate}}</span>
          </h1>
          <div class="c-col c-col--12 c-form-group--compressed__container">
            <!--Writer model -->
            <c-writer-model data-model="vm.cube" data-form="vm.form" data-template = "vm.template.writer"
                            data-policy-output-list="vm.policyOutputList" data-selected-policy-output="vm.selectedPolicyOutput">
            </c-writer-model>
          </div>
        </div>
      <div class="c-row">
        <div class="c-col c-col--6">
          <h1 class="c-step-content__title">
            <i class="c-icon icon-bell"></i>
            <span class="c-step-content__title-text">{{"_TRIGGERS_" | translate}}</span>
          </h1>
        </div><!--
 --><div class="c-col c-col--6 c-col--to-right">
        <button class="c-button c-button--call-to-action-7" ng-if="!vm.isActiveTriggerCreationPanel()"
                data-ng-click="vm.activateTriggerCreationPanel()" data-qa="policy-model-add-new-trigger-button">
          <i class="icon icon-circle-plus"></i>
          <span>{{"_POLICY_._ADD_TRIGGER_" | translate}}</span>
        </button>
      </div>
      </div>
        <ng-include src="'views/policy-wizard/trigger-accordion.html'" novalidate></ng-include>
      <div class="c-col c-col--12 c-msg c-msg--small c-msg--error c-form c-form-group"
           data-ng-if="vm.showTriggerError()"
           data-qa="policy-cube-error-msg">
        <i class="c-icon icon-circle-cross"></i>
        <span>{{vm.triggerError | translate}}</span>
      </div>
      </div>
    </div>
    <div class="c-col c-col--6 c-msg c-msg--small c-msg--error c-form c-form-group"
       data-ng-if="vm.form.$submitted && (vm.cube.operators.length === 0 || vm.cube.dimensions.length === 0)"
       data-qa="policy-cube-error-msg">
      <i class="c-icon icon-circle-cross"></i>
      <span>{{vm.cubeError.text | translate}}</span>
    </div>
    <div class="c-form-group c-form-group--full-width c-form-group--to-right">
      <button class="c-button c-button--call-to-action-2" data-ng-if="vm.isNewCube(vm.cubeContext.position)"
              type="submit" data-ng-click="vm.cancelCubeCreation()"
              data-qa="policy-cube-delete-button">
        <i class="c-icon icon-cross"></i>
        <span>{{"_CANCEL_" | translate}}</span>
      </button>
      <button data-ng-if="vm.isNewCube(vm.cubeContext.position)" class="c-button c-button--call-to-action-1"
              data-ng-click="vm.addCube()"
              data-qa="policy-cube-add-button">
        <i class="icon icon-circle-plus"></i>
        <span>{{"_POLICY_._SAVE_CUBE_" | translate}}</span>
      </button>
      <button data-ng-if="!vm.isNewCube(vm.cubeContext.position)" class="c-button c-button--call-to-action-1"
              data-ng-click="vm.saveCube(vm.form)"
              data-qa="policy-cube-add-button">
        <i class="icon icon-circle-plus"></i>
        <span>{{"_POLICY_._SAVE_CUBE_" | translate}}</span>
      </button>
      <button class="c-button c-button--danger" data-ng-if="!vm.isNewCube(vm.cubeContext.position)"
              type="submit" data-ng-click="vm.removeCube(vm.cubeContext.position, $event)"
              data-qa="policy-cube-delete-button">
        <i class="c-icon icon-cross"></i>
        <span>{{"_DELETE_" | translate}}</span>
      </button>
    </div>
  </ng-form>
</section>
