<section data-ng-controller="PolicyModelCtrl as vm">
  <ng-form name="vm.form" novalidate>
    <div class="c-form-group">
      <div class="c-form-control c-form-control--full-width c-icon-radio">
        <span class="c-icon-label c-col c-col--12">
          <label class="c-icon-label__text c-label">
            {{"_TYPE_" | translate}}
          </label>
        </span>
        <span data-ng-repeat="modelTypes in vm.modelTypes">
          
          <label data-ng-model="vm.model.type" class="c-icon-radio__label" data-ng-click="vm.onChangeType($event, editionMode)"
                 data-qa="policy-model-type-{{modelTypes.name | lowercase}}"
                 for="type-{{modelTypes.name + $parent.$index| lowercase}}" data-ng-class="{'selected':vm.model.type == modelTypes.name}">
              <input class="c-icon-radio__item"
                 id="type-{{modelTypes.name + $parent.$index| lowercase}}" type="radio"
                 data-ng-model="vm.model.type" value="{{modelTypes.name}}">
            <i class="c-icon c-icon--large c-icon-radio__icon icon-{{modelTypes.iconName | lowercase}}"
               uib-popover="{{modelTypes.name | lowercase}}" popover-placement="top" popover-trigger="mouseenter" popover-class="tooltip--top">
            </i>
          </label>
        </span>
      </div>
    </div>
    <div class="c-fieldset c-fieldset--bottom-margin c-fieldset--padding-bottom">
      <div class="c-row c-msg c-msg--small c-msg--error" data-ng-if="vm.usedOutputFieldType" data-qa="error-msg">
        <i class="c-icon icon-circle-cross"></i>
        <span> {{'_POLICY_._TRANSFORMATION_CHANGETYPE_ERROR_' | translate: '{"outputField":"'+ vm.usedOutputFieldName +'"}'}}</span>
      </div>
    </div>
    <ng-include src="(vm.getTransformationTemplateUrl())"></ng-include>
    <div class="c-row c-msg c-msg--small c-msg--error" data-ng-if="vm.invalidOutputField" data-qa="error-msg">
      <i class="c-icon icon-circle-cross"></i>
      <span> {{'_POLICY_._TRANSFORMATION_OUTPUT_FIELD_ERROR_' | translate: '{"outputField":"'+ vm.invalidOutputField.name +'"}'}}</span>
    </div>
    <div class="c-row c-msg c-msg--small c-msg--error" data-ng-if="vm.usedOutputField" data-qa="error-msg">
      <i class="c-icon icon-circle-cross"></i>
      <span> {{'_POLICY_._TRANSFORMATION_OUTPUT_USED_ERROR_' | translate: '{"outputField":"'+ vm.usedOutputFieldName +'"}'}}</span>
    </div>
    <div class="c-form-group c-form-group--to-right">
      <button class="c-button c-button--call-to-action-2" type="submit" data-ng-click="vm.cancelModelCreation(editionMode)" data-qa="policy-model-delete-button">
        <i class="c-icon icon-cross"></i>
        <span>{{"_CANCEL_" | translate}}</span>
      </button>
      <button class="c-button c-button--call-to-action-1" data-ng-click="vm.addModel(editionMode)" data-qa="policy-model-add-button">
        <i class="icon icon-circle-plus"></i>
        <span>{{"_POLICY_._SAVE_TRANSFORMATION_" | translate}}</span>
      </button>
      <button class="c-button c-button--danger" data-ng-if="vm.isLastModel( vm.modelContext.position)" type="submit" data-ng-click="vm.removeModel($event)"
        data-qa="policy-model-delete-button">
        <i class="c-icon icon-cross"></i>
        <span>{{"_DELETE_" | translate}}</span>
      </button>
    </div>
  </ng-form>
</section>
