<section data-ng-controller="PolicyModelAccordionCtrl as vm">
  <p class="c-info-text c-info-text--narrow c-info-text--bottom-margin"><i
    class="c-icon c-info-text__icon icon-info1"></i><span class="c-info-text__text">{{"_POLICY_._MODEL_INTRO_" | translate}}</span>
  </p>

  <div class="c-row c-msg c-msg--small c-msg--error"
       data-ng-if="vm.error != '' && vm.policy.transformations.length === 0"
       data-qa="policy-model-accordion-error-msg">
    <i class="c-icon icon-circle-cross"></i>
    <span>{{vm.error| translate}}</span>
  </div>
  <form class="c-form c-panel c-panel--framed" novalidate>
    <accordion class="c-accordion" data-ng-model="vm.policy.transformations">
      <div class="c-accordion-item">
        <accordion-group is-open="vm.accordionStatus[$index]" data-ng-repeat="currentModel in vm.policy.transformations track by vm.generateIndex()" data-ng-model="currentModel">
          <accordion-heading class="c-accordion-header">
            <div class="c-col c-col--11">
              <span class="c-accordion-header__step-number">{{$index + 1}}</span>
              <i data-ng-if="currentModel.type" class="c-accordion-header__type c-icon icon-{{currentModel.type | lowercase}}"></i>
              <span class="c-accordion-header__title">{{currentModel.type}}</span>
            </div><!--
         --><div class="c-col c-col--1 c-col--to-right">
              <i class="c-accordion-header__open-mark c-icon icon-arrow2_right" data-qa="policy-model-arrow-{{$index + 1}}"></i>
            </div>
          </accordion-heading>
          <ng-include data-ng-if="vm.accordionStatus[$index]" src="'views/policy-wizard/model-panel.html'"
            data-ng-model="currentModel" data-qa="policy-model-{{$index}}" data-ng-init="editionMode = false">
          </ng-include>
        </accordion-group>
      </div>
      <div class="c-accordion-item c-accordion-item--new" ng-if ="vm.isActiveModelCreationPanel()">
        <accordion-group is-open="vm.accordionStatus[vm.policy.transformations.length]">
          <accordion-heading class="c-accordion-header">
            <div class="c-col c-col--11">
              <span class="c-accordion-header__step-number">{{(vm.policy.transformations.length + 1) }}</span><i
              class="c-accordion-header__type c-icon"></i>
              <p class="c-accordion-header__title">{{"_POLICY_._NEW-MODEL-DEFINITION_" | translate}}<span
                class="c-text--margin-left c-text--bold">[{{"_POLICY_._MODEL_NOT_SAVED_" | translate}}]</span></p>
            </div><!--
         --><div class="c-col c-col--1 c-col--to-right">
              <i class="c-accordion-header__open-mark c-icon icon-arrow2_right" data-qa="policy-model-arrow-{{(vm.policy.transformations.length + 1) }}"></i>
            </div>
          </accordion-heading>
          <ng-include data-ng-if="vm.accordionStatus[vm.policy.transformations.length]"
            src="'views/policy-wizard/model-panel.html'"
            data-ng-init="editionMode = true"
            data-qa="policy-model-new">
          </ng-include>
        </accordion-group>
      </div>
    </accordion>
  </form>

  <footer class="c-row c-row--footer">
    <div class="c-col c-col--6 c-col--vertical-centered c-col--to-left">
      <div class="c-col c-col--6 c-col--vertical-centered c-col--to-left">
        <c-icon-link icon-class="'icon-help1'" text="'_HELP_' | translate" link-url="vm.helpLink"
                     data-qa="policy-model-help"></c-icon-link>
      </div>
    </div><!--
 --><div class="c-col c-col--6 c-col--to-right">
      <button class="c-button c-button--call-to-action-1"  ng-if = "!vm.isActiveModelCreationPanel()"
              data-ng-click="vm.activateModelCreationPanel()" data-qa="policy-model-add-new-transformation-button">
        <i class="icon icon-circle-plus"></i>
        <span>{{"_POLICY_._ADD_TRANSFORMATION_" | translate}}</span>
      </button>
    </div>
  </footer>
</section>
