<section data-ng-controller="PolicyModelCtrl as vm">
  <ng-form name="vm.form" novalidate>
    <div class="c-form-group">
      <div class="c-form-control c-form-control--full-width c-icon-radio">
        <span class="c-icon-label c-col c-col--12">
          <label class="c-icon-label__text c-label">
            {{"_TYPE_" | translate}}
          </label>
        </span>
        <span data-ng-repeat="modelTypes in vm.modelTypes">
          <input data-ng-change="vm.onChangeType()" class="c-icon-radio__item"
                 id="type-{{modelTypes.name + $parent.$index| lowercase}}" type="radio"
                 data-ng-model="vm.model.type" value="{{modelTypes.name}}" data-ng-disabled="!editionMode">
          <label data-ng-model="vm.model.type" class="c-icon-radio__label"
                 data-qa="policy-model-type-{{modelTypes.name | lowercase}}"
                 for="type-{{modelTypes.name + $parent.$index| lowercase}}">
            <i class="c-icon c-icon--large c-icon-radio__icon icon-{{modelTypes.iconName | lowercase}}"
               uib-popover="{{modelTypes.name | lowercase}}" popover-placement="top" popover-class="tooltip--top">
            </i>
          </label>
        </span>
      </div>
    </div>
    <div data-ng-switch="vm.model.type">
      <!-- filter -->
      <div data-ng-switch-when="Filter">
        <ng-include src="'templates/policies/transformation/filter-panel.tpl.html'"></ng-include>
      </div>
      <!-- json -->
      <div data-ng-switch-when="Json">
        <ng-include src="'templates/policies/transformation/json-panel.tpl.html'"></ng-include>
      </div>
      <!-- xml -->
      <div data-ng-switch-when="Xml">
        <ng-include src="'templates/policies/transformation/xml-panel.tpl.html'"></ng-include>
      </div>
      <!-- morphlines -->
      <div data-ng-switch-when="Morphlines">
        <ng-include src="'templates/policies/transformation/morphlines-panel.tpl.html'"></ng-include>
      </div>
      <!-- DateTime -->
      <div data-ng-switch-when="DateTime">
        <ng-include src="'templates/policies/transformation/datetime-panel.tpl.html'"></ng-include>
      </div>
      <!-- ingestion -->
      <div data-ng-switch-when="Ingestion">
        <ng-include src="'templates/policies/transformation/ingestion-panel.tpl.html'"></ng-include>
      </div>
      <div ng-switch-when="Geo">
        <ng-include src="'templates/policies/transformation/geoparser-panel.tpl.html'"></ng-include>
      </div>
      <div class="c-row c-msg c-msg--small c-msg--error" data-ng-if="vm.invalidOutputField" data-qa="error-msg">
        <i class="c-icon icon-circle-cross"></i>
        <span> {{'_POLICY_._TRANSFORMATION_OUTPUT_FIELD_ERROR_' | translate: '{"outputField":"'+ vm.invalidOutputField.name +'"}'}}</span>
      </div>
    </div>

    <div class="c-form-group c-form-group--to-right">
      <button class="c-button c-button--call-to-action-2" data-ng-if="vm.isNewModel(vm.modelContext.position)"
              type="submit" data-ng-click="vm.cancelModelCreation()"
              data-qa="policy-model-delete-button">
        <i class="c-icon icon-cross"></i>
        <span>{{"_CANCEL_" | translate}}</span>
      </button>
      <button data-ng-if="vm.isNewModel(vm.modelContext.position)" class="c-button c-button--call-to-action-1"
              data-ng-click="vm.addModel()" data-qa="policy-model-add-button">
        <i class="icon icon-circle-plus"></i>
        <span>{{"_POLICY_._SAVE_TRANSFORMATION_" | translate}}</span>
      </button>
      <button class="c-button c-button--danger" data-ng-if="vm.isLastModel( vm.modelContext.position)"
              type="submit" data-ng-click="vm.removeModel($event)"
              data-qa="policy-model-delete-button">
        <i class="c-icon icon-cross"></i>
        <span>{{"_DELETE_" | translate}}</span>
      </button>
    </div>
  </ng-form>
</section>
