<section>
  <form class="c-form c-panel c-panel--framed" novalidate>
    <ng-form name="vm.form" novalidate disabled="disabled">
      <div class="c-col c-col--6">
        <c-writer-model data-model="vm.saveOptions" data-form="vm.form" data-template="vm.outputsTemplate" data-policy-output-list="vm.policyOutputList"
          data-selected-policy-output="vm.selectedPolicyOutput">
        </c-writer-model>
      </div>
      <aside class="c-panel--bottom-margin">
        <div class="c-col c-col--6">
          <!-- Error message -->
          <c-animated-msg data-msg="vm.errorMessage" data-on-click-close-msg="vm.deleteErrorMessage()" data-timeout=10000></c-animated-msg>
          <c-animated-msg data-msg="vm.successMessage" data-on-click-close-msg="vm.deleteSuccessMessage()" data-timeout=6000></c-animated-msg>
        </div>
      </aside>
      <div class="c-row">
        <div class="c-col c-col--12 c-col--vertical-centered c-col--to-right">
          <button class="c-button c-button--danger" type="submit" data-ng-click="vm.confirmDeleteSaveData()" data-qa="policy-rawData-delete-button"
            data-ng-if="!vm.createMode">
        <i class="c-icon icon-cross"></i>
        <span>{{"_DELETE_" | translate}}</span>
      </button>
          <button class="c-button c-button--call-to-action-1" data-ng-click="vm.saveData(vm.form)" data-qa="policy-rawData-add-button">
        <i class="icon icon-circle-plus"></i>
        <span>{{"_POLICY_._SAVEDATA_" | translate}}</span>
      </button>
        </div>
      </div>
    </ng-form>
  </form>
</section>
