<section data-ng-controller="PolicyModelCtrl as vm" data-ng-init="vm.init()" data-ng-model="vm.model">
  <ng-form name="vm.form" novalidate data-ng-model="vm.model">
    <div class="c-form-group">
      <div class="c-form-control c-form-control--full-width c-icon-radio" data-ng-model="model">
        <label class="c-label--required c-icon-radio__label c-col c-col--12">{{"_TYPE_" | translate}}:</label>
      <span data-ng-repeat="modelTypes in vm.modelTypes">
        <input data-ng-change="vm.changeDefaultConfiguration()" class="c-icon-radio__item"
               id="type-{{modelTypes.name + $parent.$index| lowercase}}" type="radio"
               data-ng-model="vm.model.type" value="{{modelTypes.name}}" data-ng-disabled="!editionMode">
        <label data-ng-model="vm.model.type" class="c-icon-radio__label"
               data-qa="policy-model-type-{{modelTypes.name | lowercase}}"
               for="type-{{modelTypes.name + $parent.$index| lowercase}}">
          <i class="c-icon c-icon--large c-icon-radio__icon icon-{{modelTypes.iconName | lowercase}}"
             tooltip="{{modelTypes.name | lowercase}}" tooltip-placement="top" tooltip-class="t-tooltip">
          </i>
        </label>
      </span>
      </div>
    </div>

    <div class="c-form-group">
      <form-field-select data-ng-if="editionMode" data-form="vm.form"
                         data-st-name="input-form"
                         data-model="vm.model.inputField"
                         data-options="vm.modelInputs"
                         data-field="label" data-label="{{'_INPUT_FIELD_' | translate}}" data-help=""
                         data-disabled="false"
                         data-required="true" data-qa="policy-description-raw-data-partition-format">
      </form-field-select>
      <form-field-input data-ng-if="!editionMode" data-form="vm.form" data-st-name="input-form"
                        data-model="vm.model.inputField | translate"
                        data-label="{{'_INPUT_FIELD_' | translate}}"
                        data-type="text" data-disabled="true" data-qa="policy-model-input">
      </form-field-input>
    </div>

    <div class="c-form-group" data-ng-class="{'submited': vm.form['model-configuration'].$error.invalidJson && vm.form.$submitted, 'ng-invalid': vm.form['model-configuration'].$error.invalidJson && vm.form.$submitted}">
      <div class="c-form-control c-form-control--full-width">
        <c-icon-label data-wrapper-control-class="'c-label c-col c-col--12'"
                      data-icon-class="'icon-info1'"
                      data-text="'_CONFIGURATION_' | translate"
                      data-text-class=""
                      data-icon-url="vm.template.configHelpLink"
                      data-test="policy-model-configuration-help"
                      data-required="true">
        </c-icon-label>
        <p class="c-label c-col c-col--12">{{"_CONFIGURATION_INFO_" | translate}}</p>
        <textarea json-text name="model-configuration" data-form="vm.form" data-ng-disabled="!editionMode"
                  class="c-textarea c-textarea--required c-textarea--full-width"
                  data-ng-model="vm.model.configuration"
                  ng-class="{'c-textarea--error': vm.form['model-configuration'].$error.invalidJson && vm.form.$submitted}"
                  data-qa="policy-model-configuration-textarea"
                  placeholder={{vm.configPlaceholder}}>
        </textarea>
        <div data-ng-if="vm.form['model-configuration'].$error.invalidJson && vm.form.$submitted" class="angular-forms__error">
          <span data-qa="policy-model-configuration-textarea-error-json">This field has not a valid JSON format.</span>
        </div>
      </div>
    </div>
    <div class="c-form-group" data-ng-class="{'submited': vm.model.outputFields.length == 0 && vm.form.$submitted, 'ng-invalid': vm.model.outputFields.length == 0 && vm.form.$submitted}">
      <div class="c-form-control c-form-control--full-width">
        <c-input-list-field name="model-outputs" form-control-class="" data-inputs="vm.model.outputFields"
                            label-control-class="'c-label c-col'"
                            label-control-text="'_OUTPUTS_FIELDS_' | translate" readonly="'true'"
                            data-enable-delete="editionMode" data-qa="policy-model-output-list"
                            data-help="Note: Make sure output fields match with the ones in the configuration"
                            data-help-qa="policy-model-outputs-help"
                            data-required="true" data-min-length="1" data-form="vm.form">
        </c-input-list-field>

        <c-add-element data-ng-if="editionMode" model="vm.model.outputFields"
                       icon-class="'c-icon c-icon--is-clickable c-icon--call-to-action c-info-text__icon icon-square-plus'"
                       type="'text'" data-qa="policy-model-outputs" data-pattern="vm.outputPattern"
                       data-error="vm.modelError.duplicatedOutput"
                       data-placeholder="{{vm.outputInputPlaceholder | translate}}" data-elements-length="vm.model.outputFields.length" data-submitted-form="vm.form.$submitted">
        </c-add-element>
      </div>
    </div>
    <div class="c-form-group c-form-group--to-right">
      <button data-ng-if="vm.isNewModel(vm.modelContext.position)" class="c-button c-button--call-to-action-1"
              data-ng-click="vm.addModel()" data-qa="policy-model-add-button">
        <i class="icon icon-circle-plus"></i>
        <span>{{"_POLICY_._ADD_MODEL_" | translate}}</span>
      </button>
      <button class="c-button c-button--danger" data-ng-if="vm.isLastModel( vm.modelContext.position)"
              type="submit" data-ng-click="vm.removeModel($event)"
              data-qa="policy-model-delete-button">
        <i class="c-icon icon-cross"></i>
        <span>{{"_DELETE_" | translate}}</span>
      </button>
    </div>
  </ng-form>
</section>
