<section data-ng-controller="TriggerCtrl as vm" data-ng-model="vm.trigger">
  <ng-form name="vm.form" data-ng-submit="vm.addTrigger()" novalidate>
    <c-animated-msg type="error" data-msg="vm.error" data-on-click-close-msg="wizard.closeErrorMessage()"
                    data-timeout=10000></c-animated-msg>
    <div class="c-row c-msg c-msg--small c-msg--error c-form c-form-group"
         data-ng-if="vm.form.$submitted && (vm.trigger.operators.length === 0 || vm.trigger.dimensions.length === 0)"
         data-qa="policy-trigger-error-msg">
      <i class="c-icon icon-circle-cross"></i>
      <span>{{vm.triggerError.text | translate}}</span>
    </div>
    <div class="c-col" data-ng-class="{'c-col--12': width === 'lg', 'c-col--6': width === 'm'}">
      <form-field
        data-ng-repeat="properties in vm.template.properties"
        class="c-col"
        data-ng-class="{'c-col--{{properties.width}}': properties.width, 'c-form-gutter c-form-gutter__{{properties.position}} c-col--vertical-top': properties.position}"
        data-ng-form-id="{{properties.propertyId}}"
        data-field="properties"
        data-model="vm.trigger"
        data-form="vm.form"
        data-st-name="trigger{{properties.propertyName}}Form"
        data-qa="{{properties.qa}}">
      </form-field>
      <div class="c-form-group" data-ng-if="vm.sqlSourceItems">
        <div class="c-col c-col--12 c-info-text__link" data-ng-click="vm.changeSqlHelpVisibility()">
          <i class="c-info-text__link__align  c-icon icon-help1"></i>
          <span class="c-info-text__link__align">
            {{"_HELP_FOR_SQL_QUERIES_" | translate}}
          </span>
        </div>
        <div class="c-slider-content c-panel c-panel--padding-top" data-ng-if = "vm.showSqlHelp">
          <span class="c-panel--x-small c-panel--animation-to-bottom" data-ng-repeat="item in vm.sqlSourceItems">
            <div class="c-col c-col--12 c-panel--x-small__container c-panel--x-small__container__title">
              <label class="c-label c-label--content-to-center">{{item.name}}</label>
            </div>
            <div class="c-col c-col--12">
              <ul>
                <li data-ng-repeat="field in item.fields" class="c-panel--x-small__container">
                  {{field.name}} ({{field.type}})
                </li>
              </ul>
            </div>
          </span>
        </div>
      </div>
      <c-add-element
        data-icon-class="'c-icon c-icon--is-clickable c-icon--call-to-action c-info-text__icon icon-square-plus'"
        data-model="vm.trigger.primaryKey"
        data-type="'text'"
        data-label="'_PRIMARY_KEY_' | translate"
        data-qa="trigger-primary-key"
        data-submitted-form="vm.form.$submitted"
        data-is-object=false
        data-limit="0"
        data-required=false
        data-width="6">
      </c-add-element>
      <c-tag-list name="trigger-primary-key" form-control-class="" data-tags="vm.trigger.primaryKey"
                  label-control-class="'c-label c-col'"
                  readonly="'true'"
                  data-enable-delete="true" data-qa="trigger-primary-key"
                  show-label="false"
                  data-required="true" data-form="vm.form">
      </c-tag-list>
      <div class="c-col c-col--12 c-step-content__subtitle">
        <i class="c-icon icon-output"></i>
        <label class="c-step-content__subtitle--text">{{"_ADD_OUTPUTS_" | translate}}</label>
          <a data-ng-href="{{vm.outputsHelpLinks}}" class="c-info-text__link c-info-text__link__align c-info-text__link--padding-left" target="_blank" icon-class="'icon-help1'" text="'_HELP_' | translate" data-qa="policy-transformations-outputs-help">
            <i class="c-icon icon-help1"></i>
            <span class="c-icon-link__text c-icon-link__text--is-link">{{'_INPUT_WINDOW_NEW_HELP_' | translate}}</span>
          </a>
      </div>
      <form-field-select data-form="vm.form" data-st-name="trigger-outputs" data-model="vm.selectedPolicyOutput" data-options="vm.policyOutputList" data-field="label" data-label="{{'_OUTPUTS_' | translate}}" data-help="" data-required="vm.trigger.outputs.length == 0" data-qa="trigger-output-select" data-ng-click="vm.addOutput()">
      </form-field-select>
      <c-tag-list name="trigger-outputs" form-control-class="" data-tags="vm.trigger.outputs"
        label-control-class="'c-label c-col'"
        readonly="'true'"
        data-enable-delete="true" data-qa="policy-trigger-output-list"
        show-label="false"
        data-required="false" data-min-length="0" data-form="vm.form">
      </c-tag-list>
    </div>
  </ng-form>
  <div class="c-row" data-ng-class="{'c-row--separated': width === 'lg'}">
    <div class="c-col c-col--12 c-col--vertical-centered c-col--to-right">
      <button class="c-button c-button--call-to-action-2" data-ng-if="vm.isNewTrigger(vm.triggerContext.position)"
              type="submit" data-ng-click="vm.cancelTriggerCreation()"
              data-qa="policy-trigger-delete-button">
        <i class="c-icon icon-cross"></i>
        <span>{{"_CANCEL_" | translate}}</span>
      </button>
      <button data-ng-if="vm.isNewTrigger(vm.triggerContext.position)" class="c-button c-button--call-to-action-1"
              data-ng-click="vm.addTrigger(vm.form)"
              type="submit"
              data-qa="policy-trigger-add-button">
        <i class="icon icon-circle-plus"></i>
        <span>{{"_POLICY_._SAVE_TRIGGER_" | translate}}</span>
      </button>
      <button data-ng-if="!vm.isNewTrigger(vm.triggerContext.position)" class="c-button c-button--call-to-action-1"
              data-ng-click="vm.saveTrigger(vm.form)"
              data-qa="policy-trigger-add-button">
        <i class="icon icon-circle-plus"></i>
        <span>{{"_POLICY_._SAVE_TRIGGER_" | translate}}</span>
      </button>
      <button class="c-button c-button--danger" data-ng-if="!vm.isNewTrigger(vm.triggerContext.position)"
              type="submit" data-ng-click="vm.removeTrigger(vm.triggerContext.position, $event)"
              data-qa="policy-trigger-delete-button">
        <i class="c-icon icon-cross"></i>
        <span>{{"_DELETE_" | translate}}</span>
      </button>
    </div>
  </div>
</section>
