<section>
  <c-step-progress-bar steps="wizard.steps" class="c-slider-content"
                       data-ng-if="wizard.showStepNavigation"
                       current-step="(wizard.status.currentStep)">
  </c-step-progress-bar>

  <div class="c-slider-content--to-up c-panel--white" data-ng-switch on="wizard.status.currentStep">
    <div class="c-slider-content__button c-icon" data-ng-click="wizard.changeStepNavigationVisibility()"
         data-ng-class="{'icon-arrow2_up':  wizard.showStepNavigation, 'icon-arrow2_down':  !wizard.showStepNavigation}">
    </div>

    <div class="c-step-content">
      <header class="alignleft">
        <h1 class ="c-step-content__title">
          <i class="c-icon {{wizard.steps[wizard.status.currentStep].icon}}"></i>
          <span class="c-step-content__title-text">{{wizard.steps[wizard.status.currentStep].name | translate}}</span>
        </h1>

      </header>
      <div data-ng-switch-when="0">
        <ng-include src="'views/policy-wizard/input.html'"></ng-include>
      </div>
      <div data-ng-switch-when="1">
        <ng-include src="'views/policy-wizard/model-accordion.html'"></ng-include>
      </div>
      <div data-ng-switch-when="2">
        <ng-include src="'views/policy-wizard/cube-accordion.html'"></ng-include>
      </div>
      <div data-ng-switch-when="4">
        <ng-include src="'views/policy-wizard/finish.html'"></ng-include>
        <footer class="c-row c-row--footer">
          <div class="c-col c-col--12 c-col--vertical-centered c-col--to-right">
            <button class="c-button c-button--call-to-action-1" data-ng-click="wizard.confirmPolicy()"
                    data-qa="policy-save-button">
              <i class="icon icon-rocket"></i>
              <span>{{"_SAVE_" | translate}}</span>
            </button>
          </div>
        </footer>
      </div>
    </div>
    <div data-ng-if="wizard.error" class="c-row c-msg c-msg--small c-msg--error" data-qa="error-msg">
      <i class="c-icon icon-circle-cross"></i>
      <span>{{wizard.error | translate}}</span>
    </div>

    <div data-ng-show="wizard.successfullySentPolicy" class="c-row c-msg c-msg--small c-msg--success"
         data-qa="success-msg">
      <i class="c-icon icon-circle-check"></i>
      <span>{{"_POLICY_._SUCCESS_SENT_" | translate}}</span>
    </div>
  </div>
</section>
