:host {
   display: block;
}

.segment {
   fill: none;
   stroke: 2px;
   stroke: #999;
   stroke-width: 1px;
}

.segment-hover {
   fill: none;
   stroke:transparent;
   stroke-width: 40px;   
}

.delete-icon {
   font-family: ico_stratio;
   font-size: 25px;
   cursor: pointer;
   opacity: 0;
   stroke-width: 30px;
}

.segmentContainer {
   &:hover {
      .delete-icon {
         opacity: 1;
      }

      .segment {
          stroke: #666;
      }
   }
}
