:host {
   display: block;
}

.segment {
   fill: none;
   stroke: 2px;
   stroke: #999;
   stroke-width: 1px;
   &.selected {
      stroke: #128bde!important;
      stroke-width: 1px;
      stroke-dasharray: 1, 1.3;
      marker-start: url(#UpArrowPreciseSelected);
   }
}

.segment-hover {
   fill: none;
   stroke: transparent;
   cursor: pointer;
   stroke-width: 15px;
}

.delete-icon {
   font-family: ico_stratio;
   font-size: 25px;
   cursor: pointer;
   opacity: 0;
   stroke-width: 30px;
}

.segmentContainer {
   &:hover {
      .delete-icon {
         opacity: 1;
      }
      .segment {
         stroke: #428bca;
         stroke-width: 1px;
         stroke-dasharray: 1, 1.3;
         marker-start: url(#UpArrowPreciseSelected);
      }
   }
}
