:host {
   display: block;
   width: 100%;
}

.form-group {
   width: 100%;
   display: block;
}

.form-tabs {
   display: block;
   width: 100%;
}

.subsections {
  background: white;
  padding: 30px 20px;
}
