:host {
   display: block;
   width: 100%;
}

.filters {
    width: 100%;
    overflow: hidden;

   .search-input {
      float: right;
      margin-top:24px;
   }
   .show-temporary {
      float: left;
      display:none;
   }
}

.database-selector {
   display: block;
   float: left;
   width: 250px;
   margin-top: 0px;
   margin-bottom: 20px;
}

.fields-row:hover {
   background: none!important;
}

.select-row {
   cursor: pointer;
}

.reload {
   margin-top: 23px;
   margin-left: 20px;
}

.loading {
    margin-top: 55px;
    display: block;
    text-align: center;
}
