:host {
   display: block;
   width: 100%;
}

.filters {
   .search-input {
      float: left;
      margin-top: 23px;
      margin-left: 20px;
   }
   .show-temporary {
      float: right;
      margin-top: 32px;
   }
}

.database-selector {
   display: block;
   float: left;
   width: 250px;
       margin-top: 4px;
   margin-bottom: 20px;
   margin-top: 4px;
}

.fields-row:hover {
   background: none!important;
}

.select-row {
   cursor: pointer;
}

.reload {
   margin-top: 23px;
   margin-left: 20px;
}

.loading {
    margin-top: 55px;
    display: block;
    text-align: center;
}
