<st-primary-sidebar-title class-icon="icon-cog">{{"_MENU_DASHBOARD_TITLE_" | translate}}</st-primary-sidebar-title>

<st-primary-sidebar-submenu>
    <st-menu-element sref="dashboard.inputs" qaref="dashboard-menu-inputs">
        {{"_MENU_DASHBOARD_INPUT_" | translate}}
    </st-menu-element>
    <st-menu-element sref="dashboard.outputs" qaref="dashboard-menu-outputs">
        {{"_MENU_DASHBOARD_OUTPUT_" | translate}}
    </st-menu-element>
    <st-menu-element sref="dashboard.policies" qaref="dashboard-menu-policies">
        {{"_MENU_DASHBOARD_POLICIES_" | translate}}
    </st-menu-element>
</st-primary-sidebar-submenu>
