<footer data-ng-controller="FooterCtrl as footer">
  <div class="content">
    <p>{{'_FOOTER_LICENCE_' | translate}}</p>
    <ul class="sth-footer-links links">
      <!---->
      <li>
        <span class="separator">|</span>
        <a class="link" id="footer-link-0" data-ng-click="footer.showLegalTermsModal()">{{"_LEGAL_TERMS_" | translate}}</a>
      </li>
      <li>
        <span class="separator">|</span>
        <a class="link" id="footer-link-1" target="_blank" href="https://stratio.atlassian.net/wiki/display/SPARTA1x1x2/">Help</a>
      </li>
    </ul>
  </div>
  <img src="images/app-logo.png">
</footer>
