<section>
  <header class="c-step-content__title c-step-content__title--underlined">
    <h1>
      <span class="c-step-counter">{{wizard.currentStep + 1}}/{{wizard.steps.length}}</span>
      <i class="c-step-counter__icon c-icon c-icon--small icon-arrow2_right"></i>
      <span class="c-step-content__title-text">{{"_POLICY_._STEPS_._CUBES_" | translate}}</span>
    </h1>
  </header>

  <div class="c-row c-row--separated c-msg c-msg--small c-msg--error" data-ng-if="vm.error">
    <i class="c-icon icon-circle-cross"></i>
    <span>{{"_POLICY_._INPUTS_ERROR_" | translate}}</span>
  </div>

  <p class="c-info-text c-info-text--narrow"><i class="c-icon c-info-text__icon icon-info1"></i><span class="c-info-text__text">{{"_POLICY_._CUBE_INTRO_" | translate}}</span></p>

  <form class="c-form c-panel c-panel--framed" data-ng-controller="PolicyCubeAccordionCtrl as vm">
    <accordion class="c-accordion" ng-model="vm.policy.cubes" close-others="true">
      <div class="c-accordion-item">
        <accordion-group is-open="vm.accordionStatus.items[$index]" ng-repeat="currentCube in vm.cubes track by $index" ng-model = "currentCube" >
          <accordion-heading>
            <span class="c-accordion-header__step-number">{{$index + 1}}</span><i data-ng-if="currentModel.type" class="c-accordion-header__type c-icon icon-{{currentModel.type | lowercase}}"></i><span class="c-accordion-header__title">{{"_POLICY_._CUBE_TITLE_" | translate}}</span>

            <i class="c-accordion-header__open-mark c-icon c-icon--to-right icon-arrow2_right"></i>
          </accordion-heading>

          <ng-include class="c-form-group" src="'views/policies/cube-panel.html'" ng-init="cube=currentCube"></ng-include>

          <div class="c-form-group c-form-group--full-width c-form-group--to-right">
            <button class="c-button c-button--danger" data-ng-click="vm.removeCube($index, $event)">
              <i class="c-icon icon-cross"></i>
              <span>{{"_DELETE_" | translate}}</span>
            </button>
          </div>
        </accordion-group>
      </div>

      <div class="c-accordion-item c-accordion-item--new">
        <accordion-group is-open="vm.accordionStatus.newItem" ng-model="vm.newCube">
          <accordion-heading>
            <span class="c-accordion-header__step-number">{{vm.cubes.length + 1}}</span><i data-ng-if="currentModel.type" class="c-accordion-header__type c-icon icon-{{currentModel.type | lowercase}}"></i><span class="c-accordion-header__title">{{"_POLICY_._NEW_CUBE_" | translate}}</span>

            <i class="c-accordion-header__open-mark c-icon c-icon--to-right icon-arrow2_right"></i>
          </accordion-heading>

          <ng-include class="c-form-group" src="'views/policies/cube-panel.html'" ng-init="cube=vm.newCube"></ng-include>

          <div class="c-form-group c-form-group--full-width c-form-group--to-right">
            <button class="c-button c-button--call-to-action-1" ng-click="vm.addCube()">
              <i class="icon icon-circle-plus"></i>
              <span>{{"_POLICY_._ADD_CUBE_" | translate}}</span>
            </button>
          </div>
        </accordion-group>
      </div>
    </accordion>
  </form>

  <footer class="c-row c-row--footer">
    <div class="c-col c-col--6 c-col--vertical-centered">
      <c-icon-link icon-class="'icon-help1'" text="'_HELP_' | translate" text-class="" link-url="vm.helpLink"></c-icon-link>
    </div><!--
 --><div class="c-col c-col--6 c-col--vertical-centered c-col--to-right">
    <button class="c-button c-button--call-to-action-1" data-ng-click="vm.nextStep()">
      <i class="icon icon-arrow-right"></i>
      <span>{{"_CONTINUE_" | translate}}</span>
    </button>
  </div>

  </footer>
</section>
