<section  data-ng-controller="PolicyCubeAccordionCtrl as vm">
  {{vm.cube}}
  <header class="c-step-content__title c-step-content__title--underlined">
    <h1>
      <span class="c-step-counter">{{wizard.currentStep + 1}}/{{wizard.steps.length}}</span>
      <i class="c-step-counter__icon c-icon c-icon--small icon-arrow2_right"></i>
      <span class="c-step-content__title-text">{{"_POLICY_._STEPS_._CUBES_" | translate}}</span>
    </h1>
  </header>
  <p class="c-info-text c-info-text--narrow"><i class="c-icon c-info-text__icon icon-info1"></i><span
    class="c-info-text__text">{{"_POLICY_._CUBE_INTRO_" | translate}}</span></p>

  <div>
    <accordion ng-model = "vm.policy.cubes" close-others="true">
      <accordion-group is-open= vm.accordionStatus.items[$index] ng-repeat="currentCube in vm.policy.cubes track by $index"
                      ng-model = "currentCube" >
        <accordion-heading>
          <label>{{$index + 1}}</label>. <p>{{"_POLICY_._CUBE_TITLE_" | translate}}</p>

          <i class="pull-right glyphicon"
             ng-class="{'icon-arrow2_down':   vm.accordionStatus.items[$index], 'icon-arrow2_right': ! vm.accordionStatus.items[$index]}"></i>

        </accordion-heading>
        <button ng-click="vm.removeCube($index, $event)"><i class="icon-cross"></i></button>
        <ng-include src="'views/policies/cube-panel.html'"  ng-init =  "cube = currentCube" ></ng-include>
      </accordion-group>

      <accordion-group is-open= vm.accordionStatus.newItem ng-model="vm.newCube">
        <accordion-heading>
          <label>{{"_POLICY_._NEW_CUBE_" | translate}}</label>
          <i class="pull-right glyphicon"
             ng-class="{'icon-arrow2_down':  vm.accordionStatus.newItem, 'icon-arrow2_right': !vm.accordionStatus.newItem}"></i>
        </accordion-heading>

        <ng-include src="'views/policies/cube-panel.html'" ng-init =  "cube = vm.newCube">
        </ng-include>
        <div class="c-col c-col--12 c-col--vertical-centered c-col--to-right">
          <button class="c-button" ng-click="vm.addCube()">
            <span>{{"_POLICY_._ADD_CUBE_" | translate}}</span>
          </button>
        </div>
      </accordion-group>
    </accordion>

  </div>
  <footer class="c-row c-row--footer c-row--separated">
    <div class="c-col c-col--6 c-col--vertical-centered">
      <c-icon-link icon-class="'c-icon c-icon--is-clickable c-icon--call-to-action icon-help1'"
                   text="'_INPUT_WINDOW_NEW_HELP_' | translate" text-class="" link-url="vm.helpLink"></c-icon-link>
    </div><!--
 --><div class="c-col c-col--6 c-col--vertical-centered c-col--to-right">
    <button class="c-button c-button--call-to-action-1" data-ng-click="vm.nextStep()">
      <i class="icon icon-arrow-right"></i>
      <span>{{"_CONTINUE_" | translate}}</span>
    </button>
  </div>

  </footer>
</section>
