<section data-ng-controller="PolicyDescriptionCtrl as vm">


  <p class="c-info-text c-info-text--narrow c-info-text--bottom-margin"><i class="c-icon c-info-text__icon icon-info1"></i><span class="c-info-text__text">{{"_POLICY_._DESCRIPTION_INTRO_" | translate}}</span></p>

  <div class="c-row c-msg c-msg--small c-msg--error" data-ng-if="vm.error">
    <i class="c-icon icon-circle-cross"></i>
    <span>{{"_POLICY_._DESCRIPTION_ERROR_" | translate}}</span>
  </div>

  <form name="vm.form" class="c-form c-panel c-panel--framed" novalidate>
    <fieldset class="c-fieldset">
      <legend class="c-fieldset__title">{{"_DATA_" | translate}}</legend>

      <div class="c-panel c-panel--framed">
        <div class="c-form-group">
          <form-field-input data-form="vm.form" data-st-name="name-form" data-model="vm.policy.name" data-label="{{'_INSERT_NAME_' | translate}}" data-help="" data-pattern="" data-required="true" placeholder="Ex. Name 1" required="true"></form-field-input>
        </div>

        <div class="c-form-group">
          <form-field-input data-form="vm.form" data-st-name="description-form" data-model="vm.policy.description" data-label="{{'_INSERT_DESCRIPTION_' | translate}}" data-help="" data-pattern="" data-required="true" placeholder="Ex. Lorem ipsum dolor sit amet." required="true"></form-field-input>
        </div>
      </div>
    </fieldset>
    <fieldset class="c-fieldset">
      <legend class="c-fieldset__title">{{"_ADVANCED_SETTINGS_" | translate}}</legend>

      <div class="c-panel c-panel--framed">
        <div class="c-form-group">
          <form-field-input data-form="vm.form" data-st-name="sparkStreamingWindow-form" data-model="vm.policy.sparkStreamingWindow" data-label="{{'_SPARK_STREAMING_WINDOW_' | translate}}" data-help="" data-pattern="" data-required="true" placeholder="Ex. 6000"></form-field-input>
        </div>

        <div class="c-form-group">
          <form-field-select data-form="vm.form" data-st-name="storageLevel-format" data-model="vm.policy.storageLevel" data-options="vm.storageLevelData.values" data-field="label" data-label="{{'_STORAGELEVEL_' | translate}}" data-help="" data-required="true"></form-field-select>
        </div>

        <div class="c-form-group">
          <form-field-input data-form="vm.form" data-st-name="checkpointPath-form" data-model="vm.policy.checkpointPath" data-label="{{'_CHECKPOINT_PATH_' | translate}}" data-help="" data-pattern="" data-required="true" placeholder="Ex. /tmp/checkpoint" required="true"></form-field-input>
        </div>

        <div class="c-form-group">
          <form-field-check data-form="vm.form" data-st-name="persist-raw-data" data-model="vm.policy.rawData.enabled" data-label="{{'_PERSIST_RAW_DATA_' | translate}}" data-help=""></form-field-check>
        </div>

        <div data-ng-if="vm.policy.rawData.enabled == true" class="c-form-group">
          <form-field-input data-form="vm.form" data-st-name="path-form" data-model="vm.policy.rawData.path" data-label="{{'_PATH_' | translate}}" data-help="" data-pattern="" data-required="true" placeholder="Ex. /tmp/checkpoint" required="true"></form-field-input>
        </div>

        <div data-ng-if="vm.policy.rawData.enabled == true" class="c-form-group">
          <form-field-select data-form="vm.form" data-st-name="partition-format" data-model="vm.policy.rawData.partitionFormat" data-options="vm.partitionFormatData.values" data-field="label" data-label="{{'_PARTITION_FORMAT_' | translate}}" data-help="" data-required="true"></form-field-select>
        </div>
      </div>
    </fieldset>

    <footer class="c-row c-row--footer">
      <div class="c-col c-col--6 c-col--vertical-centered">
        <c-icon-link icon-class="'c-icon c-icon--is-clickable c-icon--call-to-action icon-help1'" text="'_INPUT_WINDOW_NEW_HELP_' | translate" text-class="" link-url="vm.helpLink"></c-icon-link>
      </div><div class="c-col c-col--6 c-col--vertical-centered c-col--to-right">
        <button class="c-button c-button--call-to-action-1" data-ng-click="vm.validateForm()">
          <i class="icon icon-arrow-right"></i>
          <span>{{"_CONTINUE_" | translate}}</span>
        </button>
      </div>
    </footer>
  </form>
</section>
