<section ng-controller="PolicyDescriptionCtrl as vm">
  <h1>{{"_POLICY_._STEPS_._DESCRIPTION_" |translate}}</h1>
  <i class="icon-info1"></i>
  <text>{{"_POLICY_._DESCRIPTION_INFO_MESSAGE_" |translate}}</text>

  <h2>{{"_NAME_" |translate}}</h2>
  <c-input-field form-control-text="'_INSERT_NAME_' | translate" form-control-class="" value=vm.policy.name
                 model="vm.policy.name"></c-input-field>

  <h2>{{"_DESCRIPTION_" |translate}}</h2>
  <c-input-field form-control-text="'_INSERT_DESCRIPTION_' | translate" form-control-class="" value=vm.policy.description
                 model="vm.policy.description"></c-input-field>

  <h2>{{"_WINDOW_DURATION_" |translate}}</h2>

  <div>
    <c-icon-label icon-class="'icon-info1'" text="'_SPARK_STREAMING_WINDOW_' | translate" text-class=""></c-icon-label>
    <c-slider min-text="'_SHORT_' | translate" max-text="'_LONG_' | translate"
              min-value=vm.sparkStreamingWindowData.min
              max-value=vm.sparkStreamingWindowData.max steps=1 value=vm.policy.sparkStreamingWindow></c-slider>
    <c-input-field form-control-text="'_CUSTOM_' | translate" form-control-class="" right-text="'ms.'"
                   value=vm.policy.sparkStreamingWindow model="vm.policy.sparkStreamingWindow"
                   pattern="'[0-9]*'"></c-input-field>
  </div>
  <div>
    <c-icon-label icon-class="'icon-info1'" text="'_CHECKPOINT_INTERVAL_' | translate" text-class=""></c-icon-label>
    <c-slider min-text="'_SHORT_' | translate" max-text="'_LONG_' | translate"
              min-value=vm.checkpointIntervalData.min
              max-value=vm.checkpointIntervalData.max steps=1 value=vm.policy.checkpointInterval></c-slider>
    <c-input-field form-control-text="'_CUSTOM_' | translate" form-control-class="" right-text="'ms.'"
                   value=vm.policy.checkpointInterval model="vm.policy.checkpointInterval"ng-pattern="/^\d+$/"
      ></c-input-field>
  </div>
  <div>
    <c-icon-label icon-class="'icon-info1'" text="'_CHECKPOINT_AVAILABILITY_' | translate" text-class=""></c-icon-label>
    <c-slider min-text="'_SHORT_' | translate" max-text="'_LONG_' | translate"
              min-value=vm.checkpointAvailabilityData.min
              max-value=vm.checkpointAvailabilityData.max steps=1 value=vm.policy.checkpointAvailability></c-slider>
    <c-input-field form-control-text="'_CUSTOM_' | translate" form-control-class="" right-text="'ms.'"
                   value=vm.policy.checkpointAvailability model="vm.policy.checkpointAvailability" ng-pattern="/^\d+$/"
      ></c-input-field>
  </div>
  <c-icon-label icon-class="'icon-info1'" text="'_CHECKPOINT_PATH_' | translate" text-class=""></c-icon-label>
  <input type="text" ng-model="vm.policy.checkpointPath"/>

</section>
