<section ng-controller="PolicyModelCtrl as vm" ng-init="vm.init(model)" data-ng-model="vm.model">
  <form novalidate>
    <div ng-show="vm.showModelError" class="c-row c-msg c-msg--small c-msg--error" data-qa="error-msg">
      <i class="c-icon icon-circle-cross"></i>
      <span>{{"_POLICY_._MODEL_ERROR_" | translate}}</span>
    </div>

    <div class="c-form-group">
      <div class="c-form-control c-form-control--full-width c-icon-radio" data-ng-model="model">
        <label class="c-label c-icon-radio__label c-col c-col--12">{{"_TYPE_" | translate}}:</label>
      <span data-ng-repeat="modelTypes in vm.templateModelData.types">
        <input class="c-icon-radio__item" id="type-{{modelTypes.name + $parent.$index| lowercase}}" type="radio"
               data-ng-model="vm.model.type" value="{{modelTypes.name}}" data-ng-disabled="disabled">
        <label data-ng-model="vm.model.type" class="c-icon-radio__label"
               for="type-{{modelTypes.name + $parent.$index| lowercase}}">
          <i class="c-icon c-icon--large c-icon-radio__icon icon-{{modelTypes.iconName | lowercase}}"
             tooltip="{{modelTypes.name | lowercase}}" tooltip-placement="top" tooltip-class="t-tooltip">
          </i>
        </label>
      </span>
      </div>
    </div>

    <div class="c-form-group">
      <form-field-input data-form="vm.form" data-st-name="name-form" data-model="vm.model.name"
                        data-label="{{'_NAME_' | translate}}" data-help="" data-pattern=""
                        placeholder="Ex. Name 1" data-type="text" data-disabled="disabled">
      </form-field-input>
    </div>

    <div class="c-form-group" ng-model="vm.model.inputList">
      <c-input-list-field form-control-class="'c-form-control c-form-control--full-width'"
                          label-control-class="'c-label c-col c-col--12'" data-inputs="vm.model.inputs"
                          label-control-text="'_INPUT_FIELD_' | translate" data-disabled="disabled"
                          data-enable-delete="false"></c-input-list-field>

      <select class="st-form-field-select c-combobox" ng-model="vm.model.inputField"
              ng-options="input | translate for input in vm.model.inputList" ng-required="required"
              data-ng-disabled="disabled"></select>
    </div>

    <div class="c-form-group">
      <c-icon-label wrapper-control-class="'c-label c-col c-col--12'" icon-class="'icon-info1'"
                    data-text="('_CONFIGURATION_' | translate)"
                    text-class="" icon-url="vm.templateModelData.configHelpLink"></c-icon-label>

    <textarea ng-if="!disabled" class="c-textarea c-textarea--full-width" ng-model="vm.model.configuration"
              placeholder={{vm.configPlaceholder}} data-ng-readonly="disabled"></textarea>

      <p class="c-textarea c-textarea--disabled c-textarea--full-width" ng-if="disabled" ng-model="vm.model.configuration">
        {{vm.model.configuration | json}}</p>

      <div class="c-form-group">
        <div class="c-form-control c-form-control--full-width">
          <c-input-list-field form-control-class="" data-inputs="vm.model.outputFields"
                              label-control-class="'c-label c-col c-col--12'"
                              label-control-text="'_OUTPUTS_FIELDS_' | translate" readonly="'true'"
                              data-enable-delete="!disabled"></c-input-list-field>

          <c-add-element ng-if="!disabled" model="vm.model.outputFields"
                         icon-class="'c-icon c-icon--is-clickable c-icon--call-to-action c-info-text__icon icon-square-plus'"
                         type="'text'"></c-add-element>
        </div>
      </div>
    </div>
  </form>
</section>
