<section data-ng-controller="PolicyModelAccordionCtrl as vm">

  <p class="c-info-text c-info-text--narrow"><i class="c-icon c-info-text__icon icon-info1"></i><span class="c-info-text__text">{{"_POLICY_._MODEL_INTRO_" | translate}}</span></p>

  <div class="c-row c-msg c-msg--small c-msg--error" data-ng-if="vm.modelError" data-qa="error-msg">
    <i class="c-icon icon-circle-cross"></i>
    <span>{{"_POLICY_._MODEL_ERROR_" | translate}}</span>
  </div>

  <form class="c-form c-panel c-panel--framed" novalidate>
    <accordion class="c-accordion" ng-model = "vm.policy.models">
      <div class="c-accordion-item">
        <accordion-group is-open="vm.accordionStatus[$index]" ng-repeat="currentModel in vm.policy.models track by vm.getIndex()" ng-model="currentModel">
          <accordion-heading>
            <span class="c-accordion-header__step-number">{{$index + 1}}</span>
            <i data-ng-if="currentModel.type" class="c-accordion-header__type c-icon icon-{{currentModel.type | lowercase}}"></i><span class="c-accordion-header__title">{{currentModel.type}}</span>
            <i class="c-accordion-header__open-mark c-icon c-icon--to-right icon-arrow2_right"></i>
          </accordion-heading>

          <ng-include ng-if = "vm.accordionStatus[$index]" src="'views/policies/model-panel.html'" ng-init = "model = currentModel; disabled = true" ng-model="currentModel" data-qa="policy-model-{{$index}}"></ng-include>

          <div class="c-form-group c-form-group--full-width c-form-group--to-right">
            <button class="c-button c-button--danger" ng-if = "vm.isLastModel($index)" data-ng-click="vm.removeModel($index, $event)" data-qa="policy-model-remove-button">
              <i class="c-icon icon-cross"></i>
              <span>{{"_DELETE_" | translate}}</span>
            </button>
          </div>
        </accordion-group>
      </div>

      <div class="c-accordion-item c-accordion-item--new">
        <accordion-group is-open= vm.accordionStatus.newItem ng-model="vm.newModel">
          <accordion-heading class="c-accordion-header">
            <span class="c-accordion-header__step-number">{{(vm.policy.models.length + 1) }}</span><i data-ng-if="vm.newModel.type" class="c-accordion-header__type c-icon icon-{{vm.newModel.iconName | lowercase}}"></i><span class="c-accordion-header__title">{{"_POLICY_._NEW-MODEL-DEFINITION_" | translate}}</span>

            <i class="c-accordion-header__open-mark c-icon c-icon--to-right icon-arrow2_right"></i>
          </accordion-heading>
          <div class="c-row c-form-group c-msg c-msg--small c-msg--error" data-ng-if="vm.error" data-qa="error-msg">
            <i class="c-icon icon-circle-cross"></i>
            <span>{{"_ERROR_ALL_FIELDS_REQUIRED_" | translate}}</span>
          </div>
          <ng-include ng-if = "vm.accordionStatus.newItem"  src="'views/policies/model-panel.html'" ng-init = "model = vm.newModel; editionMode = true" data-qa="policy-model-new">

          </ng-include>

          <div class="c-form-group c-form-group--to-right">
            <button class="c-button c-button--call-to-action-1" ng-click="vm.addModel()"  data-qa="policy-model-add-button">
              <i class="icon icon-circle-plus"></i>
              <span>{{"_POLICY_._ADD_MODEL_" | translate}}</span>
            </button>
          </div>
        </accordion-group>
      </div>
    </accordion>
  </form>

  <footer class="c-row c-row--footer">
    <div class="c-col c-col--6 c-col--vertical-centered">
      <c-icon-link icon-class="'icon-help1'" text="'_HELP_' | translate" link-url="vm.helpLink"></c-icon-link>
    </div><!--
 --><div class="c-col c-col--6 c-col--vertical-centered c-col--to-right">
      <button class="c-button c-button--call-to-action-1" data-ng-click="vm.nextStep()" data-qa="policy-model-next-button">
        <i class="c-icon icon-arrow-right"></i>
        <span>{{"_CONTINUE_" | translate}}</span>
      </button>
    </div>
  </footer>
</section>
