<aside>
  <span>{{vm.currentModelIndex}}</span>. <p>{{"_POLICY_._MODEL_NAME_" | translate}}</p>
  <ng-form name="dataSourceTypeForm" class="c-form-group">
    <div class="c-form-control c-form-control--full-width c-icon-radio">
      <label data-ng-repeat="modelData in vm.templateModelData">
        <input class="c-icon-radio__item" id="type-{{modelData.name | lowercase}}" type="radio"
               name="dataSourceTypeForm"
               data-ng-model="vm.currentModel.type" value="{{modelData.name}}"
               data-ng-click="vm.setProperties($index, modelData.name)">
        <label class="c-icon-radio__label" for="type-{{modelData.name | lowercase}}"><i
          class="c-icon c-icon--large c-icon-radio__icon icon-{{modelData.iconName | lowercase}}"
          tooltip="{{modelData.name | lowercase}}" tooltip-placement="top" tooltip-class="t-tooltip"></i></label>
      </label>
    </div>
  </ng-form>

  <c-input-list-field data-inputs="vm.currentModel.inputs" label-control-text="'_INPUT_FIELDS_' | translate"
                      readonly="'true'">
  </c-input-list-field>

  <div>
    <c-icon-label icon-class="'c-icon c-info-text__icon icon-info1'" data-text="('_CONFIGURATION_' | translate)"
                  text-class="" link-url="" icon-url=""></c-icon-label>
    <input type="text" ng-model="vm.currentModel.configuration"/>
  </div>

  <c-input-list-field data-inputs="vm.currentModel.outputs" label-control-text="'_OUTPUTS_FIELDS_' | translate"
                      readonly="'true'">
  </c-input-list-field>
  <c-add-element model="vm.currentModel.outputs" icon-class="'c-icon c-info-text__icon icon-circle-plus'"
                 type="'text'">
  </c-add-element>

  <button ng-click="vm.addModel()">{{"_POLICY_._ADD_MODEL_" | translate}}</button>
</aside>
