<section data-ng-controller="PolicyOutputCtrl as vm">

  <header class="c-step-content__title c-step-content__title--underlined">
    <h1>
      <span class="c-step-counter">{{wizard.currentStep + 1}}/{{wizard.steps.length}}</span>
      <i class="c-step-counter__icon c-icon c-icon--small icon-arrow2_right"></i>
      <span class="c-step-content__title-text">{{"_POLICY_._STEPS_._OUTPUTS_" | translate}}</span>
    </h1>
  </header>

  <div class="c-row c-msg c-msg--small c-msg--error" data-ng-if="vm.error">
    <i class="c-icon icon-circle-cross"></i>
    <span>{{"_POLICY_._OUTPUTS_ERROR_" | translate}}</span>
  </div>

  <p>{{"_POLICY_._OUTPUTS_INTRO_" | translate}}</p>

  <table style="width:100%">
    <tr>
      <th></th>
      <th>{{ "_NAME_" | translate}}</th>
      <th>{{ "_DESCRIPTION_" | translate}}</th>
    </tr>
    <tr data-ng-repeat="output in vm.outputList">
      <td><input type="checkbox" ng-model="vm.policy.outputs[$index]" ng-true-value={{output}} data-ng-false-value="null"></td>
      <td>{{output.name}}</td>
      <td>{{output.description}}</td>
    </tr>
  </table>

  <footer class="c-row c-row--footer">
    <div class="c-col c-col--6 c-col--vertical-centered">
      <c-icon-link icon-class="'c-icon c-icon--is-clickable c-icon--call-to-action icon-help1'" text="'_INPUT_WINDOW_NEW_HELP_' | translate" text-class="" link-url="vm.helpLink"></c-icon-link>
    </div><div class="c-col c-col--6 c-col--vertical-centered c-col--to-right">
      <button class="c-button c-button--call-to-action-1" data-ng-click="vm.checkOutputs()">
        <i class="icon icon-arrow-right"></i>
        <span>{{"_CONTINUE_" | translate}}</span>
      </button>
    </div>
  </footer>
</section>
