<section>
  <header>
    <st-heading title="{{'_POLICY_HEADER_TITLE_MAIN_' | translate}}"
                subtitle="{{'_INPUT_HEADER_TITLE_SECONDARY' | translate}}:"></st-heading>
  </header>

  <c-step-progress-bar steps="wizard.steps" current-step="(wizard.status.currentStep)"></c-step-progress-bar>

  <div class="c-step-content">
    <div ng-switch on="wizard.status.currentStep">
      <header class="c-step-content__title c-step-content__title--underlined">
        <h1>
          <span class="c-step-counter">{{wizard.status.currentStep + 1}}/{{wizard.steps.length}}</span>
          <i class="c-step-counter__icon c-icon c-icon--small icon-arrow2_right"></i>
          <span class="c-step-content__title-text">{{wizard.steps[wizard.status.currentStep].name | translate}}</span>
        </h1>
      </header>

      <div ng-switch-when="0">
        <ng-include src="'views/policies/description.html'"></ng-include>
      </div>
      <div ng-switch-when="1">
        <ng-include src="'views/policies/input.html'"></ng-include>
      </div>
      <div ng-switch-when="2">
        <ng-include src="'views/policies/model-accordion.html'"></ng-include>
      </div>
      <div ng-switch-when="3">
        <ng-include src="'views/policies/cube-accordion.html'"></ng-include>
      </div>
      <div ng-switch-when="4">
        <ng-include src="'views/policies/output.html'"></ng-include>
      </div>
      <div ng-switch-when="5">
        <ng-include src="'views/policies/finish.html'"></ng-include>
        <footer class="c-row c-row--footer">
          <div class="c-col c-col--12 c-col--vertical-centered c-col--to-right">
            <button class="c-button c-button--call-to-action-1" data-ng-click="wizard.confirmPolicy()" data-qa="policy-save-button">
              <i class="icon icon-rocket"></i>
              <span>{{"_SAVE_" | translate}}</span>
            </button>
          </div>
        </footer>
      </div>
      <div ng-if="wizard.error" class="c-row c-msg c-msg--small c-msg--error" data-qa="error-msg">
        <i class="c-icon icon-circle-cross"></i>
        <span>{{wizard.error | translate}}</span>
      </div>
      <div ng-show="wizard.successfullySentPolicy" class="c-row c-msg c-msg--small c-msg--success" data-qa="success-msg">
        <i class="c-icon icon-circle-check"></i>
        <span>{{"_POLICY_._SUCCESS_SENT_" | translate}}</span>
      </div>
    </div>

  </div>


</section>
