:host {
  display: block;
  width: 100%;
  border-bottom: 1px solid #eaeff5;
  margin-top: 20px;
  width: 100%;
  padding: 20px 0;
}

.breadcrumb {
  display: inline-block;
}

.search-form {
    display: inline-block;
    float: right;
    margin-top: -10px;
    width: 100%;
    max-width: 40%;
}