@import '~@stratio/egeo/theme/constants';

:host {
  display: block;
  width: 100%;
}
.subheader1 {
  border-bottom: 1px solid $action-secondary-02;
  margin-top: 8px;
  width: 100%;
  padding: 16px 0 20px;

  &__search {
      float: left;
      margin-top: -10px;
      width: 100%;
      max-width: 300px;
  }

  &__buttons {
    float: right;
    margin-top:-10px;
  }
}

.subheader2 {
  border-bottom: 1px solid $action-secondary-02;
  margin-top: 8px;
  width: 100%;
  padding: 16px 0 20px;

  &__breadcrumb {
    display: inline-block;
  }
}

.clear {
  clear: both;
}

button {
    margin-left:7px;
}


.create-options {
  margin-left: 20px;
}


.options-button{
    overflow: visible;
    border: 1px solid $neutral-03;
    outline: 0;
    display: inline-block;
    color: $neutral-10;

        &[disabled] {
        background: $neutral-03;
        border-color: transparent;
    }
    &:hover {
        border-color: $neutral-07;
    }

    .execution-options {
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .primary-option {
        padding: .625rem;
        display: inline-block;
        margin-top: 2px;
    }

    .options {
        border-left: 1px solid $neutral-03;
        height: 38px;
        display: table-cell;
        vertical-align: middle;
        &:hover {
            border-color: $neutral-07;
        }
        i {
            padding: 0 0.2rem;
            font-size: 11px;
            padding-top:3px;
        }
    }
}
