<div>
    <form-field-input ng-attr-id="{{ngFormId}}" ng-if="(field.propertyType == 'text' || field.propertyType == 'password' || field.propertyType == 'number') && isVisible()" data-form="form" data-st-name="{{name}}" data-model="model[field.propertyId]" data-label="{{modify.propertyName || field.propertyName}}" data-type="{{field.propertyType}}" data-help="{{modify.tooltip || field.tooltip}}" data-pattern="field.regexp" data-required="field.required"></form-field-input>
<!--
    <form-field-input id="dataSourceName" data-model="vm.dataSource.name" data-label="{{'_INPUT_WINDOW_FORM_NAME_' | translate}}:" data-form="vm.form" data-st-name="dataSourceNameForm" data-required="true" data-autofocus="true"></form-field-input>
-->

    <form-field-textarea ng-attr-id="{{ngFormId}}" ng-if="(field.propertyType == 'textarea') && isVisible()" data-form="form" data-st-name="{{name}}" data-model="model[field.propertyId]" data-label="{{modify.propertyName || field.propertyName}}" data-help="{{modify.tooltip || field.tooltip}}" data-pattern="field.regexp" data-required="field.required"></form-field-textarea>

    <form-field-select ng-attr-id="{{ngFormId}}" ng-if="(field.propertyType == 'select') && isVisible()" data-form="form" data-st-name="{{name}}" data-model="model[field.propertyId]" data-options="field.values" data-field="label" data-label="{{modify.propertyName || field.propertyName}}" data-help="{{modify.tooltip || field.tooltip}}" data-required="field.required"></form-field-select>

    <form-field-list ng-attr-id="{{ngFormId}}" ng-if="(field.propertyType == 'list') && isVisible()" data-field="field" data-form="form" data-st-name="{{name}}" data-model="model"></form-field-list>

    <div id="upload-file" ng-if="(field.propertyType == 'file') && isVisible()">
      <form name="radio" id="radio">
        <label>
          <input type="radio" ng-model="uploadFrom" value="file">
          Upload file
        </label><br/>
        <label>
          <input type="radio" ng-model="uploadFrom" value="url">
          Fetch from url
        </label><br/>
      </form>
      <ng-form method="post" class="form-horizontal" role="form" name="uploadFile" ng-if="uploadFrom == 'file'" >
         <div class="form-group">
             <label class="control-label col-sm-3">Choose file: </label>
             <div class="col-sm-9">
                 <input id="datasource-file-input" class="form-control" type="file" accept="{{mimeType}}" file-model="model[field.propertyId].file" />
             </div>
         </div>
      </ng-form>
      <form-field-input ng-if="uploadFrom == 'url'" ng-attr-id="fecth-url"  data-form="form" data-st-name="fetch-url" data-model="model[field.propertyId].url" data-label="Insert url" data-type="text" data-help="inserts the URL from which to download the file" data-pattern="field.regexp"></form-field-input>
    </div>
</div>
