<ng-form name="{{name}}" class="c-form-group" ng-class="{empty: !model && model !== 0, focus: isFocused, placeholder: placeholder && !label, error: this[name][name].$invalid && form.$submitted, small: type=='number', disabled: disabled, submitted: form.$submitted, dirty: this[name][name].$dirty, 'c-form-group--compressed': listCompressed}">
    <div class="c-form-control c-form-control--full-width">
        <span class="c-icon-label c-col c-col--12" data-ng-if="label">
            <label class="c-icon-label__text c-label" title="{{label}}" for="{{name}}">
                {{label}}
                <span data-ng-if="required === false && !extraMessage" class="c-label__optional">{{'_OPTIONAL_' | translate}}</span>
                <span data-ng-if="extraMessage" class="c-label__optional">{{extraMessage}}</span>
                <i data-ng-if="help" id="tooltip-{{name}}" class="c-icon icon-help2 c-icon--is-clickable c-icon--in-label" data-qa="{{helpQa}}" uib-popover='{{help}}' popover-class="popover--bottom" popover-trigger="click" popover-placement="bottom" data-ng-click="mouseLeaveTooltip()"></i>
            </label>
        </span>
        <div class="c-row">
            <input id="{{name}}" ng-attr-id="{{name}}" name="{{name}}" class="c-input c-checkbox" type="checkbox" data-ng-model="model" data-ng-required="required" data-ng-disabled="disabled" data-ng-pattern="pattern"><label class="c-label" for="{{name}}" data-qa="{{qa}}"></label>
        </div>
        <div data-ng-if="this[name][name].$invalid && form.$submitted" class="angular-forms__error" data-qa="{{qa}}-error">
            <i class="icon icon-circle-cross"></i>
            <span data-ng-if="this[name][name].$error.required">This field is required. </span>
            <span data-ng-if="this[name][name].$error.pattern">Invalid format. </span>
            <span data-ng-if="this[name][name].$error.email">Invalid email. </span>
            <span data-ng-if="this[name][name].$error.number">Invalid number. </span>
            <span data-ng-if="this[name][name].$error.minlength">{{label}} must be at least {{minlength}} characters long. </span>
            <span data-ng-if="this[name][name].$error.maxlength">{{label}} must be no more than {{maxlength}} characters long. </span>
            <span data-ng-if="this[name][name].$error.max">{{label}} must be less than or equal to {{max}}. </span>
            <span data-ng-if="this[name][name].$error.min">{{label}} must be greate than or equal to {{min}}. </span>
            <span data-ng-if="this[name][name].$error.match">The fields do not match. </span>
            <span data-ng-if="this[name][name].$error.custom">{{customError}}</span>
        </div>
    </div>
</ng-form>
