<ng-form name="{{name}}" class="c-form-group" data-ng-class="{empty: !model && model !== 0, focus: isFocused, placeholder: placeholder && !label, error: this[name][name].$invalid && form.$submitted, small: type=='number', disabled: disabled, submitted: form.$submitted, dirty: this[name][name].$dirty, 'c-form-group--compressed': listCompressed}">
    <div class="c-form-control c-form-control--full-width">
        <span class="c-icon-label c-col c-col--12" data-ng-if="label">
            <label class="c-icon-label__text c-label" title="{{label}}" for="{{name}}">
                {{label}}
                <span data-ng-if="required === false" class="c-label__optional">{{'_OPTIONAL_' | translate}}</span>
                <i data-ng-if="help" class="c-icon icon-help2 c-icon--is-clickable c-icon--in-label" data-ng-click="focusOnInput()" data-qa="{{helpQa}}"></i>
            </label>
            <span class="c-label c-icon-label__help c-icon-label__full-width" data-ng-if="extraInfo">
                {{extraInfo}}
            </span>
        </span>
        <div ng-if="placeholder" class="st-form-field-placeholder">{{placeholder}}</div>
        <!-- doesn't check json format -->
        <textarea data-ng-if="!json" ng-attr-id="{{name}}" name="{{name}}" class="c-textarea" data-ng-class="{'c-textarea--large': largeSize}" data-ng-model="$parent.model" ng-required="required" ng-pattern="pattern" ng-blur="isFocused=false" data-qa="{{qa}}" uib-popover='{{help}}' popover-class="popover--bottom" popover-trigger="focus" popover-placement="bottom" data-ng-focus="mouseLeaveTooltip()" placeholder="{{placeholder}}"></textarea>
        <!-- check json format -->
        <textarea data-ng-if="json" json-text ng-attr-id="{{name}}" name="{{name}}" class="c-textarea" data-ng-class="{'c-textarea--large': largeSize}" data-ng-model="$parent.model" ng-required="required" ng-pattern="pattern" ng-blur="isFocused=false" data-qa="{{qa}}" uib-popover='{{help}}' popover-class="popover--bottom" popover-trigger="focus" popover-placement="bottom" data-ng-focus="mouseLeaveTooltip()" placeholder="{{placeholder}}" data-ng-disabled="disabled"></textarea>
        <div ng-if="this[name][name].$invalid && form.$submitted" class="angular-forms__error" data-qa="{{qa}}-error">
            <i class="icon icon-circle-cross"></i>
            <span ng-if="this[name][name].$error.required">This field is required. </span>
            <span ng-if="this[name][name].$error.pattern">Invalid format. </span>
            <span ng-if="!this[name][name].$error.required && !this[name][name].$error.pattern">This field has not a valid JSON format.</span>
        </div>
    </div>
</ng-form>
