<ng-form name="{{name}}" class="c-form-group" data-ng-class="{empty: !model && model !== 0, focus: isFocused, placeholder: placeholder && !label, error: this[name][name].$invalid && form.$submitted, small: type=='number', disabled: disabled, submitted: form.$submitted || submittedForm, dirty: this[name][name].$dirty, 'c-form-group--compressed': listCompressed}">
    <div class="c-form-control c-form-control--full-width">
        <span class="c-icon-label c-col c-col--12" data-ng-if="label">
            <label class="c-icon-label__text c-label" title="{{label}}" for="{{name}}">
                {{label}}
                <span data-ng-if="required === false" class="c-label__optional">
                    {{'_OPTIONAL_' | translate}}
                </span>
                <i data-ng-if="help" class="c-icon icon-help2 c-icon--is-clickable c-icon--in-label" data-ng-click="focusOnInput()" data-qa="{{helpQa}}"></i>
            </label>
        </span>
        <input ng-attr-id="{{name}}" name="{{name}}" class="c-col c-col--12 c-input" data-ng-class="{'c-input__outputField': outputField}" type="{{type}}" data-ng-model="model"
               data-ng-required="required" data-ng-disabled="disabled" data-ng-pattern="pattern" data-ng-minlength="minlength" maxlength="{{maxlength}}" min="{{min}}" max="{{max}}" step="{{step}}"
               data-ng-blur="isFocused=false" data-st-match="match" ng-trim="{{type !== 'password' && stTrim}}" placeholder="{{placeholder}}" data-qa="{{qa}}"
               uib-popover='{{help}}' popover-class="popover--bottom" popover-trigger="focus" popover-placement="bottom" c-value-validate="validateValue" invalid-values="invalidValues"/>
        <span class="c-arrow-label c-arrow-label__form" data-ng-if="outputField">
            {{'_FIELD_' | translate}}
        </span>
        <div data-ng-if="this[name][name].$invalid && form.$submitted" class="angular-forms__error">
            <i class="icon icon-circle-cross"></i>
            <span data-ng-if="this[name][name].$error.required" data-qa="{{qa}}-error-required">This field is required. </span>
            <span data-ng-if="this[name][name].$error.invalidValue" data-qa="{{qa}}-error-required">Invalid value. </span>
            <span data-ng-if="this[name][name].$error.pattern" data-qa="{{qa}}-error-pattern">Invalid format. </span>
            <span data-ng-if="this[name][name].$error.email" data-qa="{{qa}}-error-email">Invalid email. </span>
            <span data-ng-if="this[name][name].$error.number" data-qa="{{qa}}-error-number">Invalid number. </span>
            <span data-ng-if="this[name][name].$error.minlength" data-qa="{{qa}}-error-minlength">{{label}} must be at least {{minlength}} characters long. </span>
            <span data-ng-if="this[name][name].$error.maxlength" data-qa="{{qa}}-error-maxlength">{{label}} must be no more than {{maxlength}} characters long. </span>
            <span data-ng-if="this[name][name].$error.max" data-qa="{{qa}}-error-max">{{label}} must be less than or equal to {{max}}. </span>
            <span data-ng-if="this[name][name].$error.min" data-qa="{{qa}}-error-min">{{label}} must be greate than or equal to {{min}}. </span>
            <span data-ng-if="this[name][name].$error.match" data-qa="{{qa}}-error-match">The fields do not match. </span>
            <span data-ng-if="this[name][name].$error.custom" data-qa="{{qa}}-error-custom">{{customError}}</span>
        </div>
    </div>
</ng-form>
