<ng-form name="{{name}}" class="c-form-group">
  <div class="c-multiple-list" data-ng-repeat="row in model[field.propertyId]" data-ng-init="indexRow = $index">
    <div data-ng-repeat="fld in field.fields">
      <!-- input text -->
      <form-field-input ng-attr-id="{{ngFormId}}"
                        data-ng-if="(fld.propertyType == 'text' || fld.propertyType == 'password' || fld.propertyType == 'number')"
                        data-form="form" data-st-name="{{name}}-{{indexRow}}" data-model="row[fld.propertyId]"
                        data-label="{{modify.propertyName || fld.propertyName | translate}}"
                        data-type="{{fld.propertyType}}" data-help="{{fld.tooltip}}" data-input-default="fld.default"
                        data-pattern="fld.regexp" data-required="fld.required" data-qa="{{name}}-{{indexRow}}-qa"
                        data-maxlength="fld.maxlength" data-st-trim="fld.trim" data-list-compressed="listCompressed"
                        data-output-field="fld.outputField"></form-field-input>
      <!-- list -->
      <form-field-list class="c-col c-col--12" ng-attr-id="{{ngFormId}}" data-ng-if="(fld.propertyType == 'list')"
                       data-field="fld" data-form="form" data-st-name="{{name}}-{{indexRow}}" data-model="row"
                       data-list-compressed="listCompressed" data-modal="true" data-multiple-list="true"
                       data-qa="{{qa}}"></form-field-list>

      <!-- select -->
      <form-field-select ng-attr-id="{{ngFormId}}" data-ng-if="(fld.propertyType == 'select')" data-form="form"
                       data-st-name="{{name}}" data-model="row[fld.propertyId]" data-options="fld.values"
                       data-field="label" data-label="{{fld.propertyName | translate}}" data-help="{{fld.tooltip}}"
                       data-required="fld.required" data-list-compressed="listCompressed"
                       data-qa="{{qa}}"></form-field-select>

    </div>
    <i class="c-icon c-icon--is-clickable c-icon--list-compressed icon-square-cross"
       data-ng-if="!($first && $last) && listCompressed" ng-click="removeItem($index)"
       data-qa="{{qa}}-minus-{{$parent.$index}}"></i>
  </div>
  <div class="c-label c-label--content-to-right c-label__add-button c-col c-col--12">
		<span class="c-icon-label__text">
            {{"_ADD_" | translate}}
        </span>
    <i class="c-icon icon-square-plus c-icon--is-clickable" data-ng-click="addItem()"
       data-qa="{{qa}}-plus-{{model[fld.propertyId].length}}"></i>
  </div>
</ng-form>
