:host {
    display: block;
    width: 100%;
}
.editor {
   .json-info {
      display: flex;
      font-size: 12px;
      .icon {
         margin-right: 6px;
      }
   }
}

.workflow-fields {
   width: 250px;
   margin-right: 32px;
   float: left;
}

.workflow-json {
  width: calc(100% - 284px);
  float: left;
}

.workflow-json-content {
   width: 100%;
   font-size: 14px;
   padding-bottom: 10px;
}

.edition-buttons {
   float: right;
}

.description {
   margin-bottom: 20px;
}


.format-error{
   margin-bottom: 20px;
}
.validation-error {
   font-size: 15px;
}

