<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<div>
   <form #jsonWorkflowForm="ngForm" novalidate autocomplete="off">
      <div class="editor">
         <div class="workflow-fields">
            <sp-input #input label="{{'DASHBOARD.WORKFLOW_NAME' | translate}}" [forceValidations]="forceValidations" placeholder="{{'DASHBOARD.NAME_PLACEHOLDER' | translate}}"
               name="name" qaTag="workflow-name" [(ngModel)]="model.name" class="st-form-field"></sp-input>
            <br>
            <st-textarea class="description st-form-field" [forceValidations]="forceValidations" label="{{'DASHBOARD.WORKFLOW_DESCRIPTION' | translate}}" placeholder="{{'DASHBOARD.DESCRIPTION_PLACEHOLDER' | translate}}"
               name="description" qaTag="workflow-description" [rows]="2" [(ngModel)]="model.description"></st-textarea>
            <p class="json-info">
               <span class="icon"><i class="icon-pin"></i></span>
               <span>{{'DASHBOARD.JSON_INFO' | translate}}</span>
            </p>
            <p>
         </div>
         <div class="workflow-json st-form-field" [ngClass]="{'error' : workflowValidationError || serverErrors.length}">
            
            <st-textarea [forceValidations]="forceValidations" placeholder="{{'DASHBOARD.WORKFLOW_JSON' | translate}}" label="JSON" name="components-template" [qaTag]="'components-textarea-template'"
               required class="workflow-json-content st-form-field" [rows]="15" [(ngModel)]="model.json"> </st-textarea>
               <!-- {{serverErrors | async | json}} -->
            <perfect-scrollbar class="format-error" style="max-height: 75px;" [scrollIndicators]="false" *ngIf="workflowValidationError || serverErrors.length">
               <p class="st-input-error-message validation-error" *ngIf="workflowValidationError">{{'DASHBOARD.JSON_SAVE_ERROR' | translate}}</p>
               <p class="st-input-error-message validation-error" *ngIf="serverErrors.length"> {{serverErrors}}</p>
            </perfect-scrollbar>
            <file-reader text="{{'DASHBOARD.UPLOAD_JSON_FILE' | translate}}" (changedFile)="onChangedFile($event)"></file-reader>

            <div class="edition-buttons">
                <button class="button button-secondary-gray cancel-button" (click)="onCloseJsonModal.emit('0')">
                    <span>{{'DASHBOARD.CANCEL' | translate}}</span>
                </button>
                <button class="button button-primary" (click)="onSubmitWorkflow()">
                    <span>{{'DASHBOARD.CREATE' | translate}}</span>
                </button>
            </div>
         </div>
      </div>
   </form>
</div>
