:host {
   width: 100%;
}

.form-generator {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.newRow {
   flex-wrap: wrap;
}

.form {
   display: block;
   width: 100%;
}

.form-list-row {
   width: 100%;
}

.form-container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.col-xs-auto {
   margin-right: 30px;
   box-sizing: border-box;
   flex: 0 0 auto;
   padding-right: .9375rem;
   padding-left: .9375rem;
}

.list-field {
   width: 100%;
}

.prop-container {
   width: 100%;
   display: flex;
}

.subform-title-0{
    margin-top:20px;
    font-size: 24px;
}

.subform-title-1{
    margin-top:20px;
    font-size: 20px;
}

.subform-title-2{
    margin-top:20px;
    font-size: 18px;
}