<div class="col-sm-12">
   <form [formGroup]="stFormGroup" class="form-generator row">
      <ng-container *ngFor="let prop of formDataValues; let i = index;">
         <div [ngClass]="getClass(prop.field.width)" *ngIf="prop.field.propertyType !== 'list'">
            <form-field [field]="prop.field" [forceValidations]="forceValidations" [formControl]="prop.formControl" [stFormGroup]="stFormGroup"></form-field>
         </div>
         <div *ngIf="prop.field.propertyType === 'list'" class="form-list-row">
            <form-field [field]="prop.field" [forceValidations]="forceValidations" [formControl]="prop.formControl" [stFormGroup]="stFormGroup"></form-field>
         </div>
         <div class="col-sm-12" *ngIf="prop.newRow"></div>
      </ng-container>
   </form>
</div>
