$filters-background-color: #eef2f3;

.inputs_wrapper {
	margin: 0px 15px;
	overflow: auto;

	.filters {
		position: relative;
		float: left;
		box-sizing: border-box;
		width: 100%;
		background-color: $filters-background-color;
		margin: 10px 0px;
		padding: 11px 25px;

		.element {
			position: relative;
			float: right;
			margin-left: 30px;
		}
	}
}