.filter_search_element {

	.icon-search:before {
		position: absolute;
		top: 7px;
		left: 70px;
		color: #999;
	}

	.filter_search {
		color: #666;
		border: none;
		height: 28px;
		padding-left: 35px;
		margin-left: 15px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
}



