/*doc
---
title: c-checkbox
name: c-checkbox
category: components
---

To do

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 

## Dependencies

[c-component]()

*/

@import "vars";
@import "rules";
