/*doc
---
title: c-checkbox
name: c-checkbox
category: components
---

To do

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 							| `0' 


*/

@import "vars";
@import "rules";
