@mixin c-checkbox {
	@include c-component;

	display: none;

	& + .c-label {
		cursor: pointer;
		display: inline-block;
		max-width: 16px;
		overflow: hidden;
		margin: $c-checkbox__label---margin;

		&:before {
			@extend .icon-stop:before;

			color: $c-checkbox---color;
			font-family: $c-checkbox---font-family;
		}
	}

	&:checked + .c-label {
		&:before {
			@extend .icon-square-check:before;

			color: $c-checkbox--checked---color;
			font-family: 'ico_stratio';
		}
	}
}

.c-checkbox {
	@include c-checkbox;
}
