:host {
   min-width: 500px;
}

.confirmation {
   display: block;
       font-family: Nunito Sans Light;
    font-size: 1.563rem;
    line-height: 2.125rem;
    text-align: left;
    color: #0f1b27;
    margin-bottom: 15px;
    font-weight: 300;
}

.remove-data {
   margin: 15px 0;
   display: block;
}

.execute-info {
   font-style: italic;
   font-size: 15px;
}

.action-buttons {
   margin-top: 100px;
   overflow: hidden;
   .button {
      padding: .925rem 1.875rem;
      min-width: 9rem;
   }
   .save-button {
      float: right;
   }
   .cancel-button {
      float: right;
      margin-right: 10px;
   }
}
