/*doc
---
title: c-form
name: c-form
category: components
---

The form component is a wrapper to include form-controls.

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 							| `0' 

## Dependencies

[c-component]()

*/

@import "vars";
@import "rules";
