.editor {
  position: absolute;
  bottom: 0;
  top: 135px;
  /*height: calc(100% - 135px);*/
  width: 100%;
}

.editor-component {
  opacity: 0;
  transition: opacity 0.35s;
  &.loaded {
    opacity: 1;
  }
}

.wizard-header {
  user-select: none;
}

.wizard-sidebar {
  position: absolute;
  top: 134px;
  right: 0;
  height: calc(100% - 135px);
  z-index: 10;
}

notification-alert {
  top: 140px;
}
