<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<div #wizardModal qaTag="wizard-modal"></div>
<section [ngClass]="{'mobile' : isMobile}" [hidden]="hiddenContent">
  <wizard-header
    class="wizard-header"
    [isWorkflowDebugging]="isWorkflowDebugging"
    [isNodeSelected]="selectedNodeName && selectedNodeName.length"
    [isEdgeSelected]="selectedEdge && selectedEdge.origin"
    [isPipelinesNodeSelected]="isPipelinesNodeSelected"
    [workflowData]="workflowData"
    (onZoomOut)="editorRef.changeZoom(false)"
    (onZoomIn)="editorRef.changeZoom(true)"
    (onCenter)="editorRef.centerWorkflow()"
    (onSaveWorkflow)="saveWorkflow($event)"
    (onEditEntity)="editButtonEntity()"
    (onEditPipelinesEntity)="editButtonPipelinesEntity()"
    (onDuplicateNode)="duplicateNode()"
    (deleteSelection)="deleteSelection()">
  </wizard-header>
  <div class="editor" #editorArea>
    <wizard-editor
      [workflowNodes]="workflowNodes"
      [workflowEdges]="workflowEdges"
      [creationMode]="creationMode$ | async"
      [selectedNodeName]="selectedNodeName"
      [editorPosition]="editorPosition"
      [selectedEdge]="selectedEdge"
      [debugResult]="debugResult"
      (setEditorDirty)="setEditorDirty()"
      (createNode)="createNode($event)"
      (editEntity)="editEntity($event)"
      (selectNode)="selectNode($event)"
      (onCreateEdge)="createEdge($event)"
      (selectEdge)="selectEdge($event)"
      (showEdgeOptions)="showEdgeOptions($event)"
      (deselectEntityCreation)="deselectEntityCreation()"></wizard-editor>
  </div>
  <sparta-sidebar
    showScrollBar="true"
    [isVisible]="isShowedEntityDetails$ | async"
    class="wizard-sidebar"
    (onCloseSidebar)="closeSideBar()">
    <wizard-details [entityData]="selectedNodeModel"></wizard-details>
  </sparta-sidebar>
</section>
<notification-alert *ngIf="showForbiddenError$ | async" (onClose)="hideAlert()"></notification-alert>
<wizard-console *ngIf="showDebugConsole" [genericError]="genericError" [debugData]="consoleDebugData"></wizard-console>
<edge-options *ngIf="edgeOptions.active" [edgeOptions]="edgeOptions"></edge-options>
