@import '~@stratio/egeo/theme/constants';
.monitoring-title {
    padding: 40px 0 20px;
}

.global-actions {
    float: right;
}

.tool-bar {
    margin-top:10px;
    margin-bottom:20px;
}

.selection-tools{
    button {
        margin-left:7px;
    }
    display:inline-block;
    margin-right: 20px;
}

st-search {
    width: 50%;
    display: inline-block;
}

.filters {
    display: flex;
    flex-direction:row;
    margin: 0 -10px;
    flex-wrap: wrap;
    flex: 0 1 calc(100% + 20px);
    margin-bottom: 20px;
}

.filter{
    background: white;
    margin:0 10px;
    padding: 15px 0;
    text-align: center;
    border: 1px solid $action-secondary-02;
    cursor: pointer;
    flex: 1;    
    border-radius: 5px;

    .number {
        color: $action-secondary-05;
        font-size: $egeo-font-size-xxxlarge;
        font-family: $egeo-nunito-sans-bold;
    }

    .label {
        color: $action-secondary-04;
        margin-left: 3px;
        font-size: $egeo-font-size-xlarge;
        font-family: $egeo-nunito-sans-light;
    }

    &.selected {
        border-color: $brand;

        .number {
            color: $action-primary-default;
        }

        .label {
            color: $neutral-12;
        }
    }
}