<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<tool-bar>
   <div breadcrumb>
      <h1 class="egeo-title-large monitoring-title">{{'DASHBOARD.HOME.MONITORING_TITLE' | translate}}</h1>
   </div>
   <div general-tools>
      <st-search [placeholder]="'DASHBOARD.HOME.SEARCH_PLACEHOLDER' | translate" qaTag="search-workflow" (search)="searchWorkflow($event)"
         [value]="searchQuery"></st-search>

   </div>
</tool-bar>
<div class="container">
   <div class="row">
      <div class="col-sm-12">
            
      </div>
      <div class="col-sm-12">
         <div class="filters">
            <div class="filter" [attr.id]="filter.name + '-filter'" *ngFor="let filter of filters" (click)="selectFilter(filter.value)"
               [ngClass]="{'selected' : selectedFilter === filter.value}">
               <span class="number">{{monitoringStatus[filter.name] ? monitoringStatus[filter.name] : 0}}</span>
               <span class="label">{{'DASHBOARD.HOME.' + filter.label | translate}}</span>
            </div>
         </div>
      </div>
   </div>
   <div class="row tool-bar">
       <div class="col-sm-6">
           <div class="workflow-count">
               <span class="number">{{workflowListLength}}</span> results by
               <span class="filter-value">{{selectedFilter.length ? ('DASHBOARD.HOME.' + (selectedFilter | uppercase)  | translate) : ('DASHBOARD.HOME.ALL_WORKFLOWS' | translate)}}</span>
               <span *ngIf="searchQuery.length"> + <span class="filter-value">{{searchQuery}}</span></span>
           </div>
       </div>
      <div class="col-sm-6">
         <div class="global-actions">
            <div *ngIf="selectedWorkflows.length" class="selection-tools">
               <button class="button button-toolbar" id="run-button" (click)="runWorkflow(selectedWorkflows[0])" *ngIf="selectedWorkflows.length && selectedWorkflows.length === 1">
                  <i class="icon-stop" *ngIf="isRunning(selectedWorkflows[0].status.status)"></i>
                  <i class="icon-play" *ngIf="!isRunning(selectedWorkflows[0].status.status)"></i>
              </button>
               <button class="button button-toolbar" id="download-button" (click)="downloadWorkflows.emit()">
                  <i class="icon-download"></i>
              </button>
               <div class="separator"></div>
            </div>
            <button class="button button-toolbar" id="info-button" (click)="showWorkflowInfo.emit()" [ngClass]="{'selected-button': showDetails}">
                <i class="icon-info1"></i>
            </button>
         </div>
      </div>
   </div>
</div>
