@mixin c-info-text {
	@include c-icon-text;

	color: $c-info-text---color;
	font-size: $c-info-text---font-size;

	@at-root &__icon {
		color: $c-info-text__icon---color;
		font-size: $c-info-text__icon---font-size;
		margin: $c-info-text__icon---margin;
	}
}

.c-info-text {
	@include c-info-text;
}
