@mixin c-info-text {
	@include c-icon-text;

	color: $c-info-text---color;
	font-size: $c-info-text---font-size;

	&--narrow {
		font-style: italic;
	}

	&__icon {
		color: $c-info-text__icon---color;
		font-size: $c-info-text__icon---font-size;
	}
}

.c-info-text {
	@include c-info-text;
}
