$c-info-text---color: get-color(g7) !default;
$c-info-text---font-size: get-font-size(medium) !default;

$c-info-text__icon---color: get-color(c1) !default;
$c-info-text__icon---font-size: get-font-size(medium) !default;
$c-info-text__icon---margin: 0 .5em 0 0 !default;
