$c-info-text---color: get-color(n7) !default;
$c-info-text---font-size: get-font-size(medium) !default;

$c-info-text__icon---color: get-color(a1) !default;
$c-info-text__icon---font-size: get-font-size(medium) !default;

$c-info-text__link---position: relative !default;
$c-info-text__link---display: inline-block !default;
$c-info-text__link---color: get-color(n5) !default;
$c-info-text__link---cursor: pointer !default;

$c-info-text__link__align---font-size: 0.875rem !default;
$c-info-text__link__align---vertical-align: middle !default;
