$c-info-text---color: get-color(n7) !default;
$c-info-text---font-size: get-font-size(medium) !default;

$c-info-text__icon---color: get-color(a1) !default;
$c-info-text__icon---font-size: get-font-size(medium) !default;
