<form-field-select class="c-col c-col--3"
                   data-form="vm.form"
                   data-st-name="input-form"
                   data-model="vm.model.inputField"
                   data-options="vm.modelInputs"
                   data-field="label"
                   data-label="{{'_INPUT_FIELD_' | translate}}"
                   data-required="true"
                   data-qa="policy-description-raw-data-partition-format">
</form-field-select>
<form-field data-ng-repeat="item in vm.template.model[vm.model.type].properties"
            class="c-col c-col--vertical-top c-col--right-margin c-form-group--with-gutter"
            data-ng-class="{'c-col--{{item.width}}': item.width}"
            data-ng-form-id="{{item.propertyId}}"
            data-c-new-row="{{item.newRow}}"
            data-field="item"
            data-model="vm.model.configuration"
            data-form="vm.form"
            data-st-name="modelCsv_{{item.propertyName}}Form"
            data-qa="{{item.qa}}">
</form-field>
<form-field-textarea data-json="true"
                     data-label="{{'_COMMANDS_' | translate}}"
                     data-form="vm.form"
                     data-st-name="model-configuration"
                     data-model="vm.model.configuration.fields"
                     data-required="true"
                     data-extra-info="'_CONFIGURATION_INFO_' | translate"
                     data-placeholder="vm.configPlaceholder"
                     data-qa="{{'policy-model-configuration-textarea'}}"
                     data-large-size="true">
</form-field-textarea>
<div class="c-form-group"
     data-ng-class="{'submited': vm.model.outputFields.length == 0 && vm.form.$submitted, 'ng-invalid': vm.model.outputFields.length == 0 && vm.form.$submitted}">
  <div class="c-form-control c-form-control--full-width">
    <c-add-element
      data-icon-class="'c-icon c-icon--is-clickable c-icon--call-to-action c-info-text__icon icon-square-plus'"
      data-model="vm.model.outputFields"
      data-type="'text'"
      data-label="'_OUTPUTS_FIELDS_' | translate"
      data-qa="policy-model-outputs"
      data-pattern="vm.outputPattern"
      data-error="vm.modelError.duplicatedOutput"
      data-submitted-form="vm.form.$submitted"
      data-is-object="true"
      data-attribute="name"
      data-limit="0"
      data-required="true"
      data-width="3">
    </c-add-element>
    <c-output-field-list name="model-outputs"
                         data-edition-mode="true"
                         data-inputs="vm.model.outputFields"
                         label-control-class="'c-label c-col'"
                         readonly="'true'"
                         data-qa="policy-model-output-list"
                         data-help="Note: Make sure output fields match with the ones in the configuration"
                         data-help-qa="policy-model-outputs-help"
                         data-required="true"
                         data-min-length="1"
                         data-label="'_OUTPUTS_FIELDS_' | translate"
                         data-form="vm.form"
                         data-default-type="vm.outputFieldTypes[0].value"
                         data-delete-transform-input="vm.deleteTransformInput"
                         data-output-types="vm.outputFieldTypes">
    </c-output-field-list>
  </div>
</div>
