<div class="c-col c-col--6 c-col--right-margin">
  <form-field data-ng-repeat="item in vm.template.model[vm.model.type].properties"
            class="c-col c-col--12 c-col--vertical-top c-col--right-margin c-form-group--with-gutter"
            data-ng-form-id="{{item.propertyId}}"
            data-field="item"
            data-modal="true"
            data-list-compressed="true"
            data-model="vm.model.configuration"
            data-form="vm.form"
            data-disabled="!editionMode"
            data-st-name="modelCsv_{{item.propertyName}}Form"
            data-qa="{{item.qa}}">
</form-field>
</div>