<div class="c-form-group">
  <!-- InputField combo in editionMode -->
  <form-field-select  class="c-col c-col--2"
                      data-ng-if="editionMode"
                      data-form="vm.form"
                      data-st-name="input-form"
                      data-model="vm.model.inputField"
                      data-options="vm.modelInputs"
                      data-field="label"
                      data-label="{{'_INPUT_FIELD_' | translate}}"
                      data-disabled="false"
                      data-required="true"
                      data-qa="policy-description-raw-data-partition-format">
  </form-field-select>
  <!-- InputField input in !editionMode -->
  <form-field-input class="c-col c-col--2" data-ng-if="!editionMode" data-form="vm.form" data-st-name="input-form"
                    data-model="vm.model.inputField | translate"
                    data-label="{{'_INPUT_FIELD_' | translate}}"
                    data-type="text" data-disabled="true" data-qa="policy-model-input">
  </form-field-input>
</div>
<div class="c-form-group" data-ng-class="{'submited': vm.form['model-configuration'].$error.invalidJson && vm.form.$submitted, 'ng-invalid': vm.form['model-configuration'].$error.invalidJson && vm.form.$submitted}">
  <div class="c-form-control c-form-control--full-width">
    <c-icon-label data-wrapper-control-class="'c-col c-col--12'"
                  data-icon-class="'icon-help2'"
                  data-text="'_CONFIGURATION_' | translate"
                  data-icon-url="vm.template.configHelpLink"
                  data-test="policy-model-configuration-help"
                  data-required="true"
                  data-help="'_CONFIGURATION_INFO_' | translate"
                  data-help-qa="policy-model-configuration-label-help">
    </c-icon-label>
    <!-- Configuration textarea in !editionMode -->
    <textarea json-text name="model-configuration" data-form="vm.form" data-ng-disabled="!editionMode"
              class="c-textarea c-textarea--required c-textarea--full-width"
              data-ng-model="vm.model.configuration"
              ng-class="{'c-textarea--error': vm.form['model-configuration'].$error.invalidJson && vm.form.$submitted}"
              data-qa="policy-model-configuration-textarea"
              placeholder={{vm.configPlaceholder}}>
    </textarea>
    <div data-ng-if="vm.form['model-configuration'].$error.invalidJson && vm.form.$submitted" class="angular-forms__error">
      <span data-qa="policy-model-configuration-textarea-error-json">This field has not a valid JSON format.</span>
    </div>
  </div>
</div>
<div class="c-form-group" data-ng-class="{'submited': vm.model.outputFields.length == 0 && vm.form.$submitted, 'ng-invalid': vm.model.outputFields.length == 0 && vm.form.$submitted}">
  <div class="c-form-control c-form-control--full-width">
    <c-input-list-field name="model-outputs" form-control-class="" data-inputs="vm.model.outputFields"
                        label-control-class="'c-label c-col'"
                        label-control-text="'_OUTPUTS_FIELDS_' | translate" readonly="'true'"
                        data-enable-delete="editionMode" data-qa="policy-model-output-list"
                        data-help="Note: Make sure output fields match with the ones in the configuration"
                        data-help-qa="policy-model-outputs-help"
                        data-required="true" data-min-length="1" data-form="vm.form">
    </c-input-list-field>

    <c-add-element data-ng-if="editionMode" model="vm.model.outputFields"
                   icon-class="'c-icon c-icon--is-clickable c-icon--call-to-action c-info-text__icon icon-square-plus'"
                   type="'text'" data-qa="policy-model-outputs" data-pattern="vm.outputPattern"
                   data-error="vm.modelError.duplicatedOutput"
                   data-placeholder="{{vm.outputInputPlaceholder | translate}}" data-elements-length="vm.model.outputFields.length" data-submitted-form="vm.form.$submitted">
    </c-add-element>
  </div>
</div>
