<section>
  <div class="action-button">
    <div class="action-link" (click)="showContent($event)">
      <ng-content select="[popover-link]"></ng-content>
    </div>
    <div class="popover-content"
      [style.visibility]="hiddenContent ? 'hidden' : 'visible'"
      [ngClass]="{'popover-content--left': leftPosition}" *ngIf="active">
      <ng-content select="[popover-content]"></ng-content>
      <div class="arrow" [ngClass]="leftPosition ? 'arrow--left' : 'arrow--right'"></div>
    </div>
  </div>
</section>
