/*doc
---
title: c-form-control
name: c-form-control
category: components
---

The form-control component is a wrapper to include things
like labels, inputs, combos, inputs with icons and so on.

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 							| `0' 

## Dependencies

[c-component]()

*/

@import "vars";
@import "rules";
