@mixin c-form-control {
	@include c-component;

	display: inline-block;
	padding: $c-form-control---padding;
	position: relative;

	&:first-child {
		padding-left: 0;
	}

	@include full-width();
}

.c-form-control {
	@include c-form-control;
}
