<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<div id="parametersTable">
   <table>
      <thead>
         <tr *ngIf="inputList && inputList.length">
            <th>Name</th>
            <th></th>
         </tr>
         <tr *ngIf="inputParameters && inputParameters.length">
            <th>Name</th>
            <th>
               <span *ngIf="!withContext">Value</span>
               <ng-container *ngIf="withContext">
                  <span>{{selectedContext}} value</span>
                  <span *ngIf="withContext" class="icon icon-arrow2_down context" (click)="onContextMenu()">
                     <st-dropdown-menu
                        [items]="contextNameList"
                        [active]="contextOptionActive"
                        [attr.id]="'contextOptions'"
                        [offset]="{ x: 0, y: 15 }"
                        (change)="onChangeContext($event)">
                     </st-dropdown-menu>
                  </span>
               </ng-container>

            </th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <ng-container *ngIf="inputList && inputList.length">
            <ng-container *ngFor="let list of inputList">
               <tr (click)="selectedList(list)">
                  <td><span (click)="navigateList(list, $event)">{{list[header[0]]}}</span></td>
                  <td><i class="icon-arrow2_down arrow"></i></td>
               </tr>
               <tr class="edit" *ngIf="selectedParameterList && list.name === selectedParameterList.name">
                  <td colspan="2">
                     <form [formGroup]="myListForm" novalidate autocomplete="off">
                        <div class="edit-container">
                           <div class="defaultContainer">
                              <div class="col-sm-10">
                                 <st-input label="Name" placeholder="List name" formControlName="name" name="name"></st-input>
                              </div>
                              <div class="col-sm-2">
                                 <button [disabled]="!myListForm.valid || myListForm.pristine" class="button button-primary save-button" (click)="onSaveList(list)">Save</button>
                                 <span class="icon icon-ellipsis" (click)="onOption()"></span>
                              </div>
                           </div>
                        </div>
                     </form>
                  </td>
               </tr>
            </ng-container>
         </ng-container>
         <ng-container *ngIf="inputParameters && inputParameters.length">
            <ng-container *ngFor="let parameter of inputParameters; let i = index;">
               <tr (click)="selectedRow(parameter, i)">
                  <td *ngFor="let element of header">{{parameter[element]}} </td>
                  <td><i class="icon-arrow2_down arrow"></i></td>
               </tr>
               <tr class="edit" *ngIf="selectedParameter && parameter.name === selectedParameter.name">
                  <td colspan="3">
                     <form [formGroup]="myForm" novalidate autocomplete="off">
                        <div class="edit-container">
                           <div class="defaultContainer">
                              <div class="col-sm-5">
                                 <st-input label="Name" placeholder="Parameter name" formControlName="name" name="name"></st-input>
                              </div>
                              <div class="col-sm-5">
                                 <st-input label="Default value" placeholder="Value" formControlName="value" name="description"></st-input>
                                 <!-- Context list en environment y custom -->
                                 <div formArrayName="contexts" *ngIf="myForm.get('contexts').controls.length">
                                    <div [formGroupName]="i" *ngFor="let context of myForm.get('contexts').controls; let i = index;" class="context-container">
                                       <st-input label="{{ context.controls.name.value }} value" formControlName="value" placeholder="Context" [errors]="[]" name="description"></st-input>
                                    </div>
                                 </div>
                                 <!-- Add context en environment y custom -->
                                 <div *ngIf="withContext" class="add-context-container">
                                    <span (click)="onSelectContext()">
                                       <span class="icon icon-circle-plus"></span>
                                       Add context value
                                    </span>
                                    <div *ngIf="showContextMenu && !creatingContext" class="context-menu">
                                       <ul>
                                          <li class="option" *ngFor="let context of selectedContextList">
                                             <st-checkbox name="context.name" [value]="context.name" [checked]="context.checked" (change)="checkValue($event)">
                                                <span>{{context.name}}</span>
                                             </st-checkbox>
                                          </li>
                                       </ul>
                                       <div *ngIf="checked" class="line" (click)="addContext()">Add</div>
                                       <div *ngIf="!checked" class="line" (click)="createContext()">Create new context</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-2">
                                 <button [disabled]="!myForm.valid || myForm.pristine" class="button button-primary save-button" (click)="onSave(parameter)">Save</button>
                                 <span class="icon icon-ellipsis" (click)="onOption()"> </span>
                                 <div *ngIf="showOption" class="option-box">
                                    <div class="option-element" (click)="onDeleteParameter(parameter)"><i class="icon-trash"><span>Delete</span></i></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>
                     <div class="context-create-container" *ngIf="creatingContext">
                        <div class="header">
                           <span class="title">Type the name of the new context</span>
                           <span class="close"><i class="icon icon-cross" (click)="closeContextModal()"></i></span>
                        </div>

                        <div class="body">
                           <div class="col-sm-8 input">
                              <st-input label="Context name" placeholder="e.g. My context" [errors]="[]" name="context" [(ngModel)]="newContext"></st-input>
                           </div>
                           <div class="col-sm-4 save">
                              <button [disabled]="!newContext.length" class="button button-primary save-button" (click)="onSaveNewContext()">Create</button>
                           </div>

                        </div>
                     </div>
                  </td>
               </tr>
            </ng-container>
         </ng-container>
      </tbody>
   </table>

</div>
