@import '~@stratio/egeo/theme/constants';
.layout {
  opacity: 0;
  transition: 0.6s opacity;

  &.active {
    opacity: 1;
  }
}

.name-validation {
   margin-top: -10px;
}

.cancel-button {
   margin-right: 20px;
}

.input-field {
   margin: 15px 0;
   display: block;
}

.entity-categories {
   margin-bottom: 30px;
   display: block;
}

.template-data {
   .title {
      color: $action-secondary-06;
      font-size: 14px;
      margin-top: 6px;
      display: block;
   }
   .values {
      display: block;
      word-break: break-all;
   }
   .advice-params {
      color: $neutral-11;
      font-family: $egeo-nunito-sans;
      font-size: $egeo-font-size-small;
      line-height: $egeo-line-height-small;
      margin: 30px 0px;
      .link {
         cursor: pointer;
         color: $action-primary-default;
      }
   }
}

.node-edition {
   margin-bottom: 50px;
   position: relative;
   width: calc(100% - 430px);
}

.show-catalog {
  margin-right: 20px;
}

.catalog {
   position: absolute;
   display: block;
   position: absolute;
   z-index: 100;
   right: 0;
   height: auto;
   top: -30px;
}

.mocks-tab {
  width: 100%;
}
