@import '~@stratio/egeo/theme/constants';
.name-validation {
   margin-top: -10px;
}

.cancel-button {
   margin-right: 20px;
}

.input-field {
   margin: 15px 0;
   display: block;
}

.entity-categories {
   margin-bottom: 30px;
   display: block;
   width: 340px;
}

.content {
   padding-bottom: 50px;
   padding-top: 70px;
}

.basic-settings {
   margin-top: 30px;
   display: block;
}

.template-data {
   .title {
      color: $action-secondary-06;
      font-size: 14px;
      margin-top: 6px;
      display: block;
   }
   .values {
      display: block;
      word-break: break-all;
   }
   .advice-params {
      color: $neutral-11;
      font-family: $egeo-nunito-sans;
      font-size: $egeo-font-size-small;
      line-height: $egeo-line-height-small;
      margin: 30px 0px;
      .link {
         cursor: pointer;
         color: $action-primary-default;
      }
   }
}

.node-edition {
    margin-bottom: 50px;
}
