<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<st-fullscreen-layout class="layout" title="{{entityFormModel.stepType}} - {{currentName}}" [ngClass]="{'active': fadeActive}">

   <div class="st-fullscreen-layout-buttons">
      <div class="edit-title" *ngIf="entityFormModel.classPrettyName === 'QueryBuilder' && visualQueryBuilder">
         <div class="edit-text">
            <span *ngIf="!editTitle">{{entityFormModel['name']}}<span class="icon icon-edit" (click)="onEditTitle()"></span></span>
            <input *ngIf="editTitle" type="text" [(ngModel)]="entityFormModel['name']" class="input-edit" (keydown.enter)="onSaveName($event)" />
         </div>
      </div>
      <button *ngIf="entityFormModel.classPrettyName === 'QueryBuilder'" class="button button-link-secondary visualQuery" [ngClass]="{'selected-button' : isShowedHelp}" (click)="visualQueryBuilder = !visualQueryBuilder">
         <i [ngClass]="visualQueryBuilder ? 'icon-spool' : 'icon-layout'"></i> {{ visualQueryBuilder ? 'Form mode' : 'Visual mode' }}
      </button>
      <button *ngIf="entityFormModel.classPrettyName !== 'QueryBuilder'" 
        class="button button-toolbar help-button" 
        [ngClass]="{'selected-button' : isShowedHelp}"
        (click)="isShowedHelp = !isShowedHelp">
         <i class="icon-help2"></i>
      </button>
      <button *ngIf="entityFormModel.classPrettyName !== 'QueryBuilder'" class="show-catalog button button-toolbar" [ngClass]="{'selected-button' : isShowedInfo}" id="show-catalog-button"
         (click)="toggleInfo()" >
         <i class="icon-info1"></i>
      </button>
      <button class="button button-secondary-line cancel-button" (click)="cancelEdition()" id="cancel-edit-node">
         <span>{{'WIZARD.CANCEL' | translate}}</span>
      </button>
      <button class="button button-primary" (click)="saveForm()" id="save-node-button">
         <span>{{'WIZARD.SAVE' | translate}}</span>
      </button>
      <sp-help *ngIf="isShowedHelp" (onCloseHelpMenu)="closeHelp()" [xPos]="-346" [yPos]="50" [helpOptions]="helpOptions"></sp-help>
   </div>
   <div class="st-fullscreen-layout-content">
      <div class="node-edition" >
         <form [hidden]="entityFormModel.classPrettyName === 'QueryBuilder' && visualQueryBuilder"  #entityForm="ngForm" class="form-group" novalidate autocomplete="off" (ngSubmit)="saveForm()">
            <st-horizontal-tabs [style.width.px]="options.length * 145" class="entity-categories" *ngIf="options.length" [options]="options"
               qaTag="node-tabs" (changedOption)="changeFormOption($event)">
            </st-horizontal-tabs>
            <div class="row" [hidden]="!(config.editionType.stepType === 'Output' || activeOption === 'Global')">
               <div class="col-sm-8" [ngClass]="{'error' : validatedName}">
                  <sp-input name="name" (change)="resetValidation()" [(ngModel)]="entityFormModel['name']" label="{{'TEMPLATE_NAME' | translate}} *"
                     fieldType="text" [required]="true" qaTag="input-name" [forceValidations]="submitted" maxLength="30" [errors]="errorsService.errors.inputErrors"
                     class="input-field st-form-field"></sp-input>
                  <div class="st-input-error-message name-validation" *ngIf="validatedName">{{'WIZARD.NODE_NAME_VALIDATION' | translate}}</div>
               </div>
            </div>
            <div class="row" [hidden]="!(config.editionType.stepType === 'Output' || activeOption === 'Global')">
               <div class="col-sm-8">
                  <sp-textarea name="description" [(ngModel)]="entityFormModel['description']" label="{{'TEMPLATE_DESCRIPTION' | translate}}"
                     fieldType="text" [required]="false" qaTag="input-name" [forceValidations]="submitted" maxLength="120" [errors]="errorsService.errors.inputErrors"
                     class="input-field st-form-field"></sp-textarea>
               </div>
            </div>

            <form-generator *ngIf="config.editionType.stepType !== 'Output'" [variableList]="formVariables" [showVars]="true" [hidden]="activeOption !== 'Writer'"
               [forceValidations]="submitted" name="writer" [valueDictionary]="valueDictionary" [formData]="writerSettings" [(ngModel)]="entityFormModel.writer"></form-generator>

            <form-generator *ngIf="!isTemplate" [variableList]="formVariables" [showVars]="true" [hidden]="!(config.editionType.stepType === 'Output' || activeOption === 'Global')"
               [forceValidations]="submitted" name="global" [formData]="basicSettings" [valueDictionary]="valueDictionary" [(ngModel)]="entityFormModel.configuration"></form-generator>

            <div class="mocks-tab" *ngIf="config.editionType.stepType === 'Input'" [hidden]="activeOption !== 'Mocks'">
               <mocks-config [model]="debugOptions"></mocks-config>
            </div>
            <div class="template-data" *ngIf="isTemplate && templateData && activeOption === 'Global'">
               <div class="egeo-title-medium">Template configuration</div>
               <div class="advice-params">These are read-only parameters. To edit them, <span class="link" (click)="editTemplate(templateData.id)">go to the Templates section</span>.</div>
               <form-generator [forceValidations]="submitted" [disabled]="true" [disabledForm]="true" name="global" [formData]="basicSettings"
                  [(ngModel)]="templateData.configuration"></form-generator>
            </div>
         </form>
         <div *ngIf="entityFormModel.classPrettyName === 'QueryBuilder'" [hidden]="!visualQueryBuilder">
            <query-builder [nodeData]="config" [entityFormModel]="entityFormModel" ></query-builder>
         </div>
      </div>
      <sidebar-config *ngIf="!(entityFormModel.classPrettyName === 'QueryBuilder')" [nodeData]="config" [showCrossdataCatalog]="showCrossdataCatalog" [isVisible]="isShowedInfo" (toggleSidebar)="toggleInfo()"></sidebar-config>
   </div>
</st-fullscreen-layout>
