/*doc
---
title: c-accordion
name: c-accordion
category: components
---

To do. NOTE: The c-accordion component is a wrapper of the Angular UI Accordion component.

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 							| `0' 

## Dependencies

[c-component]()

*/

@import "vars";
@import "rules";
