@mixin c-accordion {
  @include c-component;

  user-select: none;

  &-header {
    &__step-number {
      display: inline-block;
      font-size: $c-accordion-header__step-number---font-size;
      color: $c-accordion-header__step-number---color;
      background: $c-accordion-header__step-number---background;
      width: $c-accordion-header__step-number---width;
      height: $c-accordion-header__step-number---height;
      text-align: center;
      padding: $c-accordion-header__step-number---padding;
      vertical-align: $c-accordion-header__step-number---vertical-align;
    }

    &__title {
      display: inline-block;
      vertical-align: middle;
    }

    &__type {
      font-size: $c-accordion__type---font-size;
      margin: $c-accordion__type---margin;
      vertical-align: $c-accordion__type---vertical-align;
    }

    &__open-mark {
      transition: transform 1s;
      margin-top: 15px;
    }
  }
  @at-root .panel-group {
    .panel + .panel {
      margin-top: 0;
    }

    .panel:not(:first-child) {
      border-top: 0;
    }
  }

  .panel-open >  .panel-heading {
      .c-accordion-header__open-mark {
        transform: rotate($c-accordion__open-mark---rotation);
      }
  }

  &-item {
    &--new {
      .panel-heading {
        background: $c-accordion-item--new---background;
        color: $c-accordion-item--new---color;
      }

      .c-accordion-header__step-number {
        background: $c-accordion-header--new__step-number---background;
        color: $c-accordion-header--new__step-number---color;
      }
    }
  }

  @at-root .secondary-accordion & {
    .panel-default {
      border-width: 0;

      &:not(.panel-open) {
        border-bottom: 1px solid getColor(n3);
      }

      .panel-heading {
        background: transparent;

        .c-accordion-header__step-number {
          background-color: getColor(n3);
          color: getColor(n10);
        }
      }

      .panel-body {
        background-color: getColor(n2);
      }
    }
  }

  @for $item from 2 through 9 {
    &-item--indented > .panel:nth-child(#{$item}) {
      margin-left: ($item - 1) * $c-accordion-item--indented__panel---margin;
      margin-top: $c-accordion-item--indented---margin-top;
    }
  }

  &-item--indented > .panel:nth-child(n+10) {

    margin-left: 9 * $c-accordion-item--indented__panel---margin;
    margin-top: $c-accordion-item--indented---margin-top;
  }

  &-item--indented > .panel:nth-child(n+2):not(:nth-child(n + 11)):before {
    content: "";
    border-left: $c-accordion-item--indented__panel---border;
    border-bottom: $c-accordion-item--indented__panel---border;
    height: $c-accordion-item--indented__panel---height;
    float: $c-accordion-item--indented__panel---float;
    width: $c-accordion-item--indented__panel---width;
    margin-left: $c-accordion-item--indented__panel---margin-left;
    margin-top: $c-accordion-item--indented__panel---margin-top;
  }
}

.c-accordion {
  @include c-accordion;
}
