$c-accordion-header__step-number---font-size: 2rem !default;
$c-accordion-header__step-number---width: 47px !default;
$c-accordion-header__step-number---height: $c-accordion-header__step-number---width !default;
$c-accordion-header__step-number---padding: 7px 0 0 !default;
$c-accordion-header__step-number---vertical-align: middle !default;

$c-accordion-header__step-number---color: white !default;
$c-accordion-header__step-number---background: black !default;

$c-accordion__type---font-size: 1rem !default;
$c-accordion__type---margin: 0 10px !default;
$c-accordion__type---vertical-align: middle !default;

$c-accordion__open-mark---margin: 7px 0 0 !default;
$c-accordion__open-mark---rotation: 90deg !default;

$c-accordion-item--new---background: getColor(n4) !default;
$c-accordion-item--new---color: white !default;

$c-accordion-header--new__step-number---background: white !default;
$c-accordion-header--new__step-number---color: black !default;
$c-accordion-header--new__step-number---vertical-align: middle !default;
$c-accordion-item--indented__panel---margin:48px;
$c-accordion-item--indented__panel---border: 1px solid getColor(a1);
$c-accordion-item--indented__panel---height: 32px;
$c-accordion-item--indented__panel---float: left;
$c-accordion-item--indented__panel---width: 24px;
$c-accordion-item--indented__panel---margin-left: -26px;
$c-accordion-item--indented__panel---margin-top: -8px;
$c-accordion-item--indented---margin-top:8px;
$c-accordion---transition: all 1s;
