<div class="form-field">
   <!-- input text -->
   <st-input *ngIf="(field.propertyType == 'text' || field.propertyType == 'password' || field.propertyType == 'number') && isVisible"
      label="{{field.propertyName | translate}} {{field.required ? '*' : '' }}"
      fieldType="{{field.propertyType}}"
      class="st-form-field"
      [formControl]="stFormControl"
      contextualHelp="{{field.tooltip}}"
      pattern="{{field.regexp}}"
      [required]="field.required"
      [forceValidations]="forceValidations"
      [errors]="errorsService.errors.inputErrors"
      [qaTag]="field.qa"
      [minlength]="field.minlength"
      [maxlength]="field.maxlength"></st-input>

    <div class="textareas" *ngIf="field.propertyType == 'textarea' && isVisible" >

      <!-- highlight textarea -->
      <sp-textarea-highlight *ngIf="field.contentType"
          class="st-form-field"
          [formControl]="stFormControl"
          [contentType]="field.contentType"
          label="{{field.propertyName | translate}} {{field.required ? '*' : '' }}"
          contextualHelp="{{field.tooltip}}"
          pattern="{{field.regexp}}"
          [required]="field.required"
          [forceValidations]="forceValidations"
          [errors]="errorsService.errors.inputErrors"
          [qaTag]="field.qa"
          [minlength]="field.minlength"
          [maxlength]="field.maxlength"></sp-textarea-highlight>

      <!-- regular textarea -->
      <sp-textarea *ngIf="!field.contentType"
          [formControl]="stFormControl"
          class="st-form-field"
          label="{{field.propertyName | translate}} {{field.required ? '*' : '' }}"
          contextualHelp="{{field.tooltip}}"
          pattern="{{field.regexp}}"
          [required]="field.required"
          [forceValidations]="forceValidations"
          [errors]="errorsService.errors.inputErrors"
          [qaTag]="field.qa"
          [rows]="field.rows"
          [minlength]="field.minlength"
          [maxlength]="field.maxlength"></sp-textarea>
    </div>

   <sp-select *ngIf="field.propertyType == 'select' && isVisible"
      [options]="field.externalValueKey ? valueDictionary[field.externalValueKey]: field.values"
      class="st-form-field"
      label="{{field.propertyName | translate}} {{field.required ? '*' : '' }}"
      [forceValidations]="forceValidations"
      tooltip="{{field.tooltip}}"
      placeholder="Select option"
      [qaTag]="field.qa"
      [errorRequiredMessage]="errorsService.errors.selectRequiredError"
      [required]="field.required"
      [formControl]="stFormControl"></sp-select>

   <st-switch *ngIf="field.propertyType == 'switch' && isVisible"
      label="{{field.propertyName | translate}}"
      labelPosition="top"
      class="st-form-field"
      [formControl]="stFormControl"
      [value]="stModel"
      contextualHelp="{{field.tooltip}}"
      [name]="field.propertyId"
      [qaTag]="field.qa"></st-switch>

    <st-checkbox *ngIf="field.propertyType == 'boolean' && isVisible"
      [formControl]="stFormControl"
      [checked]="stModel"
      [contextualHelp]="field.tooltip"
      [name]="field.propertyId"
      class="st-form-field"
      [qaTag]="field.qa">{{field.propertyName | translate}}</st-checkbox>


   <form-list *ngIf="field.propertyType == 'list'"
      [formListData]="field.fields"
      [qaTag]="field.qa"
      [valueDictionary]="valueDictionary"
      [required]="field.required"
      [complexForm]="field.complexForm"
      tooltip="{{field.tooltip}}"
      [formControl]="stFormControl"
      [errors]="errorsService.errors.inputErrors"
      [forceValidations]="forceValidations"
      label="{{field.propertyName | translate}} {{field.required ? '*' : '' }}"></form-list>

</div>
