<div class="form-field">
   <!-- input text -->
   <sp-input *ngIf="(field.propertyType == 'text' || field.propertyType == 'password' || field.propertyType == 'number') && isVisible"
      label="{{field.propertyName | translate}}" 
      fieldType="{{field.propertyType}}" 
      [formControl]="stFormControl"
      contextualHelp="{{field.tooltip}}" 
      pattern="{{field.regexp}}" 
      [required]="field.required"
      [forceValidations]="forceValidations"
      [errors]="errorsService.errors.inputErrors"
      qaTag="{{qa}}"
      [minlength]="field.minlength" 
      [maxlength]="field.maxlength"></sp-input>

   <!-- textarea -->
   <sp-textarea *ngIf="field.propertyType == 'textarea' && isVisible" 
      [formControl]="stFormControl"
      label="{{field.propertyName | translate}}" 
      contextualHelp="{{field.tooltip}}" 
      pattern="{{field.regexp}}" 
      [required]="field.required"
      [forceValidations]="forceValidations"
      [errors]="errorsService.errors.inputErrors"
      qaTag="{{qa}}"
      [minlength]="field.minlength"
      [maxlength]="field.maxlength"></sp-textarea>

   <sp-select *ngIf="field.propertyType == 'select' && isVisible" 
      [options]="field.values" 
      label="{{field.propertyName | translate}}"
      [forceValidations]="forceValidations" 
      tooltip="{{field.tooltip}}"
      placeholder="Select option"
      qaTag="{{qa}}"
      [errorRequiredMessage]="errorsService.errors.selectRequiredError" 
      [required]="field.required"
      [formControl]="stFormControl"></sp-select>

   <st-switch *ngIf="field.propertyType == 'switch' && isVisible" 
      label="{{field.propertyName | translate}}" 
      labelPosition="top" 
      [formControl]="stFormControl"
      contextualHelp="{{field.tooltip}}"
      [stModel]="stModel"
      [name]="field.propertyId" 
      qaTag="{{qa}}"></st-switch>

    <st-checkbox *ngIf="field.propertyType == 'boolean' && isVisible" 
      [formControl]="stFormControl"
      [checked]="stModel"
      [name]="field.propertyId" 
      [qaTag]="qa">{{field.propertyName | translate}}</st-checkbox>


   <form-list *ngIf="field.propertyType == 'list'" 
      [formListData]="field"
      qaTag="{{qa}}"
      [required]="field.required" 
      tooltip="{{field.tooltip}}"
      [formControl]="stFormControl"
      [errors]="errorsService.errors.inputErrors"
      [forceValidations]="forceValidations" 
      label="{{field.propertyName | translate}}"></form-list>

      
    <form-string-list *ngIf="field.propertyType == 'stringlist'" 
      [formListData]="field"
      qaTag="{{qa}}" 
      [required]="field.required"
      [errors]="errorsService.errors.inputErrors"
      [formControl]="stFormControl"
      [forceValidations]="forceValidations"  
      label="{{field.propertyName | translate}}"></form-string-list>

</div>
