/*doc
---
title: c-slider-content
name: c-slider-content
category: components
---

To do

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 							| `0'

## Dependencies

[c-component]()

*/

@import "vars";
@import "rules";
