$c-slider-content---margin-top: -15px;
$c-slider-content__backdrop---background-color: getColor(n2);
$c-slider-content__button---border-radius: 50%;
$c-slider-content__button---width: 34px;
$c-slider-content__button---height: 34px;
$c-slider-content__button---line-height: 32px;
$c-slider-content__button---background: white;
$c-slider-content__button---border: 1px solid getColor(n4);
$c-slider-content__button---background: white;
$c-slider-content__button---text-align: center;
$c-slider-content__button---position: relative;
$c-slider-content__button---font-size: 13px;
$c-slider-content__button---top: -17px;
$c-slider-content__button---color: getColor(n6);
$c-slider-content__button---cursor: pointer;
$c-slider-content__button---z-index: 200;
$c-slider-content--to-up---text-align: center;
$c-slider-content--to-up---border-top: 1px solid getColor(n6);
$c-slider-content--to-up---border-background: white;
$c-slider-content--to-up---height: 1px;
$c-slider-content--to-up---margin-top: 4px;
$c-slider-content--to-up---margin-bottom: 4px;
$c-slider-content--to-up---width: 100%;
$c-slider-content--to-up---shadow: 0px -5px 8px 1px getColor(n3);
$c-slider-content--to-up---position: absolute;
$c-slider-content--to-up---left: 0px;
$c-slider-content--to-up---padding-bottom:9px;
$c-slider-content---transition: all linear 0.3s;
$c-slider-content---max-height: 100px;
$c-slider-content__button---margin: 0 auto;
$c-slider-content---max-height: 200px;
