/*doc
---
title: c-form-group
name: c-form-group
category: components
---

The form-group component is a wrapper to include form-controls.

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 							| `0' 

## Dependencies

[c-row]()

*/

@import "vars";
@import "rules";
