@mixin c-form-group {
	@include c-row;
	@include no-paddings();

	user-select: none;

	@at-root .c-form & {
		margin: $c-form__c-form-group---margin;

		&--compressed {
			margin-bottom: 40px;

			&--no-margin-bottom {
				margin-bottom: 0px;
			}

			&__container {
				padding: 20px 15px;
				background-color: getColor(n2);
			}
		}

		&--margin-top {
			margin-top: 20px;
		}

		&--list-compressed {
			background-color: #ededed;
			padding: 15px 20px;
			margin-bottom: 5px;
		}

		&--inline {
			display: inline-block;
			margin-bottom: 0;
		}

		&--margin {
			margin: 10px 0;
		}
	}

	.add-element-icon {
		position: relative;
		display: inline-block;
	}
}

.c-form-group {
	@include c-form-group;
}
