@mixin c-textarea {
	@include c-input;

	min-height: $c-textarea--min-height;

	&--big {
		min-height: $c-textarea--big--min-height;
	}
  &--required:after {
    content: ' *';
  }
}

.c-textarea {
	@include c-textarea;
}
