:host {
    display:block;
}

.tool-bar {
   width: 100%;
   display: block;
   background: white;
   height: 70px;
   position:fixed;
   z-index: 100;
   top:70px;
   left: 0;
   transition: 0.3s transform;

   &.hidden {
      transform: translateY(-75px);
   }
}

.breadcrumb-tool {
   float: left;
   margin-top: 15px;
}

.left-tools {
   display: flex;
    min-height: 40px;
   justify-content: space-between;
}

.full-toolbar{
    padding: 10px 0;
}

.tools-content {
   padding-top: 15px;
   width: 100%;
   padding-bottom: 15px;
}

.right-tools {
   margin-top: auto;
   .general-tools {
      float: right;
   }
}
