:host {
    display:block;
    padding-bottom:70px;
}

.tool-bar {
   width: 100%;
   display: block;
   background: white;
   position:fixed;
   box-shadow: 0px 0px 10px rgba(144,144,144, 0.14);
   z-index: 100;
   top:70px;
}

.breadcrumb-tool {
   float: left;
}

.left-tools {
   display: flex;
    min-height: 40px;
   justify-content: space-between;
   &>div {
      margin-top: auto;
   }
}

.full-toolbar{
    padding: 10px 0;
}

.tools-content {
   padding-top: 15px;
   width: 100%;
   padding-bottom: 15px;
}

.right-tools {
   margin-top: auto;
   .general-tools {
      float: right;
   }
}
