<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<st-fullscreen-layout [title]="editMode ? (('DASHBOARD.EDIT' | translate) + editedTemplateName) : (('DASHBOARD.CREATE_' + stepKey) | translate)">
   <div class="st-fullscreen-layout-buttons">
      <button id="cancel-edit-button" class="button button-secondary-gray cancel-button" (click)="cancelCreate()">{{'DASHBOARD.CANCEL' | translate}}</button>
      <button id="save-edit-button" class="button button-primary" (click)="onSubmitInputForm()">{{'DASHBOARD.SAVE' | translate}}</button>
   </div>
   <div class="st-fullscreen-layout-content">
      <section class="template-creation-page">
         <div class="container">
            <div class="row">
               <form #inputForm="ngForm" class="form-group col-sm-8" novalidate autocomplete="off">
                  <div class="row" *ngIf="loaded">
                     <div class="col-xs-6">
                        <st-input name="name" 
                            [(ngModel)]="inputFormModel['name']"
                            [forceValidations]="submitted" 
                            [required]="true"
                            [errors]="errorsService.errors.inputErrors"
                            label="{{'TEMPLATE_NAME' | translate}}" 
                            fieldType="text" 
                            qaTag="input-name" 
                            maxLength="30" 
                            class="input-field st-form-field"></st-input>
                        <st-textarea name="description" 
                            [(ngModel)]="inputFormModel['description']" 
                            label="{{'TEMPLATE_DESCRIPTION' | translate}}"
                            fieldType="text" 
                            [required]="false"
                            [forceValidations]="submitted" 
                            qaTag="input-name"maxLength="250"
                           [errors]="errorsService.errors.inputErrors" class="input-field st-form-field"></st-textarea>
                        <div *ngIf="!editMode">
                           <div class="st-form-field workflow-type">
                              <label class="st-label">Template type</label>
                              <st-radio-group class="radio-inline" name="type" [(ngModel)]="inputFormModel['executionEngine']" (change)="changeWorkflowType($event)">
                                 <st-radio value="Streaming">Streaming</st-radio>
                                 <st-radio value="Batch" [disabled]="false">Batch</st-radio>
                              </st-radio-group>
                           </div>
                           <sp-select [options]="fragmentTypes" [ngModel]="inputFormModel.classPrettyName" qaTag="fragment-type" label="{{'DASHBOARD.' + stepKey + '_TYPE' | translate}}"
                              name="fragmentType" (ngModelChange)="changeTemplateType($event)" class="input-field st-form-field"></sp-select>
                        </div>
                     </div>
                     <form-generator class="col-sm-12" [forceValidations]="submitted" [formData]="listData[fragmentIndex].properties" [(ngModel)]="inputFormModel.configuration"
                        name="proper"></form-generator>
                  </div>
               </form>
            </div>
         </div>
      </section>
   </div>
</st-fullscreen-layout>
