<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<st-table [fields]="fields" [sortable]="false" qaTag="monitoring-table" class="execution-table">
   <tr st-table-row [attr.id]="execution.id + '-row'" *ngFor="let execution of executionList; let i = index;">
      <td st-table-cell st-table-row-content>
         <label [attr.id]="execution.id + '-link'">
            <div class="execution-link">
               <img src="assets/images/iconStreamingExecution.svg" class="icon-row" [attr.title]="execution.executionEngine"
                  *ngIf="execution.executionEngine === Engine.Streaming" />
               <img src="assets/images/iconBatchExecution.svg" class="icon-row" [attr.title]="execution.executionEngine"
                  *ngIf="execution.executionEngine === Engine.Batch" />
               {{execution.name}} - v{{execution.version}}
            </div>
         </label>
      </td>
      <td st-table-cell st-table-row-content>
         <label class="context-field" [ngClass]="execution.context">{{execution.context || '-'}}</label>
      </td>
      <td st-table-cell st-table-row-content>
         <label>{{execution.launchDateFormatted ? execution.startDateFormatted : '-'}}</label>
      </td>
      <td st-table-cell st-table-row-content>
         <label>{{execution.endDateFormatted ? execution.endDateFormatted : '-'}}</label>
      </td>
      <td st-table-cell st-table-row-content>
         <label class="status-field"><span class="oval" [ngClass]="execution.filterStatus" *ngIf="!loadingStates.includes(execution.status)"></span> 
        <st-spinner class="starting-spinner" *ngIf="loadingStates.includes(execution.status)"></st-spinner>{{execution.filterStatus}}</label>
         
      </td>
      <td st-table-cell st-table-row-content class="spark-link">
         <i class="icon-globe" (click)="showSparkUI(execution.sparkURI)" *ngIf="execution.sparkURI && execution.sparkURI.length && execution.status === 'Started'"></i>
      </td>
   </tr>
</st-table>
<div class="all-executions">
   <button spTitle="View all executions" class="button button-secondary-line cancel-button" id="view-all-button"
      (click)="navigateExecutions()">View all</button>
</div>
