@import '~@stratio/egeo/theme/constants';

.execution-table {
   display: block;
   td {
    padding:16px 20px;
   }
}

.icon-row {
    margin-right: 8px;
    margin-top: 1px;
    width: 20px;
    float: left;
}


hr {
   height: 1px;
   background: $neutral-05;
   margin: 24px 0;
}

.oval {
   width: 12px;
   height: 12px;
   background-color: $status-success-default;
   border-radius: 50%;
   display: inline-block;
   &.Stopped {
      background-color: $neutral-06;
   }
   &.Failed {
      background-color: $status-critical-default;
   }
}

.status-field {
   font-family: $egeo-nunito-sans-semiBold;
   color: $neutral-11;
}

.all-executions button{
   margin: 10px auto;
   display: block;
   margin-bottom: 32px;
}

.spark-link {
   max-width: 10px;
   padding-left: 0;
   padding-right: 30px;
   i {
      color: $action-primary-default;
      font-size: 20px;
      line-height: 9px;
      cursor: pointer;
   }
}
