<aside data-qa="policy-creation-modal">
  <div class="c-titlebar">
    <span class="c-titlebar__title">{{vm.title | translate}}</span>
    <i class="c-icon c-icon--is-clickable c-icon--to-right icon-circle-cross" data-ng-click="vm.cancel()"
       data-qa="modal-cancel-icon"></i>
  </div>
  <div class="c-modal-inner">
    <!-- POLICY NAME ALREADY EXISTS ERROR -->
    <div class="c-row c-row--separated-bottom angular-forms__error" data-ng-if="vm.error" data-qa="error-msg">
      <i class="c-icon icon-circle-cross"></i>
      <span translate="{{vm.errorText}}"></span>
    </div>
    <form class="c-form" name="vm.form" id="configurationForm" novalidate data-ng-class={'c-accordion-tool--items-hide-left':!(vm.compositionStatus.getConfigurationVisibility())}>
      <form-field
        data-ng-repeat="properties in vm.template.basicSettings"
        class="c-form-gutter c-col c-col--vertical-top"
        data-ng-class="{'c-col--{{properties.col}}': properties.col}"
        data-ng-form-id="{{properties.propertyId}}"
        data-field="properties"
        data-model="vm.policy"
        data-form="vm.form"
        data-st-name="dataSource{{properties.propertyName}}Form"
        data-list-compressed = "true"
        data-qa="{{properties.qa}}">
      </form-field>
      <ng-form class="c-form-group c-form-gutter" data-qa="fragment-details-mongoDb-hosts">
        <div class="c-form-control c-form-control--full-width">
          <div class="c-label c-icon-label__text c-label--margin-list c-col c-col--12">
                <span>
                  {{"_ADVANCED_SETTINGS_" | translate}}
                </span>
          </div>
          <div class="c-form-group c-form-group--list-compressed">
            <form-field
              data-ng-repeat="properties in vm.template.advancedSettings"
              data-ng-class="{'c-col c-col--{{properties.width}}': properties.width, 'c-form-gutter c-form-gutter__{{properties.position}} c-col--vertical-top': properties.position}"
              data-ng-form-id="{{properties.propertyId}}"
              data-field="properties"
              data-model="vm.policy"
              data-form="vm.form"
              data-st-name="dataSource{{properties.propertyName}}Form"
              data-list-compressed = "true"
              data-qa="{{properties.qa}}">
            </form-field>
          </div>
        </div>
      </ng-form>
      <footer class="c-row c-row--footer">
        <div class="c-col c-col--6 c-col--vertical-centered">
          <c-icon-link icon-class="'c-icon c-icon--is-clickable c-icon--call-to-action icon-help1'"
                       text="'_INPUT_WINDOW_NEW_HELP_' | translate" link-url="vm.helpLink"
                       data-qa="policy-description-help"></c-icon-link>
        </div><!--
     --><div class="c-col c-col--6 c-col--vertical-centered c-col--to-right">
        <button class="c-button c-button--call-to-action-1" data-ng-click="vm.validateForm()"
                data-qa="policy-description-next-button">
          <i class="icon icon-arrow-right"></i>
          <span>{{"_GO_TO_POLICY_" | translate}}</span>
        </button>
      </div>
      </footer>
    </form>
  </div>
</aside>
