<aside>
  <div class="c-titlebar">
    <span class="c-titlebar__title c-text--bold">{{"_POLICY_LABEL_" | translate}} {{vm.policyName | translate}}</span>
    <i class="c-icon c-icon--is-clickable c-icon--to-right icon-circle-cross" data-ng-click="vm.close()"
       data-qa="modal-cancel-icon"></i>
    <p class="c-titlebar__subtitle  c-col c-col--12 c-">{{vm.policyDescription | translate}}</p>

  </div>

  <div class="c-modal-inner">

    <div class="c-col c-col--6 c-panel--padding c-col">
      <div class="c-fieldset c-fieldset--bottom-margin c-fieldset--bottom-padding c-fieldset--padding-bottom c-fieldset--bottom-border">
        <label class="c-label">{{"_STATUS_" | translate}}</label>
        <p>{{vm.status}}</p>
      </div>
      <div class="c-fieldset c-fieldset--bottom-margin c-fieldset--bottom-border c-fieldset--padding-bottom ">
        <label class="c-label">{{"_STATUS_INFORMATION_" | translate}}</label>
        <p>{{vm.statusInfo}}</p>
      </div>

      <div data-ng-if="submissionId" class="c-fieldset c-fieldset--bottom-margin c-fieldset--bottom-border c-fieldset--padding-bottom ">
        <label class="c-label">{{"_SUBMISSION_ID_" | translate}}</label>
        <p>{{vm.submissionId}}</p>
      </div>
      <div class="c-fieldset c-fieldset--bottom-margin c-fieldset--bottom-border c-fieldset--padding-bottom ">
        <label class="c-label">{{"_EXECUTION_MODE_" | translate}}</label>
        <p>{{vm.deployMode}}</p>

      </div>
    </div>
    <div class="c-col c-col--6 c-modal-inner__right-panel c-panel--padding c-panel--secondary c-panel--bottom-margin">
        <label class="c-label c-col c-col--12">{{"_LAST_ERROR_" | translate}}</label>
     <label data-ng-if="!vm.error" class="c-col c-col--12">{{"_NONE_REGISTERED_" | translate}}</label>
      <div data-ng-if="vm.error" class="c-fieldset c-fieldset--bottom-margin c-fieldset--bottom-border c-fieldset--padding-bottom">
          <span class="c-text c-text--bold c-text--break-word">{{"_DATE_" | translate}} {{vm.error.date | date}} // {{"_PHASE_" | translate}}: {{vm.error.phase}} // {{"_ORIGINAL_MSG_" | translate}}: {{vm.error.originalMsg}}</span>
      </div>
      {{vm.error.message}}</p>
    </div>


    <div class="c-row c-row--separated">
      <div class="c-col c-col--12 c-col--vertical-centered c-col--to-right">
        <button class="c-button c-button--call-to-action-1" data-ng-click="vm.close()" data-qa="modal-ok-button">
          <span class="icon icon-circle-check"></span>
          <span>{{"_CLOSE_" | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</aside>
