@import '~@stratio/egeo/theme/constants';

.workflow-list {
   width: 100%;
   transition: width 0.3s;
   &.compressed {
       width: calc(100% - 410px);
   }
}   

.workflow-detail-container {
    min-height: 100%;
    position: fixed;
    top: 140px;
    right: 0;
    bottom: 0;
}

.loading-bar{
    position:absolute;
}

.row-content{
    position: relative;
}

#rightbar-ref {
    position: absolute;
    right:0;
    top:0;
}