<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<tool-bar>
   <div breadcrumb>
      <st-breadcrumbs [options]="breadcrumbOptions" (select)="breadcrumbMenuService.setRoute($event)" qaTag="templates-breadcrumb"></st-breadcrumbs>
   </div>
</tool-bar>
<div class="container">

   <div class="row tool-bar">
      <div class="col-sm-4">
         <div class="executions-filters">
            <span class="item">all status<i class="icon icon-arrow2_down"></i></span>
            <span class="item">all types<i class="icon icon-arrow2_down"></i></span>
            <span class="item">any time<i class="icon icon-arrow2_down"></i></span>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="executions-search">
            <st-search [placeholder]="'Search...'" qaTag="search-execution" (search)="onSearch.emit($event)" [value]="searchQuery"></st-search>
         </div>
      </div>
      <div class="col-sm-3">
         <div class="global-actions">
            <div class="selection-tools">
               <button *ngIf="false" spTitle="Download selected execution" class="button button-toolbar" id="download-button" (click)="downloadExecutions.emit()">
                  <i class="icon-trash"></i>
               </button>
               <button *ngIf="false" spTitle="Download selected execution" class="button button-toolbar" id="download-button" (click)="downloadExecutions.emit()">
                  <i class="icon-archive"></i>
               </button>
               <button  *ngIf="false" spTitle="Run selected execution" class="button button-toolbar" id="run-button" (click)="onRunExecutions.emit(selectedExecutions[0])">
                  <i class="icon-play"></i>
               </button>
               <button *ngIf="selectedExecutions && selectedExecutions.length" spTitle="Stop selected execution" class="button button-toolbar" id="run-button" (click)="onStopExecution.emit()">
                  <i class="icon-stop"></i>
               </button>
               <div class="separator"></div>
            </div>
         </div>
      </div>
      <div class="col-sm-1">
         <div class="execution-info">
            <button spTitle="Show info sidebar" class="button button-toolbar" id="info-button" (click)="showExecutionInfo.emit()" [ngClass]="{'selected-button': showDetails}">
               <i class="icon-info1"></i>
            </button>
         </div>
      </div>
   </div>
</div>
