<label sp-label class="st-input__label" [ngClass]="{error: showError(), active: focus, disabled: disabled}" name="name"
       [attr.id]="labelQaTag" [attr.title]="contextualHelp">
   {{label}}
</label>

<input #input class="st-input" (focus)="onFocus($event)" (focusout)="onFocusOut($event)" (blur)="onFocusOut($event)"
       [formControl]="internalControl"
       [placeholder]="placeholder"
       [name]="name" [attr.type]="fieldType" [attr.id]="qaTag" [attr.maxlength]="maxLength" [attr.min]="min"
       [attr.max]="max"
       [value]="value" [readonly]="readonly" [ngClass]="{error: showError()}">
<div class="st-input-error-layout" *ngIf="showError()">
   <span class="st-input-error-message">{{errorMessage}}</span>
</div>