@import '~@stratio/egeo/theme/constants';

.st-input-container {
   position: relative;
}

.st-input-container :invalid {
   box-shadow: none;
}

.st-input-container .st-input-title {
   display: block;
   float: left;
   padding: 0;
   position: relative;
   width: 100%;
}

.st-input {
   width: 100%;
   padding-bottom: 6px;
   padding-right: 45px;

   &.catalog {
     border-radius: 4px 4px 0px 0px;
   }

}
.param-value .st-input{
  padding-left: 40px;
}

.icon-selected-param {
  position: absolute;
  color: #999;
  top: 13px;
  left: 14px;
}

.st-input__container {
  position: relative;
}


.add-parameter {
    width: 40px;
    height: 21px;
    position: absolute;
    top: 9px;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  .icon {
    color: $action-secondary-06;
     font-size: 12px;
  }
}

.param-type {
  color: $action-secondary-06;
  font-size: 12px;
  font-family: $egeo-nunito-sans-semiBold;
  margin-top: 2px;
}