@import '~@stratio/egeo/theme/constants';

.st-input-container {
    position: relative;
}

.st-input-container :invalid {
    box-shadow: none;
}

.st-input-container .st-input-title {
    display: block;
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}

.st-input {
    width: 100%;
    padding-bottom: 6px;
    padding-right: 45px;
    &.catalog {
        border-radius: 4px 4px 0px 0px;
    }
}

.st-input__container {
    position: relative;
}

.var-mode {
    line-height: 13px !important;
    .st-input {
        padding-left: 42px;
        padding-right: 45px;
    }
    &__label {
        color: $action-secondary-04;
        font-size: 10px;
        display: block;
        position: absolute;
        font-family: $egeo-nunito-sans-extraBold;
        top: 15px;
        left: 17px;
    }
    .height-size {
        min-height: 200px;
    }
    &__list {
        list-style: none;
        border: 1px solid $input-field-onfocus;
        border-top: 0;
        position: absolute;
        width: 100%;
        background: white;
        top: 40px;
        z-index: 100;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 200px;
        left: 0;
        border-radius: 0px 0px 4px 4px;
        .empty-vars {
            padding: 20px 0px 20px 0px;
            text-align: center;
            span {
                font-family: $egeo-nunito-sans;
                font-size: 13px;
                color: $neutral-09;
            }
            .not-found {
                color: #4a90e2;
                cursor: pointer;
            }
        }
        .navigation {
            padding: 8px 0px 7px 17px;
            font-size: 13px;
            border-bottom: 1px solid $action-secondary-03;
            color: $neutral-09;
            span {
                margin-right: 5px;
            }
            .icon {
                display: inline-block;
                font-size: 10px;
                transform: rotate(-90deg);
                -moz-transition: all 0.2s linear;
                -webkit-transition: all 0.2s linear;
                transition: all 0.2s linear;
            }
            .right-icon {
                transform: rotate(0deg);
            }
        }
        li {
            position: relative;
            padding: 8px 0px 8px 45px;
            cursor: pointer;
            line-height: 24px;
            &:hover {
                background-color: #f4f4f4;
            }
        }
        li.hover {
            background-color: #b3d4fc;
        }
        .filterSelect {
            width: 50%;
            padding: 0px 0px 0px 10px;
            margin-bottom: 5px;
        }
        &-label {
            color: $action-secondary-04;
            font-size: 10px;
            position: absolute;
            font-family: $egeo-nunito-sans-extraBold;
            top: 7px;
            left: 17px;
        }
        &-key {
            font-size: 15px;
            color: $action-secondary-07;
        }
        &-value {
            font-size: 13px;
            color: $action-secondary-05;
            line-height: 16px;
            display: block;
        }
    }
}

.variable-selector {
    width: 40px;
    height: 38px;
    position: absolute;
    top: 1px;
    cursor: pointer;
    right: 1px;
    background-color: $neutral-00;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
    border-left: solid 1px #b5b5b5;
    .icon {
      color: $action-primary-default;
      font-size: 10px;
    }
}

.st-input.error + .variable-selector {
  border-color: #ec445c;
  .icon {
    color: #ec445c;
  }
}
