<div>
   <div #newWorkflowModal qaTag="workflow-modal"></div>
   <tool-bar>
      <div breadcrumb>
         <st-breadcrumbs [options]="breadcrumbOptions" qaTag="qaTag"></st-breadcrumbs>
      </div>
      <div selection-tools *ngIf="selectedWorkflows.length">
         <button class="button button-toolbar" (click)="editWorkflow()" *ngIf="selectedWorkflows.length && selectedWorkflows.length === 1">
            <i class="icon-edit"></i>
        </button>
         <button class="button button-toolbar" (click)="downloadWorkflows()">
            <i class="icon-download"></i>
        </button>
         <button class="button button-toolbar" (click)="deleteWorkflows()">
            <i class="icon-trash"></i>
        </button>
      </div>
      <div general-tools>
         <button class="button button-toolbar" (click)="workflowsService.showCreateWorkflowModal()">
            <i class="icon-plus"></i>
        </button>
         <button class="button button-toolbar" (click)="showWorkflowInfo()" [ngClass]="{'selected-button': showDetails}">
            <i class="icon-info1"></i>
        </button>
         <button class="button button-toolbar">
            <i class="icon-cog"></i>
        </button>
      </div>
   </tool-bar>
   <div class="container">
      <div class="row">
         <div class="workflow-list">
            <st-table [fields]="fields" [sortable]="true" qaTag="table-qa-tag" class="workflow-table">
               <tr st-table-row *ngFor="let workflow of workflowList; let i = index;">
                  <td st-table-cell st-table-row-content>
                     <st-checkbox [value]="workflow" (change)="checkValue($event)"></st-checkbox>
                  </td>
                  <td st-table-cell st-table-row-content>
                     <label>{{workflow.name}}</label>
                  </td>
                  <td st-table-cell st-table-row-content>
                     <label>{{('DASHBOARD.' + (workflow.context.status | uppercase)) | translate}}</label>
                  </td>
                  <td st-table-cell st-table-row-content>
                     <label>{{workflow.context.lastExecutionMode}}</label>
                  </td>
               </tr>
            </st-table>
         </div>
         <div class="workflow-detail-container">
            <sparta-sidebar [isVisible]="showDetails" (onCloseHidebar)="showWorkflowInfo()">
               <workflow-detail class="workflow-detail" [workflowData]="selectedWorkflows.length ? selectedWorkflows[0] : null"></workflow-detail>
            </sparta-sidebar>
         </div>
      </div>
   </div>
</div>
