/*doc
---
title: c-grid-item
name: c-grid-item
category: components
---

To do

**Important! ** Keep in mind that this component is an extension
of a Stratio-UI component so Stratio-UI is needed to get the 
complete styles.

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 							| `0' 


*/

@import "vars";
@import "rules";
