$c-grid-item__info-icon---color: blue !default;
$c-grid-item__info-icon---margin: 0 .5em .5em 0 !default;

$c-grid-item__desc---font-size: 1rem !default;
$c-grid-item__desc---line-height: 1rem !default;
$c-grid-item__desc---letter-spacing: 0rem !default;
