@import '~@stratio/egeo/theme/constants';
$cloudy-black: #cdd6df;

.wizard-header {
    position:relative;
    z-index:7000;
    .loading-bar{
        position:absolute;
        z-index:7001;
        bottom:0;
    }
}
.title-header {
   background-color: white;
   border-bottom: 1px solid $cloudy-black;
   height: 70px;
   overflow: hidden;
   .container {
      margin-top: 15px;
   }
}

.main-title {
   display: inline-block;
   font-size: 28px;
   position: relative;
}

.tool-header {
   padding: 12px 0;
   background: white;
   border-bottom: 1px solid #ddd;

   .button {
       margin-left: 5px;
   }

   .undo-action {
       margin-left: 25px;
   }
}

.position-tools {
   display: inline-block;
}

.show-options {
   margin-right: 20px;
   .button {
       margin: 0;
   }
}

.header-info {
   display: inline-block;
}

.st-logo {
   float: left;
   margin-top: 8px;
}

.undo-action {
   margin-left: 15px;
}

.workflow-name {
   line-height: 27px;
   vertical-align: bottom;
   display: inline-block;
   margin-left: 35px;
   margin-top: -2px;
   margin-bottom: 9px;
   input {
      min-width: 400px;
      padding: 0 4px;
      border: 0;
      outline: 0;
      &:focus {
         border: 1px solid $brand;
      }
      &.error {
         border: 1px solid #f59ea9;
      }
   }
}

[hidden] {
   display: none;
}

.workflow-name-container {
   float: left;
   margin-left: 24px;
   margin-top: 3px;
   margin-bottom: 6px;
   .title {
      margin-right: 10px;
      /* cursor: text; */
   }
   .icon-edit {
      font-size: 22px;
      color: #bbb;
      margin-top: 2px;
   }
}

.header-links {
   float: right;
   .link {
      margin-right: 30px;
      color: $action-primary-default;
      cursor: pointer;
      &:hover {
         color: $action-primary-hover;
      }
   }
}

.validation-message {
   font-size: 14px;
   word-break: break-word;
   padding: 2px 0;
}

.errors-list {
   color: #555;
   list-style: none;
}

.validation-title {
   color: #333;
   font-family: $egeo-nunito-sans-semiBold;
}

.options-button {
   display: inline-block;
   background-color: #128bde;
   color: #fff;
   font-family: Nunito Sans Bold;
   font-size: 1rem;
   text-overflow: ellipsis;
   border-radius: 4px;
   line-height: 1.313rem;
   cursor: pointer;
   &[disabled] {
      background-color: #ededed;
   }
   .main-button {
      display: inline-block;
      vertical-align: top;
      padding: 0.56em 1.2em;
   }
   .secondary-button {
      display: inline-block;
      border-left: 1px solid white;
      font-size: 14px;
      margin: 2px 0;
      padding: 0.56em 0.55em;
      vertical-align: middle;
   }
}

.workflow-type {
    float: left;
    font-size: 28px;
    line-height: 43px;
    margin-top: 8px;
    width: 28px;
}

#show-info-button {
   position: relative;
   &.errors {
     &:before {
        position: absolute;
        content: ' ';
        background: $status-critical-default;
        width: 9px;
        height: 9px;
        right: 2px;
        border-radius: 50%;
        top: 2px;

     }
   }
}

.message {
    .link {
        color: $action-primary-default;
        cursor: pointer;
    }
}

.loading {
    transform: scale(0.6);
    display: inline-block;
    position:relative;
    bottom:-2px;
}

.icon-green {
    color: $status-success-hover;
    padding-right: 4px;
}

.multi-button{
    overflow: visible;
    border: 1px solid $neutral-03;
    display: inline-block;
    outline: 0;
    color: #555;

    &[disabled] {
        background: $neutral-03;
        border-color: transparent;
    }

    &:hover {
        border-color: $neutral-03;
    }

    .execution-options {
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .primary-option {
        padding: .625rem;
        display: inline-block;
        margin-top: 2px;
    }

    .options {
        border-left: 1px solid $neutral-03;
        height: 38px;
        display: table-cell;
        vertical-align: middle;
        &:hover {
            border-color: #b5b5b5;
        }
        i {
            padding: 0 0.2rem;
            font-size: 11px;
            padding-top:3px;
        }
    }
}
