<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->
<section class="execution-details" *ngIf="execution">
  <div class="execution-details__header">
      <img src="assets/images/iconStreaming.svg" class="workflow-type" *ngIf="execution.executionEngine === 'Streaming'" />
      <img src="assets/images/iconBatch.svg" class="workflow-type" *ngIf="execution.executionEngine === 'Batch'" />
      <span class="title egeo-title-extra-large">{{execution.genericDataExecution.workflow.name}}</span>
      <a [routerLink]="['/executions']" class="link">Return to executions list</a>
  </div>
  <graph-editor class="execution-details__editor"
  [editorPosition]="execution.genericDataExecution.workflow.uiSettings.position"
  [multiselectionEnabled]="false"
  (deselectNode)="selectStep(null)">
    <svg:g wizard-edge
      *ngFor="let edge of edges; let i=index;"
      [edge]="edge"
      [selectedEdge]="''"
      [initPosition]="edge.origin.uiConfiguration.position"
      [endPosition]="edge.destination.uiConfiguration.position">
    </svg:g> -->
    <svg:g draggable-element
      *ngFor="let nodeData of nodes"
      [(position)]="nodeData.uiConfiguration.position"
      [readonlyMode]="true"
      (onClickEvent)="selectStep(nodeData)">
      <svg:g wizard-node
        [data]="nodeData"
        [selected]="selectedStep && selectedStep.name === nodeData.name">
      </svg:g>
      <svg:defs>
      <svg:marker id="UpArrowPrecise" orient="auto" markerUnits="userSpaceOnUse" markerWidth="100" markerHeight="20" refX="-1" refY="4">
        <svg:path d="M9,0 L9,8 L0,4 Z" fill="#777" />
      </svg:marker>
      <svg:marker id="UpArrowPreciseSelected" orient="auto" markerUnits="userSpaceOnUse" markerWidth="100" markerHeight="20" refX="-1" refY="4">
        <svg:path d="M9,0 L9,8 L0,4 Z" fill="#128bde" />
      </svg:marker>
      <svg:marker id="createConnectorMarker" orient="auto" markerUnits="userSpaceOnUse" markerWidth="200" markerHeight="20" refX="13" refY="7.5">
        <svg:path d="M0,0 L0,15 L15,7 z" fill="#777" />
      </svg:marker>
    </svg:defs>
    </svg:g>
  </graph-editor>
  <sparta-sidebar [isVisible]="true" [darkBorder]="true" [showCloseButton]="false">
    <div class="sidebar-content" *ngIf="selectedStep">
      <div class="egeo-title-medium">{{selectedStep.name}}</div>
      <div>{{selectedStep.stepType}} - {{selectedStep.classPrettyName}}</div>
      <div class="configuration">
        <div class="property" *ngFor="let prop of keys(selectedStep.configuration)">
          <div class="label">{{prop}}</div>
          <div class="value">{{selectedStep.configuration[prop]}}</div>
        </div>
      </div>
    </div>
  </sparta-sidebar>
</section>
