<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->
<section class="execution-details" *ngIf="execution">
  <graph-editor class="execution__details-editor" [editorPosition]="execution.genericDataExecution.workflow.uiSettings.position">
    <svg:g wizard-edge
      *ngFor="let edge of edges; let i=index;"
      [edge]="edge"
      [selectedEdge]="''"
      [initPosition]="edge.origin.uiConfiguration.position"
      [endPosition]="edge.destination.uiConfiguration.position">
    </svg:g> -->
    <svg:g wizard-node
      draggable-element *ngFor="let nodeData of nodes"
      [data]="nodeData"
      [readonlyMode]="true"
      [createdNew]="nodeData.createdNew"
      [selected]="'' === nodeData.name"
      [(position)]="nodeData.uiConfiguration.position">
    </svg:g>
  </graph-editor>

<svg class="arrow-defs" xmlns:svg="http://www.w3.org/XML/1998/namespace"
  xmlns="http://www.w3.org/1999/xhtml">
    <svg:defs>
      <svg:marker id="UpArrowPrecise" orient="auto" markerUnits="userSpaceOnUse" markerWidth="100" markerHeight="20" refX="-1" refY="4">
        <svg:path d="M9,0 L9,8 L0,4 Z" fill="#777" />
      </svg:marker>
      <svg:marker id="UpArrowPreciseSelected" orient="auto" markerUnits="userSpaceOnUse" markerWidth="100" markerHeight="20" refX="-1" refY="4">
        <svg:path d="M9,0 L9,8 L0,4 Z" fill="#128bde" />
      </svg:marker>
      <svg:marker id="createConnectorMarker" orient="auto" markerUnits="userSpaceOnUse" markerWidth="200" markerHeight="20" refX="13" refY="7.5">
        <svg:path d="M0,0 L0,15 L15,7 z" fill="#777" />
      </svg:marker>
    </svg:defs>
  </svg>
</section>
