<section>
  <div class="container">
    <div class="settings">
      <h1 class="egeo-title-giant">Sparta Settings</h1>
      <div class="section-container">
        <div class="settings-option" routerLink="backups">
          <img src="assets/images/backups.svg" alt="backups" />
          <span class="label">Backups</span>
        </div>
        <div class="settings-option" routerLink="plugins">
          <img src="assets/images/plugins.svg" alt="plugins" />
          <span class="label">Plugins</span>
        </div>
        <div class="settings-option" routerLink="parameter-group">
          <img src="assets/images/parameterGroups.svg" alt="Parameter groups" />
          <span class="label">Parameter group</span>
        </div>
      </div>
    </div>
  </div>
</section>