@import '~@stratio/egeo/theme/constants';
:host {
   display: block;
   width: 100%;
}

.sql {
   display: block;
   background: #efefef;
   width: 100%;
}

.execution-container {
   margin-bottom: 20px;
}

.query-table {
   display: block;
}

.table-container {
   width: 100%;
   overflow: auto;
}

.error {
   display: block;
   margin-top: 20px;
}

.success {
   margin-left: 10px;
   color: $status-success-hover;
   font-family: "Nunito Sans Bold";
   font-size: 15px;
}

.loading {
   margin-left: 20px;
   transform: scale(0.7);
}

st-pagination {
   display: block;
   margin: 20px 0;
}

.loading-bar {
   margin-top: -23px;
   margin-bottom: 20px;
   margin-left: 3px;
   width: calc(100% - 5px);
}
