:host {
  width: 100%;
  height: 100%;
  display: block;
}

.composition {
  width: 100%;
  height: 100%;
  user-select: none;
  background: url('../../../../../assets/images/workflow-base.png') 11px 8px;

  &.drag-enabled {
    cursor: pointer;
  }
}

.connector-line {
  pointer-events: none;
  display:none;

  &.show{
      display:block;
  }
}
