@import '~@stratio/egeo/theme/constants';

footer {
  text-align: center;
  width: 100%;
  color: $action-secondary-05;
  border-top: 1px solid $action-secondary-03;
  padding-top: 10px;
  font-size: 12px;
  margin-top: 50px;
}