@import '~@stratio/egeo/theme/constants';
.entity {
   cursor: move;
   &.active {
      /* -webkit-filter: drop-shadow(193, 193, 193, 0.5);
      filter: url(#drop-shadow);*/
   }
}

.entity-name {
   fill: #0f1b27;
   font-family: "Nunito Sans";
   font-size: 14px;
   font-weight: 300;
   cursor: move;
   letter-spacing: -0.6px;
   user-select: none;
   word-break: break-word;
   line-height: 17px;
}

.Input {
   stroke: #fcb66c;
   &.active {
      fill: #fbf3ec;
   }
}

.Output {
   stroke: #78c7dd;
   &.active {
      fill: #f5fbfd;
   }
}

.Transformation {
   stroke: #c59ddb;
   &.active {
      fill: #f9f5fb;
   }
}

.relation {
   transform: scale(0);
   stroke-width: 1;
   stroke: #999;
   fill: #e7f3fb;
   transition: 0.15s transform;
   transform-origin: 4px 4px;
}

:host:hover {
   .type-input .input-entry {
      transform: scale(1);
   }
   .type-transformation .transformation-entry {
      transform: scale(1);
   }
}

%selected-relation {
   fill: white;
   display: block;
   stroke: #acc952;
   stroke-width: 1;
   -ms-transform: scale(1.2);
   cursor: pointer;
   transform: scale(1.2)!important;
}

.relation.transformation-entry:hover,
.relation.input-entry:hover {
   @extend %selected-relation;
}

.active {
   &.type-output .output-entry,
   &.type-transformation .transformation-entry {
      transform: scale(1);
      fill: white;
   }
   .relation.over-output {
      @extend %selected-relation;
   }
}

.created-new {
   .entity {
      stroke: #ddd;
   }
   .entity-name {
      fill: #aaa;
   }
   .entity-icon {
      fill: #aaa;
   }
   .entity-icon2 {
      display: none;
   }
}

:host .relation.relation.over-output2 {
   @extend %selected-relation;
}

:host.current-created {
   animation: BoxAnimation2 0.3s;
}

@keyframes BoxAnimation2 {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
