@import '~@stratio/egeo/theme/constants';

.workflow-link {
   cursor: pointer;
   &:hover {
      color: #0f1b27;
      text-decoration: underline;
   }
}

.check-column {
   width: 10px;
   padding-right: 0;
}

.workflow-table {
   display: block;
   margin-top: 30px;
   tr:hover {
      cursor: pointer;
   }
}

.spark-link {
   max-width: 10px;
   padding-left: 0;
   padding-right: 30px;
   i {
      color: #128bde;
      font-size: 20px;
      line-height: 9px;
   }
}

.status-field {
   font-family: "Nunito Sans SemiBold";
   &.Started {
      color: $status-success-hover;
   }
   &.Failed {
      color: $status-critical-default;
   }
}
