<ul>
   <li *ngFor="let subtree of tree">
      <div class="folder-content" [style.paddingLeft.px]="index * 20" [ngClass]="{'selected' : selectedFolder === subtree.name}" (click)="selectFolder($event, subtree.name)">
         <div class="container-group" 
         [ngClass]="{'current-group' : (subtree.name === parentGroup || (blockChilds && subtree.name.indexOf(currentGroup) === 0 || !blockChilds && subtree.name === currentGroup))}" >
            <span *ngIf="subtree.subGroups && subtree.subGroups.length" class="open-icon" [ngClass]="subtree.open ? 'icon-arrow2_down' : 'icon-arrow2_right'"
               (click)="toggleTree($event,subtree)"></span>
            <span class="icon-folder"></span>
            <span class="folder-name">{{subtree.label}}</span>
         </div>
      </div>
      <group-tree *ngIf="subtree.open" 
            [blockChilds]="blockChilds" 
            [selectedFolder]="selectedFolder" 
            [parentGroup]="parentGroup" 
            (onSelectFolder)="onSelectFolder.emit($event)" 
            [index]="index + 1" 
            [tree]="subtree.subGroups" 
            [currentGroup]="currentGroup"></group-tree>
   </li>
</ul>
