@mixin c-step-progress-bar {
  @include c-component;
  
  width:100%;
  background: $c-step-progress-bar---background;
  display: block;
  padding: $c-step-progress-bar---padding;
  text-align: center;
  height: $c-step-progress-bar---height;
  margin-left: $c-step-progress-bar---margin-left;
  margin-top: $c-step-progress-bar---margin-top;

  &__step-column {
    top: 22px;
    margin-left: 18px;
    &:before {
      content: '';
      height: 50%;
      position: absolute;
      left: -19px;
      top: 24px;
      border-left: 1px $c-step-progress-bar__line---color solid;
    }
    &--enabled {
      &:before {
        border-left: 1px $c-step-progress-bar__line--enabled---color solid;
      }
    }
  }

  &__aux-option {
    top:40px;

    &:before {
      content: '';
      height:40px;
      border-left: 1px $c-step-progress-bar__line---color solid;
      position: absolute;
      left: -19px;
      top: 28px;


    }
  }

  & section:last-child {
    padding-right: 0;

    .c-step__progress-line {
      width: 0px;
    }
  }

}

.c-step-progress-bar {
  @include c-step-progress-bar;
}
