$c-step-progress-bar---background: transparent !default;
$c-step-progress-bar---padding: 2px;
$c-step-progress-bar---height: 160px;
$c-step-progress-bar---margin-left: 4.2%;
$c-step-progress-bar---margin-top: 20px;
$c-step-progress-bar__line--enabled---color: #37b5e4;
$c-step-progress-bar__line---color: getColor(n5);