@import '~@stratio/egeo/theme/constants';

sparta-sidebar{
  position: absolute;
  right: 0;
  top: 66px;
  z-index: 100;
  bottom: 0;

  .configuration{
    margin-top: 20px;
  }
  .property {
    margin-top: 8px;

    .label {
      font-family: $egeo-nunito-sans;
      font-weight: bold;
    }
  }
}

.not-selected {
  text-align: center;
  min-height: 230px;
  margin-top: 20px;
  .step-detail-image {
     width: 140px;
     margin-top: 20px;
  }

  .step-info {
   font-size: $egeo-font-size-xxsmall;
   color: $neutral-10;
 }
}

.sidebar-content {
  .execution-details__status{
    font-size: $egeo-font-size-xxsmall;
    display: flex;
    align-items: center;
  }

  .status-icon {
    font-size: $egeo-font-size-xxlarge;
  }

  .success-color {
    color: $status-success-default;
  }

  .error-color {
    color: $status-critical-default;
  }

  .warning-color {
    color: $status-warning-default;
  }
}
