@mixin c-form-group {

  .c-form-control .c-icon-label .c-icon{
    vertical-align: baseline;
  }

  .c-form-control .c-icon-radio__label .c-icon-radio__text{
    vertical-align: middle;
  }
}

.c-form-group {
  @include c-form-group;
}
