$quick-search__input---padding: 0 0 0 10px;
$quick-search--hide---width: 93%;
$quick-search--hide---margin-bottom:5px;
$quick-search--hide---border-radius: 10px;
$quick-search--hide---transition:  1s width;
$quick-search--hide__quick-search__input---float: right;
$quick-search--hide__quick-search__input---width: 26px;
$quick-search--hide__quick-search__input---border-radius: 50px;
$quick-search--hide--hover---width: 96%;
$quick-search--hide--hover__quick-search__input---width: 100%;
$quick-search--hide__quick-search__input--focus---border-radius: 8px;