$angular-forms--ng-invalid__input---color: #e23b2b !default;
$angular-forms--ng-invalid__input---color: #e23b2b !default;
$angular-forms--ng-invalid__error---color: #ffffff !default;
$angular-forms--ng-invalid__error---background-color: #e23b2b !default;
$angular-forms--ng-invalid__error---padding: 0.5em !default;
$angular-forms--ng-invalid__error---font-size: 14px !default;
$angular-forms--ng-invalid__error--icon---font-size: 12px !default;

.c-form-group.ng-invalid.submitted, .c-form-group.selectInvalid.submitted {
	& label {
		color: $angular-forms--ng-invalid__input---color;
	}

	& input {
		/*color: $angular-forms--ng-invalid__input---color;*/
	}
}

.angular-forms__separation {
	margin-top: 8px;
}   

.angular-forms__error {
	color: $angular-forms--ng-invalid__error---color;
	background-color: $angular-forms--ng-invalid__error---background-color;
	padding: $angular-forms--ng-invalid__error---padding;
	font-size: $angular-forms--ng-invalid__error---font-size;

	.icon {
		font-size: $angular-forms--ng-invalid__error--icon---font-size;
	}
}
