.section_title{
    white-space: nowrap;
    line-height: 25px;
    padding-bottom: 10px;
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #283440;
        font-size: 2.12rem;
    text-transform: uppercase;
     border-bottom: 2px solid #cbcbcb;
         margin: 0;
    margin-bottom: 20px;
}