.section_title{
    font-family: Open Sans;
    font-size: 1.75rem;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0;
    letter-spacing: -1px;
    color: #405467;
    text-transform: uppercase;
    font-weight: 400;
}