.title {
    margin-top:30px;
}

.form-environment {
        display: block;
}

.search-input {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.list-field{
    width:100%;
    display:flex;
}

.icon-remove {
    font-size: 20px;
    margin-top: 30px;
    color: #999;
    display: inline-block;
    cursor:pointer;
}

.items-list {
    margin-top: 35px;
    display: block;
}

.add-element{
    margin:20px 0;
    color: #128bde;
    cursor:pointer;

    &:hover {
        color: #0979c4;
    }
}