<div class="c-titlebar">
	<span "c-titlebar__title" translate="{{vm.modalTexts.title}}"></span>
	<i class="c-icon c-icon--is-clickable c-icon--to-right icon-circle-cross" data-ng-click="vm.cancel()"></i>
</div>

<div class="c-modal-inner">
	<form class="c-form" name="vm.form" novalidate>

		<form-field-input id="dataSourceName" data-model="vm.dataSource.name" data-label="{{'_INPUT_WINDOW_FORM_NAME_' | translate}}" data-form="vm.form" data-st-name="dataSourceNameForm" data-required="true" data-autofocus="true"></form-field-input>

		<ng-form name="dataSourceTypeForm" class="c-form-group">
			<div class="c-form-control c-form-control--full-width c-icon-radio">
				<label class="c-col c-col--12 c-label c-icon-radio__label" title="{{'_INPUT_WINDOW_FORM_TYPE_' | translate}}:" for="dataSourceType">{{"_INPUT_WINDOW_FORM_TYPE_" | translate}}</label>
				<label data-ng-repeat="inputData in vm.templateInputsData">
					<input class="c-icon-radio__item" id="type-{{inputData.name | lowercase}}" type="radio" name="dataSourceTypeForm" data-ng-model="vm.dataSource.element.type" value="{{inputData.name}}" data-ng-click="vm.setProperties($index, inputData.name)">
						<label class="c-icon-radio__label" for="type-{{inputData.name | lowercase}}"><i class="c-icon c-icon-radio__icon icon-{{inputData.name | lowercase}}"></i></label>
				</label>
			</div>
		</ng-form>


		<datasource-form-field ng-repeat="item in vm.templateInputsData[vm.selectedIndex].properties" ng-form-id="{{item.propertyId}}"  data-field="item" data-model="vm.dataSource.element.configuration" data-form="vm.form" data-st-name="dataSource{{item.propertyName}}Form" data-ng-if="item.propertyId !== 'name' && item.propertyId !== 'type'"></datasource-form-field>

		<div class="c-row c-msg c-msg--small c-msg--error" data-ng-if="vm.error">
			<i class="c-icon icon-circle-cross"></i>{{"_INPUT_ERROR_NAME_EXISTS_" | translate}}
		</div>

		<div class="c-row c-row--separated">
			<div class="c-col c-col--6 c-col--vertical-centered">
				<span class="c-info-text c-info-text--is-clickable"><i class="c-icon c-info-text__icon icon-info1"></i><span class="c-info-text__text c-info-text__text--is-link">{{"_INPUT_WINDOW_NEW_HELP_" | translate}}</span></span>
			</div><div class="c-col c-col--6 c-col--vertical-centered c-col--to-right">
				<button class="c-button c-button--call-to-action-2" data-ng-click="vm.cancel()">
					<i class="c-icon icon-circle-cross"></i>
					<span translate="_INPUT_BUTTON_CANCEL_"></span>
				</button>
				<button class="c-button c-button--call-to-action-1" data-ng-click="vm.ok()">
					<i class="icon {{vm.modalTexts.icon}}"></i>
					<span translate="{{vm.modalTexts.button}}"></span>
				</button>
			</div>
		</div>
	</form>
</div>

{{vm.dataSource}}
