/*doc
---
title: c-line-separator
name: c-line-separator
category: components
---

The line separator component creates a separator between elements which is a 
line that can be customized.

```html_example
<hr class="c-line-separator" />
```

## Variables exposed to theming

Variable                                      | Default value
--------------------------------------------- | -----------------
$c-line-separator---border-color              | `get-color(red)`
$c-line-separator---border-style              | `solid`
$c-line-separator---border-width              | `1px`
$c-line-separator---margin                    | `20px 0`

## Dependencies

[c-component]()

*/

@import "vars";
@import "rules";
