:host {
        display: block;
    width: 100%;
}

.editor {
   .json-info {
      display: flex;
      font-size: 12px;
      .icon {
         margin-right: 6px;
      }
   }
}

.workflow-fields {
   width: 250px;
   margin-right: 32px;
   display: inline-block;
       vertical-align: top;
}

.workflow-json {
    width: calc(100% - 290px);
    display: inline-block;
}

.workflow-json-content {
   width: 100%;
   font-size: 14px;
}

.edition-buttons {
   float: right;
}

.description {
   margin-top: 20px;
}

.validation-error{
        display: block;
    margin-bottom: 15px;
    color:#ec445c;
    font-size:14px;
}
