<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<div class="workflow-detail">
   <!--<st-horizontal-tabs [options]="options" qaTag="workflow-detail-tabs"></st-horizontal-tabs>-->
   <div class="not-selected" *ngIf="!data || !data.type">
      <img src="assets/images/workflow-detail.png" class="workflow-detail-image" />
      <div class="workflow-info">{{'DASHBOARD.WORKFLOW_INFO' | translate}}</div>
   </div>
   <div class="selected" *ngIf="data && data.type === 'version'">
      <!--<span class="status" [ngClass]="workflowData.status.status.toLowerCase()">
          {{('DASHBOARD.' + (workflowData.formattedStatus | uppercase)) | translate}} 
          <span class="advanced-status" *ngIf="workflowData.status.status.toUpperCase() !== workflowData.formattedStatus.toUpperCase()"> / {{('DASHBOARD.' + (workflowData.status.status | uppercase)) | translate}}</span>
      </span>-->
      <h3 class="egeo-title-medium">v{{workflowData.version}} - {{workflowData.name}}</h3>
      <span class="description">{{workflowData.description}}</span>
      <div *ngIf="execution && execution.genericDataExecution && execution.genericDataExecution.executionMode">
         <span class="title egeo-title-mini">Execution mode</span>
         <span class="">{{execution.genericDataExecution.executionMode}}</span>
      </div>
      <div *ngIf="inputs && inputs.length">
         <span class="title egeo-title-mini">{{'GLOBAL.INPUTS' | translate}}</span>
         <span class="values" *ngFor="let input of inputs">{{input}}</span>
      </div>
      <div *ngIf="transformations && transformations.length">
         <span class="title egeo-title-mini">{{'GLOBAL.TRANSFORMATIONS' | translate}}</span>
         <span class="values" *ngFor="let transformation of transformations">{{transformation}}</span>
      </div>
      <div *ngIf="outputs && outputs.length">
         <span class="title egeo-title-mini">{{'GLOBAL.OUTPUTS' | translate}}</span>
         <span class="values" *ngFor="let output of outputs">{{output}}</span>
      </div>
      <div class="last-error" *ngIf="lastError">
         <span class="title egeo-title-mini">{{'DASHBOARD.LAST_ERROR' | translate}}</span>
         <div class="errors">
            <div>
               <span class=""><!--<i class="icon icon-calendar"></i>--> Date: </span>
               <span class="val">{{workflowData.lastErrorDate}}</span>
            </div>
            <div>
               <span class=""><!--<i class="icon icon-evolution"></i>--> Phase: </span>
               <span class="val">{{lastError.phase}}</span>
            </div>
            <span class="message">{{lastError.message}}</span>
            <span class="original-msg">{{lastError.originalMsg}}</span>
         </div>
      </div>
   </div>

   <div class="selected" *ngIf="data && data.type === 'workflow'">
      <h3 class="egeo-title-medium">{{workflowData.name}}</h3>
      <span class="type">{{data.type}}</span>
      <div>
         <span class="title egeo-title-mini">Number of versions</span>
         <span class="values">{{workflowData.versions.length}}</span>
      </div>
      <div *ngIf="workflowData.lastUpdate && workflowData.lastUpdate.length">
         <span class="title egeo-title-mini">Last update</span>
         <span class="values">{{workflowData.lastUpdate}}</span>
      </div>
   </div>

   <div class="selected" *ngIf="data && data.type === 'group'">
      <h3 class="egeo-title-medium">{{groupLabel}}</h3>
      <span class="type">{{data.type}}</span>
      <div>
         <span class="title egeo-title-mini">{{'DASHBOARD.COMPLETE_PATH' | translate}}</span>
         <span class="values">{{workflowData.name}}</span>
      </div>
   </div>
</div>
