@import '~@stratio/egeo/theme/constants';
:host {
   display: block;
}
.selected {
   margin-top: -10px;
}

.version-title {
  padding-right: 33px;
}

.not-selected {
   text-align: center;
   min-height: 230px;
   .workflow-detail-image {
      width: 140px;
   }

   .workflow-info {
    font-size: $egeo-font-size-xxsmall;
    color: $neutral-10;
  }
}

.description {
   font-size: $egeo-font-size-xsmall;
   margin-bottom: 15px;
   display: block;
}

.type {
   font-size: $egeo-font-size-xsmall;
   margin-bottom: 15px;
   display: block;
}

.title {
   margin-top: 10px;
   display: block;
}

.title2 {
   font-size: $egeo-font-size-xxsmall;
   line-height: 1.43;
   font-family: $egeo-nunito-sans-semiBold;
   margin-top: 10px;
   display: block;
   color: #6c7b8b;
}

.order-icon{
  margin-right: 2px;
  font-size: 14px;
  transform: rotate(-90deg);
  display:inline-block;
  &.active {
   transform: rotate(0deg);
  }
}

.values {
   display: block;
   font-size: $egeo-font-size-xxsmall;
}

.value-list{
  padding-left: 25px;
}

.accordion {
  cursor: pointer;
  display: inline-block;
}

.status {
   font-family: $egeo-nunito-sans-bold;
   color: #3c3c3c;
   font-size: $egeo-font-size-xsmall;
   background: rgba(205, 214, 223, 0.3);
   padding: 3px 10px;
   display: inline-block;
   margin-bottom: 5px;
   &.started {
      background: rgba(12, 170, 112, 0.15);
      color: #0baa70;
      padding: 3px 10px;
   }
   &.failed {
      color: $status-critical-default;
      padding: 3px 10px;
      background: rgba(170, 12, 112, 0.15);
   }
}

.advanced-status{
   font-family: $egeo-nunito-sans-semiBold;
}

.execution-info-link {
   font-family: $egeo-nunito-sans-semiBold;
   cursor: pointer;
   color: $action-primary-default;
   margin: 14px 0;
   display: block;
}

.last-error {
   margin-top: 20px;
   .errors {
      color: #444;
      background: rgba(255, 255, 255, 0.3);
      padding: 7px 12px;
      border-left: 1px solid #efefef;
      margin: 5px 0 18px 0px;
      font-size: 14px;
      width: 104%;
      margin-left: -2%;
      .val {
         font-family: $egeo-nunito-sans-semiBold;
      }
      .icon {
         font-size: 13px;
      }
      .message {
         display: block;
         margin-top: 8px;
         margin-bottom: 3px;
         font-family: $egeo-nunito-sans-semiBold;
      }
      .original-msg {
         word-break: break-word;
         font-size: 13px;
      }
   }
}
