@import '~@stratio/egeo/theme/constants';
:host {
   display: block;
}

.not-selected {
   text-align: center;
   .workflow-detail-image {
      width: 130px;
   }
}

.title {
   text-transform: uppercase;
   font-size: $egeo-font-size-xxsmall;
   font-weight: 600;
   line-height: 1.43;
   margin-top: 10px;
   display: block;
   color: #6c7b8b;
}

.values {
   display: block;
}

.status {
   font-weight: 600;
   color: #3c3c3c;
   font-size: $egeo-font-size-xsmall;
   .notstarted {}
   display: inline-block;
   margin-bottom:5px;
   &.started {
      background: rgba(12, 170, 112, 0.15);
      color: #0baa70;
      padding: 3px 10px;
   }

   &.failed {
       color:$status-critical-default;
       padding: 3px 10px;
           background: rgba(170, 12 , 112, 0.15);
   }
}

.workflow-info {
   color: #0f1b27;
   font-size: 15px;
   margin-top: 20px;
}
