:host {
   display: block;
   width: 100%;
}

.filters {
   .search-input {
      float: left;
      margin-top: 21px;
      margin-left: 20px;
   }
   .show-temporary {
      float: right;
      margin-top: 32px;
   }
}

.database-selector {
   display: block;
   float: left;
   width: 250px;
   margin-bottom: 20px;
}

.fields-row:hover {
   background: none!important;
}

.select-row {
   cursor: pointer;
}
