<div>
   <div class="row">
      <div class="col-md-5 col-xs-12">
         <span class="creation-method">{{'DASHBOARD.NEW_WORKFLOW_SCRATCH' | translate}}</span>
        <button class="button button-toolbar" (click)="onSelectedMethod.emit('1')">
            <i class="icon-download"></i> {{'DASHBOARD.SET_CONFIGURATION' | translate}}
        </button>

      </div>
      <div class="col-md-2 col-xs-12">
         <span class="creation-method condition-label">{{'DASHBOARD.OR' | translate}}</span>
      </div>
      <div class="col-md-5 col-xs-12">
         <span class="creation-method">{{'DASHBOARD.NEW_WORKFLOW_JSON' | translate}}</span>
        <button class="button button-toolbar" (click)="onSelectedMethod.emit('2')">
            <i class="icon-download"></i> {{'DASHBOARD.UPLOAD_JSON' | translate}}
        </button>

      </div>
   </div>
</div>
