@import '~@stratio/egeo/theme/constants';

.repository-container {
  margin-top: 70px;
}

.workflow-list {
   width: 100%;
   background: white;
   padding: 10px 20px;
   margin-top: 20px;
   transition: max-width 0.3s;
   max-width: 100%;
   &.compressed {
     max-width: calc(100vw - 415px - (100vw - 100%) / 2);
   }
}

.repository-sidebar {
  position: fixed;
  top: 141px;
  right: 0;
  bottom: 0;
}

.loading-bar{
    display: block;
    position: fixed;
    height: 2px;
    top: 143px;
    z-index: 999;
    overflow: hidden;
    width: 100%;
    background-color: #bce7fe;
}

.row-content{
    position: relative;
}

.rightbar-ref {
    position: absolute;
    right:0;
    top:0;
}

sparta-sidebar{
  transition: 0.3s transform, 0.3s height;
}
