/*doc
---
title: c-search-box
name: c-search-box
category: components
---

The search box component extends the [http://][input] element

```html_example
<input type="text" class="c-search-box" />
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
$c-input---border 							| `none' 
$c-input---color 							| `get-color(g8)' 
$c-input---height 							| `28px' 
$c-input---padding 							| `0 0 0 35px' 
$c-input---margin 							| `0' 
$c-input---border-radius 					| `5px' 

## Dependencies

[c-input]()

*/

@import "vars";
@import "rules";
