// Transitions
.t-fast,
%t-fast{
	transition: all 0.2s ease;
}
.t-normal,
%t-normal{
	transition: all 0.3s ease;
}
.t-slow,
%t-slow{
	transition: all 0.5s ease;
}

// Label
.numerical-label{
	font-size: 13px;
	line-height: 17px;
	background-color: $red;
	border-radius: 6px;
	color: #fff;
	padding: 0px 6px 0px 5px;
	text-align: center;
	min-width: 20px;
}


// Custom sidebar on webkit
.webkit-sidebar{
	overflow-y: auto;
	$size: 7px;

	&::-webkit-scrollbar {
		width: $size;
		height: $size;
	}
	&::-webkit-scrollbar-button {
		width: 30px + $size;
		height: 30px + $size;
	}
	&::-webkit-scrollbar-thumb {
		background: #888888;
		border-radius: 4px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #6f6f6f;
	}
	&::-webkit-scrollbar-thumb:active {
		background: #5a5a5a;
	}
	&::-webkit-scrollbar-track {
		background: #cccccc;
		border-radius: 7px;
	}
	&::-webkit-scrollbar-track:hover {
		background: #bbbbbb;
	}
	&::-webkit-scrollbar-track:active {
		background: #aaaaaa;
	}
	&::-webkit-scrollbar-corner {
		background: transparent;
	}
}
.webkit-sidebar-all{
	&::-webkit-scrollbar-button {
		width: 0px;
		height: 0px;
	}
}


// Clearfix
%clearfix{
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}