// Helper for scrollbar (gradient on top and bottom)
@mixin gradientScroll($bg){
	&:before,
	&:after{
		@include linearGradient(to bottom, rgba($bg, 0), rgba($bg, 1));

		content: '';
		position: absolute;
		height: 40px;
		width: 100%;
		left: 0px;
		right: 0px;
		z-index: 2;
	}
	&:before{
		top: 0;
		transform: rotate(180deg);
	}
	&:after{
		bottom: 0;
	}
}

// Gradients
@mixin linearGradient($dir, $from, $to){
	background-image:
		-webkit-linear-gradient($dir, $from 0%, $to 100%);
	background-image:
		-o-linear-gradient($dir, $from 0%, $to 100%);
	background-image:
		linear-gradient($dir, $from 0%, $to 100%);
}