<div class="errors-container" *ngIf="(serverValidationError && serverValidationError.length) || (debugResult && debugResult.error)">
  <div *ngIf="serverValidationError && serverValidationError.length" class="debug-error">
    <div class="debug-error-message">
      <div class="icon">
        <span class="icon-alert validation-icon"></span>
      </div>
      <span class="message">
        <p *ngFor="let validationError of serverValidationError">{{validationError}}</p></span>
    </div>
  </div>
  <!-- debug errors -->
  <div class="debug-error debug-error-container" *ngIf="debugResult && debugResult.error">
    <div class="debug-error-message">
      <div class="icon">
        <span class="icon-record"></span>
      </div>
      <div class="message">{{(debugResult.error.localizedMsg && debugResult.error.localizedMsg.length > 140) ? (debugResult.error.localizedMsg | slice:0:140)+'..':(debugResult.error.localizedMsg) }}</div>
      <span class="error-details" (click)="showConsole('Exceptions')">{{'WIZARD.VIEW_ERROR_DETAILS' | translate}}</span>
    </div>
  </div>
</div>
<!-- end debug errors -->
<!-- debug results -->
<div class="debug-result" *ngIf="debugResult && debugResult.result">
  <div class="debug-result-message">
    <div class="icon">
      <span class="icon-circle-check"></span>
    </div>
    <span class="message">{{'WIZARD.DEBUG_DATA_FLOWING' | translate}}</span>
  </div>
</div>
<div class="schemas-container">
  <div class="schemas input-schemas" *ngIf="inputSchemas.length">
    <div class="schema-title">
      <span (click)="inputSchemasOpened = !inputSchemasOpened">
        <span class="icon" [ngClass]="inputSchemasOpened ? 'icon-arrow2_down' : 'icon-arrow2_right'"></span>
        <span>Input schemas</span>
      </span>
    </div>
    <div *ngIf="inputSchemasOpened">
      <div *ngFor="let schema of inputSchemas">
        <div>
          <div (click)="toggleSchema(schema)" class="schema-section">
            <span class="schema-arrow icon-arrow4_down" [ngClass]="{'expanded' : schema.expanded}"></span>
            <span class="schema-name">{{schema.name}}</span>
          </div>
          <span class="debug-data-link" (click)="showConsole('Data', schema.name)">{{'WIZARD.VIEW_DEBUG_DATA' | translate}}</span>
        </div>
        <node-schema *ngIf="schema.expanded" [schema]="schema.tree"></node-schema>
      </div>
    </div>
  </div>
  <div class="schemas output-schemas" *ngIf="outputSchema">
    <div class="schema-title">
      <span (click)="outputSchemasOpened = !outputSchemasOpened">
        <span class="icon" [ngClass]="outputSchemasOpened ? 'icon-arrow2_down' : 'icon-arrow2_right'"></span>
        <span>Output schema</span>
      </span>
    </div>
    <div *ngIf="outputSchemasOpened">
      <div>
        <div (click)="toggleSchema(outputSchema)" class="schema-section">
          <span class="schema-arrow icon-arrow4_down" [ngClass]="{'expanded' : outputSchema.expanded}"></span>
          <span class="schema-name">{{outputSchema.name}}</span>
        </div>
        <span class="debug-data-link" (click)="showConsole('Data', outputSchema.name)">{{'WIZARD.VIEW_DEBUG_DATA' | translate}}</span>
      </div>
      <node-schema *ngIf="outputSchema.expanded" [schema]="outputSchema.tree"></node-schema>
    </div>
  </div>
</div>