/*doc
---
title: c-component
name: c-component
category: components
---

The component component is only an anonymous master class from the
whole component collection extends.

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 							| `0' 


*/

@import "vars";
@import "rules";
