@mixin c-component {
	box-sizing: border-box;

	&--bottom-margin {
		margin-bottom: $c-component---margin-bottom;
	}

	&--top-margin {
		margin-top: $c-component---margin-bottom;
	}

	&--left-margin {
		margin-left: $c-component---margin-left;
	}

	&--right-margin {
		margin-right: $c-component---margin-right;
	}
}
