<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<svg id="composition" class="composition" (click)="clickDetected($event)">
  <svg:g id="svg-container">
    <svg:g
      *ngFor="let relation of workflowEdges; trackBy: trackBySegmentFn; let i=index;"
      wizard-edge
      [initialEntityName]="relation.origin.name"
      [workflowID]="workflowID"
      [finalEntityName]="relation.destination.name"
      [selectedEdge]="selectedEdge"
      [index]="i"
      [dataType]="relation.dataType"
      [initPosition]="relation.origin.uiConfiguration.position"
      [supportedDataRelations]="relation.origin.supportedDataRelations"
      [endPosition]="relation.destination.uiConfiguration.position"
      (selectEdge)="selectEdge.emit($event)"
      (showEdgeOptions)="showEdgeOptions.emit($event)">
    </svg:g>
    <svg:g
      wizard-node svg-draggable *ngFor="let nodeData of workflowNodes;"
      [data]="nodeData"
      [attr.id]="nodeData.name + '-node'"
      [createdNew]="nodeData.createdNew"
      [debugResult]="debugResult && debugResult[nodeData.name] ? debugResult[nodeData.name] : {}"
      [serverStepValidation]="serverStepValidations[nodeData.name]"
      [selected]="selectedNodeName === nodeData.name"
      [drawingConnectionStatus]="drawingConnectionStatus"
      (onDrawConnector)="createEdge($event)"
      (onFinishConnector)="finishConnector($event)"
      (setEditorDirty)="setEditorDirty.emit()"
      [(position)]="nodeData.uiConfiguration.position"
      (onDoubleClickEvent)="this.editEntity.emit(nodeData)"
      (onClickEvent)="selectNode.emit(nodeData)">
    </svg:g>
  </svg:g>

  <svg:path
    stroke="#777"
    [ngClass]="{'show' : showConnector}"
    stroke-width="2"
    fill="none"
    class="connector-line"
    marker-end="url(#createConnectorMarker)">
  </svg:path>
</svg>
