.template-creation-page{
    margin-bottom:30px;
}

.fragments{
    margin-top:20px;
}

.fragment-type {
   display: inline-block;
   margin-right: 10px;
}

.create-fragment {
   display: block;
}


.help-info {
   width: 340px;
}

.menu-actions {
   vertical-align: top;
   display: inline-block;
   padding-bottom: 8px;
}

.top-separation{
    margin-top:30px;
}

.cancel-button{
    margin-right: 20px;
}

.input-field {
        margin: 10px 0;
            display: block;
}