$c-step---separation: 15px !default;
$c-step---padding: 0 0 0 $c-step---separation !default;
$c-step---color: grey !default;
$c-step--active---color: blue !default;

$c-step__progress-line---height: 1px !default;

$c-step__section-icon---font-size: 1em !default;
$c-step__section-icon---font-weight: normal !default;

$c-step__section-name---font-size: 1em !default;
$c-step__section-name---font-weight: bold !default;
$c-step__section-name---text-transform: uppercase !default;
