$c-step---separation: 15px !default;
$c-step---padding: 0 0 0 $c-step---separation !default;
$c-step---color: getColor(n5);
$c-step--active---color: getColor(a1);
$c-step--enabled---color: getColor(a1_light);
$c-step__progress-line---height: 1px !default;
$c-step__section-icon---font-size: 1em !default;
$c-step__section-icon---font-weight: normal !default;
$c-step__section-name---font-size: 1em !default;
$c-step__section-name---font-weight: bold !default;
$c-step__section-name---text-transform: uppercase !default;
$c-step__box--visited---border: 1px solid getColor(a1_light);
$c-step__box--active---border: 2.9px solid getColor(a1);
$c-step__box--enabled---border: 1px solid getColor(a1);
$c-step__box---border: 1px dashed getColor(n5);
$c-step__section-name---margin: 5px;
$c-step__box---background: white;
$c-step__box---line-height: 21px;
$c-step__box---height: 41px;
$c-step__box---width: 60%;
$c-step__box---border-radius: 0px;
$c-step__box---padding: 5px;
$c-step__box---cursor: pointer;
