<parameter-group-header (onCreateParam)="addParam()" (onSearch)="search.emit($event.text)" (onConfigContext)="toggleConfigContext()" [withContext]="true" [listMode]="customList && customList.length" [creationMode]="creationMode"></parameter-group-header>
<div class="tableContainer">
   <div *ngIf="breadcrumbList" class="breadcrumb"><span class="link" (click)="goCustom()">All groups</span><span> / {{breadcrumbList.name}}</span></div>
   <parameters-table [inputParameters]="customParams" [inputList]="customList" [contextList]="customContexts" [withContext]="true"
      (onSaveParamContexts)="saveParamContexts($event)" (onNavigate)="navigateToList($event)" (onSaveParamList)="saveParamList($event)"
      (deleteParam)="deleteCustomParam($event)" (changeContext)="onChangeContext($event)" (onAddNewContext)="addNewContext($event)" [creationMode]="creationMode">
   </parameters-table>
</div>

<st-fullscreen-layout *ngIf="showConfigContext" [title]="'Environment - Settings'">
   <div class="st-fullscreen-layout-buttons">
      <button class="button button-secondary-line" (click)="toggleConfigContext()">Exit</button>
   </div>
   <div class="st-fullscreen-layout-content">
      <div>Contexts</div>
      <parameter-group-header (onCreateParam)="onAddCustomContext()" (onSearch)="search.emit($event.text)" (onConfigContext)="toggleConfigContext()" [creationMode]="creationMode"></parameter-group-header>
      <parameters-table [inputList]="customContexts" (onAddNewContext)="addNewContext($event)" [configContext]="true"
         (onSaveParamContexts)="saveParamContexts($event)" (deleteParam)="deleteCustomParam($event)" (changeContext)="onChangeContext($event)"
         (onSaveParamList)="saveParamList($event)" [creationMode]="creationMode"></parameters-table>
   </div>
</st-fullscreen-layout>

