/**
 * © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
 *
 * This software – including all its source code – contains proprietary
 * information of Stratio Big Data Inc., Sucursal en España and
 * may not be revealed, sold, transferred, modified, distributed or
 * otherwise made available, licensed or sublicensed to third parties;
 * nor reverse engineered, disassembled or decompiled, without express
 * written authorization from Stratio Big Data Inc., Sucursal en España.
 */

 @import '~@stratio/egeo/theme/constants';

 .tableContainer {
     position: relative;
     .breadcrumb {
         top: -35px;
         left: 5px;
         position: absolute;
         span {
             font-family: $egeo-nunito-sans-bold;
             font-size: $egeo-font-size-large;
             color: $neutral-13;
             &.link {
                 color: $action-primary-hover;
                 cursor: pointer;
             }
         }
     }
 }
 .st-fullscreen-layout-content {
   display: block;
}

