@mixin c-form-gutter {
	padding: 0 15px;

	&__cols-2:nth-child(2n+0) {
		padding-right: 0;
	}

	&__cols-2:nth-child(2n+1) {
		padding-left: 0;
	}

	&__right {
		padding-right: 0;
	}

	&__left {
		padding-left: 0;
	}
}

.c-form-gutter {
	@include c-form-gutter;
}
