$c-line-separator---border-color: get-color(red) !default;
$c-line-separator---border-style: solid !default;
$c-line-separator---border-width: 1px !default;
$c-line-separator---margin: 20px 0 !default;
