<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<div class="move-group">
   <group-selector [blockChilds]="true"
        [groups]="groups" 
        [parentGroup]="parentGroup" 
        [currentGroup]="currentGroup" 
        [selectedFolder]="selectedFolder" 
        (onSelectFolder)="selectFolder($event)"></group-selector>
   <div class="footer">
      <button class="button button-primary save-button" (click)="!disableButton && updateFolder()" [disabled]="!selectedFolder.length">Save</button>
      <button class="button button-secondary-gray cancel-button" (click)="onCloseMoveGroup.emit()">Cancel</button>
   </div>
</div>
