:host {
   display: block;
   width: 100%;
}

.move-group {
   max-height: calc(100vh - 120px);
   overflow: auto;
   padding-right:12px;
   padding-bottom: 4px;
}

.footer {
   margin-top: 20px;
}

.save-button {
   float: right;
}

.cancel-button {
   float: right;
   margin-right: 10px;
}

group-tree {
   max-height: 350px;
   display: block;
   overflow: auto;
}
