<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<section>
   <div class="filters">
      <sp-select [options]="databases" qaTag="database-selection" label="{{'DASHBOARD.DATABASE' | translate}}" name="fragmentType"
         (change)="getTablesFromDatabase($event)" class="database-selector st-form-field" [(ngModel)]="selectedDatabase"></sp-select>

      <button class="button button-toolbar reload" (click)="reloadDatabases()">
          <i class="icon-repeat"></i>
      </button>
      <st-search class="search-input" [placeholder]="'DASHBOARD.FILTER_TABLES' | translate" [debounce]="debounce" [minLength]="minLength"
         [value]="searchedTable" (search)="onSearchResult($event)" [qaTag]="'filter-tables'">
      </st-search>
   </div>
   <ul class="table-list">
      <li class="table-item" *ngFor="let table of tableList$ | async">
         <div class="table-labels" (click)="checkValue(table)">
            <span class="open-icon" [ngClass]="openedTables.indexOf(table.name) === -1 ? 'icon-arrow2_right' : 'icon-arrow2_down'"></span>
            <label class="table-name">{{table.name}}</label>
            <span class="icon-list show-list"></span>
         </div>
         <ul class="fields-list" *ngIf="openedTables.indexOf(table.name) > -1">
            <li *ngFor="let field of table.info">
               <span class="icon-columns"></span>
               <label>{{field.name}} ({{field.dataType}})</label>
            </li>
         </ul>
      </li>
   </ul>
</section>
