.actions{
    float:right;
}

.menu-actions {
    vertical-align: top;
    display:inline-block;
    padding-bottom:8px;
}

.general-actions{
    display:inline-block;
}

.form-file{
    display: inline-block;
}

.backups-table {    
    display: block;
    margin-top: 30px;
}

.delete-all {
    color: rgb(219, 112, 147);
}

.backup-row{
    cursor:pointer;
}

.check-column{
    width:10px;
    padding-right: 0;
}