.actions{
    float:right;
}

.menu-actions {
    vertical-align: top;
    display:inline-block;
    padding-bottom:8px;
}

.general-actions{
    display:inline-block;
}

.form-file{
    display: inline-block;
}