<div #backupsModal qaTag="backup-modal">
</div>
<tool-bar>
   <div breadcrumb>
      <st-breadcrumbs [options]="breadcrumbOptions" (select)="breadcrumbMenuService.setRoute($event)" qaTag="backups-breadcrumb"></st-breadcrumbs>
   </div>
   <div general-tools>
      <div class="selection-tools">
         <button class="button button-toolbar" st-title="Run backup" *ngIf="selectedBackups.length === 1" (click)="executeBackupModal()">
            <i class="icon-play"></i>
         </button>
         <button class="button button-toolbar" title="Download backup" *ngIf="selectedBackups.length" (click)="downloadBackup()">
            <i class="icon-download"></i>
         </button>
         <button class="button button-toolbar" title="Delete backup" *ngIf="selectedBackups.length" (click)="deleteBackupConfirmModal()">
            <i class="icon-trash"></i>
         </button>
      </div>
      <button class="button button-toolbar" title="Delete metadata" (click)="deleteMetadataConfirmModal()">
         <i class="icon-square-cross"></i>
      </button>
      <form-file class="form-file" type="button-toolbar" title="Upload backup" (onFileUpload)="uploadBackup($event)"></form-file>
      <button class="button button-toolbar" title="Generate backup" (click)="generatebackup()">
        <i class="icon-plus"></i>
      </button>
   </div>
</tool-bar>
<div class="container">
   <div class="row center">
      <div class="col-xs-12">
         <st-table [fields]="fields" [sortable]="true" [qaTag]="'backups-table'" [selectableAll]="true" [selectedAll]="backupList.length && backupList.length === selectedBackups.length"
            (selectAll)="selectAll($event)" (changeOrder)="changeOrder($event)" class="backups-table">
            <tr st-table-row class="backup-row" *ngFor="let backup of backupList" (click)="checkRow(!((selectedBackups.indexOf(backup.fileName)) > -1), backup)"
               [selected]="selectedBackups.indexOf(backup.fileName) > -1">
               <td st-table-cell st-table-row-content class="check-column">
                  <st-checkbox [value]="backup" (change)="checkValue($event)" [checked]="selectedBackups.indexOf(backup.fileName) > -1"></st-checkbox>
               </td>
               <td st-table-cell st-table-row-content>
                  <label>{{backup.fileName}}</label>
               </td>
               <td st-table-cell st-table-row-content>
                  <label>{{backup.path}}</label>
               </td>
            </tr>
         </st-table>
         <table-notification *ngIf="!backupList.length && (loaded$ | async)" (onClickLink)="generatebackup()" [text]="'BACKUPS.NO_ITEMS' | translate"
            [link]="'BACKUPS.NO_ITEMS_LINK' | translate"></table-notification>
      </div>
   </div>
</div>
