:host {
   background: #EC7E13;
   display: inline-block;
   color: white;
   padding: 18px 29px;
   position: fixed;
   top: 70px;
   animation: NotificationAnimation 0.4s;
   width: 100%;
   z-index:101;
   font-size: 15px;
   .icon-alert {
      font-size: 20px;
      float: left;
      margin-right: 14px;
   }
}

.close {
   float: right;
   font-size: 20px;
   margin-right: 9px;
   cursor: pointer;
}

@keyframes NotificationAnimation {
   0% {
      opacity: 0;
      transform:  translateY(-40px);
   }
   100% {
      opacity: 1;
      transform: translateY(0px);
   }
}
