/*doc
---
title: c-icon
name: c-icon
category: components
---

The icon component creates a customized icon item.

```html_example
<i type="text" class="c-icon icon-search"></i>
<br />
<i type="text" class="c-icon c-icon--in-input icon-search"></i>
<input type="text" class="c-input" />
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
$c-icon---margin							| `0 .5em 0 0`
$c-icon--in-input---top						| `7px`
$c-icon--in-input---left					| `70px`
$c-icon--in-input---color					| `get-color(g6)`

## Dependencies

[c-component]()

*/

@import "vars";
@import "rules";
