$c-icon---colors: (
	call-to-action: blue
) !default;

$c-icon--in-input---top: 7px !default;
$c-icon--in-input---left: 70px !default;
$c-icon--in-input---color: get-color(n6) !default;

$c-icon--in-input-right---right: 7px !default;

$c-icon--in-label---color: get-color(n5) !default;
$c-icon--in-label---font-size: 14px !default;

$c-icon--circle-button---size: 35px !default;
