/*doc
---
title: c-input-file
name: c-input-file
category: components
---

The input file component creates an input element which is customizable.

## Dependencies

[c-component]()

*/

@import "vars";
@import "rules";
