@import '~@stratio/egeo/theme/constants';

.field-row {
   margin-bottom: 14px;
}

.item-element {
   margin-top: 14px;
}

.add-element {
   color: #37B5E4;
   font-size: 15px;
   display: block;
   margin-top: 10px;
   padding: 1px 14px 10px;
   cursor: pointer;
   .element-label {
      line-height: 35px;
   }

}

.list-field{
    width: calc(100% - 5px);
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    flex-direction: row;
    line-height: 1.89;
    margin-top: 12px;    
    text-align: left;
    color: $neutral-07;
    position:relative;
    .icon {
        position:absolute;
        bottom: 12px;
        cursor: pointer;
    }
}
