@import '~@stratio/egeo/theme/constants';
.field-row {
   margin-bottom: 14px;
}

.item-element {
   margin-top: 14px;
}

.add-element {
   color: #37B5E4;
   font-size: 15px;
   display: block;
   margin: 11px 14px 10px;
   display: inline-block;
   cursor: pointer;
   .element-label {
      line-height: 35px;
   }

   &:hover{
       color:#0979c4;
   }
}

.list-item {
    margin-bottom:10px;
}

.list-title {
    margin-top:15px;
    margin-bottom:10px;
    display:block;
}

.list-field {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   font-size: 20px;
   flex-direction: row;
   line-height: 1.89;
   margin-bottom: 10px;
   text-align: left;
   color: $neutral-07;
   position: relative;
   .icon {
    margin-top: 30px;
    display: block;
    cursor: pointer;
   }
   &.last {
       margin-bottom:0;
   }
}

.error-message {
    margin-top:10px;
}

.check-column {
   margin-top: 24px;
   margin-left: 20px;
   margin-right: 20px;
}

.disabled {
    .list-title{
        color:#cbcbcb;
    }

    &.add-element{
        color:#cbcbcb;
        &:hover {
            color: #cbcbcb;
        }
    }
}

.form-item {
   width: 100%;
}

.complex-form {
   .list-field {
      display: flex;
      font-size: 16px;
      flex-direction: row;
   }
   .form-item {
      background-color: $neutral-02;
      padding: 20px 12px;
      margin: 15px 0;
   }

   .delete-group {
      font-family: $egeo-nunito-sans;
      font-size: $egeo-font-size-xxsmall;
      color: $neutral-09;
      float: right;
      cursor: pointer;
      text-decoration: underline;
   }
}
