<div class="form-list">

   <div class="col-sm-12" [ngClass]="{'disabled' : isDisabled}">
      <span class="egeo-title-small list-title">{{label}}</span>
   </div>
   <form class="items-list col-sm-12" [formGroup]="internalControl" *ngIf="items.controls.length && !isDisabled">
      <div formArrayName="items">
         <div *ngFor="let item of items.controls; let i = index; let last = last;">
            <div [formGroup]="item" class="row">
               <div class="list-field" [ngClass]="{'last' : last}">
                  <ng-container *ngFor="let field of formListData.fields; let j = index;">
                     <div *ngIf="item.controls[field.propertyId].enabled" [className]="getItemClass(field)">
                        <sp-input [name]="field.propertyId" [errors]="errorsService.errors.inputErrors" [forceValidations]="forceValidations" *ngIf="field.propertyType == 'text' || field.propertyType == 'number'"
                           label="{{field.propertyName | translate}}" fieldType="{{field.propertyType}}" placeholder="{{field.propertyName | translate}}"
                           [formControl]="item.controls[field.propertyId]" qaTag="form-list-input" [required]="field.required"
                           contextualHelp="{{field.tooltip | translate}}"></sp-input>

                        <sp-select [forceValidations]="forceValidations" *ngIf="field.propertyType == 'select'" [options]="field.values" qaTag="form-list-combo"
                           label="{{field.propertyName | translate}}" tooltip="Select option from list" placeholder="{{field.propertyName | translate}}"
                           [required]="field.required" [formControl]="item.controls[field.propertyId]"></sp-select>

                        <st-checkbox *ngIf="field.propertyType == 'boolean'" [formControl]="item.controls[field.propertyId]" [qaTag]="qa">{{field.propertyName | translate}}</st-checkbox>
                     </div>
                     <div class="col-sm-12" *ngIf="field.float !== undefined && field.float === false"></div>
                  </ng-container>
                  <div><i class="icon-cross icon" (click)="deleteItem(i)"></i></div>
               </div>

            </div>
         </div>
      </div>

   </form>
   <div class="col-sm-12 error-message">
      <div class="st-input-error-layout" *ngIf="showError() && !items.controls.length">
         <span class="st-input-error-message">{{errors.required}}</span>
      </div>
   </div>
   <div class="add-element" (click)="!isDisabled && addItem()" [ngClass]="{'disabled' : isDisabled}">
      <i class="icon-circle-plus"></i>
      <span class="element-label">Add element</span>
   </div>
</div>
