<div class="form-list" [ngClass]="{'complex-form' : complexForm}">

   <div class="col-sm-12" [ngClass]="{'disabled' : isDisabled}">
      <span class="list-title">{{label}}</span>
   </div>
   <form class="items-list col-sm-12" [formGroup]="internalControl" *ngIf="items.controls.length">
      <div formArrayName="items">
         <div *ngFor="let item of items.controls; let i = index; let last = last;">
            <div class="form-row" [ngClass]="coplexForm ? 'form-row' : 'row'">
               <div class="form-item" [formGroup]="item">
                  <div class="list-field" [ngClass]="{'last' : last}">
                     <ng-container *ngFor="let field of formListData; let j = index;">
                        <div *ngIf="item.controls[field.propertyId].enabled || isDisabled" [className]="field.classed">
                           <st-input [name]="field.propertyId" 
                                [errors]="errorsService.errors.inputErrors" 
                                [forceValidations]="forceValidations" 
                                *ngIf="field.propertyType == 'text' || field.propertyType == 'number'"
                                label="{{field.propertyName | translate}}" 
                                fieldType="{{field.propertyType}}" 
                                placeholder="{{field.propertyName | translate}}"
                                [formControl]="item.controls[field.propertyId]" 
                                qaTag="form-list-input" [required]="field.required"
                                contextualHelp="{{field.tooltip | translate}}"
                                class="st-form-field" ></st-input>

                           <st-textarea *ngIf="field.propertyType == 'textarea' && !field.contentType"
                                [name]="field.propertyId" 
                                [errors]="errorsService.errors.inputErrors" 
                                [forceValidations]="forceValidations" 
                                [label]="field.propertyName | translate" 
                                [placeholder]="field.propertyName | translate"
                                [formControl]="item.controls[field.propertyId]" 
                                [rows]="field.rows"
                                qaTag="form-list-textarea" 
                                [required]="field.required"
                                [contextualHelp]="field.tooltip | translate" 
                                class="st-form-field" ></st-textarea>

                            <!-- highlight textarea -->
                            <sp-textarea-highlight *ngIf="field.propertyType == 'textarea' && field.contentType"
                                [name]="field.propertyId"
                                [errors]="errorsService.errors.inputErrors" 
                                [contentType]="field.contentType"
                                [forceValidations]="forceValidations" 
                                [label]="field.propertyName | translate" 
                                [placeholder]="field.propertyName | translate"
                                [formControl]="item.controls[field.propertyId]" 
                                [rows]="field.rows" 
                                qaTag="form-list-textarea" 
                                [required]="field.required"
                                [contextualHelp]="field.tooltip | translate" 
                                class="st-form-field" ></sp-textarea-highlight>

                           <sp-select [forceValidations]="forceValidations" 
                                *ngIf="field.propertyType == 'select'" 
                                [options]="field.externalValueKey ? valueDictionary[field.externalValueKey]: field.values" 
                                qaTag="form-list-combo"
                                label="{{field.propertyName | translate}}" 
                                tooltip="Select option from list" 
                                [errors]="errorsService.errors.inputErrors" 
                                placeholder="{{field.propertyName | translate}}"
                                [required]="field.required" 
                                [formControl]="item.controls[field.propertyId]" 
                                class="st-form-field" ></sp-select>

                           <st-checkbox *ngIf="field.propertyType == 'boolean'" 
                                class="st-form-field" 
                                [formControl]="item.controls[field.propertyId]" 
                                [qaTag]="qa">{{field.propertyName | translate}}</st-checkbox>
                        </div>
                        <div class="col-sm-12" *ngIf="item.controls[field.propertyId].enabled && field.float !== undefined && field.float === false"></div>
                     </ng-container>
                     <div *ngIf="!isDisabled && !complexForm"><i class="icon-cross icon" (click)="deleteItem(i)"></i></div>
                     <div class="col-sm-12" *ngIf="!isDisabled && complexForm">
                        <span class="delete-group" (click)="deleteItem(i)">Delete group</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </form>
   <div class="col-sm-12 error-message" *ngIf="showError() && !items.controls.length">
      <div class="st-input-error-layout">
         <span class="st-input-error-message">{{errors.required}}</span>
      </div>
   </div>
   <div class="add-element" (click)="!isDisabled && addItem()" [ngClass]="{'disabled' : isDisabled}">
      <i class="icon-circle-plus"></i>
      <span class="element-label">Add element</span>
   </div>
</div>
