<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->
<div class="executions">
  <div class="executions__content">
    <div class="executions__bar">
      <h2 class="egeo-title-large title">Scheduled executions</h2>
      <div class="executions__filters">
        <span class="item">
          <st-dropdown-menu [items]="workflowTypes" [active]="showedFilter === 'type'" [selectedItem]="typeFilter"
            (change)="onChangeTypeFilter.emit($event)">
            <span (click)="selectFilter($event, 'type')">{{typeFilter.label}}<i class="icon icon-arrow2_down"></i></span>
          </st-dropdown-menu>
        </span>
        <span class="item">
          <st-dropdown-menu [items]="activeOptions" [active]="showedFilter === 'active'"
            [selectedItem]="activeFilter" (change)="onChangeActiveFilter.emit($event)">
            <span (click)="selectFilter($event, 'active')">{{activeFilter.label}}<i
                class="icon icon-arrow2_down"></i></span>
          </st-dropdown-menu>
        </span>
      </div>
    </div>
    <sparta-sidebar class="executions__sidebar sidebar" 
      [isVisible]="showSidebar" 
      (onCloseSidebar)="closeSidebar.emit()">
      <scheduled-sidebar [showSidebar]="showSidebar" 
        [executionData]="sidebarExecutionDetail"></scheduled-sidebar>
    </sparta-sidebar>
    <div class="dynamic-subheader">
      <div class="dynamic-container">
        <div class="row executions__tools">
          <div class="col-sm-12">
            <div class="executions__search">
              <st-search class="executions__search-input" [placeholder]="'Search...'" qaTag="search-execution" [debounce]="200"
                (search)="onSearch.emit($event.text)" [value]="searchQuery"></st-search>
            </div>
            <div class="scheduled__buttons">
              <button *ngIf="selectedExecutions.length" spTitle="Delete scheduled execution" class="button button-toolbar" id="delete-scheduled-button"
                (click)="deleteMultiple()">
                <i class="icon-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <st-table [fields]="fields" [sortable]="true" [currentOrder]="currentOrder" [selectableAll]="true"
      [ngClass]="{'active-selection' : selectedExecutions.length}"
      [selectedAll]="scheduledExecutions.length && scheduledExecutions.length === selectedExecutions.length" qaTag="scheduled-table" class="scheduled__table checkbox-table"
      (changeOrder)="onChangeOrder.emit($event)" 
      (selectAll)="toggleAllExecutions(scheduledExecutions.length !== selectedExecutions.length)">
      <tr st-table-row *ngFor="let execution of scheduledExecutions;"
      [selected]="selectedExecutions.indexOf(execution.id) > -1"
      (click)="selectExecution.emit(execution.id)">
        <td st-table-cell st-table-row-content class="check-column">
          <st-checkbox [checked]="selectedExecutions.indexOf(execution.id) > -1" [value]="execution"></st-checkbox>
        </td>
        <td st-table-cell st-table-row-content>
          <label [attr.id]="execution.id + '-link'">
            <div>
              <img src="assets/images/iconStreamingExecution.svg" class="icon-row" [attr.title]="execution.executionEngine" *ngIf="execution.executionEngine === 'Streaming'"/>
              <img src="assets/images/iconBatchExecution.svg" class="icon-row" [attr.title]="execution.executionEngine" *ngIf="execution.executionEngine === 'Batch'"/>
              {{execution.name}} - v{{execution.version}}
            </div>
            <div class="execution-group">
              {{execution.groupName}}
            </div>
          </label>
        </td>
        <td st-table-cell st-table-row-content>
          {{execution.initDateLocalized}}
        </td>
        <td st-table-cell st-table-row-content>
          {{execution.duration}}
        </td>
        <td st-table-cell st-table-row-content>
          {{execution.active ? 'Yes' : 'No'}}
        </td>
        <td st-table-cell st-table-row-content class="scheduled__status-column">
          <div *ngIf="execution.executed">
              <div class="scheduled__status scheduled__status--started"></div>Executed
          </div>
          <div *ngIf="!execution.executed">
              <div class="scheduled__status"></div>Scheduled
          </div>
        </td>
        <td st-table-cell st-table-row-content>
          {{execution.uniqueInstance ? 'Yes' : 'No'}}
        </td>
        <td st-table-cell st-table-row-content>
          <menu-options-list [options]="execution.active ? activeExecutionOptions : inactiveExecutionOptions" (selectedOption)="selectedExecutionAction($event, execution)">
            <span class="scheduled__show-options icon-ellipsis"></span>
          </menu-options-list>
        </td>
      </tr>
    </st-table>
    <div class="empty-table" *ngIf="isEmptyScheduledExecutions">Empty results</div>
  </div>
</div>