/*doc
---
title: c-text
name: c-text
category: components
---

The label component creates a customized label item.

```html_example
<label type="text" class="c-text">My label</label>
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
$c-text---margin 							| `0 15px 0 0'

## Dependencies

[c-component]()

*/

@import "vars";
@import "rules";
