@mixin c-text {
	@include c-component;

 &--bold{
   font-weight: get-font-weight(bold);
 }

  &--margin-left{
    margin-left: $c-text---margin-left;
  }

  &--break-word {
    word-break: break-word;
  }
}

.c-text {
	@include c-text;
}
