@mixin c-text {
	@include c-component;

 &--bold{
   font-weight: get-font-weight(bold);
 }

  &--margin-left{
    margin-left: $c-text---margin-left;
  }

  &--break-word {
    word-break: break-word;
  }

  &--small {
    font-size: get-font-size(small);
    line-height: 1.3;
  }

  &--scrollable {
    overflow: auto;
    max-height: 336px;
    padding: 4px;
  }
}

.c-text {
	@include c-text;
}
