/*doc
---
title: c-policy-status-badge
name: c-policy-status-badge
category: components
---

Todo

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 							| `0' 

## Dependencies

[c-component]()

*/

@import "vars";
@import "rules";
