$c-policy-status-badge---margin: 0 !default;
$c-policy-status-badge---padding: .2em .5em !default;
$c-policy-status-badge--launched---background: green !default;
$c-policy-status-badge--launched---color: white !default;
$c-policy-status-badge--starting---background: green !default;
$c-policy-status-badge--starting---color: white !default;
$c-policy-status-badge--started---background: green !default;
$c-policy-status-badge--started---color: white !default;
$c-policy-status-badge--failed---background: red !default;
$c-policy-status-badge--failed---color: white !default;
$c-policy-status-badge--stopping---background: darkred !default;
$c-policy-status-badge--stopping---color: white !default;
$c-policy-status-badge--stopped---background: darkred !default;
$c-policy-status-badge--stopped---color: white !default;
$c-policy-status-badge--notstarted---background: lightgrey !default;
$c-policy-status-badge--notstarted---color: white !default;
