<div class="wizard-console">
   <div class="wizard-console-header">
      <div class="move" (mousedown)="moveBox($event)"></div>
      <div class="drag-header"></div>
      <st-horizontal-tabs [activeOption]="selectedOption" class="console-tabs" *ngIf="options.length" [options]="options" qaTag="console-tabs"
         (changedOption)="changeFormOption($event)">
      </st-horizontal-tabs>
      <div class="buttons">
         <span class="close-console icon-cross" (click)="closeConsole()"></span>
      </div>
   </div>
   <div class="console-content">
      <div *ngIf="selectedOption.id === 'Exceptions'">
         <div class="exceptions" *ngIf="entityData.debugResult && entityData.debugResult.error">
            <div class="message">{{entityData.debugResult.error.message}}</div>
            <div class="exception">{{entityData.debugResult.error.exceptionMsg}}</div>
         </div>
         <div class="exceptions" *ngIf="!entityData.name && genericError">
            <div class="message">{{genericError.message}}</div>
            <div class="exception">{{genericError.exceptionMsg}}</div>     
         </div>
         <div class="no-exceptions no-data" *ngIf="(entityData.name && (!entityData.debugResult || !entityData.debugResult.error)) || (!entityData.name && !genericError)">
            No exceptions
         </div>
      </div>
      <div *ngIf="selectedOption.id === 'Data'">
         <pre [innerHTML]="getData(entityData.debugResult)" style="font-size: 12px;"></pre>

         <div class="no-exceptions no-data" *ngIf="!entityData.debugResult">
            No data
         </div>
      </div>
   </div>
</div>