<console-box>
   <div header>
      <st-horizontal-tabs [activeOption]="selectedOption" class="console-tabs" *ngIf="options.length" [options]="options" qaTag="console-tabs"
          (changedOption)="changeFormOption($event)">
    </st-horizontal-tabs>
      <div class="entity-label" *ngIf="debugData">{{debugData.debugEntityName}}</div>

    <!-- Buttons -->
    <div buttons class="buttons">
        <span class="close-console icon-cross" (click)="closeConsole()"></span>
    </div>
  </div>
   <!-- Console content -->
   <div content>
      <div *ngIf="selectedOption.id === 'Exceptions'">
         <div class="exceptions" *ngIf="debugData && debugData.error">
            <div class="message" [innerText]="debugData.error.localizedMsg"></div>
            <div class="exception">{{debugData.error.exceptionMsg}}</div>
         </div>
         <div class="exceptions" *ngIf="!debugData && genericError">
            <div class="message">{{genericError.localizedMsg}}</div>
            <div class="exception">{{genericError.exceptionMsg}}</div>
         </div>
         <div class="no-exceptions no-data" *ngIf="(debugData && !debugData.error) || (!debugData && !genericError)">
            No exceptions
         </div>
      </div>
      <div *ngIf="selectedOption.id === 'Data'">
         <node-tree-data *ngIf="data" [data]="data"></node-tree-data>
      </div>
   </div>
</console-box>
