/*doc
---
title: c-auto-calculated-field
name: c-auto-calculated-field
category: components
---

To do

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 							| `0' 

## Dependencies

[c-component]()

*/

@import "vars";
@import "rules";
