/*
 *	Theme: Light Platinum
 *	Author: Alex R Chies
 *	Version: 1.0.0
 *
 *	INDEX
 *
 *	1 - Settings.........................All the configuration values needed
 *		angular-forms
 *	2 - Stratio UI.......................The Stratio component UI library
 *		heading
 *		c-grid-item
 *	3 - Sparkta UI.......................The Sparkta component UI library
 *		c-component
 *		c-panel
 *		c-line-separator
 *		c-button
 *		c-input
 *		c-searchbox
 *		c-combobox
 *		c-label
 *		c-form-group
 *		c-form-control
 *		c-toolbar
 *		c-titlebar
 *		c-icon-text
 *		c-info-text
 *		c-icon
 *		c-modal-inner
 *		c-col
 *		c-row
 *		c-list
 *		c-icon-radio
 *		c-msg
 *		c-table
 *		c-checkbox
 *		c-step-progress-bar
 *		c-step
 *		c-step-content
 *		c-step-counter
 *		c-fieldset
 *
 */

/*
 * 1 - Settings
 *
 */
$colors: (
	c1: #37b5e4,
	c1b: #2d96bd,
	c2: #b7bfc3,
	c2b: #92989c,
	c3: #485566,
	c3b: #2d3540,
	c4: #222b37,
	c5: #d3d8db,
	g0: #fff,
	g1: #fbfbfb,
	g2: #f3f3f3,
	g3: #e4e4e4,
	g4: #cbcbcb,
	g5: #b5b5b5,
	g6: #999,
	g7: #777,
	g8: #555,
	g9: #242424,
	g10: #000,
	f1: #222b37,
	f2: #1a212b,
	f3: #eff2f3,
	f4: #e1e4e5,
	f5: #fff,
	e1: #93ae65,
	e1b: #7d9456,
	e1c: #9fad87,
	e2: #eb8817,
	e2b: #d17915,
	e2c: #eb9e46,
	e3: #d24234,
	e3b: #b8392e,
	e3c: #d15549,
	a1: #d0c120,
	a2: #21d8de,
	a3: #bcea3f
);

$font-sizes: (
	xxxlarge: 4rem,
	xxlarge: 3rem,
	xlarge-alpha: 2.5rem,
	xlarge: 2rem,
	large: 1.5rem,
	medium-alpha: 1.2rem,
	medium: 1rem,
	small: .8rem,
	xsmall: .7rem,
	xxsmall: .6rem,
	xxxsmall: .5rem
);

$component-border-radius: 5px;
$component-margin: 15px;
$component-default-margin: .5em;

$c-icon-default-margin: 0 $component-default-margin 0 0;
 
$c-icon-default-margin: 0 $component-default-margin 0 0;



// angular-forms
$angular-forms--ng-invalid---border: 1px solid get-color(e3);


// angular-forms
$angular-forms--ng-invalid---border: 1px solid get-color(e3);





/*
 * 2 - Stratio UI
 *
 */

// heading
$base-padding: 30px;
$primary-sidebar-bg: get-color(f4);
$heading---margin: 0;

$stratio-ui---base-padding: $base-padding;



// c-grid-item
$c-grid-item__info-icon---color: get-color(c1);
$c-grid-item__info-icon---margin: 0 $component-default-margin $component-default-margin 0;





/*
 * 3 - Sparkta UI
 *
 */

 // c-component



 // c-panel
 $c-panel--framed---padding: $component-margin;



// c-line-separator

$c-line-separator---border-color: get-color(g3);
$c-line-separator---border-style: solid;
$c-line-separator---border-width: 1px;
$c-line-separator---margin: 20px 0;


// c-button
$c-button---height: 40px;
$c-button---min-width: 180px;
$c-button---padding: 0 20px;
$c-button---text-align: center;
$c-button---text-transform: uppercase;

$c-button--call-to-action-1---background: get-color(c1);
$c-button--call-to-action-1---border: 0;
$c-button--call-to-action-1---color: get-color(g0);
$c-button--call-to-action-1--hover---background: get-color(c1b);
$c-button--call-to-action-1--hover---border: 0;
$c-button--call-to-action-1--hover---color: get-color(g0);

$c-button--call-to-action-2---background: get-color(c2);
$c-button--call-to-action-2---border: 0;
$c-button--call-to-action-2---color: get-color(g0);
$c-button--call-to-action-2--hover---background: get-color(c2b);
$c-button--call-to-action-2--hover---border: 0;
$c-button--call-to-action-2--hover---color: get-color(g0);

$c-button--call-to-action-3---background: get-color(c3);
$c-button--call-to-action-3---border: 0;
$c-button--call-to-action-3---color: get-color(g0);
$c-button--call-to-action-3--hover---background: get-color(c3b);
$c-button--call-to-action-3--hover---border: 0;
$c-button--call-to-action-3--hover---color: get-color(g0);

$c-button--call-to-action-4---background: get-color(g0);
$c-button--call-to-action-4---border: 2px solid get-color(g3);
$c-button--call-to-action-4---color: get-color(g4);
$c-button--call-to-action-4--hover---background: get-color(g0);
$c-button--call-to-action-4--hover---border: 2px solid get-color(g4);
$c-button--call-to-action-4--hover---color: get-color(g5);

$c-button--danger---background: get-color(e3);
$c-button--danger---border: 0;
$c-button--danger---color: get-color(g0);
$c-button--danger--hover---background: get-color(e3b);
$c-button--danger--hover---border: 0;
$c-button--danger--hover---color: get-color(g0);

$c-button__c-icon---margin: $c-icon-default-margin;



// c-input
$c-input---border: 1px solid get-color(g3);
$c-input---color: get-color(g8);
$c-input---height: 28px;
$c-input---border-radius: 0;
$c-input---padding: 0 5px;

$c-input--left-icon---padding: 0 0 0 35px;



//c-searchbox



//c-combobox
$c-combobox---padding: 0 10px;



// c-label
$c-label---margin: 0 $component-margin 0 0;
$c-form__c-label---margin: 0 0 5px;



// c-form-group
$c-form__c-form-group---margin: 0 0 $component-margin;



// c-form-control
$c-form-control---padding: 0 0 0 $component-margin;



// c-toolbar
$c-toolbar---background: get-color(f3);
$c-toolbar---padding: 11px 25px;



// c-titlebar
$c-titlebar---background: get-color(f3);
$c-titlebar---color: get-color(g7);
$c-titlebar---text-transform: uppercase;
$c-titlebar---padding: 15px 0 15px 30px;

$c-titlebar__title---font-size: get-font-size(medium-alpha);



// c-icon-text
$c-icon-text---colors: (
	call-to-action: get-color(c1),
	danger: get-color(e3)
);
$c-icon-text__icon---margin: $c-icon-default-margin;



// c-info-text
$c-info-text---color: get-color(g7);
$c-info-text---font-size: get-font-size(medium);

$c-info-text__icon---color: get-color(c1);
$c-info-text__icon---font-size: get-font-size(medium);



// c-icon
$c-icon---colors: $c-icon-text---colors;
$c-icon--in-input---top: 7px;
$c-icon--in-input---left: 22px;
$c-icon--in-input---color: get-color(g6);

$c-icon--in-input-right---right: 7px;



// c-modal-inner
$c-modal-inner---color: get-color(g7);
$c-modal-inner---line-height: get-line-height(large);
$c-modal-inner---padding: 30px 45px;

$c-modal-inner__title---color: get-color(c4);
$c-modal-inner__title---font-size: get-font-size(large);
$c-modal-inner__title---font-weight: get-font-weight(normal);
$c-modal-inner__title---text-transform: uppercase;
$c-modal-inner__title---margin: 15px 0 5px;

$c-modal-inner__c-list---line-height:  get-line-height(double);
$c-modal-inner__c-list---margin: ($component-margin * 2);



// c-col
$c-col---cols-number: 12;



// c-row
$c-row--separated---margin: 60px 0 0;
$c-row---gutter: 5px;



// c-list
$c-list---line-height: get-line-height(large);



//c-icon-radio
$c-icon-radio__icon--selected---background: get-color(g0);
$c-icon-radio__icon--selected---color: get-color(c1);
$c-icon-radio__icon--selected---font-weight: get-font-weight(semibold);

$c-icon-radio__item--checked---border: 1px solid get-color(c4);

$c-icon-radio__icon---background: get-color(g4);
$c-icon-radio__icon---border: 1px solid get-color(g4);
$c-icon-radio__icon---color: get-color(c4);
$c-icon-radio__item---margin: $c-icon-default-margin;
$c-icon-radio__icon---padding: .4em;



// c-msg
$c-msg--small---padding: 5px 10px;

$c-msg--error---background: get-color(e3);
$c-msg--error---color: get-color(g0);

$c-msg__c-icon---margin: $c-icon-default-margin;



// c-table
$c-table---border-bottom: 3px solid get-color(g4);
$c-table---cell-spacing: 10px;
$c-table---line-height: get-line-height(normal-alpha);
$c-table---padding-bottom: 20px;
$c-table---padding-left: 30px;
$c-table---padding-right: 30px;
$c-table---padding-top: 20px;

$c-table__thead---background: get-color(g4);
$c-table__thead---color: get-color(g0);
$c-table__thead---font-size: get-font-size(medium-alpha);
$c-table__thead---font-weight: get-font-weight(medium);
$c-table__thead---text-align: left;

$c-table__tr--ntd-child-2---color: get-color(g2);



// c-checkbox
$c-checkbox---color: get-color(g3);
$c-checkbox---font-family: 'ico_stratio';

$c-checkbox--checked---color: get-color(e1);

$c-checkbox__label---margin: 0 0 2px;



// c-step-progress-bar
$c-step-progress-bar---background: get-color(g0);
$c-step-progress-bar---padding: $component-margin 0 ($component-margin * 2);



// c-step
$c-step---separation: 15px;
$c-step---padding: 0;
$c-step---color: get-color(g4);
$c-step--active---color: get-color(c1);

$c-step__progress-line---height: 1px;

$c-step__section-icon---font-size: get-font-size(large);
$c-step__section-icon---font-weight: get-font-weight(medium);

$c-step__section-name---font-size: get-font-size(small);
$c-step__section-name---font-weight: get-font-weight(semibold);
$c-step__section-name---text-transform: uppercase;



// c-step-content
$c-step-content---background: get-color(f3);
$c-step-content---margin: 0 (-$stratio-ui---base-padding) (-$stratio-ui---base-padding);
$c-step-content---padding: $stratio-ui---base-padding;

$c-step-content__title---color: get-color(c4);
$c-step-content__title---font-size: get-font-size(medium-alpha);
$c-step-content__title---font-weight: get-font-weight(normal);
$c-step-content__title---margin: 0 0 $component-margin;
$c-step-content__title---text-transform: uppercase;

$c-step-content__title--underlined---border-bottom: 1px solid get-color(f4);
$c-step-content__title--underlined---padding: 0 0 ($component-margin / 2);



// c-step-counter
$c-step-counter---color: get-color(c1);
$c-step-counter--after---color: get-color(c4);
$c-step-counter--after---margin: 0 5px;



// c-fielset
$c-fieldset__title---font-weight: get-font-weight(semibold) !default;
