@mixin c-check-block {
	@include c-component;

	color: $c-check-block---color;
	cursor: pointer;
	padding: $c-check-block---padding;
    overflow: hidden;

  &__title{
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height:20px;
    height: 20px;
    white-space: nowrap;
  }

	.c-form-control {
		background: $c-check-block__form-control---background;
		border-radius: $c-check-block__form-control---border-radius;
		box-shadow: $c-check-block__form-control---box-shadow;
		max-height: $c-check-block__form-control---height;
		min-height: $c-check-block__form-control---height;
		overflow: auto;
		padding: $c-check-block__form-control---padding;
	}

	.c-icon {
	    left: $c-check-block__icon---left;
	    font-size: $c-check-block__icon---font-size;
		position: absolute;
		bottom: $c-check-block__icon---bottom;
	}

	.c-checkbox + .c-label {
		top: $c-check-block__checkbox---top;
		right: $c-check-block__checkbox---right;
		position: absolute;
		&:before {
			color: $c-check-block__checkbox---color;
		}
	}
}

.c-check-block {
	@include c-check-block;
}
