$c-check-block---color: white !default;
$c-check-block---padding: 10px 10px !default;

$c-check-block__form-control---background: blue !default;
$c-check-block__form-control---border-radius: 5px !default;
$c-check-block__form-control---box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75) !default;
$c-check-block__form-control---height: 80px !default;
$c-check-block__form-control---padding: 10px !default;

$c-check-block__checkbox---top: -15px !default;
$c-check-block__checkbox---right: 5px !default;
$c-check-block__checkbox---color: $c-check-block---color !default;

$c-check-block__icon---left: 20px !default;
$c-check-block__icon---font-size: 2rem !default;
$c-check-block__icon---bottom: 20px !default;
