/*doc
---
title: c-row
name: c-row
category: components
---

The row component is a wrapper to include other components.

```html_example
TO DO
```

## Variables exposed to theming

Variable                                    | Default value
------------------------------------------- | -----------------
To do 							| `0' 

## Dependencies

[c-panel]()

*/

@import "vars";
@import "rules";
