@mixin c-row {
	@include c-panel;

	display: block;
	position: relative;

	&--separated {
		margin: $c-row--separated---margin;
	}

	&--separated-bottom {
		margin: $c-row--separated-bottom---margin;
	}

	&--with-gutter {
		& > .c-col {
			padding: 0 $c-row---gutter;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	&--flex {
		display: flex;
	}

  &--footer{
    padding: $c-row---gutter--footer---padding;
    border-top: $c-row---gutter--footer---border-top;
  }
}

.c-row {
	@include c-row;
}
