$c-row--separated---margin: 15px 0 0 !default;
$c-row---gutter: 15px !default;
$c-row--separated-bottom---margin: 0 0 15px !default;
$c-row---gutter--footer---padding: 10px;
$c-row---gutter--footer---text-align: right;
$c-row---gutter--footer---border-top: 1px solid getColor(n3);
