<console-box>
  <div header>
    <st-horizontal-tabs [activeOption]="selectedOption" class="console-tabs" *ngIf="options.length" [options]="options"
      qaTag="console-tabs">
    </st-horizontal-tabs>
    <!-- Buttons -->
    <div class="buttons">
      <span class="close-console icon-cross" (click)="onCloseConsole()"></span>
    </div>
  </div>
  <div content>
    <div *ngIf="selectedOption.id === 'Exceptions'">
      <div class="exceptions" *ngIf="execution && execution.lastError">
        <div class="message">{{execution.lastError.localizedMsg}}</div>
        <div class="exception">{{execution.lastError.exceptionMsg}}</div>
      </div>
      <div class="no-exceptions no-data" *ngIf="!execution">
        No exceptions
      </div>
    </div>
  </div>
</console-box>
