@mixin c-table {
	@include c-component;

	border-bottom: $c-table---border-bottom;
	border-collapse: collapse;
	line-height: $c-table---line-height;
    overflow: auto;

	&--margin-bottom {
		margin-bottom: $c-table--margin-bottom---margin-bottom;
	}


	&--centered-content{
		text-align: center;
	}

	&--sort-icon{
		font-size:1.2rem;
		padding-right:8px;
		top: 1px;
    	position: relative;
	}

	&--sorted{
		 user-select: none;
	}

	&__icon {
		font-family: ico_stratio;
		font-weight: 400;
		font-style: normal;
		display: inline-table;
		&--info {
			color: get-color(n5);
		}

		&--warning {
			color: get-color(s2);
		}
	}
	@at-root &__thead {
		background: $c-table__thead---background;
		color: $c-table__thead---color;
		font-size: $c-table__thead---font-size;
		font-weight: $c-table__thead---font-weight;
		text-align: $c-table__thead---text-align;

		.c-table__td {
			padding-bottom: $c-table__thead---padding-bottom;
		}
	}

	@at-root &__tr {
		&:nth-child(even) {
			background: $c-table__tr--ntd-child--even---background;
		}
	}

	@at-root &__td {
		padding: $c-table---padding-top $c-table---cell-spacing $c-table---padding-bottom;
		@include container-to-right;

		&:first-child {
			padding-left: $c-table---padding-left;
		}

		&:last-child {
			padding-right: $c-table---padding-right;
		}

		&--no-wrap {
			white-space: nowrap;
		}

		&--ellipsis {
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 0;
		}

		&--might-overflow {
			&__text {
				width: 97%;
				display: inline-block;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&--show-all-content {
				text-overflow: clip;
				white-space: normal;
			}
		}
	}

	@include full-width;
}

.c-table {
	@include c-table;
}
