@mixin c-table {
	@include c-component;

	border-bottom: $c-table---border-bottom;
	border-collapse: collapse;
	line-height: $c-table---line-height;
    overflow: auto;

	&--centered-content{
		text-align: center;
	}

	&--sort-icon{
		font-size:0.85rem;
		padding-left:5px;
		top: 1px;
    	position: relative;
		color:get-color(n4);
	}

	&--sorted{
		 user-select: none;
	}

	&__icon {
		font-family: ico_stratio;
		font-weight: 400;
		font-style: normal;
		display: inline-table;
		&--info {
			color: get-color(n5);
		}

		&--warning {
			color: get-color(s2);
		}
	}
	@at-root &__thead {
		background: $c-table__thead---background;
		color: $c-table__thead---color;
		font-size: $c-table__thead---font-size;
		box-shadow: $c-table__thead---box-shadow;
		font-weight: $c-table__thead---font-weight;
		text-align: $c-table__thead---text-align;
		cursor:pointer;

		.c-table__td {
			padding-bottom: $c-table__thead---padding-bottom;
			font-size: 17px;
		}

		.ico.sort-active{
			color:get-color(n8);
		}
	}

	@at-root &__tr {
		color:$c-table---color;
		border-bottom:$c-table__tr---border-bottom;

		&:hover{
			background: $c-table__tr--hover---background;
		}
	}

	@at-root &__td {
		padding: $c-table---padding-top $c-table---cell-spacing $c-table---padding-bottom;
		font-size: 16px;

		@include container-to-right;

		&:first-child {
			padding-left: $c-table---padding-left;
		}

		&:last-child {
			padding-right: $c-table---padding-right;
		}

		&--no-wrap {
			white-space: nowrap;
		}

		&--ellipsis {
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 0;
		}

		&--might-overflow {
			&__text {
				width: 97%;
				display: inline-block;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&--show-all-content {
				text-overflow: clip;
				white-space: normal;
			}
		}
	}

	@include full-width;
}

.c-table {
	@include c-table;
}
