$c-table---border-bottom: 2px solid black !default;
$c-table---cell-spacing: 10px !default;
$c-table---line-height: 1.5em !default;
$c-table---padding-bottom: 10px !default;
$c-table---padding-left: 30px !default;
$c-table---padding-right: 30px !default;
$c-table---padding-top: 10px !default;
$c-table--margin-bottom---margin-bottom: 195px;
$c-table__thead---background: black !default;
$c-table__thead---color: white !default;
$c-table__thead---font-size: 1rem !default;
$c-table__thead---font-weight: normal !default;
$c-table__thead---padding-bottom: 15px !default;
$c-table__thead---text-align: left !default;

$c-table__tr--ntd-child--even---background: grey !default;
