$c-floating-message---colors: (
	call-to-action: blue
) !default;

$c-floating-message---background: getColor(a1) !default;
$c-floating-message---color: white !default;;
$c-floating-message---padding: 0 10px 6px !default;
$c-floating-message---position: absolute;
$c-floating-message---height: 36px;
$c-floating-message---left: 127px;
$c-floating-message---transition: 0.3s linear all;
$c-floating-message---line-height: 36px;


