<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<span class="confirmation">{{'WIZARD.CONFIRM_EXIT' | translate}}</span>
<span class="advice">{{'WIZARD.CONFIRM_EXIT_ADVICE' | translate}}</span>

<div class="action-buttons">
    <button class="button button-secondary-gray cancel-button" (click)="onCloseConfirmModal.emit('0')">
       <span>{{'WIZARD.DONT_SAVE' | translate}}</span>
    </button>
        <button class="button button-primary save-button" (click)="onCloseConfirmModal.emit('1')">
       <span>{{'WIZARD.SAVE' | translate}}</span>
   </button>
</div>
