<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary
    information of Stratio Big Data Inc., Sucursal en España and
    may not be revealed, sold, transferred, modified, distributed or
    otherwise made available, licensed or sublicensed to third parties;
    nor reverse engineered, disassembled or decompiled, without express
    written authorization from Stratio Big Data Inc., Sucursal en España.
-->

<span class="confirmation">{{'WIZARD.DELETE_WORKFLOW_MESSAGE' | translate}}</span>
<span class="advice">{{'WIZARD.LOSE_CHANGES_EXIT' | translate}}</span>

<div class="action-buttons">
   <button class="button button-link-secondary" (click)="onCloseConfirmModal.emit('2')">
      <span>{{'WIZARD.CANCEL' | translate}}</span>
   </button>
   <button class="button button-secondary-line cancel-button small" (click)="onCloseConfirmModal.emit('1')">
      <span>{{'WIZARD.NOT_SAVE_EXIT' | translate}}</span>
   </button>

   <button class="button button-primary save-button small" (click)="onCloseConfirmModal.emit('0')">
      <span>{{'WIZARD.SAVE_EXIT' | translate}}</span>
   </button>

</div>
