@mixin c-button {
	@include c-component;

	border: none;
	cursor: pointer;
	display: inline-block;
	height: $c-button---height;
	min-width: $c-button---min-width;
	padding: $c-button---padding;
	position: relative;
	text-align: $c-button---text-align;
	text-transform: $c-button---text-transform;

	@include item-to-right;

	&--call-to-action-1 {
		background: $c-button--call-to-action-1---background;
		border: $c-button--call-to-action-1---border;
		color: $c-button--call-to-action-1---color;

		&:hover {
			background: $c-button--call-to-action-1--hover---background;
			border: $c-button--call-to-action-1--hover---border;
			color: $c-button--call-to-action-1--hover---color;
		}
	}

	&--call-to-action-2 {
		background: $c-button--call-to-action-2---background;
		border: $c-button--call-to-action-2---border;
		color: $c-button--call-to-action-2---color;

		&:hover {
			background: $c-button--call-to-action-2--hover---background;
			border: $c-button--call-to-action-2--hover---border;
			color: $c-button--call-to-action-2--hover---color;
		}
	}

	&--call-to-action-3 {
		background: $c-button--call-to-action-3---background;
		border: $c-button--call-to-action-3---border;
		color: $c-button--call-to-action-3---color;

		&:hover {
			background: $c-button--call-to-action-3--hover---background;
			border: $c-button--call-to-action-3--hover---border;
			color: $c-button--call-to-action-3--hover---color;
		}
	}

	&--call-to-action-4 {
		background: $c-button--call-to-action-4---background;
		border: $c-button--call-to-action-4---border;
		color: $c-button--call-to-action-4---color;

		&:hover {
			background: $c-button--call-to-action-4--hover---background;
			border: $c-button--call-to-action-4--hover---border;
			color: $c-button--call-to-action-4--hover---color;
		}
	}

	&--danger {
		background: $c-button--danger---background;
		border: $c-button--danger---border;
		color: $c-button--danger---color;

		&:hover {
			background: $c-button--danger--hover---background;
			border: $c-button--danger--hover---border;
			color: $c-button--danger--hover---color;
		}
	}

	.c-icon {
		margin: $c-button__c-icon---margin;
	}
}

.c-button {
	@include c-button;
}
