<div class="executions" [ngClass]="{'toolbar-showed' : hiddenToolBar}">
  <executions-toolbar [showSidebar]="showSidebar" (onShowSidebar)="onShowSidebar()"></executions-toolbar>
  <div class="container">
    <div class="executions__collapsable" [ngClass]="{'compressed' : showSidebar}">
      <div class="executions__container">
        <st-horizontal-tabs *ngIf="!isArchivedPage" class="executions__tabs" 
          [options]="executionsTabs" 
          [activeOption]="selectedTab"
          (changedOption)="changedOption($event)"></st-horizontal-tabs>
          <executions-list *ngIf="selectedTab.id === 'executions'"
            [isArchivedPage]="isArchivedPage"
            (closeSidebar)="closeSidebar()" 
            [showSidebar]="showSidebar"></executions-list>
          <scheduled-container *ngIf="selectedTab.id === 'scheduled'" 
            (closeSidebar)="closeSidebar()" 
            [showSidebar]="showSidebar"></scheduled-container>
      </div>
      <sp-footer></sp-footer>
    </div>
  </div>
</div>