<div class="cards-wrapper">
  <div class="cards-container" [style.transform]="'translateX(' +  (-530 * selectedCard) + 'px)'">
    <div class="card" *ngFor="let card of cards">
      <h2 class="card__title">{{card.title}}</h2>
      <img class="card__img" [attr.src]="card.image" />
      <p class="card__description">{{card.description}}</p>
    </div>
  </div>
</div>
<div>
  <div class="card-selector">
    <div class="card-selector__point"
      (click)="selectedCard = i"
      [ngClass]="{'selected': i === selectedCard}"
      *ngFor="let card of cards; let i = index;"></div>
  </div>
</div>
<div class="card-actions">
  <st-checkbox [checked]="doNotShow" (change)="toggleDoNotShow($event)">Do not show more</st-checkbox>
  <a (click)="closeCardsModal.emit(doNotShow)">Skip</a>
</div>
