@import '~@stratio/egeo/theme/constants';

#executions-managing-header-element{
  .executions-bar {
    border-bottom: 1px solid $neutral-03;
    padding: 20px 0;
    overflow: hidden;
  }

  .executions-tools {
    padding: 20px 0;
  }

  .executions-search {
    float: left;
  }
  .executions-buttons {
    float: right;
    .button {
      margin-right: 10px;
    }
  }

  st-search {
    width: 100%;
    min-width:350px;
    display: inline-block;
  }

  .title {
    float:left;
  }
  .executions-filters {
    float: right;
    font-size: 16px;
    cursor: pointer;
    font-size: 16px;
    .icon {
        font-size: 12px;
        margin-right: 13px;
        margin-left: 5px;
    }
  }

  .item {
    display: inline-block;
  }

}
