<label sp-label [attr.title]="contextualHelp" class="st-textarea-title"
[ngClass]="{error: showError(), active: focus, disabled: isDisabled}" [attr.for]="name">
{{label}}
</label>
<textarea class="st-textarea" #textarea (focus)="onFocus($event)" (focusout)="onFocusOut($event)"
   (blur)="onFocusOut($event)" [formControl]="internalControl"
   [ngClass]="{error: showError(), disabled: isDisabled}"
   [placeholder]="placeholder" [name]="name" [cols]="cols" [rows]="rows" [wrap]="wrap"
   [attr.maxlength]="maxLength" [attr.id]="qaTag">
</textarea>

<div class="st-textarea-error-layout">
    <div *ngIf="showError()">
        <span class="st-textarea-error-message">{{errorMessage}}</span>
    </div>
</div>