@import '../../../app.mixins';
@import '../../../app.variables';

#we-header {
  height: 135px;
  min-height: $wizardHeaderHeight;

  @include createFlexBox(column, normal, normal, nowrap);

  & > DIV {
    height: 50%;
    @include createFlexBox(row, center, space-between, nowrap);
  }

  & > DIV.we-header__info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: black;

    A {
      color: white;
      cursor: pointer;
    }
    .we-header__left {
      IMG {
        width: 28px;
      }
      SPAN {
        margin-left: 20px;
      }
    }

    .we-header__right {
      #save-button {
        margin-left: 30px;
      }
    }
  }

  & > DIV.we-header__control {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #ddd;
    floating-menu {
      margin-left: -7px;
    }
    BUTTON {
      margin-left: 10px;
    }
    .we-header__left {
      #zoom-in-button, #undo-button {
        margin-left: 20px;
      }
    }

    .we-header__position-tools{
      margin-left: 20px;
    }
  }

  //###### OVERWRITE EGEO CLASSES ######
  .egeo-title-extra-large {
    color: white;
  }
}
