.menu-filters {
   vertical-align: top;
   display: inline-block;
   border-right: 2px solid rgba(181, 181, 181, 1);
   padding-bottom: 8px;
   padding-right: 4px;
   margin-right: 7px;
}

.menu-actions {
   vertical-align: top;
   display: inline-block;
   padding-bottom: 8px;
}

.display-options,
.search-filter {
   padding-right: 8px;
   vertical-align: top;
   display: inline-block;
}

.actions {
   float: right;
}

.fragment {
   display: inline-block;
   vertical-align: top;
   margin: 0 10px;
}

.action-bar {
   background: white;
}

.current-actions {
   float: left;
}

.general-actions {
   float: right;
}

.box-list {
   display: flex;
   flex-flow: row wrap;
   align-content: space-between;
}

.top-separation {
   margin-top: 30px;
}
