<section>
   <div #inputsModal qaTag="input-modal"></div>
   <tool-bar>
      <div breadcrumb>
         <st-breadcrumbs [options]="breadcrumbOptions" (select)="breadcrumbMenuService.setRoute($event)" qaTag="qaTag"></st-breadcrumbs>
      </div>
      <div selection-tools *ngIf="selectedTemplates.selected && selectedTemplates.selected.length">
         <button class="button button-toolbar" (click)="editTemplate(selectedTemplates.selected[0])" *ngIf="selectedTemplates.selected && selectedTemplates.selected.length == 1">
            <i class="icon-edit"></i>
        </button>
         <button class="button button-toolbar" (click)="duplicateTemplates()">
            <i class="icon-paper-stack"></i>
        </button>
         <button class="button button-toolbar" (click)="deleteTemplateConfirmModal()">
            <i class="icon-trash"></i>
        </button>
      </div>
      <div general-tools>
         <button class="button button-toolbar" (click)="createTemplate()">
            <i class="icon-plus"></i>
        </button>
         <button class="button button-toolbar" (click)="changeDisplayOption()" [ngClass]="{'selected-button': (selectedDisplayOption$ | async) === 'ROWS'}">
            <i class="icon-list"></i>
        </button>
         <button class="button button-toolbar">
            <i class="icon-cog"></i>
        </button>
      </div>
   </tool-bar>
   <div class="container top-separation">
      <div class="row" *ngIf="(selectedDisplayOption$ | async) === 'ROWS'">
         <div class="col-xs-12">
            <st-table [fields]="fields" [sortable]="true" qaTag="table-qa-tag">
               <tr st-table-row *ngFor="let template of templateList">
                  <td st-table-cell st-table-row-content>
                    <st-checkbox [value]="template" (change)="onCheckedTemplate($event)" [checked]="selectedTemplates.selectedIds.indexOf(template.id) > -1"></st-checkbox>
                  </td>
                  <td st-table-cell st-table-row-content>
                     <label>{{template.name}}</label>
                  </td>
                  <td st-table-cell st-table-row-content>
                     <label>{{template.description}}</label>
                  </td>
                  <td st-table-cell st-table-row-content>

                  </td>
               </tr>
            </st-table>
         </div>
      </div>
      <div class="box-list" *ngIf="(selectedDisplayOption$ | async) !== 'ROWS'">
         <fragment-box *ngFor="let template of templateList; let i = index" [fragmentData]="template" class="fragment" [isChecked]="selectedTemplates.selectedIds && selectedTemplates.selectedIds.indexOf(template.id) > -1"
            (onChecked)="onCheckedTemplate($event)">
         </fragment-box>
      </div>
   </div>
   <br />
</section>
