# IDEs
.history/
.idea/
.vscode/

# dist
dist/
target
coverage/

# Node
node/
node_modules/
npm-debug.log
.npmrc

# OS metadata
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
.npmrc

# Karma
coverage/

# Yarn
yarn.lock

# NPM
package-lock.json
