# IDEs
.history/
.idea/
.vscode/

# dist
dist/
target

# Node
node/
node_modules/
npm-debug.log
.npmrc

# OS metadata
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
.npmrc
.package-lock.json

# Karma
coverage/

# Yarn
yarn.lock
